[2017-05-11 22:09] flavorjones commented on #1618
Yup, will release 1.8.0 hopefully this weekend. I wanted to address the other issues in the [1.8.0 milestone](https://github.com/sparklemotion/nokogiri/milestone/10), but I may just push them out if I can't get to them.

[2017-05-11 22:24] flavorjones commented on #1544
I'm going to reopen this so that I remember to bump the dependency on `mini_portile2` (presuming I get to doing that) before I release 1.8.0.

[2017-05-14 18:07] MSP-Greg opened #1642 "Master Branch - Nokogiri::VERSION = 1.7.0.1"
[Nokogiri::VERSION = 1.7.0.1](https://github.com/sparklemotion/nokogiri/blob/master/lib/nokogiri/version.rb#L3)

Might this be changed in the master branch to either reflect the current release version or the next?  I'd submit a PR, but I don't know which is preferred...

[2017-05-15 09:02] clay-f opened #1643 "gem install nokogiri failure -Wno-error=unused-command-line-argument-hard-error-in-future... no"
[code]

i have tried `gem install nokogiri -- --use-system-libraries`

show same info

and then `bundle config build.nokogiri --use-system-libraries`
`gem install nokogiri`

[code]

`cat gem_make.out`
[code]
ruby version: `ruby 2.4.1p111 (2017-03-22 revision 58053) [x86_64-darwin16]`
gem version: `2.6.11`

[2017-05-16 05:35] rcrews opened #1644 "Base URI not set correctly for xincludes with File.read or URLs"
Base URI is not set correctly for xincludes with File.read or opening a URL.
The following examples assume the GitHub nokogiri repo is cloned to /Users/rcrews/Sandbox/nokogiri. Should be easy to adapt to whatever path yours is cloned to.

This fails when run from the Desktop (such as /Users/rcrews/Desktop):

[code]

But it works if I Dir.chdir to the directory of the XML so the URIs are
relative t

[2017-05-16 14:22] flavorjones commented on #1644
Thanks for the verbose description of what you're seeing. I'll take a look.

[2017-05-16 14:32] flavorjones commented on #1643
There is an issue template we ask issue submitters to use, particularly for installation issues, so that we can provide timely and high-quality help.

I'd like to ask that you do this. Here's the template that you erased when you submitted this issue.

----

## If you're having trouble installing Nokogiri ...

**Have you tried following [the installation tutorial][tutorial]?**

**What is the outpu

[2017-05-16 14:40] flavorjones commented on #1642
Thanks for asking this question. The short answer is: no.

The long answer is: `v1.7.1` and `v1.7.2` are on a separate branch off `v1.7.0.1` (commit e1f2c2d). If you follow the history of `master`, you'll see it does not contain `v1.7.1` or `v1.7.2`. Therefore its most recent parent is `v1.7.0.1`, and the version info in that file is accurate (or at least not misleading or confusing, which setting

[2017-05-16 15:17] MSP-Greg commented on #1642
@flavorjones

Long answer: Been using Nokogiri for quite a while, and had it doc'd locally, including the c code.  I've got ruby, rails, and AWS on a site, and decided to add Nokogiri master, although I haven't added it to main code that auto-updates the site.

Regardless, it seemed a little odd to view docs for master and see a [version number](https://msp-greg.github.io/nokogiri/Nokogiri.html#VE

[2017-05-16 15:17] #1642 closed

[2017-05-16 23:58] clay-f commented on #1643
1. i found that issue
    * `gem install rails`
2. gem install stuck and throw error
[code]

3.  mkmf.log
[code]

4. system version: macos 10.12.4

5. i have tried install nokogiri failure over and over gain. so
    *  `rbenv uninstall 2.4.1`
    *  `rbenv install 2.4.1`
    *  `gem install rails`
and install nokogiri succeed after remove ruby 2.4.1

`nokogiri -v`

[code]

i thought might issue is

[2017-05-19 08:10] Sega100500 opened #1645 "Failed to install on Windows RubyInstaller 2.4.1"
Gem nokogiri failed to install on Windows RubyInstaller 2.4.1
When install Ruby on Rails then error message: 'required ruby < 2.4'

When gem will support Ruby 2.4.x on Windows?

RubyInstaller for Windows:
https://github.com/oneclick/rubyinstaller2/releases

[2017-05-19 08:36] larskanis commented on #1645
RubyInstaller-2.4 will be supported with nokogiri-1.8.0 as described in https://github.com/sparklemotion/nokogiri/issues/1618 .

For now use:
[code]

Also see the https://github.com/oneclick/rubyinstaller2/wiki/FAQ

[2017-05-19 08:36] #1645 closed

[2017-05-19 09:06] Sega100500 commented on #1645
@larskanis
Anyway
gem install rails -v '5.0.3'
output: 'nokogiri required ruby < 2.4'

[2017-05-19 09:44] Sega100500 commented on #1645
@larskanis
after 'ridk install', choice 3
all work!
Thanks!

[2017-05-21 21:03] #1643 closed

[2017-05-23 15:41] rjhornsby commented on #1618
This is indirectly related to the issue, but to hopefully save someone else the struggle - this seems to affect Chef 13 on Windows, likely because Chef 13 [client] omnibus installs Ruby 2.4.1. (Chef 12 is fine.)

Unfortunately, the failure is buried a few layers deep. A recipe has a run-time failure that it can't process a `nil` value. The value was supposed to have been provided by a custom ohai

[2017-05-23 16:05] coderanger commented on #1618
@rjhornsby The Chef maintainers are working on this in our installers, stay tuned.

[2017-05-23 18:23] lamont-granquist commented on #1618
@rjhornsby that isn't indirectly related to this issue, that is precisely this issue.

Since nokogiri is an optional add-on to the chef client (it isn't necessary for anything at all inside chef client itself) in order to ship 13.0 I removed nokogiri from the windows builds.  That unblocked us from shipping ruby-2.4.1 which was a business requirement to ship Chef 13.0 on.

For ChefDK 2.0 we need n

[2017-05-26 19:43] djam90 commented on #1618
@flavorjones Has this been resolved with the release of 1.7.2? I installed 1.7.2 on Windows with `gem 'nokogiri', '~>1.7.2'` and get the following error:

[code]

I have `Ruby 2.4.1p111 (2017-03-22 revision 58053) [x64-mingw32]` and the version of nokogiri fetched was `etching nokogiri 1.7.2 (x64-mingw32)`.

[2017-05-26 20:46] rjhornsby commented on #1618
@djam90 The fix/update is anticipated with the release of [1.8.0](https://github.com/sparklemotion/nokogiri/issues/1618#issuecomment-300930842)

[2017-05-27 22:00] marshalium commented on #1501
Hey @flavorjones! Sorry for the late reply.

I'm happy to also report this upstream. Is https://sourceforge.net/p/nekohtml/bugs/ the correct place to report to?

Any tips for getting a smaller test case that is less JRuby/Nokogiri specific, or do you think this stack as is will be useful to the upstream project?

[2017-05-30 21:07] walataza commented on #1618
Good day everyone. I am new to Rails.. i tried to create a new rails app via the command line and it get the error below
Gem::InstallError: nokogiri requires Ruby version < 2.4, >= 2.1.0.
An error occurred while installing nokogiri (1.7.2), and Bundler cannot
continue.
Make sure that `gem install nokogiri -v '1.7.2'` succeeds before bundling.

Below is my environment
C:\Windows\System32>ruby -v
ru

[2017-05-31 04:26] nurse commented on #1618
When nokogiri 1.8.0 is relaesed?
If it still takes time, can I release 1.7.3 to support 2.4.1 fat gem?
I have a commit bit to GitHub repo but don't have rubygems push privilege.

[2017-05-31 07:59] lamont-granquist commented on #1618
1.7.3 that was simply 1.7.2 with fat gem support for windows on ruby-2.4 would be lovely

[2017-05-31 19:25] larskanis commented on #1544
This issue is addressed in https://github.com/flavorjones/mini_portile/pull/79 . `mini_portile` is currently set to `~>2.1.0` in nokogiri, so that `mini_portile` needs to be released first and and the version constraint set to `~>2.2.0`. Alternatively it's maybe better to use `~>2.1`, as this is preferred for semantic versioning.

[2017-05-31 19:46] #1605 closed

[2017-06-02 10:49] pmackay commented on #553
I'm getting this only on Heroku on ruby 2.3.3. Is there any way to workaround it?

@yagudaev did you find any more specifics about why it would just happen on Heroku?

[2017-06-02 17:45] flavorjones commented on #553
@pmackay this is reproducible in ruby 2.4.0. It's definitely not heroku-specific or 2.3.3-specific.

[2017-06-02 17:46] flavorjones commented on #553
It's also specific to HTML::DocumentFragment. A potential workaround for now is to use HTML::Document or else XML::DocumentFragment if possible.

[2017-06-03 10:45] billy2017bbb commented on #1618
Hi , When will a version of nokogiri that supports ruby 2.4 on windows be released ? Another question , I'm new to ruby development. I would like to learn how to modify nokogiri code so as to make it compatible with ruby 2.4 for instance. How should I go to do it ?

[2017-06-05 01:41] #1544 closed

[2017-06-05 01:44] flavorjones commented on #1544
Will be in 1.8.0, which I'm cutting tonight.

[2017-06-05 04:22] flavorjones commented on #1618
Done. Shipped in Nokogiri 1.8.0.

[2017-06-05 04:22] #1618 closed

[2017-06-05 05:02] nurse commented on #1618
thanks!

[2017-06-05 17:07] glennsarti opened #1648 "Incorrect ruby requirement on rubygems.org for v1.8.0"
On the rubygems.org website it is stated that nokogiri 1.8.0 requires ruby 2.1.0 or above.  However the metadata in the gem says it is ruby 2.2.0 or above

Screenshot of RubyGems.org (5th June)
![image](https://cloud.githubusercontent.com/assets/5819622/26794359/34d3143a-49d6-11e7-8f94-30c8d231a33e.png)

metadata:
[code]

This leads to a confusing experience as a user because the documentation is

[2017-06-05 17:50] larskanis commented on #1648
@glennsarti Click on the [nokogiri-1.8.0-x64-mingw32](https://rubygems.org/gems/nokogiri/versions/1.8.0-x64-mingw32) version gem and you see the correct ruby version requirement. This is also documented in the [CHANGELOG](https://github.com/sparklemotion/nokogiri/blob/master/CHANGELOG.md).

@flavorjones What is the reason for [removing ruby-2.1 support](https://github.com/sparklemotion/nokogiri/co

[2017-06-05 17:53] glennsarti commented on #1648
@larskanis Yeah I saw the changelog which is why I was really confused.  Thanks for pointing that out!

[2017-06-05 17:53] glennsarti commented on #1648
Happy to close this issue.

[2017-06-09 23:03] sw-yx opened #1649 "Error installing nokogiri on macOS Sierra 10.12.5"
## If you're having trouble installing Nokogiri ...

**Have you tried following [the installation tutorial][tutorial]?**
Yes
**What is the output of `gem install`?**
[code]
**What are the contents of the `mkmf.log` file?**
[code]

**What operating system are you using?**
macOS Sierra 10.12.5

obviously very frustrating. please help.

[2017-06-10 01:50] flavorjones commented on #1649
@sw-yx I understand you're frustrated. I'm here to help.

The error message in your logs is:

[code]

The installation tutorial, which you indicated you had read, addresses what to do in this case. Here's a screenshot of that section (I can't link directly to the header):

![image](https://user-images.githubusercontent.com/8207/26999002-81d8e54a-4d5d-11e7-9de5-244a6249171f.png)

If you go to http:

[2017-06-10 01:50] #1649 closed

[2017-06-10 02:03] sw-yx commented on #1649
goodness. thanks flavorjones. I had read it but I didn't see the identifier under the mountain of error messages I was buried under. thank you will try.

[2017-06-10 02:09] sw-yx commented on #1649
@flavorjones issue was fixed with ``` brew reinstall xz --universal ```. i feel silly now. thanks again

[2017-06-15 22:03] rful011 opened #1652 "Install on Mac OS 10.12.5 -- rvm and ruby ruby 2.4.0p0 faols"
I have just reinstalled a gem (gpx) which depends on Nokogiri this appears to have pulled a newer version of nokogiri. This in turn bitched that the standard Mac OS ruby (2.0.0) was too old.  I then installed rvm and ruby 2.4.0 and tried again.

Now nokogiri install dies trying to build libxml2:

Running 'compile' for libxml2 2.9.4... ERROR, review '/Users/rful011/.rvm/gems/ruby-2.4.0/gems/nokogir

[2017-06-15 22:11] rful011 commented on #1652
One more thing.  The comand run was 'gem install nokogiri'  with no options.

[2017-06-17 00:51] rful011 commented on #1652
Apologies for not doing due diligence :(
I see this is a know issue.  For the record I reinstalled the command line tools and that appears to have fixed the problem.

 xcode-select --install

[2017-06-17 00:51] #1652 closed

[2017-06-18 21:41] kirs opened #1653 "Selector inconsistency between MRI and JRuby"
Nokogiri version: 1.8.0

Script:

[code]

On MRI 2.3.3:

[code]

On jruby-9.1.10.0:

[code]

Expected: the value to be consistent across MRI and JRuby.

[2017-06-19 11:15] flavorjones commented on #1648
@larskanis I'd prefer not to provide compiled support for four versions of Ruby in the fat binary gem for Windows. This makes it unnecessarily large.

Unless someone has a compelling reason to continue to do this for unsupported versions of Ruby, I think it's best to remove them from the gem as they leave upstream support.

If you'd like to have a conversation about it, let's open a new github iss

[2017-06-19 11:15] #1648 closed

[2017-06-19 11:34] flavorjones opened #1654 "Investigate why valgrind builds are recently failing"
Example build: https://ci.nokogiri.org/teams/nokogiri-core/pipelines/nokogiri/jobs/ruby-2.4-valgrind/builds/26

[code]

runtime info from that failing build:

runtime info from previous, successful build: https://ci.nokogiri.org/teams/nokogiri-core/pipelines/nokogiri/jobs/ruby-2.4-valgrind/builds/25

Some notes:

* both of the above runs use Ruby 2.4.1
* I cannot reproduce using Ruby 2.4.0 at the

[2017-06-19 11:37] egonm12 opened #1655 "Can't update nokogiri gem"
I am having trouble updating nokogiri and installing gems with dependencies to nokogiri. I am using Ruby 2.3

**What is the output of `gem install`?**
[code]

**What are the contents of the `mkmf.log` file?**

[code]

**What operating system are you using?**
macOS Sierra Version 10.12.5

[2017-06-19 11:43] flavorjones commented on #1654
Using 2.4.1 locally on c87f25e could not reproduce.

Recreating concourse deployment.

[2017-06-19 12:22] flavorjones commented on #1654
rerunning one of the failed jobs: https://ci.nokogiri.org/teams/nokogiri-core/pipelines/nokogiri/jobs/ruby-2.4-valgrind/builds/27

[2017-06-19 12:37] flavorjones commented on #1654
aaaand that job failed with the same issue.

[2017-06-19 12:47] flavorjones commented on #1654
This appears to be unrelated to Ruby. Stack trace does not include any Ruby frames, and some googling reveals it may be a glibc thing:

* https://bugs.gentoo.org/show_bug.cgi?id=472544
* https://svn.boost.org/trac10/ticket/12188

I'm going to try to repro locally in the ruby/2.4 Docker image.

[2017-06-19 12:58] flavorjones commented on #1654
Reproduced locall in the ruby:2.4 Docker image:

[code]

[2017-06-19 13:55] egonm12 commented on #1655
Solved:
[code]

[2017-06-19 13:55] #1655 closed

[2017-06-19 14:34] #1654 closed

[2017-06-19 14:46] flavorjones commented on #1654
Just a final note in case this comes up again later:

* using the Docker image referenced above, I'm able to reproduce this issue with both commit c87f25e and fe638ca / v1.8.0.
* on my local dev machine, running ruby 2.4.1, I'm _not_ able to reproduce with either commit.
* earlier, commit fe638ca / v1.8.0 clearly went green: https://ci.nokogiri.org/teams/nokogiri-core/pipelines/nokogiri/jobs/ruby-

[2017-06-19 17:56] flavorjones opened #1656 "concourse: rbx build is hanging"
job seems to hang while running `ruby -v` ... which is ... surprising.

https://ci.nokogiri.org/teams/nokogiri-core/pipelines/nokogiri/jobs/rbx-latest-system/builds/25

[2017-06-19 18:12] flavorjones commented on #1656
Hmm. Can't reproduce this in a docker image running locally:

[code]

[2017-06-19 21:03] flavorjones commented on #1656
I suspect that this has to do with rubinius not exiting properly when running in unprivileged mode ... haven't been able to validate that theory yet, though.

[2017-06-19 22:53] flavorjones commented on #1656
@osis thinks this is related to setting `TMPDIR` ... will try as soon as this bosh upgrade finishes.

[2017-06-19 23:20] flavorjones commented on #1656
Hmm. It's not `TMPDIR`, at least not directly. There is a file in my `TMPDIR` getting written called `rbx-root-console`, it's huge, and it's full of zeroes. WTH?

[2017-06-19 23:36] flavorjones commented on #1656
OK, this seems to be something rubinius just does: https://github.com/rubinius/rubinius/blob/master/library/rubinius/configuration.rb#L117

I don't see how to turn it off. I don't know what to do here except pause all the rubinius jobs. Hopefully someone who cares will respond to either my [tweet](https://twitter.com/flavorjones/status/876942621045915648) or my IRC question, or this github issue.

[2017-06-20 01:50] fulldecent commented on #533
Sample implementation for storing higher numbers:

https://github.com/rubys/nokogumbo/pull/55/files

Saving here for reference.

[2017-06-20 01:52] fulldecent opened #1657 "Create API for /setting/ line number"
There is a desire to /set/ line numbers on XML nodes. This is for constructed nodes.

Please see downstream discussion at https://github.com/rubys/nokogumbo/issues/53#issuecomment-309504802

Related, also see discussion on libxml and line numbers greater than 65535 (and workarounds) at:

 - https://github.com/rubys/nokogumbo/issues/53#issuecomment-309504802
 - https://github.com/rubys/nokogumbo/pu

[2017-06-20 01:55] fulldecent commented on #1657
PR added at https://github.com/sparklemotion/nokogiri/pull/1658

[2017-06-20 13:14] flavorjones commented on #1657
@fulldecent you seem to be bringing up two distinct issues here:

* a feature request, to set line numbers on nodes.
* a bug report about line numbers being limited to a `short int`, which is unfortunately a limitation in libxml2's data structure; Nokogiri here is behaving exactly as the libxml2 maintainers wish/constrain it to.

The first is being addressed in your PR at #1658, which is where I'd

[2017-06-20 13:14] #1657 closed

[2017-06-20 13:35] #1656 closed

[2017-06-20 13:37] flavorjones commented on #1656
Note that setting `TMPDIR` to `/scratch` addresses this issue; as well as speeding up rubinius by an order of magnitude.

If anybody can explain to me why rubinius needs to write these files -- or alternatively how to turn them off -- I'd love to talk to you. This was frustrating and I came very close to removing rubinius from the builds entirely.

[2017-06-20 14:09] fulldecent commented on #1657
Got it. I understand the short int issue and am not looking to rock the boat on libxml.

[2017-06-26 23:59] rabbitt opened #1659 "default encoding changed from UTF-8 to ASCII-8BIT (1.7.2 - 1.8.0)"
## If this isn't an installation issue ...

**What problems are you experiencing?**

The default document encoding seems to have switched from UTF-8 to ASCII-8BIT between version 1.7.2 and 1.8.0 (using jruby 9.1.12.0).

**What's the output from `nokogiri -v`?**

These were run on OSX, but the same problem exists when running this on CentOS 7 with the following `description` from `nokogiri -v`

`

[2017-06-27 01:01] rabbitt commented on #1659
After more digging (by a coworker of mine, Jason He), it looks like the difference that (*cough*) makes all the difference, is the use of `String.new` vs `""`, in `Nokogiri::XML::Node#serialize`:

[1.7.2 `Nokogiri::XML::Node#serialize`](https://github.com/sparklemotion/nokogiri/blob/v1.7.2/lib/nokogiri/xml/node.rb#L625) vs [1.8.0 `Nokogiri::XML::Node#serialize`](https://github.com/sparklemotion/no

[2017-06-29 17:50] wachiuri commented on #1618
thanks. was installing twitter bootstrap website on local machine. nokogiri 1.8.0 worked

[2017-07-04 15:40] swills opened #1660 "Support pkg-config gem 1.2.x?"
The [1.2.x version of pkg-config](https://rubygems.org/gems/pkg-config/versions/1.2.3) seems to work fine in my testing. But [extconf.rb limits to 1.1.x](https://github.com/sparklemotion/nokogiri/blame/master/ext/nokogiri/extconf.rb#L119). Any reason not to change to limit to 1.x?

[2017-07-05 10:48] #1660 closed

[2017-07-05 10:49] flavorjones commented on #1660
Fair enough. Committed that change.

[2017-07-11 13:36] pgericson commented on #425
This does not seem to be resolved, I'm on version `1.8.0`.

[2017-07-17 15:00] dave5000 opened #1661 "https://visitor.com"
## If you're having trouble installing Nokogiri ...

**Have you tried following [the installation tutorial][tutorial]?**

**What is the output of `gem install`?**

**What are the contents of the `mkmf.log` file?**

**What operating system are you using?**

## If this isn't an installation issue ...

**What problems are you experiencing?**

**What's the output from `nokogiri -v`?**

**Can you provi

[2017-07-17 16:15] ar7max commented on #1661
Wierd

[2017-07-17 16:42] larskanis commented on #1661
No problem? Alright.

[2017-07-17 16:42] #1661 closed

[2017-07-18 19:24] oniofchaos opened #1662 "Fixnum is deprecated (Ruby 2.4.1)"
## If you're having trouble installing Nokogiri ...

**Have you tried following [the installation tutorial][tutorial]?**

**What is the output of `gem install`?**

**What are the contents of the `mkmf.log` file?**

**What operating system are you using?**

## If this isn't an installation issue ...

**What problems are you experiencing?**

Deprecation warnings from Ruby's Fixnum => Integer convers

[2017-07-19 12:07] flavorjones commented on #1662
This was fixed in Nokogiri 1.7.0, released 2016-12-26.

[2017-07-19 12:07] #1662 closed

[2017-07-19 20:27] dfabulich opened #1664 "nokogiri mismanages misnested tags"
Misnested tags such as `<b>bold <i>bold italic</b> italic</i>` are not being handled in accordance with the HTML parsing spec.

[code]

Actual:

[code]

Expected:

[code]

The HTML parsing spec has a section explaining how this sample is supposed to work: https://www.w3.org/TR/html5/syntax.html#misnested-tags:-b-i-/b-/i

**What's the output from `nokogiri -v`?**

[code]

[2017-07-19 20:35] dfabulich commented on #1664
Nokogumbo does the right thing.

[code]

[2017-07-22 03:59] JevanWu opened #1665 "Nokogiri missing content of real HTML"
I tried to get the content of all `<li>` of the link ` "http://quote.eastmoney.com/stocklist.html"`

However, I found the content parsed by `Nokogiri` missed a lot of content of `<li>`. I wonder if the content would be shrinked if there are too many `<li>` nodes?

The code:
[code]

I printed out the html requested by `open-uri` to a file and checked that is complete

But, the last `<li>` parsed by

[2017-07-22 17:15] flavorjones commented on #1664
libxml2 (which is what Nokogiri uses for parsing) doesn't support HTML5, so that spec is perhaps not relevant. If you want to parse HTML5, I definitely advise that you use Nokogumbo.

If you feel strongly this is a bug in parsing, I'd ask that you file the bug upstream with libxml2.

[2017-07-22 17:15] #1664 closed

[2017-07-22 17:28] flavorjones commented on #1665
There's quite a bit to unpack here. Let's take a look at the parsing errors I see when I try to parse it:

[code]

prints:

[code]

Some of these errors are encoding, which is not great but could be fixed by providing the correct encoding at parse time.

Other errors, however, appear to be structural. This isn't valid HTML, and so libxml2 is going to try to "fix it up" as best it can, but there ar

[2017-07-22 17:28] #1665 closed

[2017-07-24 09:28] mrzasa opened #1666 "Element#replace with CDATA raises error on JRuby"
## Summary

When I try to replace element with CDATA on JRuby, I got an error `RuntimeError: org.jruby.exceptions.RaiseException: (RuntimeError) could not replace child: org.w3c.dom.DOMException: NOT_SUPPORTED_ERR: The implementation does not support the requested type of object or operation.`. What is even more strange, element is replaced. It works without problems on MRI. Please, see examples b

[2017-07-26 13:28] mrzasa commented on #1666
I've found a workaround: if CDATA element is wrapped in `NodeSet`, no exception is raised:
[code]

[2017-07-27 17:31] sasatefa2009 opened #1667 "Problem installing Nokogiri"
**What is the output of `gem install`?**
Gem::Ext::BuildError: ERROR: Failed to build gem native extension.

    current directory: /var/lib/gems/2.3.0/gems/nokogiri-1.7.2/ext/nokogiri
/usr/bin/ruby2.3 -r ./siteconf20170725-5111-trm30k.rb extconf.rb
checking if the C compiler accepts ... yes
Building nokogiri using packaged libraries.
Using mini_portile version 2.1.0
checking for gzdopen() in -lz.

[2017-07-27 21:15] flavorjones commented on #1667
The error message you received says,

[code]

Have you installed zlib?

[2017-07-29 11:47] sasatefa2009 commented on #1667
Indeed, that was the case. Thank you very much

codes i used to install zlib and other dependencies

**sudo apt-get install libpng-dev
sudo apt-get install --reinstall zlibc zlib1g zlib1g-dev**

[2017-07-29 11:48] #1667 closed

[2017-08-04 17:03] redjohn commented on #1127
I am still having this problem with nokogiri 1.8.0:

[code]

[2017-08-06 02:14] Shamaoke opened #1668 "`write_to` ingores the indent option"
I want to get the indented HTML document

    <!DOCTYPE html>
    <html>
      <head>
        <title>Sample</title>
      </head>
      <body>
        <header></header>
        <main>
          <div>This is a sample.</div>
        </main>
        <footer></footer>
      </body>
    </html>

from a source with no indentation, using the following script:

    require 'nokogiri' # 1.8.0

    data = D

[2017-08-10 14:55] ponkt opened #1669 "Segfault when creating CDATA with Integer or Float"
When I create a CDATA node with an Integer or a Float as content, the ruby interpreter segfault.

[code]

**nokogiri -v**

[2017-08-10 22:31] flavorjones commented on #1669
Thanks for reporting this. I believe we just need to double-check the type of arguments for this method. Will take a look!

[2017-08-10 23:01] flavorjones commented on #1669
Fixed in c766f6e, will be in v1.8.1.

[2017-08-10 23:01] #1669 closed

[2017-08-24 17:40] jmirmina commented on #1461
We are running into this issue as well. If it helps, in the original example, `xml:space="preserve"` seems to be whats causing the error. When I remove it, it seems to parse fine.

[2017-08-29 23:18] purp commented on #1562
Hi, @flavorjones ... I don't understand why you've closed this.

The `site-config` file is an intended part of `autoconf` which lets you specify aspects of a given OS layout according to how the distro prefers to lay them out. It properly sets the right variable, which is then intended for use by other build tools to understand where to find includes, libraries, etc. This is being used properly in

[2017-08-31 14:18] flavorjones commented on #1562
@purp I closed it because it's fixed -- see commit 988856b75caa19b08e3bbb01c5aa08930da9372b

If this is still not working for you, let's dig in!

[2017-08-31 14:49] purp commented on #1562
Ahhhhh. Sorry, I'm clearly dumbing today in a "No Dumbing" area. Completely overlooked that it was closed with a commit.

Thanks for the fix, and sorry for the noise!

[2017-09-14 13:45] PragmaticEd commented on #482
Using fragment method actually worked for me, so thanks @pboling. Too bad it didn't work for u..

[2017-09-14 14:50] flavorjones commented on #1582
Checked upstream again, there was a commit made to try to address this:

[code]

but it was reverted:

[code]

and there isn't an obvious upstream commit addressing it at this point.

[2017-09-15 09:11] iMacTia commented on #1659
Same issue also with MRI Ruby 2.4.1

[code]

[2017-09-17 18:05] MSP-Greg opened #1672 "Update appveyor to use 2.4 & trunk, fix some test warnings"
I fixed most of the test warning due to 'use assert_nil' and 'assert_send', then added ruby 24 and trunk to the appveyor build matrix.

[Test results](https://ci.appveyor.com/project/MSP-Greg/nokogiri) and the two commits, [Fix test warnings](https://github.com/MSP-Greg/nokogiri/commit/e24cb0f216ed969dfc7aa61425885f0ce9e16e8a) and [appveyor update](https://github.com/MSP-Greg/nokogiri/commit/7f190

[2017-09-19 14:26] flavorjones opened #1673 "Investigate Ubuntu libxml2 patches in USN-3424-1"
[code]

[2017-09-19 14:27] flavorjones commented on #1673
It's likely that upgrading to libxml 2.9.5 will pull in these patches, I need to confirm that. If that's the case I expect to be able to turn around an update today.

[2017-09-19 14:36] flavorjones commented on #1673
Link dump of CVEs and upstream patches referenced for each:

USN:

* https://usn.ubuntu.com/usn/usn-3424-1/

CVE-2017-0663 Priority Medium

* https://people.canonical.com/~ubuntu-security/cve/2017/CVE-2017-0663.html
* https://git.gnome.org/browse/libxml2/commit/?id=92b9e8c8b3787068565a1820ba575d042f9eec66

CVE-2017-7375 Priority Medium

* https://people.canonical.com/~ubuntu-security/cve/2017/CVE-

[2017-09-19 14:39] flavorjones commented on #1673
checking if these patches are all in 2.9.5, looks like they are (note two patches are repeated in two CVEs):

[code]

[2017-09-19 14:39] flavorjones commented on #1673
OK, mitigation is going to be updating nokogiri to libxml 2.9.5, which is actually master and ready to release.

[2017-09-19 16:18] flavorjones commented on #1673
v1.8.1 has shipped, updating nokogiri to libxml 2.9.5.

[2017-09-19 16:18] #1673 closed

[2017-09-21 00:18] knu commented on #1673
Thanks for your hard work, as always!

[2017-09-21 00:39] flavorjones commented on #1673
:bow:

[2017-09-21 17:43] jormon commented on #1673
👏

[2017-09-25 08:28] Xliff commented on #1493
Is anyone still interested in this?

If so, it looks like xmlGetLineNo just returns the results of xmlGetLineNoInternal, which you can find, here:
**https://github.com/GNOME/libxml2/blob/master/tree.c#L4593**

[2017-09-27 18:37] Dave567 opened #1675 "Ruby64 - Class not registered error for BlueZone emulator."
We are using Rocket BlueZone Terminal Emulator. But issue is, Ruby64 is not able to create BlueZone object  but same code runs perfectly fine with Ruby32. Can someone please help to fix Ruby64?
OS - Windows 10.

Code -
require 'win32ole'
class BZExtra

  def start_extra_sys
      @system = WIN32OLE.new('BlueZone.System') #Fail on this line .
      sessions = @system.Sessions
      session = sessio

[2017-09-27 18:49] larskanis commented on #1675
This project is about nokogiri - a XML/HTML processing library. Your issue is probably better placed at https://github.com/oneclick/rubyinstaller2 ?

[2017-09-27 18:49] #1675 closed

[2017-10-03 04:58] dazza-codes opened #1677 "NodeSet does not follow ruby conventions for enumerable methods"
Using `~/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/nokogiri-1.8.1`

In general, the ruby enumerable methods, like `Array.select`, return a new Array, leaving the original untouched.  For example,

[code]

Similarly, another enumerable operation does not touch the original:
[code]

It's reasonable to expect the same behavior of enumerable methods on the NodeSet, right?  Let's see.

Create two

[2017-10-03 15:36] darrenleeweber opened #1678 "NodeSet.dup does not deep copy"
Take note of the `Element` object IDs in this console exploration of whether or not `NodeSet.dup` is actually returning new objects (as a deep copy implies).  The `Document.dup` is doing a deep copy, but `NodeSet.dup` is not.  (This console is using a class wrapping Nokogiri instance variables, but it should be obvious anyway; LMK if you need a "pure" Nokogiri" example.)

[code]

So far, so good.

[2017-10-03 15:44] darrenleeweber commented on #1678
Also `NodeSet.deep_dup` does not deep copy:
[code]

[2017-10-03 15:53] darrenleeweber commented on #1678
WRT documentation, it doesn’t say anything on `NodeSet.dup` behavior in this doc:
- http://www.rubydoc.info/github/sparklemotion/nokogiri/Nokogiri/XML/NodeSet#dup-instance_method

cf. http://www.rubydoc.info/github/sparklemotion/nokogiri/Nokogiri/XML/Document#dup-instance_method

So, I suppose I’m asking for consistent behavior in the default assumptions for how this method works across Nokogiri o

[2017-10-03 16:39] ar7max commented on #1678
I agree duplication behaviour is confusing me too.

[2017-10-05 00:14] atz commented on #1677
Change your assignment line to:
[code]
And I suspect you get the desired behavior.

Also, you can cut out some middle steps by applying `.xpath`:
[code]

[2017-10-09 17:54] jskinne3 commented on #1486
After many unsuccessful attempts to get nokogiri to make use of Xcode files, I coaxed it to work with `sudo xcodebuild -license accept`, then installed again

[2017-10-12 06:41] rlue opened #1679 "Fails to parse <html ⚡> (as found in AMP pages)"
**What problems are you experiencing?**

Nokogiri does not recognize the "Unicode high voltage" symbol (used to indicate AMP pages) as a valid XML attribute. (It does not recognize any other emoji/multi-byte unicode characters for that matter, though I don't know of any such valid attributes other than "⚡").

**What's the output from `nokogiri -v`?**

[code]

**Can you provide a self-contained scr

[2017-10-12 17:31] kovyrin opened #1680 "Script tag content on jruby has Text type, while on MRI it is CDATA"
## What problems are you experiencing?

When Nokogiri parses an HTML document, there are slight differences in its behavior between MRI and JRuby versions. MRI uses CDATA as the type for `<script>` tag contents, while Jruby version treats the content as text.

## What's the output from `nokogiri -v`?

On MRI:
[code]

On jruby:
[code]

## Can you provide a self-contained script that reproduces what

[2017-10-13 12:40] flavorjones commented on #1679
Well, let's take a look at the errors being emitted by the parser (if any):

[code]

outputs

[code]

So libxml2 is raising an error during parsing, which is beyond the control of Nokogiri. If you believe this is incorrect behavior, you're welcome to file a bug report upstream, but before doing that you may want to review some of the extant conversation about the practice of using attributes that

[2017-10-13 12:40] #1679 closed

[2017-10-14 06:59] giper45 opened #1681 "nokogiri inserts lowercase tag instead of uppercase tags"
Hello, I have the following issue: I'm tryng to load some tags into a xml string that is the following:
[code]

with the following code:
[code]
When I try this Nokogiri create all tags and attributes in lowercase:

[code]
Is there some configuration to do in order to avoid this?
Nokogiri version: 1.6.6.2, could be Nokogiri a version problem? I'm not working at my personal work so I should ask to d

[2017-10-14 14:19] giper45 commented on #1681
Sorry it was an error in after function (I used </Relationships> instead of </Relationship> as closure tag!) Thanks anyway

[2017-10-14 14:19] #1681 closed

[2017-10-16 05:19] neohunter commented on #1356
I'm having this issue also, I think we should create a flag to `DONT_ESCAPE_CARRIAGE_RETURN` that will `gsub('&#13;', "\r")`

Can I submit a PR?

[2017-10-19 22:07] dkorolev opened #1682 "Nokogiri runs differently when run from different directories."
Hello,

Nokogiri is installed via `gem install`. Mac OS X High Sierra.

The simple XSLT-application script runs differently when executed from two different directories.

Specifically, from a fresh directory, the differences are:
1. It runs much slower (seconds instead of <0.1s), and
2. The output XML is not formatted. (`(:indent => 2) in `to_xml` that was originally parameterless "fixed" it, but

[2017-10-21 12:00] ar7max commented on #1682
Could you provide source?

[2017-10-21 15:36] dkorolev commented on #1682
It's tricky as the XML itself is large, and I only observed it via the
screenshare. But no newlines in the output is a rather distinct feature, no?

On Sat, Oct 21, 2017 at 2:00 AM Maxim <notifications@github.com> wrote:

--
Thanks,
Dima

http://dimakorolev.com/ | http://www.linkedin.com/in/dimakorolev |
dmitry.korolev@gmail.com

[2017-10-22 15:05] ar7max commented on #1682
Ok, at least u can try to use to_xhtml(indent: 2)

[2017-10-22 16:14] flavorjones commented on #1682
@dkorolev Thank you for asking this question.

When you started to create this issue, there was an issue template that asked questions. You deleted this template, and so we do not have enough information to help you. Specifically, we need to know the output from `nokogiri -v` for both of the use cases you're describing.

Aside from that, you really would need to provide more information in order f

[2017-10-22 16:44] dkorolev commented on #1682
Hi @flavorjones,

My bad, it was over a screenshare, and I didn't ask right away. Here they are.

Where it's OK:
[code]

Where it's not OK:
[code]

[2017-10-22 17:03] flavorjones commented on #1682
well, this explains it. One is using the MRI engine, the other using the JRuby engine; so in addition to startup time, which is longer for the JVM, there's also the difference between the XML engines being used (libxml2 for MRI, xerces/nekohtml for JRuby).

I think you'll find that Nokogiri behaves consistently if you're running the same version on the same engine.

[2017-10-22 17:04] dkorolev commented on #1682
Thank you! I'll close the issue then, to not have it hanging in your repo.

[2017-10-22 17:04] #1682 closed

[2017-10-26 14:45] BobbyMcWho opened #1683 "XSD Validation Error with files including themselves."
We have a group of xsd's with a base overarching file that includes all the other files into 1 single namespace. Names have been changed due to proprietary files. Whenever we try to run Nokogiri::XML::Schema#validate on a valid XML file against the overarching.xsd, we get an error:
[code]

overarching.xsd :
[code]

structures.xsd :
[code]
I don't seem to be getting this error when validating using

[2017-10-29 02:51] rcrews opened #1684 "Java version incorrectly adds CR after processing instructions"
This is for the Java version of Nokogiri. I'm running with JRuby 9.1.13.0.
When serializing XML containing a processing instruction, Java Nokogiri adds a carriage return after each PI, regardless of whether or not one already is present.
Sample code is far below. The output of the code is as follows:

[code]
Here is the code

[code]

[2017-11-11 10:01] dredknight opened #1686 "Nokogiri and xpointer?"
Dear everyone!

 I have been messing with Nokogiri for the last week and it helped me a lot in extracting huge library of XML files. There is one thing I stumbled upon and could not find and information.
There are XML files looking like this:
[code]

As you can see there is a namespace called **visual** that points to a namespace in another file.
How can I use this information to make Nokogiri acc

[2017-11-13 15:18] flavorjones commented on #1582
Just checked upstream again, and there still doesn't seem to be a fix addressing this underlying CVE.

[2017-11-13 18:46] flavorjones opened #1687 "Investigate whether Nokogiri is vulnerable to libxml2 issues noted in GLSA 201711-01"
Gentoo published a security advisory last Friday, which claims libxml < 2.9.4-r3 contains vulnerabilities.

[Here's a link to the advisory.](https://security.gentoo.org/glsa/201711-01)

This issue is to investigate and triage how this may impact Nokogiri.

Hat tip to danny@snyk.io, @grnd, for pointing out this advisory. Thanks, Danny!

-----

### Conclusion

All the CVEs mentioned in this advisory

[2017-11-13 18:56] flavorjones commented on #1687
Since Nokogiri is currently shipping with libxml 2.9.5, it doesn't appear as though the this advisory applies to Nokogiri 1.8.1 and later.

I will take a more thorough look shortly, and I welcome anyone who has the time to help triage.

[2017-11-13 18:57] flavorjones opened #1688 "Upgrade to libxml 2.9.7 and libxslt 1.1.32"
Nokogiri 1.8.1 ships with libxml 2.9.5. However, libxml2 has shipped 2.9.6 and 2.9.7 since then:

http://xmlsoft.org/news.html

Consider upgrading for bugfixes noted in the changelogs.

[2017-11-13 19:08] #1659 closed

[2017-11-13 22:12] flavorjones commented on #1688
PR #1689 merged into master and went green.

[2017-11-13 22:12] #1688 closed

[2017-11-13 22:21] flavorjones commented on #1687
## Detailed triage

CVEs called out in the [gentoo advisory](https://security.gentoo.org/glsa/201711-01) are:

### CVE-2017-0663

* [canonical](https://people.canonical.com/~ubuntu-security/cve/2017/CVE-2017-0663.html)
* [upstream patch](https://git.gnome.org/browse/libxml2/commit/?id=92b9e8c8b3787068565a1820ba575d042f9eec66)
* upstream patch present in libxml 2.9.5

### CVE-2017-5969

* [canonica

[2017-11-13 22:22] flavorjones commented on #1687
### Summary

All the CVEs mentioned in this advisory were patched in libxml 2.9.5, which was shipped in Nokogiri 1.8.1 on 2017-09-19. No action is necessary as a result of this advisory.

[2017-11-13 22:24] flavorjones commented on #1687
closing.

[2017-11-13 22:24] #1687 closed

[2017-11-16 03:08] envygeeks commented on #553
Since `HTML::Document.parse` deems it necessary to add a document type, and that document type is older than most modern browsers, it's not really a work around any of those.  We have no way to truly parse a real fragment without arbitrary warnings, or DOCTYPE.

Is this happening downstream or within Nokogiri?

[2017-11-16 22:48] nwshane opened #1690 "Error compiling libxml2 when installing Nokogiri on OS X 10.13.1"
Summary: Trying to install nokogiri on OS X 10.13.1 causes an error.

## Action

[code]

## Result

[code]

## mkmf.log

[code]

## Notes

- I tried following the macOS section of the [Installing Nokogiri](http://www.nokogiri.org/tutorials/installing_nokogiri.html) page by running
[code]

Both commands ran without error, but `gem install nokogiri` still failed afterwards

- Also tried a different

[2017-11-16 23:45] flavorjones commented on #1582
Hey, this issue got a prominent mention in https://snyk.io/stateofossecurity/. Hello, world.

The snyk report says "until libxml2 addresses the issue, Nokogiri will remain vulnerable", but I think this misses the nuance that __Nokogiri's defaults are secure__; the software using Nokogiri is only vulnerable if users specifically opt into two different options in combination.

Lots more detail above

[2017-11-17 10:23] joeldrapper commented on #1582
Thanks for your continued work on this, Mike. I don’t fully understand the issue, but is there a way to get Nokogiri to look out for that specific configuration, ignore it, and raise a warning about the CVE?

[2017-11-17 12:47] marcpopp commented on #1486
Fixing for latest MacOS update:
`sudo gem install nokogiri -- --with-xml2-include=/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk/usr/include/libxml2 --use-system-libraries`

[2017-11-18 05:43] 723gt opened #1691 "About sending an issue to a document"
Should I clarify how to send a problem to a document or markdown file?
Should I follow the instructions for getting into the mailing list like code and bug reports?

[2017-11-18 05:51] 723gt commented on #1691
How to send a bug report is written ,  (http://www.nokogiri.org/tutorials/getting_help.html)
I do not think there is a way to discuss documents

[2017-11-20 13:56] flavorjones commented on #1582
@joeldrapper great question.

A brief explanation of the general class of vulnerabilities known as "XXE" can be found [here in the OWASP wiki](https://www.owasp.org/index.php/XML_External_Entity_(XXE)_Processing). Key summary (emphasis is from the original):

In other words, if you tell libxml2 it's OK to download and parse arbitrary documents from the internet, bad things are going to happen.

No

[2017-11-20 17:59] flavorjones commented on #1691
@723gt I'm not sure which documents you'd like to discuss? Feel free to discuss here.

[2017-11-20 18:02] flavorjones commented on #1486
OK, one final time. As I mentioned in [this comment](https://github.com/sparklemotion/nokogiri/issues/1486#issuecomment-284167524) and [this comment](https://github.com/sparklemotion/nokogiri/issues/1486#issuecomment-299666302), I need to know from Mac users whether we need to update the installation instructions.

PLEASE DO NOT UPDATE THIS TICKET WITH MORE ADVICE. INSTEAD, PROVIDE A PROPOSAL FOR

[2017-11-20 18:44] MarkBennett opened #1693 "Unable to install Nokogiri on Mac OS 10.13 with lzma from homebrew"
**Have you tried following [the installation tutorial][tutorial]?**

Yes

**What is the output of `gem install`?**

[code]

**What are the contents of the `mkmf.log` file?**

[code]

**What operating system are you using?**

ruby = `/Users/mark/.rbenv/shims/ruby`
ruby version = `ruby 2.3.3p222 (2016-11-21 revision 56859) [universal.x86_64-darwin17]`
os = `Mac OS, 10.13.1 (17B48)`

This appears to

[2017-11-20 18:54] MarkBennett commented on #1693
It ended up with me having to remove `imagemagick` since it depends on `xz`.

After `brew uninstall imagemagick` and `brew uninstall xz`, I was able to `gem install` without a problem. I'll submit a PR for the guide.

[2017-11-20 18:54] #1693 closed

[2017-11-20 19:34] marcpopp commented on #1486
@flavorjones: this issue is the first thing that shows up as first result, when you google the problem. Honestly I didn’t read the whole thread, but the last comments and I found a somewhat working solution that I could easily fix to work for me.

Please feel free to use my last comment for your documentation. I’ll glady test it for you then. I think, after that you should post a link to the docu

[2017-11-20 20:21] franklinyu commented on #1486
@marcpopp This issue has been closed for long. We are probably discussing to lock the reply. Or at least open another issue at the documentation repository.

Now that you have time testing, could you please check whether the steps in [*Install with system libraries*](http://www.nokogiri.org/tutorials/installing_nokogiri.html#install_with_system_libraries) works for you? It worked for me. If it als

[2017-11-20 22:35] flavorjones commented on #1486
@franklinyu Thanks.

[2017-11-21 09:20] marcpopp commented on #1486
@franklinyu Maybe I got that wrong, but the Documentation has no alternatives for MacOS and the FreeBDS does not work for me:
[code]

[2017-11-21 13:18] franklinyu commented on #1486
@marcpopp Thanks a lot!

 1. Could you please try

[code]

    ?

 2. Is it the system Ruby, Homebrew Ruby or some Ruby in your user space?

[2017-11-26 21:13] franklinyu commented on #1486
@flavorjones please lock this thread. @marcpopp seems to have lost interest in this one. I would assume that he found the root cause of his issue, which was not related to Nokogiri, so he didn't consider it necessary to share with us.

[2017-11-26 21:15] franklinyu commented on #1690
Try [installing with system libraries](http://www.nokogiri.org/tutorials/installing_nokogiri.html#install_with_system_libraries)?

[2017-11-26 21:20] franklinyu commented on #1560
@olleolleolle I believe you should be able to install Nokogiri with system libraries (so that you won't need the export path since you are not using Brewed libxml), by

[code]

[2017-11-28 14:53] dstansby commented on #1690
I'm getting the same issue here, even when installing with system libraries.

[2017-11-28 15:13] franklinyu commented on #1690
@dstansby Thanks!

 1. Could you please try

[code]

    ?

 2. Is it the system Ruby, Homebrew Ruby or some Ruby in your user space?

[2017-11-30 13:26] dstansby commented on #1690
[code]

I've just realised I'm actually getting a slightly different error (should I open a new issue?):
[code]

[2017-11-30 15:13] franklinyu commented on #1690
@dstansby Did you installed the libxml yourself? My xml locates at `/usr/lib/libxslt.1.dylib`, and it is universal (32 bit and 64 bit). Your libxml only supports 64 bit architecture, but Nokogiri seems to prefer 32 bit.

[2017-11-30 16:14] wilsonsilva opened #1694 "Compile and bundle Nokogiri and its dependencies (liblzma)"
I have to compile and bundle Nokogiri `v1.7.2` or `v1.8.1` and all its dependencies to a single folder on MacOS and a single folder on CentOS. The main reason for this is that on the deployment machine I don't have access to `/usr/local/lib`. Everything needs to be self-contained.

I compiled the gem using:

[code]

But I got this error (I edited the paths for the message to fit without scroll):

[2017-11-30 17:27] dstansby commented on #1690
I had a macports version of `libxml`, which I've uninstalled.

[code]

Is this what I should be seeing? Thanks for the help!

[2017-11-30 20:21] franklinyu commented on #1690
@dstansby Then that's the issue. However, AFAIK, Nokogiri should be able to compile in 64 bit (because many users managed to install with Brewed libxml, which is 64 bit only); I'll investigate it tonight and try to reproduce this issue.

[2017-11-30 20:40] franklinyu commented on #1694
So you *didn't* install the `zlib` there, did you?

[2017-12-01 09:44] wilsonsilva commented on #1694
No. These are the contents of the destination `/usr/local/lib` folder:

[code]

[2017-12-01 14:36] franklinyu commented on #1694
Anyway, I think you may be able to install `zlib` in your deployment folder, then

[code]

[2017-12-01 16:33] wilsonsilva commented on #1694
Nice! I didn't know that `zlib` and `liblzma` were interchangeable. Thanks. I'll try it.

[2017-12-01 19:03] franklinyu commented on #1694
I'm actually familiar with neither. AFAIK, `liblzma` (part of [XZ utilities](https://tukaani.org/xz/) is intended as drop-in replace of `libz` (and they claim better performance), so the compiler script tries `liblzma` before searching `libz`. According to my quick search.

[2017-12-03 03:12] franklinyu commented on #1690
@dstansby bump?

[2017-12-03 11:30] GeraldScott opened #1695 "rubygem-nokogiri is not available in any RHEL7 repos"
I am having trouble installing Nokogiri on a RHEL 7 server because it is only available from an older RHEL 6 repo 'rhel-6-server-sam-rpms'

I installed it by downloading it from that repo and then did a yum localinstall, but obviously that is not ideal.

[2017-12-03 11:53] yokolet commented on #1695
@GeraldScott Did you see any error message when you failed to install on RHEL 7? If so, would you paste the error here?

[2017-12-03 17:42] GeraldScott commented on #1695
yum -y install opennebula-server opennebula-sunstone opennebula-ruby opennebula-gate opennebula-flow
Loaded plugins: langpacks, product-id, search-disabled-repos, subscription-manager
Resolving Dependencies
--> Running transaction check
---> Package opennebula-flow.x86_64 0:5.4.1-1 will be installed
---> Package opennebula-gate.x86_64 0:5.4.1-1 will be installed
---> Package opennebula-ruby.x86_64

[2017-12-03 17:43] GeraldScott commented on #1695
yum repolist
Loaded plugins: langpacks, product-id, search-disabled-repos, subscription-manager
repo id                                                                              repo name                                                                                                               status
Webmin                                                                               Webmin

[2017-12-04 02:31] yokolet commented on #1695
@GeraldScott I see rh-ruby23-rubygem-nokogiri package in cf-me-5.8-for-rhel-7-rpms  repo. This repo is listed in your repolist. So, I believe you can use this version.

I installed rh-ruby23 and rh-ruby23-rubygem-nologiri on RHEL 7.4 and confirmed Nokogiri worked. The hard part would be Nokogiri is in a dependency, which sees another version.

[2017-12-04 04:49] GeraldScott commented on #1695
Thanks @yokolet , yes, I tried that, but it still failed. I also tried installing the gem nokogiri manually.

Installing the RHEL 6 version from the 'rhel-6-server-sam-rpms' repo works, so I guess the solution is to get rubygem-nokogiri into the rhel-7-server-optional-rpms repo (the equivalent of EPEL).

[2017-12-04 09:17] yokolet commented on #1695
@GeraldScott I got this info from my co-worker. The rubygem-nokogiri is already in EPEL repo. It installs ruby 2.0.0 and nokogiri 1.6.1, older versions, but you can install the rubygem-nokogiri package on RHEL 7.

[code]
Does above work for you?

[2017-12-04 21:12] flavorjones commented on #1690
@franklinyu thank you for chasing this issue!

[2017-12-05 05:55] GeraldScott commented on #1695
It worked perfectly and is a more elegant solution. Thank you @yokolet.

Who is responsible to get rubygem-nokogiri into the RHEL equivalent of the EPEL repo instead of using the Fedora repo? Will you raise an issue with Redhat?

[2017-12-05 12:09] yokolet commented on #1695
@GeraldScott That sounds nice.

I'm not sure how the package gets in. I suspect even @flavorjones doesn't know. I'll research a bit. If I get some, I'll post an update.
If you have a valid RHEL subscription, you'd better to file a ticket at the Red Hat customer portal. It may work better.

[2017-12-05 12:14] GeraldScott commented on #1695
Yes, I have a RHEL Developer's Subscription, so I will file a ticket with them..

Thanks again for your assistance!

[2017-12-11 15:54] jslabovitz opened #1701 "Document fragments with nonstandard tags are added incorrectly to HTML document"
**What problems are you experiencing?**

I have a toolset that extensively uses Nokogiri's features of adding HTML fragments to existing HTML documents, using Builder. I've found that if the fragments contain nonstandard HTML tags, they are apparently added at the wrong level of the document.

There's certainly a chance I'm doing something out of scope of what Nokogiri is intended to do. I don't m

[2017-12-12 14:51] flavorjones commented on #1695
@GeraldScott thanks for following up.

[2017-12-12 14:51] #1695 closed

[2017-12-15 15:19] wlipa opened #1703 "unexpected memory bloat from Nokogiri::XML::Node.new"
While using the SAX parser to convert large HTML docs from one form to another, I encountered high memory bloat for large documents.  I eventually traced it down to the following pattern causing an arbitrarily large number of Nokogiri::XML::Element objects being held for the lifetime of the associated Nokogiri::HTML::Document even if they are unlinked.  My assumption was that unlinking the node wo

[2017-12-17 19:26] flavorjones commented on #1703
Hi @wlipa, thanks for asking this question.

The short answer is that unlinked nodes are kept for the life of the document, for the reason that there may exist a ruby object that still references the underlying C struct. This is one of many compromises the Nokogiri maintainers adopted to work around libxml2's memory management model.

The code behind this can be seen in `xml_node.c`'s `unlink_node

[2017-12-17 21:08] wlipa commented on #1703
Thanks for the explanation.  It would be nice if the unlink documentation mentioned that the nodes would not be GC-eligible until the document went away.

I doubt it would be worth it to add some complicated mechanism to track Ruby objects, but might it be possible to add a destroy method on Node when you're sure there aren't any other references?

[2017-12-21 15:31] #1691 closed

[2017-12-21 15:32] flavorjones commented on #1694
Sounds like this is resolved? I'll close in a few days unless I hear back.

[2017-12-21 15:35] willsu commented on #1450
Nice job! You removed (probably) the funniest description of an XML parser on the Internet 👍  ;)

[2017-12-21 15:35] wilsonsilva commented on #1694
I had higher priorities, so I parked this issue until the new year. I didn't try it yet, but I hope that Frank's solution works.

[2017-12-27 16:50] tarvit opened #1705 "I text node contains Ampersand it is missing in a parsed document"
I text node contains Ampersand it is missing in a parsed document
[code]

[tutorial]: http://www.nokogiri.org/tutorials/installing_nokogiri.html

[2017-12-27 17:05] ar7max commented on #1705
I assume this is not valid string, so it should be something like &amp; instead.
`p Nokogiri::XML('<a>Tom & Jerry</a>').errors`
outputs
`[#<Nokogiri::XML::SyntaxError: 1:9: FATAL: xmlParseEntityRef: no name>]`
but
`p Nokogiri::XML('<a>Tom &amp; Jerry</a>').errors`
outputs
[]
and
`p Nokogiri::XML('<a>Tom & Jerry</a>').to_xhtml`
prints
`<a>Tom &amp; Jerry</a>\n`
as expected

[2017-12-27 17:14] tarvit commented on #1705
I know that `Nokogiri::XML('<a>Tom &amp; Jerry</a>')` will work.
But why is single ampersand invalid? I was looking for a solution to safely process such text nodes through nokogiri. In my case this single ampersand is important

[2017-12-27 17:25] ar7max commented on #1705
But as described here https://github.com/sparklemotion/nokogiri/issues/1581

So u can try to use HTML instead of XML constructor.

[2017-12-27 17:50] tarvit commented on #1705
Thank you @ar7max
I've found such workaround which is good enough for me
[code]

[2017-12-27 22:38] #1705 closed

[2017-12-27 22:38] flavorjones commented on #1705
Thanks all for helping support Nokogiri users.

[2018-01-01 15:38] Hazardius opened #1706 "Release Windows fat gem for Ruby 2.5"
Just a notice about issue with nokogiri fat gem 1.8.1 on Windows machines.
Current release informs about ruby version not being <2.5 .
Will it be supported with a new release - 1.8.2?

Issue name based on #1618 .

[2018-01-01 16:32] satnami opened #1707 "Install and Compile failed (Ubuntu 14.04.3)"
## If you're having trouble installing Nokogiri ...

**What is the output of `gem install`?**
[code]

**What are the contents of the `mkmf.log` file?**
[code]
**What operating system are you using?**
[code]

[2018-01-01 17:10] satnami commented on #1707
The issue was because missing file which is `bin/echo`

related to https://stackoverflow.com/questions/11675070/makefile-echo-n-not-working

[2018-01-01 17:10] #1707 closed

[2018-01-02 14:41] chewi opened #1708 "JRuby cache clearing issue since 1.6.2 affects Blather (Adhearsion)"
The [Blather](https://github.com/adhearsion/blather) project, an important part of [Adhearsion](https://github.com/adhearsion/adhearsion), has been [severely affected](https://github.com/adhearsion/blather/issues/145) by a cache clearing issue in the JRuby implementation since 1.6.2, and as such has had to lock the Nokogiri version back to 1.6.1. This is obviously a security concern and we are mis

[2018-01-03 01:16] alenteria commented on #1391
I encountered same problem.
this one fixes it
`brew unlink xz
gem install nokogiri # or bundle install
brew link xz`

from http://www.nokogiri.org/tutorials/installing_nokogiri.html#mac_os_x

[2018-01-03 10:59] 3rdmaths commented on #1706
I'm also interested in such support, the latest 2.5 version of ruby is assumed to have many time optimization and some syntaxical sugar that can help to improve code readability.

The only non backward change that I can find is https://bugs.ruby-lang.org/issues/11547, but it shouldn't impact any well written code. In my opinion, reference to a variable in a namespace should not assume that it can

[2018-01-04 17:21] Hazardius commented on #1706
EDIT 2018-01-04:
As above - sorry that I didn't checked pull requests. Closing the issue as it's already waiting there at #1704.

[2018-01-04 17:21] #1706 closed

[2018-01-05 03:01] flavorjones commented on #553
This is remarkably similar to #1659 which was fixed by #1674. I imagine there's a similar problem here, if anyone wants to help out and take a look.

[2018-01-05 04:49] jvshahid commented on #1708
It looks like the `clearCachedNode` came from this pr https://github.com/sparklemotion/nokogiri/pull/1054 which was trying to address #1034. I verified that [this is the only change](https://github.com/sparklemotion/nokogiri/blob/734d4d4763c1dee9601d7c385990e237a5eee8a9/ext/java/nokogiri/XmlNode.java#L505-L507) required to make the test pass. This has been the case since the pr was merged in, not

[2018-01-08 15:54] SimonHoenscheid opened #1709 "Make nokogiri compatible to ruby 2.5 on Windows"
## If you're having trouble installing Nokogiri ...

**Have you tried following [the installation tutorial][tutorial]?**

yes

**What is the output of `gem install`?**

[code]

**What are the contents of the `mkmf.log` file?**

Didnt get so far

**What operating system are you using?**

Windows 10 x64

[2018-01-10 17:00] mbklein commented on #1708
Clearing cached nodes was necessary under certain circumstances because the cached instance of the node was bound to the wrong namespace. I believe I also added tests to guard against regression, so if the tests still pass without the `clearCachedNode` call, I won't argue for keeping it.

That said, I haven't done any work on nokogiri's Java internals since late 2014, so basing anything on my curr

[2018-01-10 17:06] chewi commented on #1708
Thanks for letting us know. I can go back to that commit and check whether removing that line breaks your test when I get a minute.

[2018-01-10 17:22] francesco-loreti commented on #1709
Same OS and same problem...

[2018-01-10 17:38] jvshahid commented on #1708
I definitely checked and it doesn't break any tests. Given my initial
confusion (hence the TODO in the code) and the fact that it doesn't
cause any tests to break atm. I am inclined to get rid of that line.

[2018-01-13 05:30] fredzy07 commented on #1709
Same here, and I really would like it if downgrading is not my only option

[2018-01-14 08:19] McRaeAlex commented on #1709
I am currently having the same issue

[2018-01-14 09:47] richpeck commented on #1709
Same problem

[2018-01-14 21:37] fandyd commented on #1690
Im having the same issue, is there any workaround at the moment?

[2018-01-14 21:44] franklinyu commented on #1690
@fandyd What did you tried? Did you tried [install with system libraries](http://www.nokogiri.org/tutorials/installing_nokogiri.html#install_with_system_libraries)?

@dstansby bump?

[2018-01-14 21:48] fandyd commented on #1690
@franklinyu apparently using homebrew libxml2 works, Thanks

[2018-01-15 09:48] Shekharrajak commented on #1709
Windows 7 x64 same error msg.

[code]

[2018-01-15 11:11] chewi commented on #1708
I can confirm that going back to sparklemotion/nokogiri@e51bb1d1e7f271174244925cf8f431823979a74d and removing both `clearCachedNode` calls has no effects on the test. I also tried sparklemotion/nokogiri@b6a34d936fa29aa26f1b4ea39c5ac73367744f0e, which is the last change involving @mbklein. Only removing the `nsUri = null` line makes any difference. I suggest we remove the first `clearCachedNode` ca

[2018-01-15 13:06] fera2k commented on #1709
The fix is already merged, although a new release is pending. See:
https://github.com/sparklemotion/nokogiri/pull/1704

Until then, it's better to stick with Ruby 2.4.2 on Windows.

The Nokogiri team removed the GEMSPEC from sources, to disallow people building from master branch, since it is unstable and probably would contain bugs. You can read more about it here:
https://github.com/sparklemotio

[2018-01-15 20:51] dstansby commented on #1690
Sorry, this dropped off my radar, but all seems to be fine now. Thanks for the support @franklinyu!

[2018-01-16 13:51] chewi opened #1710 "NullPointerException in XmlSaxPushParser#native_write triggered by fix for #1261"
The last remaining 15 [Blather](https://github.com/adhearsion/blather) test failures are caused @yokolet's fix for #1261 in sparklemotion/nokogiri@3b121ca6e651f513922f9857ba2b4af9d176afb9. I'm not sure exactly what triggers it but sometimes `parserTask.parser.getNokogiriHandler()` returns `null`, leading to a NullPointerException.

Reverting the change allows all the Blather tests to pass. So does

[2018-01-16 19:42] gogocurtis commented on #1690
I had this build issue with Xcode 8 on 10.13.2 - upgrading to Xcode 9.2 removed the build issue

[2018-01-19 09:16] leehanslim commented on #1709
Any word on support for 2.5.0 on OS X?

[2018-01-19 13:25] dstansby commented on #1690
Was getting the same error on a different mac for a while, incase it's useful here's what I did to fix it:

- Remove macports
- Install brew versions of libxml2 and libxslt
- `bundle config build.nokogiri --use-system-libraries--with-xslt-dir=/usr/local/opt/libxslt --with-xml2-dir=/usr/local/opt/libxml2`
- `bundle install`

[2018-01-19 15:48] franklinyu commented on #1690
@dstansby Were you able to install with libxml coming with Xcode? That is, `/usr/include/libxml2`?

[2018-01-19 16:12] dstansby commented on #1690
I didn't have much success using Xcode libxml, and

[code]

[2018-01-19 18:44] franklinyu commented on #1690
@dstansby Would you mind sharing error message when building against Xcode libxml?

[2018-01-22 07:15] tchikuba commented on #1709
Same problem.

[2018-01-23 12:39] francesco-loreti commented on #1709
any news?

[2018-01-23 13:02] SimonHoenscheid commented on #1709
I am wondering how this happens. Its kind of a tradition ruby makes a point release around christmas every year. the dev version was around for weeks. Ignoring Windows blames the users who are bound to this OS for what ever reason

[2018-01-23 15:39] flavorjones commented on #1709
@SimonHoenscheid nokogiri-core is always welcoming of contributors who would like to help us support Windows. We've asked for help repeatedly over the years, as we've all got jobs that distract us from supporting open source software, despite our best efforts and intentions.

I'd like to ask that you pay attention to the tone of your message above. "Ignoring Windows" is clearly an untrue statement

[2018-01-23 21:54] stevecrozz opened #1711 "suggestion: package only files that are needed at runtime in the gem"
I noticed that the nokogiri gem distribution published on rubygems.org contains files that are not strictly necessary for nokogiri at runtime. I suggest we follow the lead of the rails family of gems and only package those files that are needed at runtime:
Example: https://github.com/rails/rails/blob/v5.1.4/activesupport/activesupport.gemspec#L18

My interest is in cutting down the size of the doc

[2018-01-24 15:11] flavorjones commented on #1711
Thanks for opening this issue for discussion, @stevecrozz.

For context, I'll repeat what I said on the mailing list, which is that it's been occasionally useful to install the tests to determine if Nokogiri is _really_ working on a system, particularly if using an old version of libxml2/libxslt. (In fact, this is in part how I determine if an RC is working properly on, e.g. windows.)

That said,

[2018-01-24 16:33] larskanis commented on #1711
I usually remove [the test -> compile dependency](https://github.com/sparklemotion/nokogiri/blob/master/Rakefile#L306) in the git working directory to verify that the current installed gem works as expected. So IMHO we can remove the files in question.

Maybe it makes sense then to remove the test -> compile dependency above in the Rakefile permanently and call `rake compile test` in cases when we

[2018-01-26 13:18] flavorjones commented on #1709
Remaining work to be done on our CI pipeline at https://ci.nokogiri.org/

* [ ] [upgrade concourse to 3.8.0](https://concourse.ci/downloads.html#v380)
* [ ] test Ruby 2.5 support just added to [windows-ruby-dev-tools-release](https://github.com/flavorjones/windows-ruby-dev-tools-release/tree/flavorjones-add-ruby-25) and cut a release
* [ ] add a Ruby 2.5 test job to the pipeline
* [ ] cut a Nokogi

[2018-01-26 16:40] flavorjones commented on #1709
Windows Ruby 2.5 build is up and running:

[2018-01-28 13:53] flavorjones commented on #1709
Note that commit bf94cf5 was added to master to make windows tests less brittle.

[2018-01-28 14:25] flavorjones opened #1712 "XML::Builder behaves strangely with respect to namespaces"
Originally pointed out on [nokogiri-talk](https://groups.google.com/forum/#!msg/nokogiri-talk/-mfwyDBppnc/upxyW8mTAgAJ) by Corey Powell (who I think is @IceDragon200 on GitHub):

[2018-01-28 14:27] flavorjones commented on #1712
I've pushed a branch with some comments and a small test to `1712-flavorjones-namespace-reparenting-behavior`. If anyone works on this, please pick up that branch and read the comments in the last commit.

[2018-01-28 16:25] flavorjones commented on #1238
Updated: this is not related to reparenting, as this is enough to repro:

[code]

we can inspect `ent1` fine, but inspecting `ent2` induces this segfault.

[2018-01-28 17:22] flavorjones commented on #1238
OK. So for [predefined entities](https://en.wikipedia.org/wiki/List_of_XML_and_HTML_character_entity_references#Predefined_entities_in_XML), libxml2 returns a node with a malformed child (see [this code for the underlying implementation](https://github.com/GNOME/libxml2/blob/master/tree.c#L2627-L2637)).

To work around the segfault, I'll be committing a change that limits `#inspect` to just the en

[2018-01-28 17:54] #1238 closed

[2018-01-28 17:59] flavorjones commented on #1238
Will be in 1.8.2.

[2018-01-29 00:53] flavorjones opened #1714 "Investigate Ubuntu libxml2 patches in USN-3504-1, USN-3504-2, USN-3513-1, USN-3513-2"
This issue is to drive investigation and potential action around a set of upstream patches that Canonical judged valuable enough to port to their distributions.

-----

## Summary of findings

Upgrading Nokogiri to distribute libxml v2.9.6 or later is necessary to address one of the upstream libxml2 vulnerabilities, which is categorized "Priority: Medium" by Canonical.

[2018-01-29 00:54] flavorjones commented on #1714
## USNs

### USN-3504-1 and -2

The canonical Canonical links:

* https://usn.ubuntu.com/usn/usn-3504-1/
* https://usn.ubuntu.com/usn/usn-3504-2/

Both of these USNs address CVE-2017-16932:

* https://people.canonical.com/~ubuntu-security/cve/2017/CVE-2017-16932.html

### USN-3513-1 and -2

The canonical Canonical links:

* https://usn.ubuntu.com/usn/usn-3513-1/
* https://usn.ubuntu.com/usn/usn-35

[2018-01-29 00:59] flavorjones commented on #1714
## Conclusions

### CVE-2017-15412

CVE-2017-15412 was addressed in libxml v2.9.6, which Nokogiri's latest release (v1.8.1) has not yet vendored. __Upgrading Nokogiri to distribute libxml v2.9.6 or later is necessary to address this vulnerability.__

Note that libxml v2.9.7 has been on Nokogiri `master` since commit 1756096 timestamped 2017-11-13, so this change is ready to go in the next release.

[2018-01-29 05:02] flavorjones commented on #1063
I've addressed this in MRI by copying nodes directly to the new Document. However, I'm having trouble with the java implementation. WIP is on branch `1063-flavorjones-dup-document-fragment`.

Moved this into the 1.8.3 milestone, sorry for the delay.

[2018-01-29 05:07] flavorjones commented on #1714
Shipping 1.8.2 with libxml 2.9.7 will address this.

[2018-01-29 05:07] #1714 closed

[2018-01-29 06:02] flavorjones commented on #1708
I'm not sure I understand what's being suggested for next steps. I'd be happy to merge a PR ...

[2018-01-29 06:04] flavorjones commented on #1710
@jvshahid @yokolet @mbklein @kares Anybody have an opinion on what to do here?

[2018-01-29 06:44] kares commented on #1710
since you're catching the NPE with the `Exception` as well - it should not be strange but expected.

ideally - just follow the usual way - setup a reproducer within Nokogiri's tests where one can observe the NPE, from there one can reason whether catching all exceptions is legit (or maybe catching NPE explicitly with an explanation works better).

having a stack trace around here might have been u

[2018-01-29 12:15] chewi commented on #1710
I thought it was strange because the `catch` clause reraises it as a Ruby exception but I never see that.

I would have produced a test case but Blather is quite complex and I could not determine what these 15 test cases had in common that caused it do this. I can provide a stack trace though. This is against sparklemotion/nokogiri@d35ed46f618e9c41e464a392fbc43df2b6cfa529.

[code]

[2018-01-29 13:20] flavorjones commented on #1709
Nokogiri 1.8.2 has shipped with Ruby 2.5 support in the "fat binary" windows gems. Thanks everyone for your patience.

[2018-01-29 13:20] #1709 closed

[2018-01-29 15:41] jvshahid commented on #1708
Opened a pr https://github.com/sparklemotion/nokogiri/pull/1716 with the proposed changes

[2018-01-29 15:53] chewi commented on #1708
Hmm, I already opened #1715. I only removed the first call though so you'll need to decide which one to go with.

[2018-01-29 18:06] jvshahid commented on #1708
I think it is fine to get rid of both calls since neither one affect the tests

[2018-01-29 18:09] chewi commented on #1708
Okay, closed mine.

[2018-01-29 22:31] rob99 commented on #1523
I encountered this problem in 1.7.0.1 but was able to fix it by upgrading to 1.8.2.

[2018-01-30 18:23] jvshahid commented on #1710
Opened https://github.com/sparklemotion/nokogiri/pull/1717 to address the NPE in this issue as well as other differences between JRuby and MRI.

[2018-01-31 16:05] chewi commented on #1710
Thanks @jvshahid but unfortunately your changes only fix 3 of the 15 failures in Blather and the error message has now changed.

[code]

[2018-01-31 16:43] jvshahid commented on #1710
it doesn't look like you are using the right branch. in fact, the NPE in populateCharacters was what i was seeing yesterday. i am also having some trouble running blather's test suite. there are some EventMachine errors about an undefined `stopping?' method. i am also seeing a bunch of errors in client_spec which could be a result of the patch. i don't remember seeing them yesterday, but i could h

[2018-01-31 16:50] chewi commented on #1710
Pretty sure it's the right branch at commit sparklemotion/nokogiri@090563c4094761ebbb5fe396ffcb197211b41557 and with your other fix for #1708 cherry-picked on top (otherwise I'd get a lot more errors).

Blather master is broken in other ways and I have fixes locally, the main one being that EventMachine needs to be pinned back to `~> 1.0.9`. I was trying to get this issue resolved before pushing e

[2018-01-31 16:59] chewi commented on #1710
For now, I've just pushed up what I have to my [new-nokogiri branch](https://github.com/yakara-ltd/blather/tree/new-nokogiri). Hope that helps.

[2018-02-02 18:51] stevecrozz commented on #1711
There's not a whole lot of activity here, but I'm happy to advocate for this idea a bit to help push it forward. There is some value in having all the source files on a system in order to run tests. And there's also value in trimming the size of the gem. I'm not sure how to weigh these values relatively. Maybe we could mitigate the potential damage by providing an alternate method for getting the

[2018-02-02 18:52] stevecrozz commented on #1711
Btw, I am happy to prepare the PR if that helps sweeten the deal.

[2018-02-03 13:03] vstange commented on #711
same problem, any suggestion for this specific case?

[2018-02-03 14:59] ar7max commented on #711
But the correct example should be
`page.css("li[data-category='news']")`

Take a look at quotes

[2018-02-03 15:54] ar7max commented on #1701
Changing from
`  dest = Nokogiri::HTML::Document.new`
to
`  dest = Nokogiri::XML::Document.new`
works fine for me

[2018-02-03 22:52] flavorjones commented on #711
Workaround is to quote the string, but we can fix this in the CSS parser.

[2018-02-03 22:55] #711 closed

[2018-02-03 22:58] flavorjones commented on #1711
@stevecrozz if you wanted to provide a PR I would absolutely consider merging it. Thanks for helping nudge this along!

[2018-02-03 23:09] vstange commented on #711
Thanks

[2018-02-04 21:11] cardoe commented on #1690
Not sure what would be helpful here but I've never had macports installed on this machine and have only used homebrew. I hit this on my 10.13.3 box. I can't say I'm terribly familiar with Ruby but I was just trying to use github-pages locally. I've hit a very similar error.

[code]

I don't have libxml2 or libxslt installed from Homebrew. But I do have liblzma from Homebrew.

[code]

[2018-02-04 21:53] franklinyu commented on #1690
@cardoe The issue you met does not seem similar with OP, but instead more related to the “Error Message About Undeclared Identifier `LZMA_OK`” section. Note the `_lzma_` prefix mentioned in error message.

[2018-02-04 21:57] cardoe commented on #1690
Figured the fact that it failed to build the built in libxml2 due to dependency issues made it similar. OP had an issue with libxslt while I had an issue with liblzma. But I'll try that. Thanks.

[2018-02-05 03:40] flavorjones commented on #1690
@cardoe please check out the installation tutorial for help with the LZMA error you're seeing. http://www.nokogiri.org/tutorials/installing_nokogiri.html

[2018-02-05 04:18] flavorjones commented on #1694
Bumping. @wilsonsilva have you had a chance to try @franklinyu's suggestion?

[2018-02-05 04:25] flavorjones commented on #1560
I'm going to close this, it's been open waiting for the original poster to reply for a while. :cry:

[2018-02-05 04:25] #1560 closed

[2018-02-05 04:34] flavorjones commented on #1678
Can you help me understand why there is an assumption that `NodeSet.dup` would do a deep copy?

As a counterexample, Ruby `Array`s don't do a deep copy:

[code]

What I mean to say is, this is functioning as intended. I'd love to hear why you think it should do a deep copy, though.

[2018-02-05 04:50] flavorjones commented on #1356
I'm not inclined to accept a PR like this, simply because it's my belief that Nokogiri should do the bare minimum to make it easy to use the underlying parsing engine. It seems to me that if the parsing engine's output needs to be manipulated, that the user of Nokogiri should do the manipulation.

Could you instead apply a post-output `String#gsub` to replace the entity with `\r`?

[2018-02-05 05:01] flavorjones commented on #1672
Hi, I apologize for not responding more promptly.

I'm considering removing appveyor, as it's not useful to me. We're running a rather [complex pipeline](https://ci.nokogiri.org/) which runs windows tests on the versions of Windows that I care about; and the tests run quickly and reliably.

Appveyor runs slowly and so the feedback loops are quite slow. What are your thoughts on it? Is Appveyor use

[2018-02-05 10:11] wilsonsilva commented on #1694
No, @flavorjones. This issue has been deprioritized. I won't work on this for the next month or two. Feel free to close it.

[2018-02-05 13:52] #1694 closed

[2018-02-05 13:57] flavorjones commented on #1678
@ar7max I'm not sure I understand ... I'll ask a different way: why do you expect an `Enumerable` in this case (`NodeSet`) to behave differently from the canonical Ruby `Enumerable` (`Array`)?

[2018-02-05 14:11] ar7max commented on #1678
@flavorjones because word "node" comes first I think.

[2018-02-05 15:52] MSP-Greg commented on #1672
Accepted, although not needed.

I've been an advocate of both Windows testing and testing with trunk.  Lars added the RubyInstaller2 (RI2) trunk build to the Appveyor CI; it would certainly be helpful if somewhere trunk was tested on windows.  Whether you use the RI2 build or ruby-loco, it doesn't matter to me.

People have many different opinions about testing with trunk.  My normal response is '

[2018-02-05 17:13] kevinbmccall14 commented on #1527
Hey @jvenezia, was Heroku able to provide a solution? I too need to upgrade heroku libxml to 2.9.4 as well because of parsing differences from 2.9.1

Thanks @flavorjones

[2018-02-05 23:10] stevecrozz commented on #1711
@flavorjones I've not yet worked on a gem that uses hoe. Is it simply a matter of altering Manifest.txt? Or is there more to it?

[2018-02-06 02:39] flavorjones opened #1718 "test pipelines: test against Ruby trunk (dailies)"
Related to #1672, it would be great to test against dailies:

* ruby trunk (linux)
* ruby trunk (windows)

Windows can be supported by installing via [rubyinstaller-head](https://rubyinstaller.org/2017/12/24/rubyinstaller-head-available.html).

For Linux, there doesn't appear to be a [dockerhub image](https://hub.docker.com/_/ruby/) for trunk, but we could install via RVM.

Note that the current p

[2018-02-06 02:40] flavorjones commented on #1672
I agree we should be testing against ruby trunk, on both Linux and Windows. I've created #1718 to drive that work, which shouldn't be too difficult.

Thanks again for talking about this with me!

[2018-02-06 02:40] #1672 closed

[2018-02-06 02:41] flavorjones commented on #1711
@stevecrozz Ah, sometimes Hoe gets in the way as much as it helps. I think I need to go stare at the docs myself ...

[2018-02-07 18:16] jpgrace commented on #1582
Any update on the upstream bug? I got the message: "You are not authorized to access bug #772726." Was it deleted or do I just not have access?

[2018-02-10 18:40] darrenleeweber commented on #1677
To step back a bit, I wanted to merge one set of `<REC>` records into another set of `<REC>` records, without any duplicate `<REC>` elements.  The unique identifier for each `<REC>` is in the `<REC><UID>` element text and that should be used to identify duplicates.

I was trying to work with a Nokogiri document as an immutable instance.  I was using `.dup` or `.deep_copy` and some enumerable metho

[2018-02-14 19:39] franklinyu commented on #1690
@cardoe Any news? If not, I guess @flavorjones would close this issue to keep the issue tracker tidy.

[2018-02-15 02:26] cardoe commented on #1690
Yes. Your suggestion @franklinyu solved it. I was originally just trying to install Jekyll per the GitHub docs when I ran into this issue. I wasn't specifically trying to install this package so I simply searched for the error I encountered and it brought me directly to this issue. It looked similar enough to my error to warrant me commenting.

[2018-02-17 02:30] flavorjones commented on #1690
Closing.

[2018-02-17 02:30] #1690 closed

[2018-02-17 02:57] flavorjones commented on #1677
I'm sorry, I'm not totally following. I looked at the code, and the specs, and I understand what you're trying to do ... do these tests pass? If so, can you help me understand what Nokogiri is doing that's unexpected by writing a failing test?

[2018-02-18 17:02] larskanis commented on #1672
@flavorjones The main advantage of Appveyor (and travis-ci) is IMHO simplicity. There are only a few lines of code in the yml file, so that it's very easy to understand what's happening in the tests. I can also copy and paste some lines into my locale console to reproduce and fix things locally. Concourse is much more difficult in this respect. So for me Appveyor is valuable in the nokogiri projec

[2018-02-18 17:33] MSP-Greg commented on #1672
Mike & Lars,

Lars, you mention 'locally'.  Additionally, the fact that contributors can easily use Travis and Appveyor on their forks is also a benefit.

1. I'm not saying that Appveyor or Travis are perfect, but they are in common use.
2. I hope everyone (not directed towards the two of you) is mindful of not wasting free resources (Appveyor & Travis), but this is a 'mature repo' and the commits

[2018-02-18 18:17] flavorjones commented on #1672
@larskanis and @MSP-Greg

Thanks for the comments. Unfortunately, Travis builds have been failing for months and nobody's felt the need to fix them. This tells me very clearly that they're of no value. If you have another way of interpreting that information, I'd like to understand your point of view.

@larskanis if you'd like to maintain the `appveyor.yml` then I'm fine with that; however I can s

[2018-02-18 20:09] tenderlove commented on #1686
`Visual` isn't a namespace, but a regular XML node.  You'll have to write some custom code to access that file as it isn't an XML specific thing.  It should be easy with Nokogiri, just find the node, extract the `href`, and read the file. 😄

[2018-02-18 20:09] #1686 closed

[2018-02-18 20:13] tenderlove commented on #1703
IIRC the reason we can't just free nodes is that libxml2 interns strings, and will try to free interned strings when you free a node.  The interned string map is held on the XML document, and I don't think there is a way for us to tell if the Node shares strings with the interned string map.  So yes it's possible for us to add a method that would actually free the node, but I don't think you could

[2018-02-18 20:15] larskanis commented on #1672
In fact I tried to fix it [here](https://github.com/sparklemotion/nokogiri/compare/master...larskanis:travis-2.5) but the broken rubygems frozen string compat in rubygems-2.7.0..2.7.3 and [this rbx bug](https://github.com/bundler/bundler/issues/6163) stopped me, so that I postponed it, until these dependent issues are solved.

Yay, I already logged in with my github account, but didn't notice any

[2018-02-19 05:59] flavorjones commented on #1703
OK, I'm going to go ahead and close this issue.

[2018-02-19 05:59] #1703 closed

[2018-02-19 06:17] flavorjones commented on #1678
I'm going to go ahead and close this, as I personally feel that NodeSet#dup is doing the right thing; and changing it at this point would be a breaking change to the API that we're not ready to make at this time.

I'd welcome any PRs about the docs that may clarify this issue for future users.

[2018-02-19 06:17] #1678 closed

[2018-02-19 06:18] #1708 closed

[2018-02-19 06:22] flavorjones commented on #1672
OK, I'm open to whatever changes y'all want to PR or commit to `.travis.yml`. I've commented out the IRC updates so that this build will be less noisy.

[2018-02-19 10:00] chewi commented on #1710
@flavorjones, this isn't resolved yet. While #1717 seemed to help a little, I am still seeing test failures.

[2018-02-20 00:09] #553 closed

[2018-02-20 00:12] tenderlove commented on #724
I think this has been fixed?  If not, please bump and we'll reopen.

[2018-02-20 00:12] #724 closed

[2018-02-20 00:25] #898 closed

[2018-02-20 00:27] tenderlove commented on #1014
I'm not sure if it is.  Please investigate!  Thanks.

[2018-02-20 00:27] #1014 closed

[2018-02-20 00:39] tenderlove commented on #1321
I like this, but it needs tests and should use `OpenSSL::SSL::VERIFY_NONE`, and probably should use net/http instead of `open-uri`.  Can you send a PR with tests for this?  Thanks!

[2018-02-20 00:39] #1321 closed

[2018-02-20 18:57] tenderlove commented on #1582
Looks like there may be a fix here: https://github.com/GNOME/libxml2/commit/ad88b54f1a28a8565964a370b5d387927b633c0d

But it's only released in an RC, and I'm not sure if it's a full fix.  I also can't access the original bugzilla issue and get the same "You are not authorized" message.  Seems like maybe they made the issue private?

Regardless, Nokogiri isn't vulnerable by default so that's good.

[2018-02-20 21:35] BlackNightFury commented on #1703
@flavorjones , thanks for these explanation. I am also facing the problem which memory usage is increased highly when I use nokogiri::xml::builder.

Can you please describe in more details how I can reduce it in ruby?

Thanks

[2018-02-22 18:03] jvshahid commented on #1710
I haven't ran the Blather tests in a while. Out of curiosity how many failures are you getting now ?

[2018-02-22 19:10] chewi commented on #1710
The same 12 I mentioned previously so you have fixed 3 since I originally reported this. If you use my [new-nokogiri branch](https://github.com/yakara-ltd/blather/tree/new-nokogiri) then you should be able to run the suite without the problems you experienced before.

[2018-02-22 20:09] cdenneen opened #1724 "Bundle install fails libxml2"
ruby 2.1.9
rbenv

[code]
gem install outside bundle works:
[code]

bundle install
[code]

**What operating system are you using?**
MacOS 10.13.3

[2018-02-22 22:22] cdenneen commented on #1724
This has something to do with use system libraries.

I've tried to configure bundle with /usr/local/opt/libxml2/lib and include but it didn't make a difference:

[code]

I removed the bundle config build.nokogiri and without using system libraries it builds without error.
I know there was a reason that option was added I just forget why now and I'm sure it will cause issue again.

Anyone else usin

[2018-02-23 05:54] wwalker0307 opened #1725 "ASCII-8BIT Error in XPath Parsing"
Discovered this issue after Elastic updated to the latest libs in Logstash 6.2.1.  Below is the error output, [this thread](https://discuss.elastic.co/t/logstash-pipeline-from-6-1-not-working-6-2-1/120548/14?u=wwalker) has some error research that's more useful than I can provide (I'm no programmer/this is all WAY over my head).  I was asked to submit the issue here.
[code]

[2018-02-23 17:56] graywolf opened #1726 "Nokogiri doesn't install on windows"
Recent security update to `gem` executable has broken nokogiri fat gem on windows (tested on windows 7, 64bit, 2.5.0 rubyinstaller). Error is:

	ERROR:  While executing gem ... (Gem::Package::PathError)
		installing into parent path bin/nokogiri of C:/dev/Ruby25-x64/lib/ruby/gems/2.5.0/gems/nokogiri-1.8.2-x64-mingw
	32 is not allowed

I suspect this https://www.ruby-lang.org/en/news/2018/02/17/mul

[2018-02-23 21:19] BlackNightFury opened #1727 "Memory leak!! When I create xml of 5MB, it is consuming 80MB of memory. And WON'T be released."
I am running production on CentOS 7 which is using Nokogiri to build and parse XML.

But when I create XML of 5MB, it is consuming 80MB of memory and memory won't be released.
So after 1 or 2 days, servers are being crashed and down.

I need your help URGENTLY if you have any experience on it.

Thanks

[2018-02-24 21:53] tenderlove commented on #1727
Hi @BlackNightFury.  We need more information to help you. Can you give us a script that will reproduce the problem?  Thanks.

[2018-02-24 22:36] larskanis commented on #1726
I can not reproduce this so far. Both fat binary gem and source gem install fine for me.
When is the error raised? If it's while gem install, could you please re-run
[code]
and post the output?

[2018-02-24 23:37] graywolf commented on #1726
Just to make sure, did you first upgrade ruby gems usinggem update --system?

[2018-02-25 00:40] flavorjones opened #1729 "Fix Windows builds"
RubyInstaller 2.4 and 2.5 depend on MSYS2, and some of MSYS2's packages are broken at the moment. The part of the build that's failing is `libiconv` generating a Makefile, because `gawk` isn't working.

I'm tracking a couple of related upstream bugs:

* https://github.com/Alexpux/MSYS2-packages/issues/1127
* https://github.com/Alexpux/MSYS2-packages/issues/1172

Not sure what to do here. @larskani

[2018-02-25 08:54] larskanis commented on #1726
@graywolf Of course, I upgraded to rubygems-2.7.6 before. However I noticed a very similar issue [on appveyor](https://ci.appveyor.com/project/flavorjones/nokogiri/branch/master/job/6htl5u3rcq9y28md), which I can not reproduce locally too.

[2018-02-25 09:36] larskanis commented on #1729
All 3 MSYS2 tools (awk, mc, gdb) are running fine on my local system. I verified that my system is up-to-date (`pacman -Syu` twice) and that I'm using the MSYS2 version of the tools (and not as MINGW). Also Appveyor is [running fine](https://ci.appveyor.com/project/flavorjones/nokogiri?branch=master) as well as building libiconv on my local system.

Could it be, that the Windows CI environment has

[2018-02-25 11:09] graywolf commented on #1726
Tomorrow when I get back to my windows machine I'll provide the requested information :)

[2018-02-25 19:02] flavorjones commented on #1729
@larskanis The windows environment used is bootstrapped from a clean windows image, and is built by [this bosh packaging script](https://github.com/flavorjones/windows-ruby-dev-tools-release/blob/master/packages/ruby-2.5/packaging).

The failures we're seeing are totally reproducible with this script. If I'm doing it wrong, it would be great to have some help to understand how to do an unattended

[2018-02-25 19:33] flavorjones commented on #1727
@BlackNightFury Please answer the questions from the issue template that you deleted:

[code]

[2018-02-25 19:40] flavorjones commented on #1725
@wwalker0307 Hmm, it's hard to understand what's going on in that thread, as I'm not familiar with the tech stack being discussed.

What you're describing might be related to https://github.com/sparklemotion/nokogiri/issues/553, which was just fixed in master. If I build an RC, could you try to reproduce the issue with that version of nokogiri?

[2018-02-25 19:42] flavorjones commented on #1725
Or, more specifically, if you can help me reproduce this with a simple script we can totally fix it. I'm just not sure what the issue is, or what a failing test looks like.

[2018-02-25 19:45] flavorjones commented on #1724
@cdenneen have you checked the nokogiri installation tutorial? We think we have complete instructions on how to install and run nokogiri on OSX there:

http://www.nokogiri.org/tutorials/installing_nokogiri.html#install_with_system_libraries

It really depends on where your system libraries on your mac ... if you provide more information we may be able to provide more specific help.

[2018-02-25 19:48] graywolf commented on #1726
Sorry for wasting your time, I figured it out and it's not nokogiri issue. Will make bug report with ruby gems directly when I have some time.

[2018-02-25 19:48] #1726 closed

[2018-02-25 19:48] larskanis commented on #1726
I've done a little bit of [printf debugging on Appveyor](https://ci.appveyor.com/project/larskanis/nokogiri/build/1.0.58) and found the root cause. It happens if you use rubygems-2.7.6 and set a `GEM_HOME` with different upper/lower case characters than the directory has on the filesystem. Possibly there are even more settings which result in this error, like rubygems config files, etc.

I'll file

[2018-02-25 19:50] flavorjones commented on #1726
@graywolf @larskanis thanks to both of you for following up!

[2018-02-25 20:18] graywolf commented on #1726
@larskanis Just for when you are reporting it: For me it's issue with TOPDIR in general, not with GEM_HOME. `RbConfig::TOPDIR` points to `C:/dev/Ruby25-x64` while it should be `C:/Dev/Ruby25-x64`. So when making the bugreport, could you mention that you cannot really rely on `__FILE__` in `/lib/ruby/2.5.0/x64-mingw32/RbConfig.rb` having correct casing of folders.

[2018-02-25 21:42] BlackNightFury commented on #1727
Hi, @flavorjones and @flavorjones . Thanks for your time in advance.

1) What problems are you experiencing?
We have one production server and it is working with XML mostly. We generate XML from Hash array and also parse XML string into XML document using Nokogiri.

What I am facing with, is that nokogiri is eating 80MB of Ram to generate 5MB and memory won't be release. So our server needs to res

[2018-02-25 21:52] flavorjones commented on #1727
I'd like to point out that the code you pasted above contains several syntax errors. I'll fix them and continue, but I'd like you to make sure you pasted working code.

[2018-02-25 22:00] BlackNightFury commented on #1727
Actually, I copied the part of my server code because it contains confidential informations. Maybe I made error and sorry about that. If you can fix it and test, then it will be really great for me.

[2018-02-25 22:20] flavorjones commented on #1727
@BlackNightFury Here's the script I'm running (based on the one you pasted above):

[code]

and here's the output so far:

[code]

indicating that memory usage is pretty stable. Note that this document size is ~46MB, which is quite large. I'm going to let it run for a bit to see if I see a slow increase in memory usage.

[2018-02-25 22:25] BlackNightFury commented on #1727
Let's imagine that one endpoint in sinatra app returns that xml string, can you confirm that if the used memory is released after that endpoint?

Thanks

[2018-02-25 22:29] flavorjones commented on #1727
@BlackNightFury can you please provide the output from `nokogiri -v` as requested?

[2018-02-25 22:30] BlackNightFury commented on #1727
Here is the output of nokogiri -v

Nokogiri (1.8.1)
    ---
    warnings: []
    nokogiri: 1.8.1
    ruby:
      version: 2.2.6
      platform: x64-mingw32
      description: ruby 2.2.6p396 (2016-11-15 revision 56800) [x64-mingw32]
      engine: ruby
    libxml:
      binding: extension
      source: packaged
      libxml2_path: "/home/flavorjones/code/oss/nokogiri/ports/x86_64-w64-mingw32/libxml2

[2018-02-25 22:31] flavorjones commented on #1727
@BlackNightFury this is at odds with what you said above, which was that you're running Nokogiri 1.7.2. Can you please help me understand this difference?

[2018-02-25 22:32] BlackNightFury commented on #1727
Sorry, that was my mistake. I used 1.7.2 but tried changing version to see if it works.

[2018-02-25 22:33] flavorjones commented on #1727
The output from running my script is:

[code]

which indicates to me that Nokogiri 1.8.2 using vendored libxml 2.9.7 is not leaking memory.

I'd like to ask that you run this script and tell me if you get different results. If you do get different results, then we need to dig into the differences between your installation and mine. If you do not get different results, then I need to ask you to pro

[2018-02-25 22:44] BlackNightFury commented on #1727
I have one question here. When will that memory be release?

Just Imagine that that content is the part of one function and that function returns bundle.to_xml.
After calling of that function, memory used for bundle will be released?

[2018-02-25 22:46] flavorjones commented on #1727
If you have general questions about Ruby's garbage collection, you may want to ask on a general list like ruby-talk.

That said, I can summarize briefly that Ruby uses a mark-and-sweep GC mechanism, meaning that when GC kicks in, it looks for Ruby objects that are no longer referenced and cleans them. More generally, though, process size isn't directly related to memory usage because of memory fra

[2018-02-25 22:46] flavorjones commented on #1727
Note also that you may need to adjust the line of the script that finds the process's resident memory size, as it assumes Linux, and I can see you're on Windows.

[2018-02-25 22:49] BlackNightFury commented on #1727
I am already running script on linux box.

Then why is the usage of memory of my server only increasing after calling that endpoint?

I can understand the usage of memory can be increased while processing request. But after respond, I think usage of memory should be decreased. Right?

[2018-02-25 22:53] flavorjones commented on #1727
I'm super duper confused by your questions right now. Are you running on windows in product, or on linux? Are you running 1.7.2 in production, or 1.8.1?

You'll get much higher quality answers if you help us understand what you're doing more precisely.

I can't help you diagnose memory leaks in your web app or web framework. I can only help diagnose them if they're in Nokogiri and if we can reprod

[2018-02-25 22:54] BlackNightFury commented on #1727
Yes, I am using 1.81 on linux for production server.

And if I remove that nokogiri part, then usage of memory isn't being increased. That is why I am asking your help.

So please help me.

[2018-02-25 22:58] flavorjones commented on #1727
To be clear, Nokogiri is going to use a lot of memory to generate this document; and the strings themselves that make up the document will take up more memory. Not 100% of that memory will be completely reclaimed, due to memory fragmentation (as I mentioned above). This is why I let the script I adapted from your example run for nearly 1000 responses, and you can see that the process is taking ~80

[2018-02-25 23:02] BlackNightFury commented on #1727
I can understand that usage of memory can be increased when generate or parse xml using nokogiri.

So here is what I am understandings:
You are saying that memory usage will be increased but that increase will be stopped at one point.

Right?

[2018-02-26 04:32] wwalker0307 commented on #1725
I wish I could be more helpful...I mean I could give you a guide to setup a single node ElasticStack and the config pipeline I am using that would allow you to recreate the issue.  It's a 15-30min affair so it doesn't take long.  I'll write a quick one up if you're interested in investing your time in it.

[2018-02-26 15:16] jesteracer opened #1730 "HTML(string) produces different structures on very similar inputs"
I encountered a strange (in my opinion) behavior - when creating a new nokogiri html document.
It normalizes the html but it does it differently for strings, that start with a text node and strings that start with a tag.
[code]
So the output for this script is
[code]
if a string starts with text node - it will be wrapped inside `p` node

And of course the structure of doc and doc2 is different.
So

[2018-02-27 14:01] flavorjones commented on #1727
I accidentally left my repro script running all day yesterday:

[code]

so there's no memory leak here. I'm going to close this, and I encourage you to engage with people on ruby-talk (or other general forum) about how memory management works in the Ruby interpreter.

Thanks for using Nokogiri, and I'm sorry I wasn't of more help.

[2018-02-27 14:01] #1727 closed

[2018-02-27 21:31] cdenneen commented on #1724
@flavorjones I've been doing bundle installs for years on my Mac but just recently it seems to be breaking with the `ERROR: cannot discover where libxml2 is located on your system. please make sure 'pkg-config' is installed.`

So instead of just using normal:

`BUNDLE_BUILD__NOKOGIRI: "--use-system-libraries"`

I tried to modify to:
`BUNDLE_BUILD__NOKOGIRI: "--use-system-libraries --with-xml2-lib=

[2018-02-27 21:41] cdenneen commented on #1724
@flavorjones Sorry this was my mistake... I upgraded recently to High Sierra and hadn't done a reinstall of `xcode-select --install`. Once I completed that the `--use-system-libraries` now works again.

[2018-02-27 21:41] #1724 closed

[2018-03-01 07:41] JonRowe commented on #1240
That doesn't stop it appearing in the wild unfortunately (page is valid HTML otherwise)

[2018-03-02 11:03] eugenebolshakov commented on #1469
The following workaround works if you need to keep the parent's namespace (set it to nil temporarily and then restore after you created all child elements that don't need a namespace):

[code]

Produces:

[code]

[2018-03-04 22:23] Nakilon commented on #1693
Instead of deinstalling you can do
[code]
and then
[code]

[2018-03-05 10:17] chewi commented on #1710
I thought I should check whether #1721 helps now that it's been merged as it changes the code mentioned above. The failures remain and it also breaks my suggested fixes. It now gets `parserTask.getNokogiriHandler()` rather than `parserTask.parser.getNokogiriHandler()` and checking for null here is no longer effective. `parserTask.parser` is also protected so I can't use that now.

[2018-03-05 13:00] stadelmanma commented on #961
Was this ever determined to be a bug or expected behavior? Since needing to add `.gsub(/&(?!amp;)/, '&amp;')` in odd places doesn't seem like a good fix to  me.

[2018-03-05 15:18] flavorjones commented on #1710
@kares do you have some time to dig in on this issue?

[2018-03-06 07:19] bloomdido opened #1732 "Doesn't build in Docker Ruby 2.4.3 image"
**What is the output of `gem install`?**
[code]

**What are the contents of the `mkmf.log` file?**
[code]

**What operating system are you using?**
[code]

[2018-03-06 07:29] bloomdido commented on #1732
Same Dockerfile builds fine if based on `ruby:2.4.0`, `ruby:2.4.1`, or `ruby:2.4.2`.

[2018-03-06 20:12] tenderlove commented on #621
#623 was merged, so I think we can close this.

[2018-03-06 20:12] #621 closed

[2018-03-08 18:35] flavorjones commented on #1732
As discussed via email, this appears to be an issue in how the docker image is built, as nothing Nokogiri is doing in build scripts would cause or prevent a segfault in the compiler.

Can I ask that you reach out to the docker image maintainer?

[2018-03-08 19:45] bloomdido commented on #1732
Must have been a corrupt Docker image.

[2018-03-08 19:45] #1732 closed

[2018-03-08 21:26] wwalker0307 commented on #1725
Root cause identified => https://github.com/elastic/logstash/issues/9167

[2018-03-09 20:37] flavorjones commented on #1191
I've submitted Nokogiri to Hackerone as a project for review.

[2018-03-09 20:53] reedloden commented on #1191
@flavorjones approved! Just shot you an e-mail with some details. Let me know if you have any questions.

[2018-03-11 15:01] flavorjones commented on #1191
@reedloden Thank you!

[2018-03-11 15:55] flavorjones commented on #1191
@tenderlove @jvshahid @knu @larskanis I've invited you all to the Hackerone project as team members. Currently it's in "controlled launch" until we handle a few vulnerability reports.

I've also invited everyone I could find in my email and the project's github issues that reported a vulnerability, as "hackers" who can submit vulnerability reports.

Next up:

* create a SECURITY.md file that expla

[2018-03-11 15:55] flavorjones commented on #1191
Oh, and if anyone else wants to be invited to be a "hacker" on the project to submit vulnerability reports, let me know, happy to send an invite.

[2018-03-11 20:36] reedloden commented on #1191
@flavorjones I'm happy to move you directly to public if you wish, but the invite-only stage is great for testing out a few (valid) reports. However, I understand that may be hard to do based on the nature of Nokogiri (and it being an open source library), so if you want to go public sooner, just let me know.

[2018-03-14 12:14] pravi opened #1734 "[question] [documentation] Do you follow SemVer? If yes, can you mention it in README."
Unfortunately many projects does not consider a library follows SemVer unless explicitly mentioned. For example gitlab Gemfile wants ~> 1.7.0. Now debian has ruby-nokogiri 1.8.2 and to make gitlab installable I have to maintain a patch to gitlab Gemfile (this adds extra work for every release). If nokogori explicitly states SemVer compliance, then I can ask gitlab to relax this to ~> 1.8 and reduc

[2018-03-14 16:14] #1734 closed

[2018-03-15 16:14] flavorjones commented on #1191
Hi @reedloden, I just emailed you about this. I think it would be really useful to go public sooner, if that's possible.

[2018-03-15 16:32] reedloden commented on #1191
@flavorjones Totally understand and agree! Replied to your e-mail, but tl;dr is that https://hackerone.com/nokogiri is now public. 💃 🎉

[2018-03-15 20:35] flavorjones commented on #1191
Here's my checklist of what remains to be done:

1. [ ] copy "policy" from hackerone and put it into a SECURITY.md file
2. [ ] link to SECURITY.md from README
3. [ ] add a security page to nokogiri.org
4. [ ] announce on a github issue
5. [ ] announce via twitter
6. [ ] announce via email

[2018-03-15 21:18] flavorjones commented on #1191
Security page available at http://www.nokogiri.org/tutorials/security.html

[2018-03-15 21:28] flavorjones commented on #1191
Done. Thanks, all!

[2018-03-15 21:29] #1191 closed

[2018-03-16 06:22] Thebaconduke opened #1736 "NOKIGIRI IS HARD PLEZ HELP"
am trying to make a script to search by user by entering in there first name it should display the detail of that user this interacts with the file email.xml please help me !!!
i can get it to read the xml doc and display all users i just need someone to give some exmaple code or show me how the hell i am supposed to do this thanks :)

[2018-03-16 14:52] flavorjones commented on #1736
Hello!

Thanks for asking this question! Your request for assistance using
Nokogiri will not go unanswered!

However, Nokogiri's Github Issues is reserved for reporting bugs or
submitting patches. If you ask your question on the mailing list, Team
Nokogiri promises someone will provide you with an answer in a timely
manner.

If you'd like to read up on Team Nokogiri's rationale for this policy,
pl

[2018-03-16 14:52] #1736 closed

[2018-03-20 20:00] flavorjones commented on #1730
Hi, thanks for asking these questions.

You're exploring a topic, "fixing up markup", that Nokogiri has very little control over, unfortunately. Nokogiri wraps either libxml2 (for MRI/CRuby) or xerces (for JRuby) and relies entirely on those underlying libraries to parse and "fix up" the markup.

And you're correct that you're passing an "html fragment", and so using `.fragment` is more appropriat

[2018-03-20 20:00] #1730 closed

[2018-03-20 21:55] flavorjones commented on #1501
Oooh, I continue to be later than you with my replies. :-\

When I stop catching this exception, the error becomes more clear:

[code]

Let me spend a few minutes trying to build a repro in Java.

[2018-03-20 22:34] flavorjones commented on #1501
Welp, when I use the nekohtml HTML sample program to parse this, there's no error, which tells me it has something to do with how we've configured the parser. Here's that code:

[code]

[2018-03-20 23:04] flavorjones commented on #1501
OK, I tried configuring the `org.apache.xerces.parsers.DOMParser` that Nokogiri uses to parse HTML, and I can't reproduce this.

Does anybody have time and bandwidth to look into trying to repro this in Java and filing a bug upstream?

[2018-03-21 00:33] flavorjones commented on #1653
Apologies for the embarrassingly long response time on this.

TL;DR, what you're seeing is actually __parsing__ differences, and not __query selector__ differences. It may be useful to point out that Nokogiri uses different parsers on JRuby and MRI.

I added `puts doc` to your script, to emit the parsed document structure: On JRuby, NekoHTML parses this as:

[code]

while on MRI, libxml2 parses th

[2018-03-21 00:33] #1653 closed

[2018-03-21 00:37] flavorjones commented on #1666
Apologies for the embarrassingly long response time.

I've confirmed this behavior, investigating.

[2018-03-21 01:37] Muhaiminkp opened #1738 "error while install nokogiri"
## If you're having trouble installing Nokogiri ...

**Have you tried following [the installation tutorial][tutorial]?**

**What is the output of `gem install`?**

**What are the contents of the `mkmf.log` file?**

**What operating system are you using?**

## If this isn't an installation issue ...

**What problems are you experiencing?**

**What's the output from `nokogiri -v`?**

**Can you provi

[2018-03-21 01:37] #1738 closed

[2018-03-21 01:38] flavorjones commented on #1666
OK, the offending code is at https://github.com/sparklemotion/nokogiri/blob/v1.8.2/ext/java/nokogiri/XmlNode.java#L1707-L1710 which I'll reproduce here:

[code]

The first function call, `replaceChild()`, succeeds (which explains why the document structure is as-expected). It's the second call, `renameNode()`, which is failing. This makes sense, because `renameNode()` attempts to make sure the nod

[2018-03-21 01:38] Muhaiminkp opened #1739 "error while install nokogiri if it is bug?"
nokogiri
$ gem install nokogiri -v '1.8.1'
Building native extensions.  This could take a while...
ERROR:  Error installing nokogiri:
        ERROR: Failed to build gem native extension.

    current directory: /data/data/com.termux/files/usr/lib/ruby/gems/2.4.0/gems/nokogiri-1.8.1/ext/nokogiri
/data/data/com.termux/files/usr/bin/ruby -r ./siteconf20180321-17251-19cbx2h.rb extconf.rb
checking if t

[2018-03-21 04:07] flavorjones commented on #1666
Closed by 80205c4

[2018-03-21 04:07] #1666 closed

[2018-03-21 05:26] flavorjones commented on #1668
Hi! Thanks for asking this question. I'm tagging @tenderlove to keep me honest in my reponse.

Nokogiri relies on libxml2 for parsing and serialization (among other things). And unfortunately, libxml2 doesn't support indentation in its formatting of HTML documents.

If you're thinking to yourself, "that's crazy," well, I tend to agree. You can see it yourself in the libxml2 source if you take a lo

[2018-03-21 05:26] #1668 closed

[2018-03-21 05:39] flavorjones commented on #1461
Apologies for the long reply time; this was fixed in v1.6.8, likely as part of @jvshahid's overhaul of namespace handling.

[2018-03-21 05:39] #1461 closed

[2018-03-21 05:45] flavorjones commented on #482
Closing this, as I don't believe there's anything actionable within Nokogiri. If anyone has a compelling reason to reopen, please comment and be prepared to help me reproduce this (which I was never able to do).

[2018-03-21 05:45] #482 closed

[2018-03-21 06:57] larskanis commented on #1739
Due to the uncommon shell path in termux, nokogiri doesn't install with bundled libxml2/libxslt libraries. However it should build with system libraries like so:

[code]

[2018-03-21 07:52] mrzasa commented on #1666
Thanks, @flavorjones :)

[2018-03-21 14:51] flavorjones commented on #1739
@larskanis can you explain a bit more about the root cause? I'm not sure I understand.

[2018-03-22 17:33] flavorjones opened #1741 "Drop support for JRuby 1.7"
See https://github.com/jruby/jruby/issues/4112 for background on JRuby 1.7 reaching EOL last year.

Also see our [CI builds going red](https://ci.nokogiri.org/builds/3799) because Rake has ended support for "ruby 1.9" which is what JRuby self-identifies as.

[2018-03-22 22:15] jvshahid commented on #1501
I spent a few hours trying to debug this. I think it is [this block of code](https://github.com/sparklemotion/nokogiri/blob/master/ext/java/nokogiri/NokogiriService.java#L61-L73) that is causing the stack overflow. It is replacing the elements used by the HTMLTagBalancer which causes it's internal stack of visited elements to be wrong, eventually leading to the infinite loop. I'm still trying to u

[2018-03-23 03:16] Shamaoke commented on #1668
Thank you for taking the time to figure all this out.

[2018-03-23 13:02] Muhaiminkp opened #1742 "error while install nokogiri if it is bug?"
bash-4.4# gem install nokogiri
Building native extensions.  This could take a while...
ERROR:  Error installing nokogiri:
        ERROR: Failed to build gem native extension.

    current directory: /data/data/com.termux/files/usr/lib/ruby/gems/2.4.0/gems/nokogiri-1.8.2/ext/nokogiri
/data/data/com.termux/files/usr/bin/ruby -r ./siteconf20180323-22593-15mk6gb.rb extconf.rb
checking if the C compile

[2018-03-23 13:21] larskanis commented on #1742
Didn't you ask the same question at #1739 ?

[2018-03-23 23:16] flavorjones commented on #1742
Closing as duplicate.

[2018-03-23 23:16] #1742 closed

[2018-03-25 08:20] Thebaconduke commented on #1736
uuhhhh there was a bug with nokogiri its a scuffed gem ???? and annoying
and not very user friendly for something that claims to be user friendly

On Sat, Mar 17, 2018 at 1:52 AM, Mike Dalessio <notifications@github.com>
wrote:

[2018-03-25 09:36] larskanis commented on #1739
@flavorjones Termux is a Linux environment on non-rooted Android. Due to the system permissions it [can not provide](https://wiki.termux.com/wiki/Differences_from_Linux) usual `/bin` or `/usr/bin` files. Therefore almost all shebang lines don't work. In mini_portile we use the shebang line [on all OS except Windows](https://github.com/flavorjones/mini_portile/blob/52851140367c97e39ce22dac55bbbfc89

[2018-03-25 14:40] jvshahid commented on #1501
pushed a fix in https://github.com/sparklemotion/nokogiri/pull/1743. The parsed document is different on JRuby and MRI. Not sure if that's something we want to try to fix or just treat it as a Xerces/libxml expected difference. I would also like some ideas on how to test it.

[2018-03-26 23:47] marshalium commented on #1501
Thank you for working on this @jvshahid!

[2018-03-29 12:26] chewi commented on #1710
I think I got it! It's hard to explain how I got here (fun with EventMachine) but this fixes everything:

[code]

Should it ever be in this state to begin with? I don't know but hopefully you can reason it through.

[2018-03-29 20:29] jvshahid commented on #1710
I was able to reproduce this with empty documents, i.e. `parser.write "", true`. I'm wrapping up a pr atm

[2018-03-29 20:46] jvshahid commented on #1710
opened #1748

[2018-03-29 21:31] chewi commented on #1710
Pretty sure everything has been passing for ages on MRI but I'll double check against master tomorrow. Many thanks again for your help.

[2018-03-30 06:59] ar7max commented on #1554
Removing `</foot>` works as expected same as fixing it by replacing with `</note>`.

[2018-03-30 11:15] chewi commented on #1710
Tested MRI and don't see that error. I can see in `Nokogiri::XML::SAX::PushParser#finish` where it calls `write '', true`, which leads to `end_document` but the call to `start_document` is buried within org.xml.sax and libxml2. Perhaps org.xml.sax is lazier than libxml2 in how it calls `start_document`.

[2018-03-30 19:21] jvshahid commented on #1710
@chewi i think you would if you removed [this line](https://github.com/yakara-ltd/blather/blob/23f5c89145dad1725258ec82e51a6ffc74f8020f/lib/blather/stream/parser.rb#L91). Anyway, I'm convinced that the PR fixes the root cause of he NPE. I will change the PR so that both implementation have the same behavior when `parser.finish` is called without any data

[2018-03-30 19:38] chewi commented on #1710
You are indeed correct. Not being the original author, I unfortunately didn't spot that.

[2018-04-03 16:09] peoplesmeat opened #1749 "JRuby XPATH Memory Usage"
When using Nokogiri on jruby with a nested XPATH loop, the document memory footpring explodes in size.

For example, with a document like
`<items>
  <item>
    <value1>
    <value2>
  <item>`
  ... for many thousands of items

And attempting to use (for example) an xpath like: doc.xpath('items').each { |node| node.xpath('value1') }

You'll wind up with a document that could be hundreds of megabyte

[2018-04-03 22:13] flavorjones commented on #1749
Hi,

Thanks for reporting this. The issue template that you deleted when filing this had a few key questions that will help us reproduce and diagnose this issue:

**What's the output from `nokogiri -v`?**

**Can you provide a self-contained script that reproduces what you're seeing?**

Based on what you've written, I'm assuming we'll be able to reproduce it, but helping us out means we're likely t

[2018-04-03 22:17] flavorjones commented on #1749
A couple of things that a working example would clarify: the document structure (are the tags intended to be unclosed, or self-closing, or ...), the query (is the xpath really `value1` or did you mean `//value1`, or ...)

[2018-04-03 22:27] flavorjones commented on #1749
Here's my attempt to reproduce:

[code]

on MRI with this config:

[code]

memory usage stabilizes at:

[code]

on JRuby with this config:

[code]

the memory usage is much larger, stabilizing around:

[code]

does this match what you're seeing?

[2018-04-03 22:28] flavorjones commented on #1749
(I'll note that just the JRuby interpreter is rather large, around

[code]
)

[2018-04-03 23:05] peoplesmeat commented on #1749
Thanks for taking a look at this, sorry for not including some vital pieces of information. I wasn't sure this wouldn't be chalked up to general terribleness of xpath on java (ala #741 ).  I'll have to collect the details tomorrow, but in my case I was using jruby-9.1.14.0 and nokogiri 1.8.2 on java8. I was also looking at memory dumps to get the exact size details because even with 2GB heap space

[2018-04-04 17:36] felixbuenemann commented on #256
FYI some performance numbers:

Parsing through a 4 GB XML and expanding 40.000 Nodes takes around 450 Seconds and 280 MB of RAM using nokogiri and creating a new doc from the outer xml and around 95 Seconds and 205 MB RAM using ruby-libxml with `reader.expand`.

So indeed `xmlTextReaderExpand` is much more efficient.

Maybe a way to discourage the usage of the expanded node outside the current ite

[2018-04-04 20:11] larskanis commented on #1729
@flavorjones I tried the build task in some more environments, but I still can't reproduce your error. I used a Windows-10 (10.0.16299.309) and a Windows-Server-2016. The Windows-10 box has Defender activated and is mostly on default settings. On both boxes `gawk` and `mc` work as expected and nokogiri's `rake compile` or `rake test` run.

Which Windows-OS do you use? Which anti virus? Any additio

[2018-04-04 21:30] flavorjones commented on #1729
@larskanis The setup is a bit opaque, so I apologize for not documenting it better.

The windows image I'm using is a bosh stemcell for Windows 2012R2 on GCP, version 1200.16:

Not sure if there's anything odd in there, I'm tagging @mhoran who helps maintain that image in case he has some insight. MSYS2 used to build fine, it's only the past few months that there have been issues.

The script I'm

[2018-04-04 21:33] flavorjones commented on #1729
You can actually see the history of the installation process I've been using here a little bit better:

Notably between September and January everything was fine. I'm pretty sure been on the 1200.latest stemcell series the whole time.

[2018-04-05 11:33] larskanis commented on #1729
Windows still has some weird limitations like a [MAX_PATH of 260 characters](https://msdn.microsoft.com/en-us/library/windows/desktop/aa365247(v=vs.85).aspx). I had to [shorten the path](https://github.com/oneclick/rubyinstaller2/commit/72b0f7f3f5389898dc38ab9519dd0aa250f3da87) for RubyInstaller build, lately. So, I tested with the nokogiri repository in the same long path as on the Concourse CI n

[2018-04-05 13:54] mhoran commented on #1729
Interesting. The `MAX_PATH` issue could certainly be contributing to the issue. I wonder if the paths are of variable length, hence the flakiness?

@flavorjones do you know if the issues coincided with a stemcell bump of any sort? Windows Defender should be disabled, so I don't expect that'd be interfering in any way.

[2018-04-15 13:35] kirs commented on #1653
This makes sense, thanks for the background!

[2018-04-22 00:20] rcrews opened #1750 "XSLT with output method="text" should not include <?xml decl"
Using XSLT to write JSON, I get incorrect output due to the erroneous inclusion of an XML declaration: `<?xml version="1.0"?>`. Running the same XSLT with the same XML using `xsltproc`, the output is as expected, without an XML declaration. This short program demonstrates the problem:

[code]

Due to `<xsl:output method="text"/>` the output should be simply

[code]

but is actually

[code]

Here's

[2018-04-22 01:02] rcrews opened #1751 "JRuby XSLT failure"
Using XSLT to write JSON, my program either hangs or gives an inscrutable
error message. The same XML/XSLT processes fine with xsltproc and with MRI.

I created this short program to demonstrate the problem:

[code]

The result is

[code]

When I run a similar transformation using a larger XML and XSLT, the program hangs indefinitely.
For that, the XML and XSLT are attached and the the program is

[2018-04-23 17:11] lizdenhup commented on #1527
I've had this same issue and upgrading my stack to Heroku-16 fixed the problem. (Heroku-16 comes bundled with libxml 2.9.3, and the behavior does not exist in that version to my knowledge).

[2018-04-24 08:39] ar7max commented on #1751
What version of Nokogiri are you using?
First example works fine with Nokogiri 1.8.2 but it shows "<?xml version="1.0"?>" header in result.

Second example is wrong and you need to use File not a filename:

`doc = Nokogiri::HTML(
	File.open('toc2json.html')
	)
xslt = Nokogiri::XSLT(
	File.open('toc2json.xsl')
	)`

Everything is fine except "<?xml version="1.0" encoding="UTF-8"?>" header in output.

[2018-04-26 09:23] gucki opened #1752 "Allow to set NONET for schema validation"
There's NONET for Nokogiri::XML to prevent nokogiri from using the network. However it seems there's no NONET (or configuration ability at all) for Nokogiri::XML::Schema. I tried to work around it like this:

    doc = Nokogiri::XML(File.read(xsd_path)) do |config|
      config.options = Nokogiri::XML::ParseOptions::NONET
    end
    schema = Nokogiri::XML::Schema.from_document(doc)

However nokog

[2018-04-27 15:31] flavorjones commented on #1752
Hi,

Thanks for reporting this. Can you please let us know the output from nokogiri -v?

I'll try to reproduce over the weekend, in the meantime if you have a test case handy, that would speed things up a bit.

[2018-04-27 15:31] flavorjones commented on #1751
Can you please tell us the output from `nokogiri -v`?

[2018-04-27 15:32] flavorjones commented on #1750
Thanks for reporting. If you can, please tell us the output from `nokogiri -v` (which is asked in the issue template that you must have erased).

[2018-04-29 04:28] rcrews commented on #1751
Thanks to @ar7max for pointing out my last example had a syntax error. Here is the version that actually shows the error:

[code]

Here is the output from JRuby 9.1.17.0 with Nokogiri 1.8.2 as -v'd above:

[code]
Running the same script with MRI (Ruby 2.5.1, nokogiri 1.8.2) returns JSON, but wrong JSON with an XML declaration as described in Issue #1750.

The files are attached in [i1751.zip](http

[2018-04-30 00:57] rcrews commented on #1751
I know Java Nokogiri uses NekoHTML and Xerces. I'm currently working around this reported Nokogiri issue by interacting directly with those same Java libraries. I like and prefer the Nokogiri API, but for now, this is my work-around. For anyone interested, a stripped-down version of the work-around is attached at [i1751_workaround.zip](https://github.com/sparklemotion/nokogiri/files/1959386/i1751_

[2018-04-30 01:16] rcrews commented on #1750
Couple notes that might help:

* Changing to `method="html"` did not help me.

* Possibly the problem stems from the C "transform" function returning a value wrapped as an XML document without knowing if the output method is XML or text:
https://github.com/sparklemotion/nokogiri/blob/master/ext/nokogiri/xslt_stylesheet.c#L183

* Again, @ar7max was very helpful in pointing to this thread about LibX

[2018-04-30 10:15] opoudjis commented on #1678
Same behaviour appears to obtain for Node.dup.

It's *very* misleading for many people. Especially if it applies to a single object.

[2018-04-30 12:13] manohar-nyros opened #1753 "LoadError: incompatible library version - /home/ubuntu/.rvm/gems/ruby-2.3.1@lm5/gems/nokogiri-1.8.2/lib/nokogiri/nokogiri.so"
Trying to run rake assets precompile with production mode as follows.

`rake assets:precompile`

It is working fine for ubuntu 14.04 (32 bit) and 16.06(32 bit.) But getting Load Error on `16.04(64` bit) in aws ec2.

Please help me regarding this.

Thanks in advance.

`rake aborted!
LoadError: incompatible library version - /home/ubuntu/.rvm/gems/ruby-2.3.1@lm5/gems/nokogiri-1.8.2/lib/nokogiri/noko

[2018-04-30 17:21] sara0871 opened #1754 "Suyn"
## If you're having trouble installing Nokogiri ...

**Have you tried following [the installation tutorial][tutorial]?**

**What is the output of `gem install`?**

**What are the contents of the `mkmf.log` file?**

**What operating system are you using?**

## If this isn't an installation issue ...

**What problems are you experiencing?**

**What's the output from `nokogiri -v`?**

**Can you provi

[2018-04-30 17:43] ar7max commented on #1754
Looks like the root of the problem [here](https://github.com/sara0871/hello-world/blob/master/github-recovery-codes.txt)

[2018-04-30 20:29] flavorjones commented on #1754
closing.

[2018-04-30 20:29] #1754 closed

[2018-05-01 17:25] flavorjones commented on #1753
Hello,

Thanks for asking this question. This is not a Nokogiri-specific issue, but I'll try to help.

The error message `LoadError: incompatible library version` is generally emitted by Ruby when the library was compiled against another version or Ruby or on another architecture. I'd recommend that you uninstall Nokogiri and then try reinstalling it.

I'll leave this issue open for a day or so in

[2018-05-01 17:31] flavorjones commented on #1750
Thanks for the additional information. It's highly likely that the behavior you're seeing is inherited from libxml2, and so there's not much we can do about it in Nokogiri.

Notably, running this in JRuby, which uses Xerces instead of libxml2, what you're doing is raising an exception:

[code]

which tells me that the document being assembled by Xerces is similarly an xml document ... I'm not an X

[2018-05-01 17:33] flavorjones commented on #1751
I commented on this in #1750, and I can't imagine the two issues aren't related.

[2018-05-09 10:51] ronaldsalas commented on #1582
I see from the [Releases](https://github.com/GNOME/libxml2/releases) of libxml2 that 2.9.8 have been released already. Not sure if I'm understanding it correctly but does this mean that the upstream bug has already been fixed?

[2018-05-10 07:54] andhapp commented on #957
Can we make this fact - only supports `XPath 1.0` - obvious in documentation somewhere please?

[2018-05-10 09:37] aruprakshit commented on #957
@andhapp It is mentioned [here](https://github.com/sparklemotion/nokogiri#features)

[2018-05-11 07:01] sahuabhilash commented on #1582
is the CVE-2016-9318 fixed in libxml 2.9.7

[2018-05-12 13:07] jvshahid commented on #957
closing since this fact is documented in the [features section](https://www.rubydoc.info/github/sparklemotion/nokogiri#Features) on the docs page as well as in the repo's [README](https://github.com/sparklemotion/nokogiri#features)

[2018-05-12 13:07] #957 closed

[2018-05-13 12:46] jvshahid commented on #1582
I don't believe libxml2 `2.9.8` offers a fix out of the box. The fix mentioned by @tenderlove earlier in [this comment](https://github.com/sparklemotion/nokogiri/issues/1582#issuecomment-367081453) only fixes libxml2 when is used in conjunction with [xmlsec](https://www.aleksey.com/xmlsec/download.html). After checking xmlsec source code it looks like the only thing that it does it to setup an ext

[2018-05-13 14:00] jvshahid commented on #1582
@flavorjones following up on your earlier comment. I looked into this more and it looks like opting into `NOENT` alone could cause some local file injection, e.g.:

[code]

[2018-05-13 18:55] flavorjones commented on #1582
@jvshahid ok, but nokogiri is still secure "by default" against this flavor of XXE as well. question for you (any anyone else lurking) is what's actionable? do you feel that we need to update docs to include this fact as well?

historical note, here's the docs update I made which was referenced earlier in this issue's lengthy history: https://github.com/sparklemotion/nokogiri/commit/3b9d2ff29295a4

[2018-05-13 20:11] flavorjones commented on #1729
Sorry for not responding. This is not an issue with rubyinstaller, the underlying issue is that `gawk` will not run and always exits with `127` and raises an exception of `c0000139` (you can read more at Alexpux/MSYS2-packages#1127 and Alexpux/MSYS2-packages#1172).

[2018-05-13 21:06] jvshahid commented on #1582
I just wanted to point out that enabling entity expansion/loading (even with `NONET` turned on) can lead to XXE. We can address that by doing one of the following:

1. discourage the use of entity expansion in the docs, i.e. disabling `NOENT` is a security risk while handling untrusted XML documents
1. disable all external access not just network access if `NONET` is turned on. This can be achieve

[2018-05-14 00:25] jvshahid opened #1758 "XmlSaxPushParser on JRuby and MRI disagree on how it handles empty input"
**What problems are you experiencing?**

the output from the following script is different on JRuby and MRI.

[code]

on MRI
[code]

on JRuby
[code]

**What's the output from `nokogiri -v`?**

Below is the output for JRuby and MRI

[code]
[code]

**Can you provide a self-contained script that reproduces what you're seeing?**

provided above

[2018-05-14 00:25] #1710 closed

[2018-05-14 21:56] Taywee opened #1759 "DOM2DTMExt nextNode fails when running in J9"
Running this simple script in IBM J9 on AIX:

[code]

gives the following error:

[code]

It seems like J9 is having issues actually seeing these classes as being in the same package.  Instead of this sort of package hack, I think it might make more sense to actually inherit DOM2DTM from DOM2DTMExt and only override and replace methods as necessary than to replicate the class and patch methods.  I

[2018-05-15 16:45] flavorjones opened #1762 "Set up Gitter channel for nokogiri"
IRC is dead, long live IRC (in the form of Gitter).

* [x] set up Gitter channel
* integrate with Github repositories:
  * [x] nokogiri
  * [x] nokogiri.org-tutorials
* [ ] integrate with Concourse CI
* update docs with links to Gitter:
  * [x] nokogiri README (see #1761)
  * [x] nokogiri.org-tutorials README
  * [x] http://nokogiri.org/ "getting help" tutorial
  * [x] http://nokogiri.org/ navbar

[2018-05-21 18:46] zeknox opened #1763 "Nokogiri::XML::Reader | RuntimeError: Could not parse document"
**What problems are you experiencing?**
Having an issue parsing very large XML data. The XML data is fetched from a RESTful API and then stored into a local variable called "vuln_data" in this case.

Have attempted many different variations to parse this large XML with no real success. First tried a SAX parser which ended up causing Ruby to segfault.

Then after additional research, attempted to l

[2018-05-21 20:21] flavorjones opened #1764 "investigate using XML_PARSE_BIG_LINES to tell libxml2 to track line numbers bigger than a short int"
## Context

libxml2 has a limitation that it tracks the line numbers in the input with a short int, meaning that long files have odd behavior, either lines having a number of `0` or of `65535`, see related issues #1493, #1617, #1505, etc.

## New Information

In `parser.h` since libxml 2.9.5, there's a parse option `XML_PARSE_BIG_LINES` which stores big line numbers in a separate field in the node

[2018-05-21 20:32] flavorjones commented on #1763
Hi,

Thanks for opening this issue and asking this question. The error you're seeing is generated from this code in `ext/nokogiri/xml_reader.c` in the `from_memory` function:

[code]

The documentation for `xmlReaderForMemory` is [here](http://xmlsoft.org/html/libxml-xmlreader.html#xmlReaderForMemory), but the TL;DR is that in case of error, it returns NULL.

Let's look at that function to see why

[2018-05-21 21:09] zeknox commented on #1763
Hey @flavorjones thanks for the prompt reply here.  I certainly thought it could be a memory issue not being able to allocate 3.5gb but that does not seem to be the root issue based on some additional testing.

I took your recommendation to tried and leverage `Nokogiri::XML::Reader.from_io`. My sample code is seen below:
<pre>
Nokogiri::XML::Reader.from_io(vuln_data).each do |node|
  if node.name

[2018-05-24 15:39] #532 closed, assigned to nobody

[2018-05-31 21:36] cwant commented on #706
Just encountered the same issue. A test suite (that I didn't write) tries to validate a MODS document. The schema definition references external resources, so the test only works with a functioning internet connection. I'd hoped WebMock would make it good, but no luck.

[2018-06-02 19:10] flavorjones commented on #706
@cwant if you could, please open a new issue with this request, and perhaps a description of how you'd like it to work. it's unlikely i'll have time to work on it, and in all honesty it will likely require hacking the underlying XML engine(s), but I'm open to ideas and definitely open to pull requests.

[2018-06-02 20:16] daebae opened #1766 "nokogiri to complete metasploit instalation"
## If you're having trouble installing Nokogiri ...

**Have you tried following [the installation tutorial][tutorial]?**

**What is the output of `gem install`?**

**What are the contents of the `mkmf.log` file?**

**What operating system are you using?**

## If this isn't an installation issue ...

**What problems are you experiencing?**

**What's the output from `nokogiri -v`?**

**Can you provi

[2018-06-02 20:19] daebae commented on #1766
??Says nokogiri cant be found run bundle install did that also ran gem fetch,install nokogiri 1.8.1 said susessful install so what the prob??

[2018-06-03 01:14] flavorjones commented on #1766
@daebae Can you provide more information about your problem, please?

[2018-06-12 04:20] thirtytwobits commented on #1257
CC=llvm-gcc bundle install worked for my use-case.

[2018-06-13 08:48] oxtian commented on #1753
@flavorjones: I am also facing the exact issue.
It seems like nokogiri 1.8.2 doesn't match the ubuntu version. How can we fix this if the issue pops up on the deployment server but not on my local machine given that the deployment server doesn't allow me to run `bundle install` again?

[2018-06-13 12:17] flavorjones commented on #1753
@oxtian I'm not sure what you mean by "nokogiri 1.8.2 doesn't match the ubuntu version," and I don't fully understand your deployment process.

This error message is saying that Nokogiri was compiled on another system. My advice for you is to figure out where Nokogiri is being compiled and how it's being deployed on the system that's emitting this error. The solution will be to make sure that it's

[2018-06-15 03:08] jrochkind commented on #256
i'd still love this

[2018-06-16 16:29] flavorjones commented on #1759
Thank you for reporting, and for submitting a PR addressing this. Looking at the PR.

[2018-06-16 16:34] #1766 closed

[2018-06-16 16:36] #1753 closed

[2018-06-17 11:55] jirutka opened #1767 "Missing git tag for 1.8.3"
The latest version on RubyGems is 1.8.3, but there's no git tag v1.8.3.

[2018-06-18 11:50] flavorjones commented on #1767
Fixed, apologies.

[2018-06-18 11:50] #1767 closed

[2018-06-18 19:59] nc-crowec opened #1768 "nokogiri java does not properly handle xml files with byte order markers"
We're updating our app from CRuby to JRuby, so we're swapping to the Java version of the nokogiri gem. I'm seeing some test failures, and the root cause seems to be that nokogiri was happy to work with XML files/schemas contaiing byte-order-markers before, but the java version does not like them. An error is occurring in the java extensions. The issue can be reproduced with the following script -

[2018-06-18 22:59] roberts1000 opened #1769 "LoadError: cannot load such file -- nokogiri/2.4/nokogiri"
nokogiri 1.8.3 is throwing `LoadError: cannot load such file -- nokogiri/2.4/nokogiri` when I try and start a Rails server on a dummy app inside my gem.  I'm using Ruby 2.4.4.  nokogiri 1.8.2 works fine.

[code]

I'm also seeing the following error at the same time:

[code]

[2018-06-19 14:59] roberts1000 commented on #1769
I deleted all gems from my rvm gemset and then did a full `bundle`.  It's working now.

[2018-06-19 14:59] #1769 closed

[2018-06-20 00:49] flavorjones commented on #1768
Thanks for reporting this. I'm tagging some of the people who know the Java implementation better than I do, @jvshahid and @kares, to see if they have some time to look into it.

[2018-06-21 09:31] paddor opened #1771 "Memory leak when using Nokogiri::XML::Builder with XML namespaces"
**What problems are you experiencing?**
Memory usage (VSZ and RSS) grows uncontrollably when using `Nokogiri::XML::Builder` with XML namespaces.

**What's the output from `nokogiri -v`?**
[code]

**Can you provide a self-contained script that reproduces what you're seeing?**

[code]

In fact, even the following snippet is enough to observe the memory leak, although arguably incomplete without the

[2018-06-21 11:41] mild123 opened #1772 "Wunused-parameter introduced in #1731 breaks the "make config" phase on Mingw64/Msys64"
## If you're having trouble installing Nokogiri ...

**Have you tried following [the installation tutorial][tutorial]?**

**What is the output of `gem install`?**

**What are the contents of the `mkmf.log` file?**

**What operating system are you using?**

## If this isn't an installation issue ...

**What problems are you experiencing?**

**What's the output from `nokogiri -v`?**

**Can you provi

[2018-06-21 11:43] mild123 commented on #1772
The merge pull request #1731 introduced the gcc compilation flag –Wextra, which in the presents of the –Wall warning flag, turns on the warning flag -Wunused-parameter. The latter warning flag breaks the “make config” phase on a stock native mingw64/msys64 system (with a ruby 2.5.1) see below.
The compilation completes successfully if the –Wextra flag is replaced (leaving out the offending -Wunuse

[2018-06-22 08:38] flavorjones commented on #1771
Thanks for reporting. I'll investigate this weekend.

[2018-06-22 08:38] flavorjones commented on #1772
Thanks for reporting, will investigate this weekend.

[2018-06-24 11:44] flavorjones commented on #1772
See conversation going on at https://github.com/sparklemotion/nokogiri/pull/1731, I'm having trouble reproducing this.

[2018-06-26 04:32] jrochkind opened #1773 "nokogiri Jruby does not let you move nodes from one document to another, MRI does"
<details>
<summary>MRI nokogiri version</summary>

[code]
</details>

<details>
<summary>Jruby nokogiri version</summary>

[code]
</details>

## Reproduction:

[code]

In MRI nokogiri, this works fine, and prints what you'd expect:

[code]

In JRuby nokogiri, it raises:

[code]

Surprisingly, `doc2.root = node` _does_ seem to work without raising, JRuby nokogiri can move a node from one doc to ano

[2018-06-26 04:44] jrochkind commented on #1773
(oops, `doc2.root = node` does sort of work, but if there are namespaces involved it doesn't do the same thing with them as in MRI nokogiri, where I consider MRI's behavior correct.  But namespace stuff has a variety of other inconsistencies between MRI and JRuby nokogiri, and is so confusing, that other than mentioning it's a thing, I won't go into details in this issue).

[2018-06-27 21:44] jvshahid commented on #1768
@corycrowe how are you getting strings with BOM in them ? are those strings that you read from disk ? If so, can you use `File.read(path, "bom|utf-8")` to let JRuby/MRI strip the BOM before parsing the content.

For context, Java doesn't handle BOM as part of encoding (there are a couple of issues that were marked as `wontfix` with backward compatibility cited as the reason). I'm not sure which pa

[2018-06-28 16:48] jvshahid commented on #1768
we try to keep the two implementation consistent as much as we can. obviously this isn't always possible, since doing so would require non trivial changes sometimes. That said, I think this situation can be fixed in Java by wrapping the input streams that gets passed to the parser [here](https://github.com/sparklemotion/nokogiri/blob/117ca2e067dbbf054bef9078c79387c8170d2156/ext/java/nokogiri/inter

[2018-06-28 17:14] kares commented on #1768
@jvshahid @flavorjones do you guys happen to know if BOM removal happens at C-Ruby level or libxml?
... there's some support for BOM skips in JRuby so it might be a question of using more of the native APIs

[2018-06-28 17:23] jvshahid commented on #1768
I haven't looked deeply at the C-Ruby implementation but I saw in the libxml2 docs that BOM is supported and used to set the encoding of the input stream. I can look into this later.

[2018-06-30 19:55] flavorjones commented on #1771
I've reproduced this memory leak. Looking now!

[2018-06-30 21:30] flavorjones commented on #1771
OK, I believe I've fixed this. Will be in 1.8.4 presuming the builds go green.

Thanks so much for the bug report, and the thorough and complete analysis that you did! Also, thanks for using the bug-report template.

♥ ♥ ♥

[2018-06-30 21:31] flavorjones commented on #1773
I'll take a look -- we've got pretty thorough tests for reparenting nodes, but it's totally possible we've missed an edge case that affects JRuby.

[2018-06-30 21:40] paddor commented on #1771
Thanks for the fix! 👍

[2018-06-30 22:02] jrochkind commented on #1773
Cool, thanks, the repro is above which you can make into a test if you like. If somehow you can't repro with that script that raises for me... that'd be odd.

[2018-07-02 20:54] jrochkind opened #1774 "JRuby on re-homing a default-namespaced node, preserves namespace but does not reflect in xmlns attrib, inconsistent with MRI"
<details>
<summary>MRI nokogiri version</summary>

[code]
</details>

<details>
<summary>Jruby nokogiri version</summary>

[code]
</details>

## reproduction

[code]

So in JRuby, doing `Nokogiri::XML.parse(new_doc.to_xml)` would actually result in a different internal document as it would lose the namespace. In MRI, it would be round-trippable.

[2018-07-02 22:06] flavorjones commented on #1774
@jrochkind Thanks for the thorough bug report.

[2018-07-02 22:14] flavorjones commented on #1768
Heyo, libxml2 natively handles BOM via the method `xmlDetectCharEncoding` which is invoked by both the xml and html parsers. Nokogiri's C-Ruby implementation doesn't know anything about BOM (and neither do I, really!).

[2018-07-02 22:15] jrochkind commented on #1774
This seems possibly related to #1469.

Except, if I'm reading that code correctly (I have not executed it), I believe MRI Nokogiri is _already_ doing what the issue-opener there is asking for (which I agree is correct and consistent with best practices exhibited by other top-of-the-line XML libraries), just not in JRuby. Maybe it changed (accidentally?) in between then and now in MRI, but not JRub

[2018-07-03 11:50] brauliobo opened #1775 "Please release a new version with the latest leak fixes"
I'm experiencing a leak with a long-running process which is hard to debug. We fetch data from several different websites using Mechanize + Nokogiri and nokogiri is the top memory user when analyzing memory through `memory_profiler`.

I see there is a few commits unreleased yet. As I can't use the git version without a gemspec, could you please release the latest git?

[2018-07-03 12:47] flavorjones commented on #1775
Sure! Give me a few hours.

[2018-07-04 00:50] flavorjones commented on #1775
v1.8.4 has been unleashed upon the world

[2018-07-04 00:50] #1775 closed

[2018-07-04 00:54] flavorjones commented on #1775
I'm curious what you see with 1.8.4 in `memory_profiler` for your use case. It's worth noting that libxml2, which is the underlying parser, allocates quite a bit of memory for use in "pools" and in "dictionaries", both of which are intended (though perhaps unobvious) behavior that will show up as chunky memory usage.

[2018-07-04 20:52] brauliobo commented on #1775
It is still unclear what exactly is the memory leak, as I don't have much experience with `memory_profiler`.
What is somewhat clear now is that memory usage of nokogiri is lower as the sequence: 1.6.8.1 < 1.7.2 < 1.8.4

[2018-07-06 09:51] brauliobo commented on #1775
@flavorjones the issue was likely with mechanize https://github.com/sparklemotion/mechanize/issues/528

[2018-07-08 16:16] jvshahid commented on #1773
pushed a fix in #1777. @flavorjones can you take a look at the PR.

[2018-07-10 07:42] voxik commented on #1772
I can reproduce the same issues on Fedora and I think the difference is the availability of pkg-config gem:

[code]

[2018-07-10 07:42] voxik commented on #1772
Just FTR, I'd be glad if system pkg-config is enough and I don't need pkg-config gem ...

[2018-07-10 07:46] voxik commented on #1772
Ah, there is a longer discussion in #1731 ... Will continue there ...

[2018-07-13 09:46] arohr commented on #1771
We also found that the leak can be avoided in versions < 1.8.4 when setting the namespace like this
`xml[:env].send 'Envelope', 'xmlns:env': 'http://schemas.xmlsoap.org/soap/envelope/'` instead of `xml.send 'env:Envelope'`.

[2018-07-15 16:05] jvshahid commented on #1774
Fixed in https://github.com/sparklemotion/nokogiri/pull/1778. I would like someone to review the newly added tests to make sure they are idiomatic and make sense.

[2018-07-16 09:03] njh opened #1779 "Proposed new method: #content_at"
Hi,

In my projects, I often create a method to let me get the contents at a xpath, without having to first check for its existence:

[code]

Is there already a concise way of doing this?
Would you accept a Pull Request that adds a new `content_at` method to the Node class?

nick.

[2018-07-17 15:50] njh commented on #1779
Ah, interesting. Thanks!

[2018-07-25 13:07] johnl commented on #1772
Reproducible on Ubuntu Xenial or Bionic.

This Dockerfile reproduces it, just put it in an empty dir and run `docker build .`

[code]

[2018-07-27 18:40] xeron opened #1780 "Commit 77be60c3 breaks installation with homebrew system libraries and pkg_config"
Gem installation fails for me starting from 1.8.3. I started to check commits and this is what I found:

When I'm on b5b97bc5db0235745f44af91ccb25d6e28ace7aa `bundle exec rake` succeeds.
When I'm on 77be60c3681f76db0416d98da2e940a10bd1169d `bundle exec rake` fails.

Making following change on the latest master fixes the issue:

[code]

My setup:

* macOS 10.13.6
* Xcode 9.4.1
* homebrew latest ver

[2018-07-30 17:17] tibbon commented on #1052
That raises an error for me now:

[code]

[2018-07-30 18:07] ar7max commented on #1052
An example from [this page](http://www.nokogiri.org/tutorials/installing_nokogiri.html):
`gem install nokogiri -- --use-system-libraries`

`

[2018-07-30 20:48] flavorjones commented on #1052
@tibbon please make sure you've got `--` in your `gem install` command _before_ you use `--use-system-libraries`.

You used:

[code]

but the documented syntax is

[code]

Finally, this issue has been closed for over three years. If you have any further issues, please reach out on the nokogiri-talk mailing list, gitter, IRC, or open a new issue. Thanks!

[2018-07-31 15:22] tibbon opened #1781 "Installation - gcc error on option "-Wsuggest-attribute=noreturn""
## If you're having trouble installing Nokogiri ...

I've tried most of the things in the [Installing Nokogiri](http://www.nokogiri.org/tutorials/installing_nokogiri.html) documentation, which I'll demonstrate below.

This is on one of our CI systems, not on a developer laptop. First, some system information:

[code]

**What is the output of `gem install nokogiri`?**

[code]

**What are the conten

[2018-07-31 15:36] tibbon commented on #1781
Same errors when I do: `gem install nokogiri -- --use-system-libraries --with-xml2-include=/usr/include/libxml2`

[2018-07-31 15:40] tibbon commented on #1781
Oh... maybe it's my GCC version?!?!

[code]

That's pretty old; does it support that flag?

[2018-08-08 14:59] cbeer opened #1782 "Inconsistent behavior of NodeSet#to_a between MRI + JRuby"
I'm seeing inconsistent behavior with Nokogiri 1.8.4 (and, presumably earlier) with empty nodesets. This example is a little contrived, but at least is simple:

[code]

It seems most of the methods in `XmlNodeSet` seem to guard against this case, but not `to_a`:
https://github.com/sparklemotion/nokogiri/blob/master/ext/java/nokogiri/XmlNodeSet.java#L211

<details>
  <summary>
MRI nokogiri -v
</sum

[2018-08-13 12:15] apchew opened #1783 "XML parser assigns text value to the parent Node instead of actual sub-node"
**What problems are you experiencing?**

I parsed the following xml in a Nokogiri::XML(xml_string)
[code]
I then searched using the xpath `//xmlns:SubSubReport[@subSubReportId='id://test.com/A/1efg']/Comment`

Printed out the text value like so:
[code]

It outputs nothing.

When I search on the parent node
[code]

I get: "\n        Comment A\n      "

Surely I expect "Comment A" to exist as text o

[2018-08-14 11:55] stevecheckoway opened #1784 "Removing `internal_subset` leaks memory"
Removing an HTML document's `internal_subset` leaks memory.

**What's the output from `nokogiri -v`?**
[code]

**Can you provide a self-contained script that reproduces what you're seeing?**
[code]

Here're the two leaks.

[code]

This is causing problems for users of Nokogumbo (see https://github.com/rubys/nokogumbo/issues/20).

[2018-08-15 04:35] xeron commented on #1780
Same issue with macports and:

[code]

[2018-08-15 05:40] flavorjones opened #1785 "Investigate Ubuntu libxml2 patches in USN-3739-1 and USN-3739-2"
This issue is to drive investigation and potential action around a set of upstream patches that Canonical judged valuable enough to port to their distributions.

References:

* https://usn.ubuntu.com/3739-1/
* https://usn.ubuntu.com/3739-2/

-----

Summary:

Two upstream patches, not yet available in an official libxml2 release, are candidates for patching in Nokogiri's vendored libxml2. A pull re

[2018-08-15 12:39] flavorjones commented on #1781
@tibbon sorry you ran into this. We could (and probably should) check for GCC version, but to be honest I wasn't even aware we had done something that was not backwards-compatible with older GCC versions.

Are you on a vanilla 12.04? (This might be a good time to mention, as you probably already know, that 12.04 was end-of-lifed ("EOLed") in April 2017, so in the interest of maintaining a secure p

[2018-08-15 12:45] flavorjones commented on #1780
Hi, this appears to be a duplicate of https://github.com/sparklemotion/nokogiri/issues/1772 related to https://github.com/sparklemotion/nokogiri/pull/1731. Closing, please follow on #1772.

[2018-08-15 12:45] #1780 closed

[2018-08-15 12:48] flavorjones commented on #1772
@johnl Thanks for the repro, investigating now.

[2018-08-15 12:49] flavorjones commented on #1784
Thanks for reporting, will take a look.

[2018-08-15 12:50] flavorjones commented on #1783
Thanks for reporting, I'll take a look as soon as I can.

[2018-08-15 12:50] flavorjones commented on #1782
Thanks for reporting. I'll take a look when I can.

[2018-08-15 13:06] flavorjones commented on #1772
@johnl your repro provides the same errors that @knu's repro in #1731 provides, to wit:

[code]

which gives me confidence that we only have one problem here, and not multiple. Working on integrating a fix (and regression tests for this scenario).

[2018-08-15 13:15] stevecheckoway commented on #1784
I believe the underlying issue is that `libxml2` is going to `strdup` two strings and these aren't freed for some reason. I haven't investigated further.

[2018-08-15 14:00] #1772 closed

[2018-08-15 14:01] flavorjones commented on #1772
This will be fixed in 1.8.5, due out soon.

[2018-08-15 14:43] flavorjones commented on #1785
## USNs

https://usn.ubuntu.com/3739-1/ which addresses:

* CVE-2016-9318
* CVE-2017-16932
* CVE-2017-18258
* CVE-2018-14404
* CVE-2018-14567

and https://usn.ubuntu.com/3739-2/ which addresses:

* CVE-2016-9318
* CVE-2018-14404

Note that 3739-2 addresses a subset of 3739-1.

## CVEs

### CVE-2016-9318

Permalink is https://people.canonical.com/~ubuntu-security/cve/2016/CVE-2016-9318.html

Descri

[2018-08-15 14:43] flavorjones commented on #1785
## Conclusions

Of the five CVEs addressed in this USN, these three are already addressed by Nokogiri:

* CVE-2016-9318 (since v1.8.3)
* CVE-2017-16932 (since v1.8.1)
* CVE-2017-18258 (since v1.8.2)

The remaining two CVEs are not yet addressed in an upstream libxml2 release. Here are the commits in question:

* https://gitlab.gnome.org/GNOME/libxml2/commit/a436374994c47b12d5de1b8b1d191a098fa23594

[2018-08-15 14:54] flavorjones commented on #1785
I've created a PR at https://github.com/sparklemotion/nokogiri/pull/1786 for comments. Please take a look and comment there.

[2018-08-15 14:55] #1785 closed

[2018-08-22 00:30] jeremyhaile commented on #1749
We are also running out of memory on 8GB of heap and it seems to be this issue – heap dump shows XPathContexts with gigs of int[]s tied back to `m_dtms`.

[2018-08-22 19:49] stevecheckoway opened #1790 "`Nokogiri::XML::Node#add_child_node_and_reparent_attrs` behaves incorrectly if an attribute name has a colon"
**What problems are you experiencing?**
`Nokogiri::XML::Node#add_child_node_and_reparent_attrs` uses an incorrect test to see if a node's namespaces need to be reparented (at least, I think that's the purpose of this code).

It's testing `a.name =~ /:/` to decide to reparent. This breaks HTML elements which are allowed to have colons in their attribute names. (Essentially, HTML only allows foreign

[2018-08-24 17:49] flavorjones commented on #1790
Thank you for submitting this! I'm just back from vacation and it will take a few days to catch up on everything. Thanks for your patience.

[2018-08-24 17:50] flavorjones commented on #1784
I'm just back from vacation and it will take a few days to catch up on everything. Thanks for your patience.

[2018-08-24 17:50] flavorjones commented on #1783
I'm just back from vacation and it will take a few days to catch up on everything. Thanks for your patience.

[2018-08-24 17:51] flavorjones commented on #1782
I'm just back from vacation and it will take a few days to catch up on everything. Thanks for your patience.

[2018-08-24 17:51] flavorjones commented on #1749
I'm just back from vacation and it will take a few days to catch up on everything. Thanks for your patience.

[2018-08-30 15:16] jeremyhaile commented on #1749
Here is a modified reproducible example that is closer to the issue we're having. It uses HTML and uses `css` instead of `xpath` to select (which under the hood are the same). Also the `.each` from the original example is unnecessary.

On a 2GB heap this will crash in a few seconds.

[code]

[2018-08-30 18:06] mkagenius commented on #1487
Note: Just install any version of nokogiri and point to that version in Gemfile.lock

[2018-08-30 20:56] stevecheckoway commented on #1790
In retrospect, I'm not sure what this function is supposed to do at all. If I'm reading `xml_node.c` correctly (and I'm not at all sure that I am since I'm having a separate issue), all of the namespace reparenting _should_ be happening in `relink_namespace`.

[2018-08-31 22:26] jeremyhaile commented on #1749
@flavorjones we are open to trying to fix this ourselves, but are unfamiliar with the source. Do you have any idea where to even start looking here?

I would really appreciate any help you can provide as this is causing our production server to crash on a regular basis. We've tried to workaround this issue by never doing nested xpath/css, but perhaps we missed something or a third-party lib (e.g.

[2018-09-01 08:36] kares commented on #1749
also noticed increased memory usage under JRuby from ~ 1.6 - thought maybe some of my changes are to blame but there never was a production leak even with heavy xpath use on 1-2M xmls.

@jeremyhaile you simply need to try understanding the xalan library used under the hood and why its keeping the internal state around, maybe it's xpath cache related. just some minor hints - its definitely resolvab

[2018-09-03 13:06] jeremyhaile commented on #1749
I noticed that the class that is taking up all of the heap is actually in the nokogiri source, despite being in the `org.apache` namespace: https://github.com/sparklemotion/nokogiri/blob/master/ext/java/org/apache/xml/dtm/ref/dom2dtm/DOM2DTMExt.java

Is this class overriding behavior from Xalan?

[2018-09-03 22:42] stevecheckoway commented on #1784
I believe I figured out the issue but I just realized I don't have time to write and test a fix right this moment but I want to write down what I think is going on so I don't have to redo this investigation later.

Short version:
I think the fix is to modify `dealloc_node_i` from

[code]
to something like
[code]

That is, the DTD nodes need to be explicitly freed. (Honestly, I'm not sure I underst

[2018-09-04 16:05] jeremyhaile commented on #1749
@kares I noticed you wrote a lot of the code in `XalanDTMManagerPatch` and `DOM2DTMExt`. Do you have any ideas on where this might be occurring? I notice that the getDTM method was overridden to return Dom2DTMExt objects, and those are then added via `addDTM`. I'm not sure whether there should be less DTM nodes or whether it's a problem within the DTM nodes that causes it to retain too many object

[2018-09-05 03:44] jvshahid commented on #1749
@jeremyhaile can you try the branch in https://github.com/sparklemotion/nokogiri/pull/1792 and let me know if it fixes your issue

[2018-09-08 22:09] flavorjones opened #1793 "Rebuild ci.nokogiri.org"
Current configuration is expensive, and the latest concourse-deployment and bbl have options that are cheaper. Also, not sure I can admin the cluster anymore without lost creds.

[2018-09-08 22:12] flavorjones commented on #1793
See https://github.com/cloudfoundry/bosh-bootloader/blob/master/docs/concourse.md

And https://github.com/concourse/concourse-bosh-deployment

[2018-09-09 00:16] flavorjones commented on #1793
I've lost access to the current environment and it looks like I may have lost a few months of data. :-(

[2018-09-09 18:02] flavorjones commented on #1793
I've enlisted help from @osis who may be able to recover build history.

[2018-09-09 18:46] osis commented on #1793
Howdy!

Was able to grab the snapshot, spin up a new VM, attach mount the snapshot as disk, install Postgres, and pgdump to victory! 🎉

Hoping to see the site up again soon!

[2018-09-10 04:06] flavorjones commented on #1793
I think everything's mostly working, except for:

- windows workers
- scale up all workers
- container placement strategy
- x-frame options

And I haven't tested this yet:

- PR triggers / status
- IRC notifications

Should get to it all in the next day or so.

[2018-09-10 15:00] sunenilausen opened #1794 "Nokogiri::XML::Builder.new does not compile with do end block with namespace in options"
**What problems are you experiencing?**
Nokogiri::XML::Builder.new does not compile with do end block when using namespace like 'xmlns:xsi' => 'www.whatever.com' in options

**What's the output from `nokogiri -v`?**
Nokogiri: 1.8.3
Ruby: 2.3.4
libxml2: 2.9.8

**Can you provide a self-contained script that reproduces what you're seeing?**

[code]

[2018-09-10 18:11] flavorjones commented on #1794
I believe this is because you have a backtick ('`') after `Builder.new` in the example that doesn't compile. Removing the backtick results in working code for me.

If you disagree, can I ask that you provide your error output as well?

[2018-09-11 08:15] sunenilausen commented on #1794
Sorry, i accidentally put in the backtick when formatting it here.
Also it turns out that my whitespace characters wasn't the proper kind of whitespace characters because i copied or something, so this isn't nokogiris fault.

Anyway here is the syntax error log
[code]

[2018-09-11 08:15] #1794 closed

[2018-09-13 11:33] flavorjones commented on #1793
https://github.com/concourse/concourse-bosh-deployment/pull/99

[2018-09-15 12:48] flavorjones commented on #1741
Things to do here:

- remove from Concourse CI (see 308d70c which was reverted)
- remove from Travis CI
- update gem spec which currently says `:required_ruby_version => '>= 1.9.3' # JRuby >= 1.7`\
- look at ext/java/nokogiri/XmlSyntaxError.java and ext/java/nokogiri/internals/NokogiriHelpers.java which appear to have 1.7-specific code that can be removed

[2018-09-15 21:56] jvshahid opened #1795 "XMLNodeSet::xpath and XMLNodeSet::css are very slow with large number of nodes"
This is extracted from https://github.com/sparklemotion/nokogiri/pull/1792#issuecomment-418829882

Here is the test script I am using:
[code]

Here is the output with 5000 divs:
[code]

And here is the output with 50,000 divs:
[code]

So in both cases the nested version is several orders of magnitude slower than the unnested version. And it seems to get exponentially worse for larger numbers of ma

[2018-09-15 21:59] jvshahid commented on #1795
Based on the profiling I did, it looks like [RubyArray#op_or](https://github.com/jruby/jruby/blob/8f3f95a37b/core/src/main/java/org/jruby/RubyArray.java#L3413) is where we spend most of the time.  To be more specific most of the time is spent calculating hashes of the objects [here](https://github.com/jruby/jruby/blob/8f3f95a37b/core/src/main/java/org/jruby/RubyArray.java#L3416).

[2018-09-16 16:16] nakilon-idwell opened #1797 "Why does Nokogiri::HTML close <u> tag immediately?"
[code]

[2018-09-16 16:17] #1797 closed

[2018-09-16 16:19] Nakilon opened #1798 "Why does Nokogiri::HTML close <u> tag immediately?"
[code]

[2018-09-16 16:38] flavorjones commented on #1798
Nokogiri does not do this explicitly; the underlying parser (libxml2 in your case, I'm guessing) parses the markup this way.

It looks like libxml2 has an implicit rule that <p> tags can't be present within a <u> tag, and so closes the currently-open <u> tag when it spots the opening <p> tag.

If you look at https://github.com/GNOME/libxml2/blob/master/HTMLparser.c#L1085 you'll see a line like:

[

[2018-09-16 16:38] #1798 closed

[2018-09-17 17:06] #1773 closed

[2018-09-20 08:21] mmustala commented on #425
What a surprising and annoying feature. I would have expected `node.replace(xml_string)` to just change the content of the node, but no, it messes up the namespaces. I guess I need to write a regex to get the node replaced properly.

[2018-09-20 09:54] bananarne opened #1800 "attribute.value = attribute.value changes output"
**What problems are you experiencing?**
doing attribute.value = attribute.value makes it "boolean"/"minimized"

**What's the output from `nokogiri -v`?**
# Nokogiri (1.8.4)
    ---
    warnings: []
    nokogiri: 1.8.4
    ruby:
      version: 2.4.4
      platform: x86_64-linux
      description: ruby 2.4.4p296 (2018-03-28 revision 63013) [x86_64-linux]
      engine: ruby
    libxml:
      binding:

[2018-09-26 05:02] deepj opened #1801 "Nokogiri 1.8.4 installation challenges on macOS Mojave"
## If you're having trouble installing Nokogiri ...

**Have you tried following [the installation tutorial][tutorial]?**
yes

**What is the output of `gem install`?**

[code]

**What are the contents of the `mkmf.log` file?**

[code]

**What operating system are you using?**

macOS 10.14 Mojave

I've tried to reinstall everything what I could but without any success. I used `pkg-config`, `libxml2`

[2018-09-26 09:55] deepj commented on #1801
I was successful with `gem install nokogiri -- --use-system-libraries=true --with-xml2-include="$(xcrun --show-sdk-path)"/usr/include/libxml2`

But not with `libxml2` from **Homebrew**.

[2018-09-27 21:00] flavorjones commented on #1801
I'm sorry y'all are having trouble.

If someone who is a Mac user would care to verify that this works and submit a PR to the installation tutorial, I would be very grateful. Alternatively, if there's something we can change in the extconf, I'd appreciate a PR.

Also tagging @zenspider as he's been kind enough to offer assistance on behalf of Mac users in the past.

[2018-09-29 05:33] deepj commented on #1801
@zenspider I put one of many iterations made by me here. The problem is still same if I just `gem install nokogiri`. It's not possible to install nokogiri without additional parameters.

You're right. There is a mistake in the command `--with-xslt-dir=/usr/local/opt/libxml2' => `--with-xml2-dir=/usr/local/opt/libxml2'`
But the result is the same. Installation of Nokogiri failed on Mojave.

Only th

[2018-10-02 09:17] brianegan commented on #1801
I had this same problem. The fix? I needed to reinstall my xcode-select tools on Mojave.

In terminal, run: `xcode-select --install`, then you I was able to `bundle install` or `gem install nokogiri` and everything worked.

[2018-10-10 08:58] ojundt opened #1802 "Segmentation fault during XSLT transformation"
**What problems are you experiencing?**
Nokogiri crashes with a segmentation fault during a XSLT transformation.

**What's the output from `nokogiri -v`?**
[code]

**Can you provide a self-contained script that reproduces what you're seeing?**
Yes, see [example.zip](https://github.com/sparklemotion/nokogiri/files/2463902/example.zip) for a simple ruby script and example XSL and XML file.

[2018-10-10 23:12] flavorjones commented on #1802
Thanks for reporting this. I'll take a look as soon as I have some free time.

[2018-10-11 08:51] ojundt commented on #1802
Thanks @flavorjones. In the meantime I've been able to narrow it down to the presence of `xs:decimal` calls in the XSL which are XPath 2.0 features. If I remove those, Nokogiri no longer crashes.

[2018-10-11 19:21] flavorjones commented on #1802
Ah, that's great information. libxml2 does not support XPath 2.0 queries.
It's curious to me that it's _crashing_, though, and I will see if there's
anything we can do in Nokogiri to prevent that.

On Thu, Oct 11, 2018 at 4:52 AM Oliver Jundt <notifications@github.com>
wrote:

[2018-10-12 06:59] oytunerdd commented on #1547
For OSX 10.14
Use:
```bundle config build.nokogiri --use-system-libraries --with-xml2-include=/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.14.sdk/usr/include/libxml2 --with-xslt-include=/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.14.sdk/usr/include/libxslt --with-exslt-include=/Applications/Xcode.app/C

[2018-10-13 02:08] flavorjones commented on #1547
If someone would like to make a pull request update documentation at https://github.com/sparklemotion/nokogiri.org-tutorials it would be greatly appreciated and received. Unfortunately I'm not a Mac user and cannot verify anything in this thread.

[2018-10-14 06:37] mojavelinux opened #1803 "Nokogiri on JRuby adds tbody tag to parsed document, resulting in inconsistent query results"
Starting with Nokogiri 1.8.3, JRuby introduces a `tbody` tag in the parsed document where there isn't one in the source. This causes an inconsistently in the XPath (and CSS) query results between MRI and JRuby.

Consider the following HTML fragment:

[code]

Now consider the XPath query:

[code]

When using Nokogiri 1.8.5 on MRI (or Nokogiri <= 1.8.2 on JRuby), the size of the result set of this q

[2018-10-15 14:42] flavorjones commented on #1803
Hello! And thank you for raising this issue.

What you're seeing is due to the change in 2e89378, whose commit message I'll reproduce here to help drive the conversation:

There are many differences between the parsers used in the JRuby and the MRI/YARV implementations. Xerces/NekoHTML is used by JRuby and libxml2 is used by MRI/YARV.

Nokogiri is intended to be a Ruby wrapper around these parsers

[2018-10-15 14:42] #1803 closed

[2018-10-16 05:17] mojavelinux commented on #1803
@flavorjones, thank you for the explanation. What you wrote make sense, and I can understand the challenge at hand, though I can't say I'm very comfortable with the differences. For me, it's very important that libraries behave the same across various Ruby implementations. That's one of the key benefits of using a library over maintaining code inside the application. I'll just have to keep in mind

[2018-10-18 09:46] fidalgo commented on #1024
Since I've faced the same question, due the presence of assertions (https://www.w3.org/TR/xmlschema11-1/#cAssertions) in a XSD document, I would like to raise this question too?

[2018-10-22 00:36] #1024 closed, assigned to nobody

[2018-10-23 19:32] dan42 commented on #1063
Hello, just chiming in to say I encountered the same memory leak, and I'm using this code to get around it.

[code]

But imho the real fix is that when doing a `dup` or `remove`, the node can still reference the document, but the document should no longer reference the node. Although tbh I don't know if that's a libxml issue or not.

[2018-10-24 01:08] shawnngtq opened #1805 "Problem installing v1.8.5"
## If you're having trouble installing Nokogiri ...

**Have you tried following [the installation tutorial][tutorial]?**
yes

**What is the output of `gem install`?**
[code]

**What are the contents of the `mkmf.log` file?**
[code]

**What operating system are you using?**
Linux Mint 18.3

[2018-10-24 11:11] Qqwy opened #1806 "How to validate a HTML snippet?"
Hey all!

I want to use Nokogiri in my (rspec) tests to make sure that the HTML snippet that the `planga-ruby` gem builds, is indeed correct.

While I am able to use Nokogiri successfully to check for the existence/ommission of certain tags and their attributes, I also want to check in general if the HTML snippet is well-formed:

- Self-closing tags should not have a separate closing tag.
- No unc

[2018-10-24 13:21] mtrolle opened #1807 "Access Nokogiri::XML::Element attributes as hash fails with Rails ActionController caching"
I'm using the `roo` gem to read Excel files and `roo` [finds sheets in the Excel file using `Nokogiri`](https://github.com/roo-rb/roo/blob/8d5ea7a292473dc702f16216e1fbb8bf1211ec5a/lib/roo/excelx/workbook.rb#L26). Specifically it reads a sheets name from `Nokogiri::XML::Element` using `sheet['name']` (which is normally identical to calling `sheet.attributes['name'].value` in Nokogiri).

**Basic exa

[2018-10-24 15:16] jujudellago opened #1808 "Install nokogiri 1.8.5 - MacOs High Sierra"
## If you're having trouble installing Nokogiri ...

**Have you tried following [the installation tutorial][tutorial]?**
Yes, on
https://github.com/sparklemotion/nokogiri
and
http://www.nokogiri.org/tutorials/installing_nokogiri.html

**What is the output of `gem install`?**
gem install nokogiri
Building native extensions. This could take a while...
ERROR:  Error installing nokogiri:
	ERROR: Faile

[2018-10-24 16:03] jujudellago commented on #1808
Ooops.... there was something I forgot to do.... try to totally delete the ruby version and gemset (I use rvm) re-install it.

then a simple "bundle install" installed everything

I feel a bit dumb now, but will leave this here, it's not the first time deleting and re-installing a ruby version solves a problem, and it's not often suggested in tutorials.

[2018-10-24 16:03] #1808 closed

[2018-10-24 18:44] flavorjones commented on #1806
Can you please provide a specific snippet (or snippets) and tell us what warnings or errors you expect to see?

[2018-10-25 15:43] mtrolle commented on #1807
I cannot reproduce this myself in a new rails app, so clearly something in my env is failing.

[2018-10-25 15:43] #1807 closed

[2018-10-26 17:48] jeremy commented on #613
#1658

[2018-10-26 21:42] flavorjones commented on #613
@jeremy Can you expand a bit on why you're linking that PR to this issue? They're both discussing line numbers, but aren't directly related in a causal or solution-y way.

[2018-10-26 22:15] flavorjones commented on #1805
Hi, thanks for asking this question.

Just to level-set: my primary development machine has been Linux Mint 18 and 19, and it obviously works for me, so I'd like to focus initial exploration on what's different about a) our systems, and b) our user environments.

Can you first tell me if Nokogiri installs cleanly if you do **not** try to link against the system libraries? So instead of:

[code]

j

[2018-10-27 01:12] shawnngtq commented on #1805
@flavorjones

As requested, when I just run `$gem install nokogiri`

The output of `gem install`:
[code]

The contents of the `mkmf.log` file:
[code]

Thanks!

[2018-10-27 02:54] jeremy commented on #613
My bad. They naively appeared related in both cause and solution.

[2018-10-27 18:56] flavorjones commented on #1805
OK, this is helpful! Thank you.

The first error seen is:

followed by

which is pretty good evidence that your system doesn't have `zlib1g-dev` installed.

The [installation tutorial](http://www.nokogiri.org/tutorials/installing_nokogiri.html#install_with_included_libraries__recommended_) is up to date and does have this as the first step for Debian-based systems:

[code]

Can you please try that

[2018-10-27 23:58] binarykitchen opened #1809 "Unable to update nokogiri on MaOS"
Unable to update it from command line. See full output below. Googled but hard to find a correct answer. Feels like everyone is suggesting something else, so not sure here:

[code]

This is interesting

[code]

Any clues?

Thanks!

[2018-10-28 03:18] deepj commented on #1801
OK. I found the reason why it's happening on Mojave

See https://developer.apple.com/documentation/xcode_release_notes/xcode_10_release_notes#3035624

It's needed to make another step and install this:

[code]

For explanation see the Xcode release notes

[2018-10-28 12:39] flavorjones commented on #1801
@deepj Thank you for following up on the thread. Would you be so kind as to submit a PR to this file that includes steps other Mojave users can follow?

https://github.com/sparklemotion/nokogiri.org-tutorials/blob/master/content/installing_nokogiri.md

I unfortunately don't have a Mac and so can't verify the steps that I might write up are correct. I'd really appreciate your help!

[2018-10-28 19:58] flavorjones commented on #1809
Have you gone through all the steps recommended in the installation tutorial? What operating system (version of MacOS) are you using?

(These questions are asked in the new-issue template which you appear to have deleted when you opened this issue.)

[2018-10-29 05:58] binarykitchen commented on #1809
Yes, gone through those steps. Quite a lot and hope I didn't miss anything out.

Using MacOS High Sierra v10.13.6 here.

[2018-10-29 16:58] deepj commented on #1801
@flavorjones I'll do. But what I got from the Xcode release notes, it's needed to change for looking headers on macOS 10.14 and later. Can @zenspider help here? I don't have no insight how these compilation stuffs work.

[2018-10-29 17:52] paddor opened #1810 "Memory leak when using Nokogiri::XML::Builder with XML namespaces in nested elements"
**What problems are you experiencing?**
Maybe related or similar to #1771. Memory leak when using `Nokogiri::XML::Builder` and namespaces. Only namespace definitions beginning with `xmlns:` cause the leak (because [Nokogiri::XML::Document#create_element](https://github.com/sparklemotion/nokogiri/blob/master/lib/nokogiri/xml/document.rb#L79-L110) is implemented that way), and nesting seems to be im

[2018-10-29 23:06] dhh commented on #1801
I just hit this same problem on a machine upgraded to 10.14.

[2018-10-30 02:36] wsizoo commented on #1801
Updating command line tools for Xcode fixed this for me.

[Command Line Tools for Xcode 10.14](https://download.developer.apple.com/Developer_Tools/Command_Line_Tools_macOS_10.14_for_Xcode_10/Command_Line_Tools_macOS_10.14_for_Xcode_10.dmg)

[2018-10-30 04:52] shawnngtq commented on #1805
I install these packages and this is what I got:
[code]

Output of `gem install nokogiri`:
[code]

`mkmf.log` output:
[code]

[2018-10-30 12:15] flavorjones commented on #1805
OK, that's helpful, thank you.

What I notice here is that `gcc` is still unable to find the header file `zlib.h`:

The `zlib1g-dev` package does contain this file:

[code]

so there's something about how your environment is configured that's causing `gcc` not to find this file.

Can you run this and report back the output (note the backticks)? It will tell you the paths where the C preprocessor l

[2018-10-30 12:18] flavorjones commented on #1801
Again, an open request for Mac users to help support the Ruby community: Can someone please submit a PR to the [installation tutorial](https://github.com/sparklemotion/nokogiri.org-tutorials/blob/master/content/installing_nokogiri.md) explaining how to update xcode tooling on 10.14?

[2018-10-30 22:48] binarykitchen commented on #1809
Never mind. Somehow installing rvm and latest ruby did fix this. Can't explain why.

[2018-10-30 22:48] #1809 closed

[2018-10-31 00:12] shawnngtq commented on #1805
I get the following report:
[code]

[2018-10-31 13:15] flavorjones commented on #1805
@shawnngtq OK, this tells me that you have something specific in your environment or in your machine's configuration that's overriding the paths usually searched by the compiler toolchain. So my bet is that you'll have trouble compiling *any* rubygem with a C extension (e.g., [eventmachine](https://github.com/eventmachine/eventmachine/blob/master/ext/extconf.rb)), and this is not specific to Nokog

[2018-10-31 16:57] paddor commented on #1810
The script above is flawed, as the elements don't actually reference a namespace. Use this script instead, which makes use of the default namespace and shows the same memory leak:

[code]

Output on my machine:

[code]

I'm currently running it again on Valgrind. Will post the results as soon as it's finished.

[2018-11-01 01:31] shawnngtq commented on #1805
Here're the steps I took to fixed my conda:
[code]

After conda installed the packages, my C preproceessor paths are fixed, running `gem install nokogiri` works fine now.

Thanks for your help @flavorjones ! :smile:

[2018-11-01 01:31] #1805 closed

[2018-11-01 02:44] paddor commented on #1810
Here are the few largest `definitely lost` sections related to Nokogiri (largest first):

[code]

It looks like memory is being leaked at two locations.

[2018-11-02 09:52] gpakosz opened #1812 "Nokogiri 1.8.5, macOS High Sierra and brew's binutils"
Hello, I'm using brew's Ruby:

[code]

And I tried to install Nokogiri with `gem install nokogiri` which gave me:
[code]

Here is the content of `/usr/local/lib/ruby/gems/2.5.0/gems/nokogiri-1.8.5/ext/nokogiri/tmp/x86_64-apple-darwin17.7.0/ports/libxml2/2.9.8/compile.log`:
[code]

After some troubleshooting, I realized I had `binutils` installed with Homebrew and also **linked** for some reason. W

[2018-11-02 11:02] flavorjones commented on #1812
/cc @zenspider

Would anyone care to summarize the above and submit a PR to https://github.com/sparklemotion/nokogiri.org-tutorials/blob/master/content/installing_nokogiri.md ?

[2018-11-02 11:03] flavorjones commented on #1812
Or submit a PR to Nokogiri? @gpakosz I see you have a fork with a commit on it for this.

[2018-11-02 11:11] gpakosz commented on #1812
@flavorjones I don't believe this should be solved by entries in the documentation.

I submitted PR#1813 as you noticed and I just edited the description to explain why I'm suggesting the change.

[2018-11-02 14:44] flavorjones commented on #1810
Hi, thanks for reporting this, and apologies for the delay in replying. I've been getting false positives from valgrind in nokogiri's CI pipeline and needed to figure out how to suppress those before digging into this report.

I'll take a look this weekend.

[2018-11-02 15:01] flavorjones commented on #1810
Also - thank you for using the issue-reporting template, and for providing such clear information about the leak. You've helped a lot!

[2018-11-02 15:10] paddor commented on #1810
No worries. I've actually done some heap profiling with Massif:

[code]

Here's the peak snapshot (but it looks similarly at every snapshot):
[code]

As far as I can see, there seem to be two issues:

1) The same namespace is defined again and again. It seems [add_namespace_definition()](https://github.com/sparklemotion/nokogiri/blob/master/ext/nokogiri/xml_node.c#L1317-L1321) fails to find the al

[2018-11-03 20:10] flavorjones commented on #1810
OK, I think I've nailed the root cause down. Running your script before the fix:

[code]

and with a patch applied

[code]

and valgrind no longer dumps out any lost memory associated with allocations having `xmlNewNs` in their stack.

Going to clean the code up a bit before committing, should be able to cut a release this weekend.

[2018-11-04 19:34] paddor commented on #1810
Just checked and saw the commits. Thanks for the effort!

Does this also fix the problem of excessively defined namespaces due to the inability to find existing definitions? Or was that a non-issue maybe?

[2018-11-04 20:10] flavorjones commented on #1810
@paddor the "excessively defined namespaces" is an artifact of how the builder is implemented: each node is created (with namespaces) before it is added to the document tree, so there's no way to know (without a code design change) where to search in the document for a relevant existing namespace definition. As a result, the Builder (actually it's `Document#create_element`) is forced to create a n

[2018-11-05 06:35] cjxonix commented on #1801
This actually worked for on Mojav Mac OS X

[2018-11-05 19:30] flavorjones commented on #1810
@paddor Node are always created with an associated document; but they're created with an associated __parent__. Because there's no parent, there's no where to look for an existing matching namespace.

I explored freeing this nsDef but determined it's not safe, and added a test demonstrating why it's not safe in 38a28fe.

[2018-11-05 20:05] XSecr3t opened #1816 "[ Error While Install Nokogiri 1.8.0 ]"
[ Error While Instalaling Nokogiri 1.8.0 ]

Excuse Me
Hello sir greetings

I have some problem can anybody help me?

I want install Nokogiri 1.8.0 but cant cause have error like this

Results logged to /data/data/com.termux/files/usr/lib/ruby/gems/2.5.0/extensions/aarch64-linux/2.5.0/nokogiri-1.8.0/gem_make.out

I have already run any command that i see like

        [--with-xml2-config=/path/to/x

[2018-11-06 12:21] fabioperrella opened #1817 "Problem installing v.1.8.5 on ubuntu 16.04 with ruby 2.5.1 (rbenv)"
**Have you tried following [the installation tutorial][tutorial]?**

yes

**What is the output of `gem install`?**

[code]

**What are the contents of the `mkmf.log` file?**

[code]

**What operating system are you using?**

[code]

**Comment**

This seems to be similar to the issue https://github.com/sparklemotion/nokogiri/issues/1805 but my gcc seems to be correct:
[code]

[2018-11-06 13:00] pietromaj commented on #1817
Same here. but ruby 2.4.3

[2018-11-06 23:29] flavorjones commented on #1817
It would also be good to check the compiler args your ruby was built with, which you can output with this command:

[code]

So to sum up what additional info would be helpful:

- output of `gcc -v`
- description of how you built your ruby, or where it was installed from (e.g., rbenv, rvm, from source, via apt)
- output of ruby configure args

Thanks!

[2018-11-06 23:38] flavorjones commented on #1816
Hi - I'm sorry you're having issues, but we'll need more information from you to help you; the github issue template asks these questions so I won't repeat them here. Please open a new issue and please answer the questions in the issue template regarding installation problems.

You may want to visit the installation tutorial before doing that:

http://www.nokogiri.org/tutorials/installing_nokogiri

[2018-11-06 23:38] #1816 closed

[2018-11-06 23:40] flavorjones commented on #1801
Once more, this time with gusto: can a Mac user on this issue please help support the Ruby community by submitting a PR to the installation tutorial explaining how to update xcode tooling on 10.14?

[2018-11-06 23:43] flavorjones commented on #1805
woot! Thanks for closing the loop for us, and I'm happy you got everything working again.

[2018-11-06 23:59] deepj commented on #1801
@flavorjones the xcode command line tools is updated via app store. @wsizoo note seems to be confusing here. Just read the xcode release notes https://developer.apple.com/documentation/xcode_release_notes/xcode_10_release_notes#3035624

My understanding is that nokogiri needs to change a way where is looking for the headers on Mojave 10.14 with new xcode command line tools 10.x. As Apple noted in

[2018-11-07 01:14] XSecr3t commented on #1816
@flavorjones
Already solved
Rebuild my termux :)

Thank you sir.

[2018-11-07 11:04] grega commented on #1801
I managed to install it by running:
[code]

Followed by:
[code]

Happy to submit a doc update PR if this solution appears to help others.

[2018-11-07 11:07] deepj commented on #1801
@grega the problem with this, it won't work in the future. It's just a temporary solution offered by Apple. Just read this https://developer.apple.com/documentation/xcode_release_notes/xcode_10_release_notes#3035624

[2018-11-07 16:08] flavorjones commented on #1801
Ok, I better understand the underlying challenge, which is to look for header files and libraries in the right place with the new XCode SDK. Thanks for that.

This is still not something I'm personally equipped to handle, so I'd like to ask that someone who cares about Mac support help me either by submitting a PR or working with me to figure out what an appropriate solution looks like. I don't ow

[2018-11-08 03:13] flavorjones commented on #1810
The fix in #1815 has been merged into master. Will be in the next release, hopefully in the next few days.

[2018-11-08 03:13] #1810 closed

[2018-11-08 19:50] fabioperrella commented on #1817
@flavorjones replying to your questions:

I installed from rbenv:
[code]

[code]

[code]

Is there anything more I can help you to debug it?

[2018-11-11 19:15] flavorjones opened #1818 "tests failing on jruby 9.2.x"
see https://ci.nokogiri.org/teams/nokogiri-core/pipelines/nokogiri/jobs/jruby-9.2/builds/1

[code]

this doesn't appear to have been introduced into nokogiri recently; as far back as v1.8.0 this test fails on jruby-9.2.

[2018-11-11 20:33] flavorjones commented on #1818
OK, narrowed this down. in `XmlNode.java` function `in_context`, after parsing:

[code]

emits the following in jruby 9.2:

[code]

but this in jruby 9.1.17.0:

[code]

that is, the `get` call returns `null` intead of the `SyntaxError`.

I have no idea why. Maybe @jvshahid can look at it tomorrow with me.

[2018-11-11 20:52] flavorjones commented on #1818
If anyone wants to take a look, I've pushed my debug trace branch `flavorjones-fix-jruby-9.2-failures`

[2018-11-11 21:06] flavorjones commented on #1817
OK, I think I've got the answer. Looking at Ruby's `configure.ac` file:

https://github.com/ruby/ruby/blob/trunk/configure.ac#L506-L513

and notably commit https://github.com/ruby/ruby/commit/20685cd introduces the flags you're having issues with.

I'll also point out that because CI is running these tests on Xenial using the same gcc compiler (5.4.0), that this is something that appears to be spe

[2018-11-11 21:10] flavorjones commented on #1817
See this stackoverflow post that seems related to what you're seeing:

https://stackoverflow.com/questions/50541061/gem-install-bcrypt-gcc-error-on-ubuntu-16-04/

[2018-11-12 11:04] fabioperrella commented on #1817
@flavorjones you were totally right!

I had the same problem installing the gem `bcrypt`, then I tried a different approach removing the ruby 2.5.1 that I had in my pc and installing the version 2.5.3 (with rbenv), and it worked! I installed nokogiri 1.8.5 and everything is all right!

So the problem was with ruby 2.5.1 installed with rbenv.

Really thank you for your attention!

[2018-11-12 11:04] #1817 closed

[2018-11-12 17:02] flavorjones commented on #1817
Excellent, I'm glad you were able to get it working. Thanks for closing the loop on this ticket.

[2018-11-12 21:43] #1818 closed

[2018-11-12 21:44] jvshahid commented on #1818
/cc @headius for awareness of this backward incompatible change in `RubyArray.get()`

[2018-11-13 12:14] paddor commented on #1810
Thanks! Looking forward to the next release.

[2018-11-13 23:35] lightoyou opened #1819 "Error on install in archlinux zlib"
## If you're having trouble installing Nokogiri ...

After 3hours on debugging I'm loose :(
Libs version:

- libzip 1.5.1-1
- libxml2 2.9.8-6
- libxslt 1.1.32

**Have you tried following [the installation tutorial][tutorial]?**
yes, the project embedded it's own updated and patched copies of libxml2 and libxslt libraries.
Before reading the documentation I have try to use mine libxml2 and libxslt

[2018-11-14 03:11] flavorjones commented on #1819
The easiest thing to do is to ensure you have the `base-devel` package group installed, and run `gem install nokogiri`. I was able to do this in a basic arch installation:

[code]

I'm then also able to compile against system libraries if I additionally install libxslt:

[code]

Can you help me understand what's different in your environment than a basic arch installation? I did the above using th

[2018-11-14 03:17] flavorjones commented on #1818
Thanks as always, @jvshahid

[2018-11-14 03:40] flavorjones commented on #1801
OK, maybe if I provide a bit more information on how I'd address this if I had access to a Mac running Mojave, somebody can verify that the approach would work.

`extconf.rb` is a pretty big file at this point, but if someone can find the section, at line 395, which hacks CFLAGS for OpenBSD, we can try something similar for Mojave:

[code]

Is anyone here able to try patching their `extconf.rb` in

[2018-11-14 08:54] lightoyou commented on #1819
Niice question... It's my daily use linux PC, there is a lot a modification....

I will try to investigate my self ...
Do you think it's link with that error  ?

[2018-11-14 17:47] flavorjones commented on #1819
Not sure. Googling a bit led me to this issue:

https://bugzilla.redhat.com/show_bug.cgi?id=1552529

which indicated a mismatch between binutils and gcc. Maybe that helps?

I'm going to close this issue, but if there's anything we can do to help please let us know!

[2018-11-14 17:47] #1819 closed

[2018-11-16 12:22] kares commented on #1818
that just seems weird - @jvshahid you should open up a ticket in JRuby

would take a closer look, at some point.
your fix is definitely correct, `get` (doing `toJava`) shouldn't be used but still weird that this changed in JRuby -> except `nil` we shall no `get` anything else as **null**

[2018-11-19 17:02] ouda18 commented on #1667
think u

[2018-11-19 18:57] flavorjones commented on #1667
I'll note for future visitors to this incident: the [installation tutorial](http://www.nokogiri.org/tutorials/installing_nokogiri.html) covers this and many other common setup problems.

[2018-11-21 14:39] arohr commented on #1810
Any plans when the next release will be released?

[2018-11-28 13:58] markoa commented on #1801
I was able to install Nokogiri on Mojave after running only `xcode-select --install`.

[2018-11-28 21:44] bacchir commented on #1801
For people using homebrew [the documentation](https://www.nokogiri.org/tutorials/installing_nokogiri.html#using-your-system-libraries) around macOS and homebrew install helped me figure out the command bellow which worked for me:

`gem install nokogiri -v '1.6.6.2' -- --use-system-libraries --with-iconv-dir=$(brew --prefix libiconv) --with-xml2-include=$(brew --prefix libxml2)/include/libxml2`

[2018-11-30 06:05] abdul-naaser commented on #1226
thank you very much, and i wonder how you knew that?

[2018-11-30 17:24] olehif opened #1822 "NodeSet#each returns zero instead of self"
According to ruby convention, #each method should return self:
`[1, 2].each {} # => [1, 2]`

While NodeSet#each always return zero instead:
`nodes.each {} # => 0`

As everyone in the ruby community expects #each to always return self (I myself had a hard time debugging seemingly perfect line of code) I think it would make sense to change this behavior even though it might potentially be a breaking

[2018-12-01 10:16] CaledoniaProject commented on #1812
Wow, this saved my day!  Nearly all my homebrew packages failed to compile due to this, e.g mysql@5.5.

Confirms that `brew unlinks binutils` work for both gem and brew.

[2018-12-01 14:14] #1812 closed

[2018-12-01 14:18] flavorjones commented on #1812
I've merged #1813 which will be in the next release, hopefully in the next few days.

[2018-12-01 16:12] flavorjones commented on #1810
Release is coming together now. Ideally soon after libxml 2.9.9 drops next week. Watch this milestone for updates: https://github.com/sparklemotion/nokogiri/milestone/16

[2018-12-01 16:44] flavorjones commented on #1822
Hey! Thanks for submitting this. I agree it's unexpected behavior to not act like an `Enumerable` or `Array` class, which is what `NodeSet` is intended to behave like.

That said, I'll first (and this is intended to be humorous!) point out that this is not an obvious assumption for "everyone in the ruby community": see https://github.com/sparklemotion/nokogiri/issues/1678 where some people have op

[2018-12-01 16:47] #1822 closed

[2018-12-02 04:33] #1784 closed

[2018-12-02 04:46] flavorjones opened #1826 "use `xmlFreeNode` in xml_document.c to deallocate unparented nodes of all types"
As @stevecheckoway pointed out in https://github.com/sparklemotion/nokogiri/issues/1784 we might be able to avoid the case statement in `dealloc_node_i` and let `xmlFreeNode` take care of it for us.

This change would be a simplification, but I need to spend some time digging into:

* why we call xmlFreePropList on XML_ATTRIBUTE_NODEs
* why we reparent most nodes back into the document instead of

[2018-12-02 04:47] flavorjones commented on #1784
@stevecheckoway You're probably right that we could just call `xmlFreeNode` and move on. I've created #1826 to investigate a bit when I have more time.

[2018-12-02 04:50] #1795 closed

[2018-12-02 05:01] #1749 closed

[2018-12-02 05:03] #1774 closed

[2018-12-02 05:18] flavorjones commented on #1782
This has been addressed by @jvshahid in his epic rewrite of `NodeSet` in #1796 / c113f4e. That should ship in the next release at some point in the next few days.

[2018-12-02 05:18] #1782 closed

[2018-12-02 06:43] flavorjones commented on #1800
PR is in #1827, going through CI now.

[2018-12-02 06:57] flavorjones commented on #1783
Hi - apologies for the delay in replying, and thanks for asking this question.

**The short answer**

Your XPath query appears to be incorrect for what you're trying to do. Try this instead:

[code]

**The longer answer**

There are two things that needed to be changed in the query you tried.

First, I'll note that `Comment` is not a direct child of `SubSubReport`. It's a child of `Message`. So in

[2018-12-02 06:57] #1783 closed

[2018-12-02 07:03] flavorjones commented on #1800
I'll note that that PR works like this:

[code]

[2018-12-02 07:04] #1800 closed

[2018-12-02 07:05] flavorjones commented on #1800
Will be fixed in the next release, hopefully in the next few days.

[2018-12-03 04:38] rubarb666 commented on #1826
So far so good🌆🌋🌀🌀🌀👙👙🌀🌀🌀

[2018-12-03 14:37] flavorjones commented on #1826
@rubarb666 can you explain a bit more about your comment?

[2018-12-03 19:36] cbeer commented on #1782
Thanks both; we're eagerly awaiting the release.

[2018-12-03 22:23] flavorjones opened #1829 "Explore replacements for Xalan-J"
See #1760 for more context.

The JRuby implementation of Nokogiri uses [Xalan-J](https://xml.apache.org/xalan-j/) for XSLT support, but [this thread](https://mail-archives.apache.org/mod_mbox/xalan-dev/201810.mbox/browser) reveals that development (and likely support) has stalled on that project.

A potential replacement, noted in the thread linked above, is [Saxon](http://saxon.sourceforge.net/).

[2018-12-04 01:51] AndreiRailean commented on #1801
@bbonamin you're probably talking about a clean install where there was no nokogiri in the past. I think half the people come here because it breaks after os or brew upgrade. Definitely was the case for me.

[2018-12-04 03:50] flavorjones commented on #1759
Your PR commits were merged! This will be fixed in the next release, which should happen in the next few days. Watch https://github.com/sparklemotion/nokogiri/milestone/16 to gauge progress.

Thanks again!

[2018-12-04 03:50] #1759 closed

[2018-12-04 04:39] flavorjones commented on #1063
OK - I've got a second branch up in which I punt on trying to implement this optimization in the JRuby implementaiton. branch is `1063-flavorjones-dup-document-fragment-attempt-2` and I'm going to poke @jvshahid about this decision in the morning.

[2018-12-04 17:07] flavorjones commented on #1253
I picked this up with @jvshahid this morning. Won't make the v1.9.0 release this week; but hoping to adopt this approach for the following release.

[2018-12-04 17:11] flavorjones commented on #1395
Once we address #1253 (using jar-dependencies) we should easily be able to do this.

[2018-12-04 21:49] flavorjones opened #1831 "xerces 2.11.0 is vulnerable to CVE-2012-0881"
Credit for reporting this vulnerability to Nokogiri Core goes to David Moore @grajagandev who works at [Looker](https://looker.com/). Thanks, David!

This issue is being opened for nokogiri core to triage this vulnerability within the context of Nokogiri.

---

## CVE-2012-0881 Resources

* NVD: https://nvd.nist.gov/vuln/detail/CVE-2012-0881
  * CVSS v3.0 Severity and Metrics: Base Score: 7.5 HIGH