[2018-12-04 21:52] flavorjones commented on #1831
Commit 2ecd40e updates Xerces-Java to v2.12.0 which according to the NVD entry linked above addresses this vulnerability.

I'll also note that we've scheduled work on the two following issues to help make versions of vendored Java libraries both more discoverable and easier to maintain and update:

- https://github.com/sparklemotion/nokogiri/issues/1253 using jar-dependencies
- https://github.com/

[2018-12-05 14:55] flavorjones opened #1832 "JRuby: Optimize node copying to new documents"
See #1063 for context. MRI has an optional second argument for `Node#dup` that the JRuby implementation does not have.

[2018-12-05 14:57] flavorjones commented on #1063
Chatted with @jvshahid and he agrees we should just address this issue in the libxml2/MRI code base and leave JRuby alone, at least for now. I've created #1832 to track this work for JRuby should eventually decide to do it.

Will ship a PR based on the above mentioned branch.

[2018-12-10 01:36] PikachuEXE opened #1833 "Installation issue with ruby 2.6.0-rc1"
## If you're having trouble installing Nokogiri ...

**Have you tried following [the installation tutorial][tutorial]?**
Yes, succeeded with "install with system libraries" only.
But unable to "Install with included libraries"

**What is the output of `gem install`?**
[code]

**What are the contents of the `mkmf.log` file?**
[code]

**What operating system are you using?**
MacOS 10.13.6 (17G3025)

[2018-12-10 02:34] nobu commented on #1833
This issue should be fixed by https://github.com/sparklemotion/nokogiri/pull/1820

[2018-12-10 05:08] flavorjones commented on #1833
I can cut an RC if you'd like. I'm waiting for libxml 2.9.9 to be released before I release nokogiri 1.9.0, but happy to build a release candidate. Let me kick it off now.

[2018-12-10 05:09] #1831 closed

[2018-12-10 05:37] #1063 closed, assigned to flavorjones

[2018-12-10 05:43] PikachuEXE commented on #1833
Thanks
Please let me know when it's built

[2018-12-10 06:11] flavorjones opened #1835 "release v1.9.0"
v1.9.0 is being tracked under the milestone at https://github.com/sparklemotion/nokogiri/milestone/16

[2018-12-10 06:11] flavorjones commented on #1835
Please note that v1.9.0.rc1 has been released. See https://github.com/sparklemotion/nokogiri/releases/tag/v1.9.0.rc1 for details.

[2018-12-10 06:12] flavorjones commented on #1833
v1.9.0.rc1 has been released. Please watch https://github.com/sparklemotion/nokogiri/issues/1835 to track the final release.

And please let us know if this addresses your issue.

[2018-12-10 06:19] PikachuEXE commented on #1833
The RC version can be installed on ruby 2.6 rc1 without any issue
Thanks for making the release :)
[code]

[2018-12-10 06:19] #1833 closed

[2018-12-10 07:14] flavorjones opened #1836 "[jruby] HTML::DocumentFragment.parse throws a NPE when namespaced attributes are used"
[code]

[code]

On MRI this is handled OK:

[code]

This is happening in the Loofah test suite, which is attempting to sanitize this input. I'd expect that the attribute would be allowed to exist in the document, but honestly any behavior would be preferable to NPE. :-)

[2018-12-10 07:19] flavorjones commented on #1836
Whoa, mind blown. This throws NPE:

[code]

and this does not:

[code]

[2018-12-12 08:41] vidurpunj opened #1837 "Erros while parsing my xhtml file using nokogiri"
Following is the list or error, can I add the tags to Nokogiri so that I can parse the xhtml files with customer tags like x3d which are not recognized by the x3d.

[code]

[2018-12-12 08:43] vidurpunj commented on #1837
Attached the xhtml flle which I am using to parse using nokogiri (1.8.5)

[2018-12-12 13:57] flavorjones commented on #1837
Hi, thanks for asking this question. When you receive a `Nokogiri::XML::SyntaxError` that means the underlying parser (either libxml2 or Xerces, depending on whether you're running on CRuby or JRuby) is raising a syntax error. Which means the document you're parsing contains a syntax error.

Can you please reply with the code you're running when you generate this error? It's hard to give advice un

[2018-12-13 12:51] MatzFan opened #1838 "Enhancement: Add #key? #value? predicates to Node"
Was gonna PR you this with (of course) tests, but couldn't figure out why my new methods were not found and the whole `tmp` folder builds thing. And then I read [Y_U_NO_GEMSPEC](https://github.com/sparklemotion/nokogiri/blob/master/Y_U_NO_GEMSPEC.md).

**Rationale:**
Rubocop [bugs me](https://github.com/rubocop-hq/rubocop/issues/6215#issuecomment-446942753) that instead of iterating a `Nokogiri::X

[2018-12-13 16:15] MSP-Greg opened #1839 "precompiled gem & trunk"
RubyGems has issues with ruby version constraints and proper gem selection when pre-compiled (platform specific) gems are available.

Ignoring that, the upper ruby version constraint used for `nokogiri-1.8.5-x64-mingw32.gem` is "< 2.6", which I believe will allow 'dev' and 'pre' builds to 'pass', and hence, the gem is installed.  Maybe use a constraint of "<= 2.5.99" (or "<= 2.6.99" in a few weeks

[2018-12-14 08:50] larskanis commented on #1839
Good point @MSP-Greg . The ruby version restriction is actually set in  rake-compiler here: https://github.com/rake-compiler/rake-compiler/blob/master/lib/rake/extensiontask.rb#L263

Are you sure the ruby patch version will not exceed 99?

[2018-12-14 11:22] MatzFan commented on #1838
@knu - quite right, just `#value?` missing. Re a use case, it is quite possible what I was trying to do can be accomplished a better way with existing functionality - FWIW I was trying to find a node with a particular attribute value. Nevertheless, I just felt it may be good practice for hash-like objects to, as far as possible, replicate Ruby's `Hash` interface.

Thanks @flavorjones think I figur

[2018-12-14 13:47] MSP-Greg commented on #1839
@larskanis

Oops.  Came across the issue while frustrated with something else.  I suppose both of us could win the lotto's, but unlikely...

I think the better constraint would be `"< 2.6.0.a"`.

I've never built any of the Ruby 'pre-releases', so I can't test with them, but I think the 'a' should filter correctly.

Thanks.  Never looked at the testing there, so...

Happy Holidays,  Greg

[2018-12-14 21:58] flavorjones commented on #1835
OK - I've been waiting for libxml 2.9.9 to drop for a few weeks; regardless of whether it drops this weekend, I'll cut v1.9.0 final.

[2018-12-14 22:04] flavorjones opened #1841 "depcreate Ruby 2.2 support"
Ruby 2.2 reached EOL in June 2018.

https://www.ruby-lang.org/en/news/2018/06/20/support-of-ruby-2-2-has-ended/

Potential actions:
* remove it from the Windows gem in an upcoming release.
* update the gemspec to declare this as no longer compatible
* update the README

[2018-12-14 22:06] flavorjones opened #1842 "ruby 2.6 support"
Placeholder story to cut a release supporting Ruby 2.6.

Some prior tickets to look at to make sure we're doing everything right:

* https://github.com/sparklemotion/nokogiri/issues/1256
* https://github.com/sparklemotion/nokogiri/issues/1618
* https://github.com/sparklemotion/nokogiri/issues/1706
* https://github.com/sparklemotion/nokogiri/issues/1709

We'll need to:

* [x] add 2.6 to the Windows

[2018-12-14 22:07] flavorjones commented on #1835
Also please note that I'm holding off on Ruby 2.6 support until the next release, which should be a fast-follow to this release. Ruby 2.6 is scheduled to drop in less than two weeks.

[2018-12-16 17:23] flavorjones opened #1844 "ensure all DocumentFragment parse methods take ParseOptions and an options-configuration block"
See #1692 for the beginning of this work on HTML::DocumentFragment

See #1843 for a rebase of this work onto a modern `master`

See branch `1844-fragment-parse-options-overhaul` for the start of adding tests to HTML::DocumentFragment which are more thorough than the current test approach

Things I'd like to do as a result of this issue:

1) [net new behavior] have all XML::Document and HTML::Docum

[2018-12-16 18:35] flavorjones commented on #1842
@larskanis That sounds great, planning to cut v1.10.0 as soon as possible after ruby 2.6 final is out. Thank you!

[2018-12-16 19:11] flavorjones commented on #1337
WIP branch at `1337-use-hoe-racc-plugin`, looks like `oedipus_lex` is barfing on `lib/nokogiri/css/tokenizer.rex`:

[code]

[2018-12-16 19:18] flavorjones commented on #1337
This appears to be because `oedipus_lex` has a different syntax than rexical: meaning this is now a placeholder for migrating to oedipus_lex. See https://github.com/seattlerb/oedipus_lex

[2018-12-17 05:30] kenkuts commented on #1801
I am so happy this solved my problem I've been trying to fix this for the past few days. Y'all need to fix these installation issues.

[2018-12-17 13:11] flavorjones commented on #1711
I've merged this manually! Will be in v1.9.0. Thanks again for your patience and for submitting this PR!

[2018-12-17 13:11] #1711 closed

[2018-12-17 13:58] flavorjones commented on #1801
@kenkuts Did you happen to read any of my comments above where I'm trying to get someone to confirm that a one-line change in `extconf.rb` works?

Once again: **any Mac users arriving at this issue, STOP trying to hack it.**  Read this comment above:

https://github.com/sparklemotion/nokogiri/issues/1801#issuecomment-438526682

Please clone the repository, make this small change to extconf.rb, run

[2018-12-17 14:34] flavorjones opened #1845 "concourse: automate building gems, testing of gem installation, and `gem push`"
The work under #1719, which modified the contents of the gemfiles, has made me realize that although we test the code pretty well, we don't have any automated test coverage on the gem installation process.

I'd like to set up the following:

__Release Candidate gems__

A manually-triggered pipeline with jobs to:
* build an RC gem for each of the platforms we ship, and upload them to an S3-compatib

[2018-12-17 16:05] deepj commented on #1801
@flavorjones I finally got working macOS in VirtualBox. I've tried to install the latest nokogiri `1.9.0`

It was successful.

I could install only macOS Mojave `10.4.0` not `10.4.1` or `10.4.2`

Here my steps what I made on the freshly installed macOS

1. Install Homebrew (this installs Command Line Tools)
`/usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/i

[2018-12-17 19:20] duranmla commented on #1801
In my case, the problem was more related to https://stackoverflow.com/questions/14607193/installing-gem-or-updating-rubygems-fails-with-permissions-error

Basically, when I run the `bundle install` command it wasn't able to "understand" that I had rbenv

Once I make sure that after run `which gem` I got `/Users/justin/.rbenv/shims/gem` everything runs smoothly

[2018-12-17 21:10] flavorjones commented on #1835
v1.9.0 has been shipped: https://github.com/sparklemotion/nokogiri/releases/tag/v1.9.0

[2018-12-17 21:10] #1835 closed

[2018-12-17 21:20] dmzza commented on #1801
Updating to the latest version of Nokogiri 1.9.0 solved the problem for me

`git install nokogiri`

[2018-12-18 03:48] flavorjones opened #1846 "DocumentFragment#dup does not preserve decorators"
In v1.9.0, duplicated DocumentFragments do not carry over the document decorators the way they were previously. This breaks Loofah (see https://github.com/flavorjones/loofah/issues/161).

Working on this now.

[2018-12-18 04:37] gingerlime commented on #1127
Is there any progress on consensus on this one? Is it actually ok to convert `&` inside html links to `&amp;`? browsers seem to be fine with them either way, but it feels odd to me (not to mention the chance of those `&amp`s stacking up if people start to copy links that already have `&amp;`s in them, or am I being silly?)

[2018-12-18 07:58] ekremkaraca commented on #1781
I had similar issue while trying to upgrade the gem to the version 1.9.1. For me, gcc version is 5.5:

[code]

[2018-12-19 18:20] rajivshah3 commented on #1801
Hey @flavorjones , this seems to work for me (I used `ENV['CFLAGS'] = "#{ENV['CFLAGS']} -I /Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.14.sdk"` instead though because that's where my SDK is). However, it also seems to compile successfully without this change. I'm using macOS Mojave 10.14.2 Beta (18C52a) with Xcode 10.1 (10B61). Please let me know if

[2018-12-20 01:14] adjam opened #1847 "Error Handling for Nokogiri::XML::SAX::Document under jruby seems broken"
**What problems are you experiencing?**

Created a subclass of `Nokogiri::XML::SAX::Document` that raises an exception in the `#error` method.  Tried to parse a non-well-formed XML document, expecting the error to be raised, but it wasn't.

**What's the output from `nokogiri -v`?**

[code]

**Can you provide a self-contained script that reproduces what you're seeing?**

[code]

- outputs
[code]
Wh

[2018-12-20 04:42] flavorjones commented on #1847
Hey, thank you so much for reporting this! I'm not at all confident that the JRuby implementation of the SAX parser has had many eyes on it over the years, and so it's great to hear feedback.

I'll make sure someone takes a look at this in the next few days.

[2018-12-20 04:54] flavorjones commented on #1741
Note: JRuby 1.7 was removed from the CI pipelines when `concourse-gem` v0.19.0 dropped in September.

Note: the `.travis.yml` file hasn't been changed since Feb 2018 which reinforces my belief that it's unused and unnecessary. Also, I turned off Travis builds 10 months ago and nobody has noticed. I am going to delete the travis config file.

So the updated punch list is:

* [ ] delete Travis confi

[2018-12-20 05:05] flavorjones commented on #1741
@jvshahid I'm curious if you see any other JRuby code that's specific to 1.7 support (or Ruby 1.9 support)?

Notably, in `ext/java/nokogiri/XmlSyntaxError.java` the `to_s19` method appears to still be required on JRuby 9.2.x.x despite being explicitly commented as specific to JRuby 1.7 and named after Ruby 1.9 string handling.

[2018-12-20 05:11] flavorjones commented on #1841
OK, making a punchlist:

* [ ] remove from `.cross_rubies` so it's not included in Windows gems anymore
* [ ] update the gem spec in `Rakefile` so min Ruby version is 2.2
* [ ] update the README to reflect min version

[2018-12-21 04:36] MSP-Greg commented on #1839
Moved to [rake-compiler issue 150](https://github.com/rake-compiler/rake-compiler/issues/150)

Ok to close...

[2018-12-21 08:30] Onkar09 commented on #1801
This worked for me. Tried almost all the suggestions available on google, stackoverflow, github but failed. This is like life saver for me.

[2018-12-22 13:47] flavorjones opened #1848 "chore: go through generated rdocs and review formatting and doc strings"
My hunch is that we haven't looked at the generated rdocs in a long time, and I'm spotting things like `VersionInfo` showing up despite having a `:nodoc:` declaration. Simultaneously, the `VERSION` constant doesn't show up, where I expected it to.

Let's set aside some time to review https://www.rubydoc.info/github/sparklemotion/nokogiri and find and fix some of those broken windows.

[2018-12-24 15:47] MSP-Greg commented on #1839
See [rake-compiler/rake-compiler 6292719](https://github.com/rake-compiler/rake-compiler/commit/6292719d9a0eed8d3708d929060c41b103b51942), included in 1.0.6.

[2018-12-24 15:47] #1839 closed

[2018-12-25 20:35] kaiquekandykoga opened #1849 "nokogiri 1.9.1"
Hi guys, it's the first time I'm opening an issue on GitHub so I hope I'm doing it correctly.

I was using nokogiri version 1.8.5 without problems. Now I'm having trouble to install nokogiri in my gems since the version 1.9.1 was released.

I tried to create a new app _"rails new my_app"_ and the following message showed up for me:

[code]

Then following the mentioned tip I executed **gem install

[2018-12-26 02:16] flavorjones commented on #1849
Hi, thank you for asking this question. Unfortunately when you filed this report you ignored the "new issue" template designed to capture the information we need to help you.

Please take a look at https://github.com/sparklemotion/nokogiri/blob/master/.github/ISSUE_TEMPLATE.md and answer those questions and someone will try to help. Thank you!

[2018-12-26 03:57] kaiquekandykoga commented on #1849
I'm sorry, I thought the questions were optional. Follow the answers.

**Have you tried following the installation tutorial?**
Yes
**What is the output of `gem install`?**
[code]
**What are the contents of the `mkmf.log` file?**
This file wasn't generated. I looked for it using `find ~/.rvm -name mkmf.log`, but I didn't find anything in nokogiri-1.9.1

**What operating system are you using?**
Debi

[2018-12-27 03:35] flavorjones commented on #1801
@deepj Thanks for your reply -- there's a lot of noise in this thread and you're providing some clarity.

Can you provide your `mkmf.log` file from a failed `bundle exec compile` in which you had the suggested patch applied and you saw the "cannot discover where libxml2 is located on your system" error message? It would also be helpful to provide all of the commands you're running so I have that c

[2018-12-27 03:38] flavorjones commented on #1741
@jvshahid bumping this. I think what I have on master is OK and so if you can't take a look I'll probably proceed anyway.

[2018-12-27 17:32] jvshahid commented on #1741
I took a quick look and couldn't find anything besides the few comments we had.  I'm not sure if there is an easy way to discover things that we can remove other than trying them out.  I made a few changes locally to stop using deprecated JRuby APIs.  I don't think it is a blocker though.  I will probably push those to a PR in the next few hours to test the changes in CI.

[2018-12-27 17:33] flavorjones commented on #1741
Word, OK. I'm going to close this, then. Thanks, @jvshahid!

[2018-12-27 17:33] #1741 closed

[2018-12-28 21:41] flavorjones commented on #1842
Reopening

[2018-12-29 03:10] #1842 closed

[2018-12-29 06:09] flavorjones commented on #1610
I'll further note that this is the script I used to generate the samplings of code I filtered through above (in case I need to re-do the analysis after so much time):

[code]

[2019-01-02 20:16] klandergren commented on #1848
@flavorjones I looked into this and found out the following (which you may already be aware of):

I think this is because rubydoc.info uses [yard](https://github.com/lsegal/yard), which does not support `:nodoc:` out of the box:

https://rubydoc.tenderapp.com/kb/getting-started-with-rubydocinfo/where-is-my-nodoc

grepping through `nokogiri/lib` there are some instances of `@private` use, but not a

[2019-01-02 20:50] flavorjones commented on #1848
@klandergren Thank you for spending time looking into this! I really appreciate your expertise, because I know next-to-nothing about Yard. Lots to think about here.

[2019-01-04 08:05] deepj commented on #1801
@flavorjones Hello, I'll look at it this weekend and then I let you know. I'm sorry for the late answer, holidays here.

[2019-01-05 00:48] flavorjones commented on #1801
I've merged #1851 into master. I'm considering cutting a v1.10.1 release with this change. Will leave this open until a version is shipped.

[2019-01-05 00:56] flavorjones commented on #1837
Closing.

[2019-01-05 00:56] #1837 closed

[2019-01-05 00:58] flavorjones commented on #1806
Closing.

[2019-01-05 00:58] #1806 closed

[2019-01-05 01:07] flavorjones commented on #1781
@tibbon I'm curious if your version of Ruby was compiled with a different/newer version of GCC?

I ask because it looks like those compiler flags come from `RbConfig::CONFIG["cflags"]`. Unless you're using a different compiler, it doesn't make sense to me that gcc would exit-with-error when seeing that option.

[2019-01-05 01:11] #1762 closed

[2019-01-05 01:36] #1602 closed

[2019-01-05 01:36] flavorjones commented on #1601
Done. See a684202

[2019-01-05 01:36] #1601 closed

[2019-01-05 01:37] flavorjones commented on #1600
Deleted. See a684202

[2019-01-05 01:37] #1600 closed

[2019-01-05 02:09] flavorjones commented on #1683
@BobbyMcWho I'm terribly sorry I haven't responded to this earlier. Thanks for asking this question.

What you're describing here is behavior that Nokogiri inherits from libxml2 ([code is here](https://github.com/GNOME/libxml2/blob/master/xmlschemas.c#L10973-L10977)) and so there's nothing Nokogiri can easily to do avoid this.

If you'd like to understand why libxml2 is doing this, my advice would

[2019-01-05 02:09] #1683 closed

[2019-01-05 02:17] flavorjones commented on #1684
Hi @rcrews, apologies for not responding to this before now.

What you're describing looks to me like it's behavior that Nokogiri inherits from Xerces, and so there's not much we can easily do about it. You may want to ask about this behavior in a Xerces-specific forum. I googled a bit and was not able to find anything related in either forums or in Xerces docs.

I'm sorry I can't be more help her

[2019-01-05 02:17] #1684 closed

[2019-01-05 02:19] #1578 closed

[2019-01-05 03:10] flavorjones commented on #1644
@rcrews Apologies again for the slow reply.

When calling `Nokogiri::XML(File.read(file))` there's no way for Nokogiri to know the base URI since `IO.read` [returns a string](https://ruby-doc.org/core-2.5.0/IO.html#method-c-read). In this use case, you should pass in the path as the second argument to `XML()` or `XML::Document.parse()`:

[code]

When you pass a file descriptor, such as that yielde

[2019-01-05 03:10] #1644 closed

[2019-01-05 03:11] #1725 closed

[2019-01-05 03:20] flavorjones commented on #1739
@Muhaiminkp I'm going to close this issue. I'm open to a PR that address the underlying issue; but I think the workaround mentioned by @larskanis above is enough to get nokogiri installed for you (using system libraries).

For more information, please see a few of these related issues:

* https://github.com/termux/termux-packages/issues/397
* https://github.com/termux/termux-app/issues/541
* https

[2019-01-05 03:20] #1739 closed

[2019-01-05 03:34] flavorjones commented on #1482
I'll note that all installed gems do this if they're using vendored libraries:

[code]

and so what I recommended above should be the action we take here: VersioInfo shouldn't track/display these paths unless the gem is using system libraries.

[2019-01-05 04:12] flavorjones commented on #394
This was fixed by d5e1ce6 first appearing in v1.6.2. Sorry for not closing earlier.

[2019-01-05 04:12] #394 closed

[2019-01-05 05:25] #193 closed, assigned to tenderlove

[2019-01-05 05:40] flavorjones commented on #311
I believe this behavior was introduced in libxml 2.6.31 in https://github.com/GNOME/libxml2/commit/dbd6105 and appears to be intentional. Closing.

[2019-01-05 05:40] #311 closed

[2019-01-05 05:48] flavorjones commented on #316
Description of differences between `dup` and `clone` [here](https://stackoverflow.com/questions/10183370/whats-the-difference-between-rubys-dup-and-clone-methods) and [here](https://ruby-doc.org/core-2.5.1/Object.html#method-i-dup-label-on+dup+vs+clone)

[2019-01-05 06:14] flavorjones commented on #350
PR #1852 addresses this.

[2019-01-05 06:30] flavorjones commented on #388
This behavior still occurs with libxml 2.9.9. Unfortunately, there's nothing Nokogiri can easily do to change this behavior, so I'd like to close this ticket.

[2019-01-05 06:30] #388 closed

[2019-01-05 06:36] #510 closed

[2019-01-05 06:44] flavorjones commented on #521
The behavior has improved a bit since this bug was filed, with only a single "\n" being emitted by JRuby. This has to do with how JRuby / Xerces formats the document:

[code]

You can see that Xerces adds a newline at the end of the body text. This behavior is inherited by Nokogiri, and unfortunately there isn't anything we can easily do about that difference.

[2019-01-05 06:44] #521 closed

[2019-01-05 06:46] flavorjones commented on #528
I'm open to accepting a pull request for this functionality, but am unlikely to do that work myself. Closing.

[2019-01-05 06:46] #528 closed

[2019-01-05 06:54] #551 closed

[2019-01-05 07:02] flavorjones commented on #641
I'm not sure what I was intending to investigate when I opened this. The slowness here is related to text nodes being merged by libxml2 (and by Nokogiri, defensively) and I'm not totally sure it's worth the effort to optimize here. I'm happy to have a conversation with anyone who wants to chat about it; but for now I'm going to close this.

[2019-01-05 07:02] #641 closed

[2019-01-05 07:37] flavorjones commented on #642
The above example does return an error if we call `#validate` on a `Document` ... but the error is "The document has no document element" which is actually returned by `xmlSchemaValidateDoc` before it even gets around to the actual schema validation.

The JRuby implementation exhibits the same behavior as `validate_file` regardless of whether we are passing a `Document` or a file path ... which ma

[2019-01-05 07:50] flavorjones commented on #668
I'll note for posterity that the change to use unclosed `html` and `body` tags was to address #315.

Further, it does appear that with modern versions of libxml2 (e.g., 2.9.9) that the newline is no longer dropped:

[code]

so I'll go ahead and close this.

[2019-01-05 07:50] #668 closed

[2019-01-05 07:53] flavorjones commented on #671
Noting that this issue still exists in libxml 2.9.9.

[2019-01-05 08:00] #809 closed

[2019-01-05 08:06] #744 closed

[2019-01-05 08:16] #1337 closed

[2019-01-05 08:25] #814 closed, assigned to jvshahid

[2019-01-05 08:38] flavorjones commented on #863
@matpowel Apologies for not responding sooner.

The behavior being described here is inherited by Nokogiri from the underlying parsing engine, in this case nekohtml. As a result there's not much Nokogiri can easily do to make the behaviors between parsers identical in every case.

A workaround for the described problem might be to select the `tr` element after parsing, like this:

[code]

However

[2019-01-05 08:38] #863 closed

[2019-01-05 08:43] flavorjones commented on #672
Related to #572

[2019-01-05 08:48] flavorjones commented on #1060
see WIP at branch `origin/flavorjones-issue-1060-jruby-document-dup`

[2019-01-06 04:51] #350 closed

[2019-01-07 18:52] MaxLustig opened #1853 "DocumentFragment > selector broken"
**What problems are you experiencing?**
Using DocumentFragment > selector produces undefined method error.

**What's the output from `nokogiri -v`?**
# Nokogiri (1.8.5)
    ---
    warnings: []
    nokogiri: 1.8.5
    ruby:
      version: 2.4.5
      platform: x86_64-darwin17
      description: ruby 2.4.5p335 (2018-10-18 revision 65137) [x86_64-darwin17]
      engine: ruby
    libxml:
      bindin

[2019-01-07 19:10] #1853 closed

[2019-01-08 10:46] WoolenWang opened #1854 "NAMESPACE_ERR: An attempt is made to create or change an object in a way which is incorrect with regard to namespaces Error"
## If you're having trouble installing Nokogiri ...

**Have you tried following [the installation tutorial][tutorial]?**

**What is the output of `gem install`?**

**What are the contents of the `mkmf.log` file?**

**What operating system are you using?**
win10 jruby9.1.13

## If this isn't an installation issue ...

**What problems are you experiencing?**

NAMESPACE_ERR: An attempt is made to cre

[2019-01-08 10:54] bananarne commented on #1800
Wow, thanks!

[2019-01-08 14:20] boutil opened #1855 "please ship specs in the gem"
Hi

Until 1.8, nokogiri gem contained the spec files. It was useful for Debian (and certainly for other GNU/Linux distributions) to be able to run the test suite when building packages for their archive.

Since 1.9, the spec/ subdir is not included anymore. In Debian, we thought about using the github repository as the new source, but since it has no gemspec file (on purpose, as you explained alre

[2019-01-08 14:24] flavorjones commented on #1854
Hi, thanks for asking this question.

I wrote the following script to reproduce what you're seeing:

[code]

On CRuby (with libxml2), the output is:

[code]

On JRuby (with xerces), the result is an error:

[code]

Have I accurately reproduced what you're seeing?

[2019-01-08 14:30] flavorjones commented on #1854
Related content on the internet reveals what might be a workaround: https://gist.github.com/mudge/428455

so updating code to be:

[code]

Nokogiri on JRuby now outputs:

[code]

So if you need to work around this bug for now, you can.

[2019-01-08 14:55] flavorjones commented on #1855
Hi,

Thanks for bringing this up, and I apologize if this change caught you off-guard.

We did make reasonable efforts to discuss this publicly and get input into the decision. There was a public discussion on the mailing list and in a couple of different github issues about removing specs from the gem, and was met with general approval from users and downstream library maintainers. I released an

[2019-01-08 14:58] flavorjones commented on #1855
One more note: I'd be happy to pair with you on updating your build scripts to merge the gem files of a certain version with the spec files from the same tagged version of the git repo. I'd like to learn more about how repackaging is being done by distro maintainers, so this might be a good way for us to build empathy with each other!

[2019-01-08 15:01] flavorjones commented on #1855
I'd also be open to PRs that would make the above workflow easier to manage! For example, @larskanis [proposed at one point](https://github.com/sparklemotion/nokogiri/issues/1711#issuecomment-360192706) that we decouple the `compile` and `test` rake tasks to make it easier to run tests against an installed gem; and I think that's a very reasonable idea.

[2019-01-08 15:19] pravi commented on #1855
@flavorjones , @boutil wrote this in his request "In Debian, we thought about using the github repository as the new source, but since it has no gemspec file (on purpose, as you explained already), byt has jar files, which we need to filter out, it makes things a bit tricky for packagers." So if you can provide gemspec file in release tarballs, that will suffice our use case.

[2019-01-08 15:22] pravi commented on #1855
We use gem2deb https://salsa.debian.org/ruby-team/gem2deb for building the deb file and till 1.8 version we did not have to do anything special for nokogiri.

[2019-01-08 15:39] boutil commented on #1855
@flavorjones thanks for your comments. We understand indeed the additional burden it was to provide the spec, and understand that going back is not a good idea from this point of view.
I completely missed this discussion, and will definitely join the mailing list to avoid other important issues.

As @pravi mentioned, we would be happy to use the github repository as the source. Filtering out the j

[2019-01-08 15:51] pravi commented on #1855
@boutil I tried rake gem:spec and at least 'concourse' is not packaged, may be we can patch Rakefile to use only the libraries that are really required to generate the gemspec file. Alternatively if the gemspec from .gem is combined with the tar file from repo either by upstream or by modifying debian's fake upstream service, that could work as well.

[2019-01-08 15:52] boutil commented on #1855
We can comment out the part about concourse, and we would need then to package ruby-hoe-gemspec. This approach would be simpler than trying to combine two sources...

[2019-01-08 16:21] nobletrout opened #1856 "Nokogiri delivers some weird parsing results with malformed XML (&gt; disappears)"
I was trying to chase down a nasty issue, and came up against a bunch of google search results. Ended being caused by malformed XML that Noko was still parsing and returning on. It's because of multiple declarations. Not sure if it's a bug or what, but I would expect the parser to ignore additional declarations rather than change output.

The following code:

[code]

returns:
[code]

[2019-01-08 19:04] flavorjones commented on #1856
Hi there! Thanks for asking this question. I've reproduced this behavior running Nokogiri 1.10.0 with libxml 2.9.9.

Looking at the structure of the document reveals:

[code]

I'll repeat here the interesting bit: `#<Nokogiri::XML::ProcessingInstruction:0x2b20c65583b0 name="xml">`

You can read up on Processing Instructions here: https://en.wikipedia.org/wiki/Processing_Instruction

So in summary,

[2019-01-08 19:04] #1856 closed

[2019-01-08 19:15] flavorjones opened #1857 "`Node#>` operator does not work in a `DocumentFragment`"
Originally reported on the mailing list by @MaxLustig and at #1853 which was self-closed.

Failing example:

[code]

We should move the definition of `Node#>` into `Searchable` and make sure it works for DocumentFragment. I'll further note that that implementation might be fraught because of the well-documented xpath-on-root-nodes issues (see https://github.com/sparklemotion/nokogiri/issues/572),

[2019-01-08 19:23] nobletrout commented on #1856
yes, thanks. I know it's an invalid syntax, I just thought the behavior was sufficiently weird that someone else searching the Internet might get saved a few hours of figuring out what is going wrong. I'll notify the upstream project.

[2019-01-09 07:55] junaruga commented on #1855
@boutil You can create the gemspec file by yourself.

[code]

[2019-01-09 08:11] junaruga commented on #1855
In case of Fedora (RPM base Linux distribution), we are planning to use
* 1st source: the gem file (nokogiri-*.gem)
* 2nd source: tar.gz file including the spec/ (test/ ?) sub directory. `nokogiri-1.10.0-tests.tgz` That is prepared by below steps in advance.

[code]

This is a common approach on Fedora project, because many gem packages including Rails does not include the test files in the gem fi

[2019-01-09 15:02] flavorjones commented on #1855
Hi all, I really appreciate the conversation here. I'd like to maybe state my opinion on a few of the options brought up:

* `rake gem:spec` creates a __test__ gemspec with a version like `1.10.1.20190101120103`. This file will not be suitable for your purposes, I don't think. Hoe does not make it easy to have an external gemspec, but `hoe-gemspec` could be modified to do so if you'd like to send

[2019-01-09 15:05] flavorjones commented on #1855
The idea behind __3__ above is that you'd run `gem fetch nokogiri --platform=with-tests and get a gem file containing the tests.

I built a local gem with test files in it, and ran `gem2deb` on it and it seemed to work (though I don't understand how to run the tests, and can't seem to resolve `ruby-mini-portile2`).

[2019-01-09 15:06] flavorjones commented on #1855
@boutil I'll note that it appears as though `ruby-nokogiri` is being built __not__ against the debian libxml2/libxslt packages, but by compiling the patched vendored versions of those libraries. Is this what's intended? Why wouldn't you be building against system libraries? If you're not sure how to do that, let me know and I can help.

[2019-01-09 15:39] flavorjones commented on #1855
Posting a __test gem__ here. (It's a tarball because github won't allow me to post a `.gem` file.)

[nokogiri-1.10.0-with_tests.gem.tar.gz](https://github.com/sparklemotion/nokogiri/files/2741504/nokogiri-1.10.0-with_tests.gem.tar.gz)

@boutil or @pravi can you let me know if it's satisfactory for your needs? If that works then I will try to publish something similar to rubygems.org and we can tes

[2019-01-09 15:45] flavorjones commented on #1855
I've put the code that generate this gemfile into PR #1858 for visibility and review.

[2019-01-12 00:08] Korayem commented on #1690
I solved this by running

    gem install libxml-ruby -v '3.0.0' -- --with-xml2-config=/usr/local/opt/libxml2/bin/xml2-config --with-xml2-dir=/usr/local/opt/libxml2 --with-xml2-lib=/usr/local/opt/libxml2/lib --with-xml2-include=/usr/local/opt/libxml2/include

[2019-01-12 02:42] FranklinYu commented on #1801
@Onkar09 Could you please provide more context?
1. Just to make sure, simply `gem install nokogiri` didn’t work for you, right? This is the most recommended way.
2. Did you try the second recommended way, [Install with system libraries](https://www.nokogiri.org/tutorials/installing_nokogiri.html#install-with-system-libraries)?

[2019-01-12 02:43] FranklinYu commented on #1690
@Korayem You should not have needed that. It’s 2019 and you should be able to `gem install nokogiri`. If that didn’t work, did you try the second recommended way, [Install with system libraries](https://www.nokogiri.org/tutorials/installing_nokogiri.html#install-with-system-libraries)?

[2019-01-12 03:06] FranklinYu commented on #1801
@flavorjones I think most of the “solutions” mentioned above *are already* covered in the documentation; others just cannot reproduce, so we can close this issue. I don’t think your patch is necessary, because it should be covered by the “Install with system libraries” chapter. The `pkg-config` from Homebrew should be able to find the libraries provided by Apple:

https://github.com/Homebrew/brew/

[2019-01-12 06:05] flavorjones commented on #1127
I'd like to point out here that both libxml2 and nekohtml exhibit the same behavior. For this test:

[code]

This is the failure for libxml2:

[code]

and this is the failure for nekohtml:

[code]

Nokogiri's job is to wrap the underlying parsing libraries, and so there's lots of examples of strange behavior, usually related to encoding or fixing broken markup, that is inherited from libxml2 or xe

[2019-01-12 06:34] flavorjones commented on #1781
@tibbon I asked my previous question because, if your Ruby was compiled with the same GCC flags then Nokogiri shouldn't need to sanity-check your version of GCC.

I'd like to close this, under the assumption that Ruby and Nokogiri were compiled with different versions of GCC on your system. Please let me know if that's not the case.

[2019-01-12 10:46] gingerlime commented on #1127
Thanks @flavorjones. It's very interesting that both libraries do this.

Trying to research this a bit, I think you're right. It's probably even the right or safest thing to do according to https://mathiasbynens.be/notes/ambiguous-ampersands

(emphasis not mine)

Having said that, it's definitely confusing and rather surprising when you don't intend it to encode ampersands for you, and it does. Es

[2019-01-12 18:38] flavorjones commented on #1855
OK - @boutil I'll close this in a few days if I haven't heard back, since it sounds like you may be able to make this work without me shipping a special gem? For what it's worth, you can also generate the .gem with test files with this command, using the branch from #1858:

[code]

[2019-01-12 21:30] flavorjones commented on #1060
Narrowed this down to this failing test:

[code]

[2019-01-12 21:41] flavorjones commented on #1060
@jvshahid I think the root problem here is that the JRuby impl doesn't implement `Document#dup` to override `Node#dup`. I'm staring at this code and I don't really know where to start. Any advice?

[2019-01-12 21:55] flavorjones commented on #1482
So what this really means is that the paths are not useful, and we should remove them entirely. Because that would be a (slight) breaking change I'm going to move this into the v1.11.0 milestone.

[2019-01-12 22:04] flavorjones commented on #1482
See PR at #1859 which is scheduled for v1.11.0.

[2019-01-12 22:05] #1482 closed

[2019-01-12 22:14] #1801 closed

[2019-01-12 22:18] flavorjones commented on #1802
@ojundt Are you able to provide a smaller repro script? If not maybe it's no biggie, but the test I have based on this data is large as a result.

[2019-01-12 22:47] flavorjones commented on #1802
just pushed branch `1802-xpath2-causes-segfault-in-transform` which still needs a test before it gets merged.

[2019-01-13 03:51] flavorjones commented on #1802
@ojundt Never mind - I've got it shortened down to a very small size now. Thanks again for the repro!

[2019-01-13 04:14] flavorjones commented on #1802
See PR #1860 to address this issue.

[2019-01-13 04:32] flavorjones commented on #1758
@jvshahid I looked at the libxml2 implementation here (xmlParseChunk) and there isn't any way to affect that behavior. We could count how many bytes we've seen and if 0 then suppress that particular error from xmlParseChunk ... but that seems like a lot of work for an edge case. I'm wondering what you think an alternative solution might look like?

[2019-01-13 04:33] #1802 closed

[2019-01-14 20:42] cheald opened #1861 "Xpath search time for nodes with classes increases exponentially with document size"
**Describe the bug**

We have an HTML document of about 1.5MB - mostly HTML tables, which is being styled via premailer. Fundamentally, it inlines your styles by finding nodes which styles in a stylesheet apply to. This is simple enough. However, we found that Nokogiri's xpath search gets EXCEPTIONALLY slow for each search that contains classes or IDs when there are a significant number of nodes i

[2019-01-14 20:55] cheald commented on #1861
Another interesting data point:

[code]

Basically, as long as the attribute-searched element has an explicit parent specified, it seems to be fast. When unspecified, it gets exceptionally slow. This smells like something pathological in the xpath implementation itself, but it's beyond my expertise to guess at what.

We're working around this internally by fully specifying selectors in our premail

[2019-01-14 21:17] jvshahid commented on #1060
I just got back from vacation.  I will take a look in the next few days.

[2019-01-15 00:45] flavorjones commented on #1861
@cheald Thanks for pointing this out, and for writing up an extremely clear description of what's going on.

My gut says that you're describing the performance of libxml2 itself, and not Nokogiri, but I'll take a look to make sure.

[2019-01-15 00:51] cheald commented on #1861
I did in fact verify that it's an issue in libxml2. It's out of my depth to debug it further from there, though.

Might there be a better approach to xpath query generation that would appropriately map to CSS without getting into whatever territory it is that causes this slowdown? I don't know xpath well enough to know that to look for, but the behavior feels O(n^2) which makes me wonder if xpath

[2019-01-15 01:12] flavorjones commented on #1861
__Step 1__

Convert CSS to XPath using `Nokogiri::CSS::Parser.new.parse(css).first.to_xpath`

| css | xpath |
|---|---|
| `table .elem_100` | `//table//*[contains(concat(' ', normalize-space(@class), ' '), ' elem_100 ')]`, |
| `table .elem_5` | `//table//*[contains(concat(' ', normalize-space(@class), ' '), ' elem_5 ')]`, |
| `table > tr .elem_5` | `//table/tr//*[contains(concat(' ', normalize-spa

[2019-01-15 02:53] flavorjones commented on #1861
I'll post a gist of the C code and the corresponding ruby code I wrote, but the TL;DR is:

* libxml2 really is this slow
* nokogiri-on-jruby using Xalan-J is much, much, much faster
* which leads me to believe libxml2's xpath implementation could be improved

Here are the benchmarks:

[code]

[2019-01-15 03:01] flavorjones commented on #1861
The gist containing all the code that went into those benchmarks is at: https://gist.github.com/flavorjones/1894c21e0bbc157b48a56f76233dffe7

[2019-01-15 03:09] flavorjones commented on #1861
Just to reply to this directly: the fact that Xalan is able to handle this case with pretty good performance tells me that we shouldn't have to optimize the XPath translation further; I'll also note that when we wrote the CSS-to-XPath translation layer in Nokogiri, we did spend some time trying to optimize it and this is the best we could do.

I agree that the exponential behavior is indicative of

[2019-01-15 08:33] kares commented on #1741
most of the `is1_9` checking (and pre 1.9 missing encoding logic etc) was already gone, recall did update the above mentioned piece and it should be working fine on 9K but we should also change the signature to avoid (future) deprecation warnings. guess @jvshahid already has those.

btw. I did notice CI builds missing :) https://github.com/sparklemotion/nokogiri/commit/1edf50305370ce2dedcc4bafdc25

[2019-01-16 03:13] flavorjones commented on #1741
Can you help me understand what you're perceiving as "missing" with respect to CI? We have CI running a multi-ruby cross-platform build suite on every commit on master and every PR at https://ci.nokogiri.org/.

[2019-01-16 04:44] flavorjones commented on #1861
Running gperfools on the C/libxml2 code shows something super interesting:

![image](https://user-images.githubusercontent.com/8207/51226852-64f57800-191f-11e9-9e75-51adc07fdc74.png)

Note that `xmlXPathNodeSetFreeNs` is pretty straightforward:

[code]

I can't make sense of this right now.

[2019-01-16 04:57] cheald commented on #1861
That is genuinely bizarre. I'm not familiar with gperftools' output - is it safe to say that it's identifying xmlXPathNodeSetFreeNs as the function consuming runtime, and not calls to xmlFree made from it?

Could there be another execution path making a lot of calls to it that isn't identified for some reason? (Effects of a sampling profiler perhaps?)

[2019-01-16 07:44] kares commented on #1741
@flavorjones sorry I did not know that ... what I am missing is smt to run if I do an experiment in a fork.
guess that won't work with the custom CI, right? its not crucial, now that I know smt would run in a PR.

[2019-01-16 16:46] flavorjones commented on #1861
I'm hoping to spend a bit more time looking at this later this week. I think the debian libxml2 package is compiled with optimizations leading to inlined C functions so this call graph may not be quite right; I'd like to run it again against libxml2 compiled without optimizations and see how the analysis and the call stack changes in the report.

[2019-01-16 21:45] boutil commented on #1855
@flavorjones I think you can indeed close. The approach proposed by @junaruga  seems to fit our needs for the time being, and unfortunately, I won't have time in the coming days to play with your proposition, but I keep it bookmarked and certainly try it later. Thanks again for your help on this matter.

[2019-01-18 00:47] flavorjones commented on #1861
OK, reran the C program linked against libxml2 with default gcc options and got a call graph that makes more sense to me, and possibly indicates pulling in more axes than necessary ...

Callgrind annotation:

[code]

Image:

![image](https://user-images.githubusercontent.com/8207/51358313-a6f1fb80-1a90-11e9-8388-fa3f157a31ba.png)

PDF:
[pprof19357.0.pdf](https://github.com/sparklemotion/nokogiri/f

[2019-01-18 02:46] flavorjones commented on #1861
The real hotspot is shown by looking at the line numbers:

[code]

which points at these lines:

[code]

[2019-01-20 23:50] ksolo opened #1862 "Changes to Nokogiri::XML::Element#to_s"
**Difference in behavior for Nokogiri::XML::Element#to_s**

**To Reproduce**
Nokogiri Version 1.8.1
[code]

Nokogiri Version 1.8.5
[code]

**Test case**

[code]

**Expected behavior**
Result of #to_s to remain consisted between 1.8.1 and 1.8.5+

**Environment**
[code]

[2019-01-21 06:54] flavorjones opened #1863 "concourse: build and use custom docker images"
Currently, every task in the master and PR pipelines need to `bundle install` which is pretty wasteful. Additionally, the rubinius and valgrind builds run `apt update` and apt-install packages.

Instead, let's generate a docker image for each version of ruby with the gems and apt packages pre-installed.

For extra credit, maybe this is done in a new pipeline that triggers when either:
* a new upst

[2019-01-21 06:58] flavorjones commented on #1845
See https://github.com/sparklemotion/nokogiri/issues/1845 for the first build/install/test cycle that worked.

[2019-01-21 07:00] flavorjones opened #1864 "concourse: split PR group into a separate pipeline, restructure master pipeline"
The `concourse` gem now supports multiple pipelines. Let's put PRs into a separate pipeline, and restructure the master pipeline to be more serial (running fewer builds in parallel).

[2019-01-21 07:11] flavorjones commented on #1862
Thanks for reporting this. Taking a look now.

[2019-01-21 07:17] flavorjones commented on #1862
I'm not able to reproduce what you're seeing with v1.8.1:

[code]

Are you able to dump the output from `nokogiri -v` from the system and enviroment in which you're running v1.8.1? Is it possible that you compiled and linked against an older version of libxml2?

It's important to note that the behavior you're reporting is inherited from the underlying parsing engine, which for you on a Mac is goin

[2019-01-21 07:37] flavorjones commented on #1862
The libxml2 [release notes](http://www.xmlsoft.org/news.html) for 2.9.0 include:

[code]

which appears to come from https://github.com/GNOME/libxml2/commit/7d4c529 which includes specific reference to "special cases of &{...} constructs as hinted in the spec http://www.w3.org/TR/html401/appendix/notes.html#h-B.7.1"

I hope all this makes sense and that I've successfully communicated:

* this beha

[2019-01-21 07:37] #1862 closed

[2019-01-21 07:46] flavorjones commented on #1741
@kares As I mentioned in the commit you referenced, the Travis builds have been turned off for nearly a year.

If you want to run tests on a fork, `rake compile test` should be sufficient. Deeper tests will run against PRs and you can see the status in the PR status update.

[2019-01-21 15:42] ksolo commented on #1862
@flavorjones Thank you for the thorough review and for finding the root cause of this!

[2019-01-21 16:05] #1060 closed

[2019-01-21 16:43] flavorjones commented on #1060
@jvshahid :heart:

[2019-01-21 17:12] flavorjones opened #1865 "concourse: submit simplecov test coverage reports to code climate"
Since b61a303 we've had simplecov in the test suite. Let's start reporting some of that code coverage to Code Climate and ask CC to check PRs. (With the caveat that this will only look at Ruby code, not the extension code.)

[2019-01-21 22:21] flavorjones commented on #1863
See proof-of-concept at https://github.com/flavorjones/calendar-assistant/commit/4e01a0f09ad1051fbdd641e4edd3d9c49e929dd8

[2019-01-22 06:31] flavorjones commented on #1863
:shipit:

[2019-01-22 06:31] #1863 closed

[2019-01-22 08:08] flavorjones commented on #1596
I've rebased the branch `1596_kares_xpath-not-threadsafe` to make sure this hasn't been fixed in the intervening time; I'm still able to reproduce.

[2019-01-22 08:44] flavorjones commented on #1864
Proof of concept for this is at https://github.com/flavorjones/chromedriver-helper/commit/8e344af724baff819ebe3f67d805e911ea31c7a1

[2019-01-23 22:58] flavorjones commented on #1845
JRuby is now also covered. This coverage is good enough that I can start refactoring `extconf.rb`.

Upcoming work:

- [ ] test gem installation on vanilla ubuntu
- [ ] test gem installation on alpine (see #1571)
- [ ] test gem installation on windows - precompiled
- [ ] test gem installation on windows - devkit
- [ ] do all of the gem tests in the PR pipeline

[2019-01-23 22:59] flavorjones commented on #1793
Closing this. Windows workers are blocked on https://github.com/sparklemotion/nokogiri/issues/1729

[2019-01-23 22:59] #1793 closed

[2019-01-25 05:39] #1864 closed

[2019-01-25 06:58] larskanis commented on #1864
COOL! 😎

[2019-01-25 13:05] Raza403 commented on #1560
This issue is still there, even I have confirmed I have `pkg-config` installed nokogiri gives same error. I have  to add `pkg-config` in Gemfile before nokogiri to make it work.

[2019-01-25 14:05] flavorjones commented on #1560
@Raza403 please open a new issue? Thank you so much!

[2019-01-26 06:33] flavorjones commented on #1865
Done! See 0a8cfb2.

[2019-01-26 06:33] #1865 closed

[2019-01-26 06:38] flavorjones opened #1866 "concourse: upgrade to teliaoss/github-pr-resource"
Necessary changes:
- [x] create a webhook token for the new PR
- [x] configure very basic integration like in the commits mentioned below

[2019-01-26 07:18] Raza403 opened #1867 "During installation error of `pkg-config` installation while `pkg-config` is pre installed on my system."
I am facing `pkg-config` error during installation of nokogiri, although I have pre installed `pkg-config` using both `apt-get` and `gem install`.

Below is complete installation with error.

[code]
**Screenshot after running `gem list` which shows `pkg-config` installed**
![2](https://user-images.githubusercontent.com/20680336/51783969-f789e880-2163-11e9-8d8b-804be7288655.png)

**Screenshot of co

[2019-01-28 00:07] jvshahid commented on #1596
Why not ?  I don't the idea of introducing more flags that the user has to discover and configure properly.  I think Nokogiri should DTRT and have a thread local cache.

[2019-01-28 14:18] flavorjones commented on #1867
@Raza403 Thanks for opening this issue.

Because you didn't follow the [github issue template for installation issues](https://github.com/sparklemotion/nokogiri/blob/master/.github/ISSUE_TEMPLATE/installation-difficulties.md), I'm going to ask you the questions from the template to better inform how we approach troubleshooting.

---

**Have you read and followed the advice in the installation tuto

[2019-01-29 11:44] jvshahid commented on #1596
I researched this a little bit more.  The underlying libraries aren't thread safe.  Java DOM's specification doesn't require implementation and `Xerces` certainly is indeed not thread safe according to their FAQ [1].  I think the right thing to do is to document this fact somewhere on the docs site, i.e. best practices for concurrent usage of Nokogiri.

[1]: http://xerces.apache.org/xerces2-j/faq-

[2019-01-30 16:31] danmolloy opened #1869 "Problem matching nodes by xpath in XML file containing a CDATA tag larger than 10MB"
When attempting to find all nodes matching a particular xpath, if one of the nodes contains a CDATA tag larger than 10MB, Nokogiri will return all matching nodes up to and including the one with the large CDATA, and ignore subsequent matches.

Reproduction script:

[code]

**Environment**

[code]

[2019-01-30 23:08] flavorjones commented on #1869
@danmolloy Thanks for opening this issue!

What you're describing is likely behavior that Nokogiri has inherited from the underlying parser engine, libxml2, but there may be options that can be set to make this work. Give me a few hours and I'll try to repro and see if any of the parsing options affect this behavior.

[2019-01-31 04:44] flavorjones commented on #1869
OK - Thanks for the super-clear failing test, this was trivial to reproduce.

It looks like you're running up against one of the hardcoded limits that libxml2 implements for performance. You can get around those by setting the parse option `HUGE`.

You can read about the parse options at https://nokogiri.org/tutorials/parsing_an_html_xml_document.html#parse-options but the TL;DR is that this test

[2019-01-31 04:44] #1869 closed

[2019-01-31 06:08] flavorjones commented on #1436
Closing this, as #1437 notes that there's a gem-compiler option that works around this:

[2019-01-31 06:08] #1436 closed

[2019-01-31 06:44] larskanis commented on #1436
Another solution would be [this commit](https://github.com/larskanis/nokogiri/commit/fbbb2ca56a2d710e9d8eec6ff59422a4de4df571). @flavorjones is this something you want to merge?

[2019-01-31 18:42] eastmanjason opened #1870 "Tutorials link "https://nokogiri.org/tutorials/" is 404"
![image](https://user-images.githubusercontent.com/43869312/52076979-27aefe00-254d-11e9-9faf-c141895930bd.png)
![image](https://user-images.githubusercontent.com/43869312/52077041-40b7af00-254d-11e9-9996-dd76a772a6bd.png)

[2019-01-31 23:57] flavorjones commented on #1870
Thanks for reporting this!

:thinking: that's interesting, will look into it.

[2019-02-01 00:22] flavorjones commented on #1870
It turns out the mkdocs doesn't support linking directly to a nav section; and so I've updated the README and deployed the site.

Thanks again for pointing this out!

[2019-02-01 00:22] #1870 closed

[2019-02-03 09:35] Raza403 commented on #1867
@flavorjones Thanks for pointing this out for me, I haven't seen this. I am working on all of the questions asked in the template, will update you on this soon.

[2019-02-08 05:06] Raza403 commented on #1867
Issue solved by updating nokogiri version from 1.8.4 to 1.10.1.

[2019-02-08 05:06] #1867 closed

[2019-02-08 20:06] adjam commented on #1847
Did some research of my own; my current thinking is that the culprit is

https://github.com/sparklemotion/nokogiri/blob/master/ext/java/nokogiri/internals/NokogiriHandler.java#L256

-- when the underlying (Java) SAX parser encounters the error, `NokogiriHandler` (which is registered as the SAX ErrorHandler here) in turn calls the `#error` method on the `Nokogiri::XML::SAX::Document` class (impleme

[2019-02-08 21:51] adjam commented on #1847
It looks like the XmlSAXPushParser test depends on the current behavior, viz. that unless `NokogiriHandler.java` populates addError, its tests will fail (you can push bad XML into it and if the document implementation raises an exception it will propagate up to Ruby.  This is due to the thread juggling on which that implementation is based.  A full fix will have to find a way to propagate the erro

[2019-02-09 23:03] adjam commented on #1847
Still working on a PR; I can make all the tests pass by keeping the try/catch behavior referenced above and calling `addError` in the catch block before rethrowing the `RaiseException`.  This satisfies both the push and SAX parser tests.   Not sure if this has weird side effects (what with threads being involved n'all).

[2019-02-13 05:25] flavorjones commented on #1847
Closed by #1872

[2019-02-13 05:25] #1847 closed

[2019-02-13 16:25] ConorMcGee commented on #1870
This seems to be still broken? Also the 'Tutorials' link on the homepage also seems to be wrong (just links to the homepage).

[2019-02-13 18:22] flavorjones commented on #1870
What's broken, can you please be more specific on where you were, what you clicked on, and where you went and what you saw?

meaning, I've updated the README to not be a broken link, but still try to indicate that there are tutorials on the site. if there's something that could be made clearer within the constraints of mkdocs, I'm open to it.

[2019-02-14 15:35] ConorMcGee commented on #1870
Apologies, I thought the original issue was about something slightly different, I think.

I was talking about the 'Tutorials' link, under 'Links', on the main https://nokogiri.org homepage, which for me appears as:
`<a href="https://nokogiri.org">Tutorials</a>`

Furthermore, when I manually enter the url https://nokogiri.org/tutorials I get a `404`.

I _can_ manually go to https://nokogiri.org/tut

[2019-02-22 05:15] WoolenWang opened #1873 "1.10.0 - jruby 9.13.0-p0 memory leak very fast."
**Do not report Security Vulnerabilities here**

If you intend to report a security vulnerability, please do so at [HackerOne](https://hackerone.com/nokogiri) following the process detailed in [`SECURITY.md`](https://nokogiri.org/SECURITY.html). Do not report it through GitHub.

**Describe the bug**
Use jruby 9.13.0-p0 with nokogiri 1.10.0 parse the one xml file (pretty big file [4MB/ 3.5W line])

[2019-02-22 08:03] WoolenWang commented on #1873
it seems like the bug was bring back from #1792

the patch manager is very Disaster

[2019-02-22 08:33] WoolenWang commented on #1873
.... oh i figure it out , the logstash Entrance use the old version 1.8.5 nokogiri which has this problem, but the new 1.10.0 is fix, but the jruby has two version of nokogiri the logstash has gemfile lock to 1.8.5, make it to 1.10.0 the problem fix.

[2019-02-22 23:38] jvshahid commented on #1873
Sounds like you figured out what the problem was.  I will go ahead and close this issue.

[2019-02-22 23:38] #1873 closed

[2019-02-25 18:57] jrochkind opened #1875 "Jruby nokogiri 1.9.0+, rehomed elements don't keep namespaces, plus regression from 1.8"
This is a followup to #1774. I'm sorry it took me a while to get back around to it.

While a fix to #1774 was provided in #1778, the fix only works for a _default_ namespace, not one with a prefix.

What is worse, there is a regression in 1.9.0+, possibly introduced by #1778, but I haven't verified this.

I used to be able to work around #1774, by explicitly calling `add_namespace` to add the name

[2019-02-26 05:14] jvshahid commented on #1875
AFAIU the JRuby implementation is conforming to the standard.  See my explanation inlined below.

I am not sure what is going on here.  In particular, I don't remember what `add_namespace` does.  I will have to look into this later.

This is expected.  `XML::Node::namespaces` returns the namespaces that are in scope of the current node.  As pointed out later, JRuby puts the namespace declaration o

[2019-02-26 12:38] jrochkind commented on #1875
Thanks for response!

Are you suggesting that MRI and Jruby are both correct, even though they don't match? I don't understand how this can be, I thought MRI and JRuby nokogiri implementations could be expected to match.   To me, the MRI implementation is the most _useful_, as well as seeming correct. The JRuby implementation has changed between nokogiri 1.8 and 1.9, and neither of them match MRI.

[2019-02-26 19:12] rmishra-ror opened #1876 "Nokogiri parser removes child element from anchor tag and add them as a separate element."
Nokogiri parser removes child element of anchor tag and add them as a separate element.

**To Reproduce**

Here's an example:
[code]
So it removes table from anchor tag and add them as a separate tag`<a> </a><table> <tr> </tr>\n</table>`
It seems the problem is with parser(Nokogiri::HTML.parse) which not correctly add child element of anchor tag

Nokogiri version: "1.10.1"

[2019-02-27 12:41] jvshahid commented on #1875
Yes.  They are equivalent, AFAIK.

Not necessarily, specially if the output XML is equivalent, such as this case.

I don't think I understand how the MRI output is more useful.  I think this is worth clarifying.

Isn't that exactly what the current version of Nokogiri does ?  JRuby is adding the namespace declaration to the node itself, instead of adding the namesapce declaration on the parent nod

[2019-02-27 14:24] jrochkind commented on #1875
Basically I want to write code that uses namespaces that will work under MRI or JRuby, and write tests that will pass under either. I want equivalent behavior.  Which I thought was the contract of nokogiri.

This includes `add_namespace` having the same effect in either, `namespaces` returning the same thing in either, and produced serialization from the same operations on the same input being equ

[2019-02-27 19:20] jrochkind commented on #1875
Thanks for your analysis @jvshahid !

I see how the documents are semantically identical. It could be (and was!) a lot worse.

I still think ideally:

* Jruby behavior should match MRI. So test or other code written under MRI can pass in JRuby without changes, and JRuby nokogiri can be considered entirely compat with MRI.

* Failing that (or for other reasons), there ought to be a way to use Nokog

[2019-02-28 13:43] flavorjones commented on #1876
Hi! Thanks for asking this question. The short answer is that Nokogiri is inheriting this behavior from the underlying parser, libxml2, and so there's unfortunately very little that nokogiri can easily do to modify this behavior. But read on for a suggestion (hint: nokogumbo).

The slightly longer version: the [HTML4 spec for an `A` anchor element](https://www.w3.org/TR/html4/struct/links.html#ede

[2019-02-28 13:43] #1876 closed

[2019-03-04 10:37] rockandruby opened #1878 "Converts integer to float for google docs xlsx"
When I create .xlsx file via google docs all my integer values transforms to float(e.g. 1 -> 1.0). However when I create file locally - it's ok. What's the reason of such behavior and how to avoid it?
P.S. tested with different nokogiri versions incluing fresh one.

[2019-03-04 14:02] flavorjones commented on #1878
Hi @rockandruby, thanks for asking this question.

Can you help me reproduce what you're doing and seeing? I'm afraid I don't quite understand the problem you're describing.

[2019-03-04 14:51] rockandruby commented on #1878
@rockandruby Ok, I'll try to explain. When I do
`f = ::File.open(path, 'rb') do |file|
        ::Nokogiri::XML(file)
      end
f.remove_namespaces!.xpath('/worksheet/sheetData/row/c').map do |cell_xml|
 p cell_xml.content
end
`
I get 1.0 instead 1 if cell contains integer. Actually I faced with that in another gem and as I worked it out the reason in Nokogiri. Here's a [link](https://github.com/ro

[2019-03-05 12:16] rockandruby commented on #1878
@flavorjones don't know wether it helps but I compared 2 files(local and google doc table) and I found out that my local table with correct values has cells(for numbers) and each cell has attribute `#(Attr:someID { name = "t", value = "n" })` but cells in google docs don't have such attribute

[2019-03-06 20:23] flavorjones opened #1882 "import truffleruby patches"
The TruffleRuby team is maintaining some patches to Nokogiri that look like they should be pulled in. A chat with one of the maintainers indicates there are changes that are either working around bugs in Nokogiri or else are pretty trivial:

- some patches related to the number of C function args
- and also some switch statements

The patches are maintained here: https://github.com/oracle/truffler

[2019-03-06 22:19] flavorjones commented on #1878
Can you provide a sample file so I can reproduce what you're seeing, please?

[2019-03-07 07:27] rockandruby commented on #1878
@flavorjones u can get via [link](https://uploadfiles.io/bmgrf)

[2019-03-07 16:28] flavorjones commented on #1878
Sorry, I'm asking for a small, reproducible test case. If you could please provide that, it would mean that I can provide help more quickly. Something like this would be appropriate:

[code]

Thanks.

[2019-03-09 21:09] flavorjones commented on #1878
OK, specifically, the xlsx file you pointed me to is a zip file:

[code]

I can try to run your ruby script on it, but I get this far:

[code]

and it emits the error:

[code]

which is kinda what I expect from a binary file.

I need your help reproducing exactly what you're seeing. Otherwise I'll close this in a few days.

[2019-03-10 07:28] rockandruby commented on #1878
@flavorjones sorry for disturb, the first one - I gave u a wrong link(not raw xml file) and the other thing - seems it's an issue in roo gem, because it gives raw xml file to nokogiri with wrong type casting. So I'll proceed with roo. Thanks for assistance!

[2019-03-10 07:28] #1878 closed

[2019-03-10 18:43] chrisseaton commented on #1882
@ aardvark179 can go through these patches and think about what it makes sense to upstream. Thanks very much for the offer.

[2019-03-19 20:03] aardvark179 commented on #1882
Sorry for the slow reply. It would definitely be useful for nokogiri to take some of the patches. The follow seem like excellent candidates:
1. The changes to `xml_node_set.c`
2. The changes to `xml_document.c`

The changes to `xml_xpath_context.c` were introduced because we wanted the C stack to be unwound correctly if an error was encountered, which was hard for us to guarantee otherwise. It cer

[2019-03-28 22:30] acidphuck opened #1884 "Cant install nokogiri gem. Please advice"
"arm-linux-androideabi-clang -o conftest -I/data/data/com.termux/files/usr/include/ruby-2.6.0/arm-linux-androideabi -I/data/data/com.termux/files/usr/include/ruby-2.6.0/ruby/backward -I/data/data/com.termux/files/usr/include/ruby-2.6.0 -I. -I/data/data/com.termux/files/usr/include    -march=armv7-a -mfpu=neon -mfloat-abi=softfp -mthumb -Oz -fPIC  conftest.c  -L. -L/data/data/com.termux/files/usr/l

[2019-03-29 23:15] andrewmcodes commented on #1884
Don’t want to open a new issue that duplicates this but wish some more context had been added here as I am also experiencing this issue.

I’m on the latest version of MaOS and cannot bundle or gem install the latest release of this gem with a very similar error. Happy to provide more info if needed.

[2019-03-30 14:31] flavorjones commented on #1884
Hi, I wish you had used the template offered by github for installation issues. There are both helpful hints in it and it asks the appropriate questions for us to be able to start helping you.

It appears you're trying to build Nokogiri on an ARM platform of some sort; can you please answer the questions from the issue template:

---

**Have you read and followed the advice in the installation tut

[2019-03-30 14:33] flavorjones commented on #1884
@andrewmcodes your issue most certainly was not the same as the OP if you are on MacOS. The issue you probably ran into, and that the linked issue addresses, was fixed in v1.9.0 (see #1812 and #1813).

[2019-03-31 02:05] andrewmcodes commented on #1884
@flavorjones gotcha! My issue popped up after upgrading some brew packages and then trying to bundle v1.10.2 but looks like it was just bc of my local setup

[2019-04-04 02:48] chapmajs opened #1885 "Nokogiri and OpenBSD"
Automatic installation of nokogiri fails on OpenBSD. Tested with 5.8, 6.2, 6.3, and 6.4. Even with `libiconv` installed, nokogiri fails to find it due to OpenBSD sticking the lib in `/usr/local/lib`.

To reproduce, do `gem install nokogiri -v '1.10.2'` on OpenBSD. Do not specify `--with-iconv-lib`.  Yes, you can make it work with a manual `--with-iconv-lib` but I'm tired of having to SSH into vari

[2019-04-04 18:51] flavorjones opened #1886 "Deprecate Ruby 2.3 support"
As noted at https://www.ruby-lang.org/en/news/2019/03/31/support-of-ruby-2-3-has-ended/ upstream support for Ruby 2.3 ended on March 31, 2019.

This issue is to formally remove Ruby 2.3 support from Nokogiri, including;

* update README and gemspec to indicate this change
* remove Ruby 2.3 from CI pipelines
* remove Ruby 2.3 from windows cross-compiled gem (`.cross_rubies`)

Marking this for a 1.1

[2019-04-04 18:58] flavorjones commented on #1885
Hi! Thanks for opening this issue. I wasn't aware of OpenBSD issues, so I appreciate you calling it out.

You can generate an ephemeral gemfile by making sure you have the `hoe-gemspec` gem installed, and running `rake gem:spec`. Hopefully this will allow you to do the testing you need; if not, an alternative is to simply run `rake gem` to build a gem and install it locally.

An OpenBSD worker for

[2019-04-06 17:44] CAMOBAP795 opened #1887 "API for change namespace or remove single namespace prefix"
**Describe the bug**

I faced with need to change namespace but with preserving prefix in a document

**To Reproduce**

I have tried:

[code]

Also I tried:

[code]

But it not allowed to preserve namespace prefix

**Expected behavior**

I'm not sure, I just need an API to be able modify/remove specific namespaces for specific node

**Environment**

[code]

[2019-04-06 19:17] flavorjones commented on #1887
Hi! Thanks for opening this issue.

I'm curious why you need this functionality? It's perhaps meaningful that in 10+ years of existence, nobody has asked for this functionality. Can you help me understand your use case a bit deeper? I followed the issues in which you referenced this issue but it didn't help me understand. Generally speaking, if you change the `href` associated with a namespace nam

[2019-04-06 20:07] CAMOBAP795 commented on #1887
@flavorjones thanks for explanation I got your point and agree it smells like 'hack' )

Especially thank for this note

I think we can close this one

[2019-04-06 20:07] #1887 closed

[2019-04-07 05:55] CAMOBAP795 commented on #1887
@flavorjones just to share more visibility there is exists two namespaces which have very similar or event the same (unfortunately I can prove it 100% because cannot find xsd):
 - http://schemas.openxmlformats.org/officeDocument/2006/math
 - http://schemas.microsoft.com/office/2004/12/omml

Probably better way will be just traverse doc

[2019-04-07 09:36] amo13 opened #1888 "Need help parsing a standard nginx directory listing. Different results with ruby and jruby."
Dear Nokogiri community,
I want to parse the content of my nginx directory listing and it all works just fine with normal ruby, but with jruby I can't get nokogiri to behave the same way than on normal ruby and parse the listing. Does anyone have an idea to help me out?

**To Reproduce**

[code]

Result with ruby

[code]

Result with jruby:

[code]

**Environment**

ruby:

[code]

jruby:

[code]

[2019-04-07 14:42] flavorjones commented on #1888
Hi, thanks for opening this issue, but I'm unable to reproduce what you're seeing. Here's the code I used to reproduce this without the open-uri network call:

[code]

For CRuby, the output is:

[code]

For JRuby, the output is:

[code]

The parsed document structures are identical in structure.

Is it possible that you're getting different results back from your open-uri network call?

[2019-04-07 14:45] flavorjones commented on #1888
Ah, interesting -- this appears to be a difference in how Nokogiri and open-uri behave between CRuby and JRuby. Digging into it now.

[2019-04-07 14:49] flavorjones commented on #1888
Related narrative here: https://github.com/sparklemotion/nokogiri/pull/1821

[2019-04-07 14:59] flavorjones commented on #1888
OK, narrowing this down: in JRuby, `Nokogiri::XML()` reads the returned `StringIO` fine, but `Nokogiri::HTML()` does not. This is surely a bug in how we're reading from IO objects in the HTML document object. Hang tight.

In the meantime, a workaround is to add `.read` on to the returned value from `open`, e.g.:

`Nokogiri.HTML(open("https://archive.anarchiehandy.de/i9305").read)`

[2019-04-07 15:30] flavorjones commented on #1888
OK, got it: the fix for #1124 was incompletely applied only to `Nokogiri::XML::Document` and related classes, and not to `Nokogiri::HTML::Document` and related classes.

[2019-04-07 15:51] flavorjones commented on #1888
I've pushed a branch, `1888-jruby-html-read-io`, which contains a failing test demonstrating the issue on JRuby.

@jvshahid - I have to ask for your help here. The issue appears to be with `NokogiriEncodingReaderWrapper` which was introduced in 9dab8f5. The failing test for JRuby falls into this check in `setInputSource`:

[code]

[2019-04-07 16:25] amo13 commented on #1888
Wow, thank you a lot for investigating this.
And I appreciate the temporary workaround suggestion!

[2019-04-11 08:48] DarkWiiPlayer opened #1889 ":scope pseudoclass not supported"
Nokogiri currently does not support the [`:scope`][scope] pseudoclass in the `css` and `at_css` methods.

[scope]: https://developer.mozilla.org/en-US/docs/Web/CSS/:scope

[2019-04-12 23:15] jvshahid commented on #1888
@flavorjones I think I understand the issue.  I would like to take some time to fix the following issues as well, unless anyone object:

- We don't preserve any information on whether the parsed thing is an IO or String.  We already know the type since ruby calls `read_io` for IO objects and `read_string` otherwise.
- Ruby calls `detect_encoding` in `HTML::Document`.  We re-detect the encoding aga

[2019-04-13 15:57] flavorjones commented on #1888
@jvshahid Thanks for looking into it! I think it makes sense to take time and do the right thing, your suggestions sound right to me.

[2019-04-15 07:50] clive-hetzner opened #1891 "Installation fails on any folder path that contains spaces in the path"
**Describe the bug**

Installation fails within any folder containing a space in the folder name.

**To Reproduce**

Gemfile:
[code]

% bundle install --path "./Bundles Here/"

**Expected behavior**

nokogiri installs

**Actual Behaviour**

[code]

[2019-04-16 00:29] flavorjones commented on #1889
Hi! Thanks for asking about this. It looks like `:scope` is part of the proposed CSS Selectors Level 4, which is still in working draft.

https://drafts.csswg.org/selectors-4/#the-scope-pseudo

Given the draft status of that doc, I'm not going to prioritize working on this feature request. However, I would consider a PR that added this functionality.

[2019-04-16 03:33] flavorjones commented on #1891
Hi! Thanks for asking this question. This is actually an issue with libxml2's tooling, which uses `libtool` and a `Makefile` that don't support spaces. Prior issues around this include #1407, #1289, and #1175.

You should be able to work around this by installing with the "systems library" option, using your distro's libxml2 and libxslt. Check out https://nokogiri.org/tutorials/installing_nokogiri

[2019-04-16 03:33] #1891 closed

[2019-04-16 03:39] flavorjones opened #1892 "Investigate Ubuntu libxslt patches in USN-3947-1 and USN-3947-2"
This issue is to drive investigation and potential action around a set of upstream patches that Canonical judged valuable enough to port to their distributions.

References:

* https://usn.ubuntu.com/3947-1/
* https://usn.ubuntu.com/3947-2/
* https://people.canonical.com/~ubuntu-security/cve/2019/CVE-2019-11068.html

---

Summary (updated 2019-04-22):

The patch addressing this vulnerability is no

[2019-04-17 08:39] freak2100 opened #1893 "'li' tags are treated as no content tags when empty"
'li' tags are treated as tags with no content, such as 'img', 'br' etc.
XHTML standard defines a list of tags with no content, described here: https://www.w3.org/TR/2009/NOTE-xhtml-media-types-20090116 under "A.2. Elements that can never have content".

Correct examples:
[code]
in the output, the ```<p>``` tag remains: ```<p></p>```
[code]
in the output, the ```<p>``` tag converts into ```<p></p>`

[2019-04-17 12:51] flavorjones commented on #1893
Hi! Thanks for asking these questions about the parser's behavior. Unfortunately, Nokogiri inherits parsing and serialization behavior from the underlying libraries (in your case this is libxml v2.9.9) and as a result there's not much that Nokogiri can easily do to change that behavior.

I will point out, though, that XHTML is a different spec than HTML 4.0 and the HTML 4.0 spec says that the `LI`

[2019-04-17 12:51] #1893 closed

[2019-04-17 13:40] freak2100 commented on #1893
Thank you very much for your answer! It did clarified the situation for me.

[2019-04-18 14:23] RaviSys commented on #1226
Thank this has worked for me also

[2019-04-20 08:13] headius opened #1896 "Requiring nokogiri/version does not fully define Nokogiri::VERSION"
When requiring just 'nokogiri/version', the `Nokogiri::VERSION` errors, likely because the JRuby extension does not load.

[code]

The constant should get defined within version.rb or it should require in what it needs for this constant.

[2019-04-20 14:10] jvshahid commented on #1888
FYI, I pushed the fix in https://github.com/sparklemotion/nokogiri/pull/1897

[2019-04-22 15:09] flavorjones commented on #1892
## USNs

https://usn.ubuntu.com/3947-1/ which addresses CVE-2019-11068

https://usn.ubuntu.com/3947-2/ which also addresses CVE-2019-11068

## CVEs

### CVE-2019-11068

Permalinks are:
- Canonical: https://people.canonical.com/~ubuntu-security/cve/CVE-2019-11068
- Debian: https://security-tracker.debian.org/tracker/CVE-2019-11068

Description:

Canonical rates this as "Priority: Medium".

Debian r

[2019-04-22 15:21] flavorjones commented on #1892
Backported patch is in a PR at https://github.com/sparklemotion/nokogiri/pull/1898

[2019-04-22 16:06] flavorjones commented on #1892
TODO for releasing v1.10.3:

- [ ] CI goes green
- [ ] builds are complete
- [ ] gems uploaded
- [ ] email nokogiri-talk, ruby-talk, ruby-security-ann@googlegroups.com, oss-security@lists.openwall.com
- [ ] update TideLift
- [ ] update nokogiri.org

[2019-04-22 17:15] flavorjones commented on #1892
Email to Tidelift support versions being out of sync. Will handle once that's synced.

[2019-04-22 17:15] #1892 closed

[2019-04-22 20:18] nporteschaikin commented on #1892
@flavorjones Hi! 👋 Are you also going to backport this fix to the minor version 1.9?

[2019-04-22 21:12] flavorjones commented on #1892
@nporteschaikin No, was not intending to backport to v1.9.x.

[2019-04-23 01:28] #688 closed

[2019-04-23 01:35] #1888 closed

[2019-04-23 01:37] flavorjones commented on #1888
John's PR was merged, this will be fixed in v1.11.0 when it drops. Watch the milestone for progress: https://github.com/sparklemotion/nokogiri/milestone/18

[2019-04-23 07:15] amo13 commented on #1888
Thank you a lot for taking care of this!

[2019-04-23 18:58] flavorjones commented on #1892
I've added an "interpretation" note in the description to help people understand whether it's likely (or not) that their code is susceptible to this vulnerability. It says the following:

To the best of my (@flavorjones) understanding of the vulnerability, an application should not be vulnerable unless it is doing both of the following things:

1. explicitly performing XSLT transformations using m

[2019-04-27 12:35] flavorjones commented on #1896
Hi @headius,

I think you're assuming a contract where one doesn't exist. The file `nokogiri/version.rb` has never been intended to be `require`d by itself, because (as you point out in #1899) the underlying libraries aren't guaranteed to have been loaded.

Can you help me understand why you want to load this file individually? Specifics about your use case would really help. I imagine it's becaus

[2019-04-27 12:36] flavorjones commented on #1896
All of which is to say, I think I'm OK with introducing this contract, but I'd like it to be consistently enforced across both backends.

[2019-04-27 12:50] flavorjones commented on #1896
Oh! Ignore my above comment, I see your change in #1899 does indeed introduce that contract for CRuby as well. I'll fix the PR (which went red because the new file isn't in the Manifest (thanks, Hoe)) and merge it once it's green.

Thanks, @headius!

[2019-04-28 21:15] #1896 closed

[2019-04-28 21:15] flavorjones commented on #1896
This will be fixed in v1.11.0. Please watch the milestone for status.

[2019-04-29 22:37] whirsch-pubfactory opened #1900 "Segfault when assigning DocumentFragment.children to Document.root"
**Describe the bug**

I was playing around with nokogiri, and managed to segfault it by assigning `DocumentFragment.children` to `Document.root`, rather than `DocumentFragment.children[0]`

**To Reproduce**

[code]

**Expected behavior**

It should fail with an argument error like all other types passed into it do.

**Environment**

[code]

**Additional context**

[code]

In the unlikely event it

[2019-04-29 22:55] jaequery commented on #1510
@TMaYaD were you able to figure this out? i'm getting the same error as you describe all of a sudden. i've been using mounted volumes fine till now until i needed nokogiri. please help!

[2019-04-30 01:14] flavorjones commented on #1510
@jaequery I'm sorry you're having issues, but unfortunately this issue is closed.

Please open a new issue and provide the debugging information requested in the issue template. Thank you!

[2019-04-30 01:17] flavorjones commented on #1900
Thanks for reporting. I will look into it in the next couple of days. In the meantime, if you tell me what you're trying to do I may be able to suggest a workaround.

[2019-04-30 14:08] orhantoy opened #1901 "CSS query fails for empty element_children in JRuby"
**Describe the bug**

If the node set returned from `Nokogiri::XML::Node#element_children` is empty, querying it with `.css` raises an exception in JRuby. For MRI this works as expected by returning an empty node set.

**To Reproduce**

MRI 👍

    $ RBENV_VERSION=2.5.3 ruby -I lib -r nokogiri -e "puts Nokogiri::XML('<root><row></row></root>').at_css('row').element_children.css('column').inspect"

[2019-05-07 13:47] GreSuh commented on #1844
Does this only apply for parsing http fragments or did I miss he change for  Nokogiri::XML::DocumentFragment.parse ?

[2019-05-07 18:41] flavorjones commented on #1844
@GreSuh thanks for asking this question. From the description above:

Hope this response helps.

[2019-05-09 08:05] akimd opened #1902 "Documentation is misleading"
Hi,

The documentation (https://nokogiri.org/rdoc/Nokogiri/XML/ParseOptions.html) reads:

[code]

but that won't work since the declaration of XML is:

[code]
so one has to pass nil, nil, and then the options.

Cheers.

[2019-05-10 17:07] zarszz opened #1904 "can't installing nokogiri"
can't install nokogiri with command `gem install nokogiri` and when i trying creating new ruby projects, throwing errors in nekogiri installing

***environment***
[code]

**error throwed in terminal**
[code]

**my mkmf.log**

[code]

[2019-05-12 05:30] zarszz commented on #1904
fixed with reinstall ruby with rvm

[2019-05-12 05:30] #1904 closed

[2019-05-13 07:58] jeremieberthillot opened #1905 "Nokogiri on SketchUp 2019"
Hello,

I work to create plugins on SketchUp. Recently SketchUp launch a new version (SketchUp 2019) and Nokogiri can’t be use. When I load the bundle, an error is writing:
**Error: #<LoadError: cannot load such file -- racc/parser.rb>**

It happened each time I’m using the line:  « require ‘nokogiri’ »

SketchUp use ruby 2.5.1, I use Nokogiri 1.10.1.

I try to change the file “parser.rb” in your

[2019-05-13 12:24] flavorjones commented on #1905
Hi! Thanks for asking this question.

I'm curious to know more about the version of Ruby you're running. What platform are you on? How did you install that version of Ruby?

Racc is part of Ruby's standard library, and so it's curious to me that you're seeing this error. I suspect that Ruby is not completely installed on your machine, or that parts of your stdlib have been deleted.

[2019-05-13 12:38] flavorjones commented on #1902
Hi! Thanks for reporting this. These docs were introduced in #1451 and I'll be happy to merge #1903 this morning to fix it.

[2019-05-13 12:40] flavorjones commented on #1901
Thanks for reporting this! I'll take a look as soon as I can.

[2019-05-13 13:05] jeremieberthillot commented on #1905
The version ruby is 2.5.1. I didnt install something, all is containt in SketchUp pro 2019 and my script is load on the start of SketchUp. I try to reinstall the entire app but the problem is still the same.
I have no control of the version of ruby in this app and on every standard library.

Old version of SketchUp run on oldversion of ruby and I could use Nokogiri 1.8.2 so it worked. But know I h

[2019-05-13 13:47] flavorjones commented on #1905
OK - you may want to file a bug report with SketchUp, I'm not familiar with that software, asking them to ensure they've included `racc` in their distirbution. For example, when I look at my `rvm`-installed ruby, I see:

[code]

As a potential workaround, you may want to try using a gem version of `racc` using whatever SketchUp provides as a gem installer (e.g., `/path/to/sketchup/bin/gem install

[2019-05-13 14:03] jeremieberthillot commented on #1905
Racc is include in SketchUp I found it, but when I call  ` require 'parser.rb' ` in my code I always have this message : **Error: #<LoadError: cannot load such file -- parser.rb>**
I think SketchUp cant found the path

I ll modify myself the path on Nokogiri plugin but for the deployment and for the futur version that complicated everything.

[2019-05-13 14:45] #1902 closed

[2019-05-13 14:48] flavorjones commented on #1902
Updated: https://nokogiri.org/rdoc/Nokogiri/XML/ParseOptions.html

[2019-05-13 14:50] flavorjones commented on #1905
@jeremieberthillot Thanks for following up. Again, this appears to be something wrong with SketchUp's ruby environment; it's not the responsibility of any gem to manage the calling process's load path.

I'd suggest submitting a bug report to SketchUp showing that the following ruby script:

[code]

fails, and show the error message.

[2019-05-13 14:50] #1905 closed

[2019-06-02 19:36] leppert opened #1906 "A leading newline character immediately following a pre element start tag should be stripped"
The [HTML 5 spec](https://www.w3.org/TR/html5/grouping-content.html#the-pre-element) states:

Nokogiri, however, retains leading newline characters in pre elements.

[code]

My env:
[code]

For additional context, here's how Safari / Chrome / Firefox handle newlines in pre tags:

[code]

[2019-06-03 13:41] flavorjones commented on #1906
Hi, thanks for asking this question.

Unfortunately, Nokogiri is not an HTML5 parser, it only support HTML4. You may want to investigate using https://github.com/rubys/nokogumbo to extend Nokogiri to parse HTML5.

[2019-06-03 13:41] #1906 closed

[2019-06-03 13:46] leppert commented on #1906
@flavorjones Apologies, and thanks for a nudge in the right direction.

[2019-06-18 00:54] toopher503 commented on #1271
I am using Mojave (10.14.5) , and had to do a clean install which broke things.
I ran this:
open /Library/Developer/CommandLineTools/Packages/macOS_SDK_headers_for_macOS_10.14.pkg

and it worked.

[2019-06-18 14:49] flavorjones commented on #1271
@toopher503 you're commenting on an unrelated issue that was closed over three years ago.

It sounds like your issue might be related to #1801 fixed with #1851 and released in v1.10.1 on 2019-01-13. Please upgrade to at least that version and if it doesn't work for you, open a new issue. Thanks.

[2019-06-19 23:56] androbtech opened #1907 "Confusion when building native static nokogiri extension on OS X High Sierra."
Ruby 2.6.3p62

I've been trying many ways to build the gem.

If I run `gem install nokogiri -- --with-iconv-dir=/path/to/iconv` it fails to generate the makefile (the error shows up when building the second packaged version libxslt 1.1.3.3) and the logs show [something like this ](https://gist.github.com/androbtech/b053bf8a8e7389c15121b753fa003ef7)

However, if I install with `gem install nokogiri

[2019-06-21 18:33] flavorjones commented on #1907
Hi. Thanks for asking this question, and sorry you're having trouble.

Because you haven't used the Issue template for reporting installation issues, I need a bit more information to help diagnose what's going on. I'll paste the questions below, please try to answer them when you have a moment?

---

**Have you read and followed the advice in the installation tutorial at http://www.nokogiri.org/tu

[2019-06-21 23:14] androbtech commented on #1907
I will revisit the problem after I finish working on other extension gems that I need to build statically and see if I find the problem and perhaps do a PR on it. I tried before but stopped after reading the reasons why there is no gemspec and I needed to move forward quickly.

I will generate a nokogiri gemspec to investigate further.

[2019-06-21 23:15] #1907 closed

[2019-06-22 08:00] DoktorCranium opened #1908 "AIX 7.2 missing vasprintf()"
Compilation finishes on AIX 7.2 via Ruby gems (both 2.5.0 and 2.6.0) and GCC 8.1.0
Execution of the compiled gem however fails on AIX 7.2

[code]

[2019-06-22 08:59] DoktorCranium commented on #1908
Following fixes the build on AIX
change nokogiri-1.10.3/ext/nokogir/extconf.rb

if nix?
  $CFLAGS << " -DXP_WIN -DXP_WIN32 -DUSE_INCLUDED_VASPRINTF "

bash-5.0# /usr/local/bin/nokogiri
Nokogiri: an HTML, XML, SAX, and Reader parser
Usage: nokogiri <uri|path> [options]

Examples:
  nokogiri https://www.ruby-lang.org/
  nokogiri ./public/index.html
  curl -s http://www.nokogiri.org | nokogiri -e'p $

[2019-06-23 20:06] stylesuxx opened #1909 "Attributes are being stripped"
I am using AMP HTML and some of my attributes are being stripped. In the following example I am using the [amp-list](https://amp.dev/documentation/components/amp-list) tag with the *[src]* attribute, this is also the attribute being stripped (it seems that the square brackets are the culprit):

[code]

**Environment**
[code]

[2019-06-24 16:37] flavorjones commented on #1909
Hi! Thanks for asking this question.

I'm not familiar with AMP HTML but I can tell you that libxml2 does not consider `[` and `]` to be valid attribute name characters. Examining `doc.errors` shows this:

[code]

Perhaps worth noting: the HTML spec, although not very clear, does appear to allow this:

https://html.spec.whatwg.org/multipage/syntax.html#attributes-2

and Xerces/NekoHTML (the parser

[2019-06-24 16:44] stylesuxx commented on #1909
Thank you @flavorjones for this information - I did not dig into the code, but I already suspected something like that. If you are familiar with the way the libxml2 guys like their bug demo code, I'd be happy to take your suggestion - otherwise I will whip something up myself.

Thanks again.

[2019-06-24 16:45] flavorjones commented on #1908
Thanks for submitting this issue and a proposed solution.

The problem appears very similar to what we see on Solaris, which is solved with this code in `extconf.rb`:

[code]

Can you please tell me what the value of `RbConfig::CONFIG['target_os']` is on your platform? I don't have access to an AIX system.

[2019-06-25 04:24] Vizkrig opened #1910 "SAX doesn't fire the `characters` method when a node is empty"
I'm trying to parse a large xml file using SAX parser. When the parser reaches a node which is empty, the characters method doesn't fire. Here is an example...

Here is the sample xml document.

    <?xml version="1.0" encoding="UTF-8"?>
    <root>
    	<ISA type="array">
    		<ISA>
    			<I02>
    				<name>Information1</name>
    				<value>
    					<raw>00</raw>
    					<description></descr

[2019-06-25 15:22] flavorjones commented on #1909
@stylesuxx Cool!

__For posterity:__

On the topic of allowed attributes, there's actually a similar Nokogiri bug report from a few years back:

in which my response links to this moderately-interesting SO post on allowed attributes:

__Reporting upstream:__

I can tell you that the handful of bugs I've sent back upstream haven't really garnered much attention. At. All. from the libxml2 maintainer

[2019-06-25 15:56] stylesuxx commented on #1909
Ah crap - almost 10 years without a response seems like it is a waste of time to submit anything there. But since you took your time to provide all the details to file a bug report I feel obliged to actually do it.

Thanks again. I will ping you here in case I have a question.

[2019-06-26 13:23] flavorjones commented on #1910
@Vizkrig Thank you for submitting this! I'll try to take a look in the next day or so -- apologies for the slow response, it's been a nutty week.

[2019-06-26 17:54] DoktorCranium commented on #1908
bash-5.0# cat test.rb
#!/usr/bin/env ruby
require 'rbconfig'
require 'yaml'
puts RbConfig::CONFIG
bash-5.0# ruby test.rb
{"DESTDIR"=>"", "MAJOR"=>"2", "MINOR"=>"5", "TEENY"=>"1", "PATCHLEVEL"=>"57", "INSTALL"=>"/usr/bin/install -c", "EXEEXT"=>"", "prefix"=>"/usr/local", "ruby_install_name"=>"ruby", "RUBY_INSTALL_NAME"=>"ruby", "RUBY_SO_NAME"=>"ruby", "exec"=>"exec", "ruby_pc"=>"ruby-2.5.pc", "PACK

[2019-06-27 16:28] tisba commented on #1639
Pardon me, if this makes no sense, but this would also allow something like this?

[code]

I'm having a hard time to understand how to get this using `Nokogiri::XML::Builder` 😢

[2019-07-05 14:50] sebastianiorga opened #1912 "Hangs forever when trying to replace a child node with the parent node"
**Describe the bug**

If you(stupidly) try to replace a child node of a parent node with the parent node itself, nokogiri just hangs forever. I traced the issue into `xml_node.c` I believe it's the `reparent_node_with` function that hangs, but I'm not a C dev so didn't dig deeper.

`ctrl-c` also doesn't work, you need to kill the ruby process to close it.

**To Reproduce**

Run the script below.

[2019-07-05 17:47] flavorjones commented on #1912
@sebastianiorga How fascinating! Thanks for reporting, I'll definitely take a look. If possible I'd like to raise an exception if an infinite loop like this is going to occur.

[2019-07-07 20:14] flavorjones opened #1913 "CI: consider testing valgrind against Ruby using `jemalloc` and `malloc_trim`"
See https://github.com/fullstaq-labs/fullstaq-ruby-server-edition/blob/master/README.md#why-was-fullstaq-ruby-created for what first called my attention to people's desire to use alternative malloc implementations.

It might be interesting (and cheap) to run valgrind against these implementations, to increase confidence in the correctness of Nokogiri's memory handling with respect to libxml2 inter

[2019-07-15 12:09] juraj-blahunka opened #1914 "Too many nested elements in the XML cause the indentation string to get truncated during output"
Too many nested elements in the XML cause the indentation string to get truncated during output.

**To Reproduce**

[code]
The output is the same with and without using `huge`.
The same effect can be achieved by having an even higher number of nested elements with a smaller indentation argument.

Script output:
[code]

**Expected behavior**

[code]

**Environment**

[code]

[2019-07-15 16:12] flavorjones commented on #1914
Hi! Thanks for asking this question.

The underlying parsing engine, libxml2, has some hard-coded limits on what it will parse for performance reasons. Fortunately, you can opt out of these limits (with some performance impact) with the `HUGE` parse option. Check out these docs for help in how to set that option:

https://nokogiri.org/tutorials/parsing_an_html_xml_document.html#parse-options

Hope

[2019-07-15 16:12] #1914 closed

[2019-07-15 16:21] juraj-blahunka commented on #1914
Hi @flavorjones
As you can see from my example, I included the ‘huge’ parse option, but it didn’t have any impact. The output is broken with and without the parse option.

[2019-07-15 20:45] flavorjones commented on #1914
Sigh, sorry, I didn't fully read the original posting and auto-replied with the `HUGE` response.

OK, what you're seeing is unfortunately a limitation of the underlying parsing engine, libxml2. If you run this under JRuby, which uses Xerces, you'll see (as expected):

[code]

I'd be happy to help you file a bug report to upstream libxml2, if you're interested?

[2019-07-20 19:40] flavorjones opened #1915 "[placeholder] embargoed security vulnerability"
# CVE-2019-5477 - Nokogiri Command Injection Vulnerability

This issue has been created for public disclosure of a Command Injection vulnerability that was responsibly reported by @kyoshidajp (Katsuhiko YOSHIDA).

I'd like to thank [HackerOne](https://hackerone.com/loofah) for providing a secure, responsible mechanism for reporting, and for providing their fantastic service to the Nokogiri maintai

[2019-07-22 18:12] pascalandy commented on #1582
Using [trivy scanner](https://github.com/knqyf263/trivy) on my docker image I found:

[code]

[2019-07-22 20:15] flavorjones commented on #1582
@pascalandy The version of nokogiri scanned appears to be v1.6.1 which was released on 2013-12-14; and the CVE for which this issue exists is not mentioned. Can you please help me understand why you posted this security scan here?

[2019-07-23 01:49] pascalandy commented on #1582
You are right. It does not make sense. I didn't check which version this software was at. I'll delete my comment.

[2019-07-25 13:38] emilebosch commented on #1668
This seems to work 🌮

[code]

[2019-08-05 08:39] brendon commented on #1800
Sorry to slightly resurrect this. Sometimes it's desirable to add a new attribute that has no value. The only way I can see to do this is:

[code]

Is there a better way?

[2019-08-10 22:04] flavorjones commented on #1915
Checklist:
- [ ] commit to 1.10.x branch
- [ ] commit to master
- [ ] release 1.10.x version
- [ ] update this issue with full details

[2019-08-11 19:33] flavorjones commented on #1915
v1.10.4 has been released addressing this vulnerability.

[2019-08-11 19:33] #1915 closed

[2019-08-15 09:53] greysteil commented on #1915
@flavorjones thanks for all your work on this and everything else you do.

I'm on the security team at GitHub these days, and noticed that this *didn't* come through to our advisory curation team via the NVD feed, even though you've got a CVE for it. It looks like that's because the CVE has been [assigned but not published](https://nvd.nist.gov/vuln/detail/CVE-2019-5477).

Would you mind prodding

[2019-08-15 17:47] reedloden commented on #1915
@greysteil We (HackerOne) submitted it to MITRE for publication this morning (we normally only do this once a week, unless specifically asked to do it sooner). Once they process it, should be all live.

[2019-08-20 23:21] flavorjones opened #1919 "[ci] gem-test-java failing"
The CI job `gem-test-java` is failing. Here is a link to the log:

https://ci.nokogiri.org/teams/nokogiri-core/pipelines/nokogiri/jobs/gem-test-java/builds/26

This issue is to investigate and take any actions necessary to make this test more robust.

Please note two distinct issues that I see:

1. the test suite is failing (NB: failing on tests introduced in `dd0a03e` for functionality added in `

[2019-08-22 12:04] Ecco opened #1920 "HTML Builder escapes too much"
**Describe the bug**

I'm trying to generate a link like to an URL with an accent, `<a href="#Éducation">`. This is valid markup, and is different from `<a href="#%C3%89ducation">`. This doesn't seem to be possible with Nokogiri!

**To Reproduce**

[code]

Doctype aside, this yields

[code]

**Expected behavior**

[code]

**Environment**

[code]

[2019-08-22 12:14] Ecco commented on #1920
Note that for some reason, using `#to_xhtml` instead of `#to_html` yields the desired result.

[2019-08-22 14:55] flavorjones commented on #1920
Hi! Thanks for asking this question. A similar issue was raised on the nokogiri-talk mailing list a short while ago.

Unfortunately the behavior you're describing is inherited from the underlying HTML parser, libxml2. Here's the C code that controls URI-escaping of certain HTML attributes:

https://gitlab.gnome.org/GNOME/libxml2/blob/v2.9.2/HTMLtree.c#L714-718

Specifically, `href`, `action`, `src

[2019-08-22 14:55] #1920 closed

[2019-08-26 19:05] akshatpaul commented on #1801
I had the error for a specific version 1.6.6.2 this solved for me -> gem install nokogiri -v '1.6.6.2' -- --use-system-libraries=true --with-xml2-include="$(xcrun --show-sdk-path)"/usr/include/libxml2

[2019-08-30 19:31] nobletrout commented on #1024
how do you know if the nokogiri you are using is using libxml or something else?

[2019-08-30 23:00] flavorjones commented on #1024
@nobletrout You can run `nokogiri -v` on the command line, or inspect `Nokogiri::VERSION_INFO`.

[2019-09-07 05:51] jvines opened #1923 "Installation difficulties"
Hi

I'm trying to install nokogiri on OS X Mojave 10.14.5. I have XCode version 10.3

If I run `gem install nokogiri` I get the following output:

[code]

If I run `gem install nokogiri -- --use-system-libraries` I get the following output:

[code]

The outputs of `mkmf.log` are, respectively:

[code]

[code]

I tried using custom libraries, as per your tutorial, but I always get either the missin

[2019-09-09 15:35] flavorjones commented on #1923
@jvines Sorry you're having troubles.

Looking at the error message for a plain `gem install`, I see:

[code]

Do you have zlib installed on your system? If so, can you tell use the path at which those files are located?

[2019-09-21 09:03] Andrius696 commented on #1923
https://github.com/sparklemotion/nokogiri/issues/1923#issuecomment-529536183

[2019-09-22 03:40] searls opened #1926 "SAX::Parser errors when it encounters non-predefined entities."
**Describe the bug**

When an XML document contains non-predefined entities—even if the document defines those entities up-front—it will error when parsing with nokogiri's SAX parser.

Note that this warning from libxml2's [docs](http://xmlsoft.org/entities.html) seem to hint that getting this right is hard:

**To Reproduce**

[code]

When run, this will output:

[code]

**Expected behavior**

I h

[2019-09-22 17:52] flavorjones commented on #1926
Hey @searls, thanks for the clear bug report. I wanted to acknowledge that I saw this and let you know I will likely not be able to dig into it immediately, but I agree with your take that the described behavior is problematic.

[2019-09-22 17:56] flavorjones commented on #1923
Since it's been a few weeks without a response to the above question from the OP, I'm going to add the `will-close` label and I'll close this in another week or so (unless there's activity).

[2019-09-23 16:03] tenderlove commented on #1926
I did a quick look in to this.  I knew I had looked in to this at one point, and now the code is jogging my memory.  The SAX parser will actually build a DOM object in order to support entity substitution.   I'm not sure if it actually builds the full DOM, but it definitely keeps the entity references on the document structs.  In order to support this we need to make sure the `myDoc` part of the s

[2019-09-23 16:17] tenderlove commented on #1926
I forgot to mention, there is a [callback for when an entity is encountered](https://github.com/GNOME/libxml2/blob/a28bc7515819bcf86382353611812dc4b73ac0fe/SAX2.c#L546-L556).  But the huge bummer is that the callback is expected to return a `xmlEntityPtr`.  We can't simply return NULL, otherwise you'll get the same error (but with a callback executed!).

With this patch:

[code]

And this script:

[2019-09-23 18:09] jvines commented on #1923
Hi @flavorjones
I do have zlib installed, I installed it with homebrew actually. The path is /usr/local/Cellar/zlib/1.2.11

[2019-09-23 19:32] Trenix25 commented on #1923
I can't get nokogiri to build either.  This has destroyed my copy of Metasploit.  The log file has said that it cannot access C library functions, but gcc isn't having any trouble.  I sure hope this problem gets fixed soon so I can reinstall Metasploit.  It used to work, but then nokogiri was updated, and now it doesn't.

[2019-09-24 01:04] flavorjones commented on #1923
@Trenix25 Sorry you're having trouble, please open a new issue and provide the information requested in the issue template. Thanks.

[2019-09-24 01:06] flavorjones commented on #1923
@jvines Thanks for that info, I'll take a look when I'm back in front of a computer.

[2019-09-24 08:00] vdoan7773 opened #1927 "MIssing content after parsing html"
**Describe the bug**
Some content of html is removed after parsing

**To Reproduce**
Run following script:
[code]

[code]
# Nokogiri (1.10.4)
    ---
    warnings: []
    nokogiri: 1.10.4
    ruby:
      version: 2.6.3
      platform: x64-mingw32
      description: ruby 2.6.3p62 (2019-04-16 revision 67580) [x64-mingw32]
      engine: ruby
    libxml:
      binding: extension
      source: packaged

[2019-09-24 21:26] Trenix25 opened #1928 "Installation difficulties"
I can no longer build nokogiri which has destroyed my copy of Metasploit.  It used to work, but then nokogiri was updated, and now it doesn't.  The requested output is very lengthy so I have uploaded it to https://github.com/Trenix25/Termux/tree/master/Metasploit/nokogiri/ for inspection.  gcc has no trouble finding C library functions.

**What operating system are you using?**
Android Linux 5.0.0

[2019-09-24 21:28] Trenix25 commented on #1928
I tried to mention this, but it got deleted.  I'm using Termux v0.73.

[2019-09-24 21:30] Trenix25 commented on #1928
I tried to mention this, but it got deleted.  I'm using Termux v0.73.
I just went and gathered this...
/data/data/com.termux/files/home >> uname -a
Linux localhost 3.10.20-x86_64_moor #1 SMP PREEMPT Tue Apr 19 18:19:38 CST 2016 x86_64 Android
/data/data/com.termux/files/home >>

[2019-09-27 12:50] flavorjones commented on #1928
Hi, let me start by noting that termux isn't a supported platform for Nokogiri, but I'll do my best to help.

Looking at the [log file you linked to above](https://github.com/Trenix25/Termux/blob/master/Metasploit/nokogiri/issue.txt), this looks to me like you may not have Ruby installed correctly (or fully). The contents of `mkmf.log` are telling:

[code]

The code being compiled is part of the `

[2019-09-27 12:51] #1884 closed

[2019-09-27 12:57] flavorjones commented on #1800
@brendon The second way you mention is what Nokogiri currently supports:

[code]

 If you're thinking that's not a great syntax to have to type, I agree with you, but it's what we're stuck with now for fear of introducing a backwards-incompatible change to the API.

FWIW, if this is something you do often, and you're up for it, I'd be open to a PR proposing a new method to do this. Something like

[2019-09-27 13:04] flavorjones commented on #1926
@tenderlove Thanks for looking into this. I've got performance concerns about option 2 you outlined above. If you recall the [Fairy Wing Throwdown](http://blog.flavorjon.es/2011/05/fairy-wing-wrapup-nokogiri-performance.html) from 2011, I suspected that the poor performance of the SAX parser was due to callbacks. Maybe we should actually benchmark what happens if we implement all the defaults so w

[2019-09-27 13:21] flavorjones commented on #1927
@vdoan7773 Thanks for asking this question. The short answer is that you're seeing differences in how a browser "fixes" invalid HTML and how libxml2 (which is the underlying parser used by Nokogiri) "fixes" invalid HTML. Nokogiri inherits this behavior from the parser, and so there's nothing we can easily do to change this behavior.

Longer answer:

The presence of the bare character `<` when it i

[2019-09-27 13:21] #1927 closed

[2019-09-29 21:48] brendon commented on #1800
Hi @flavorjones, that sounds like a great plan. Thank you for being open to that possibility. I'll let you know once I've done the PR.

[2019-09-30 06:43] kapso opened #1929 "XML parsing fails for special charatcters"
Nokogiri is failing for XML documents that have these characters - `&`, `<` and `>`

`Nokogiri::XML::SyntaxError -- 231:574: FATAL: StartTag: invalid element name`

Is there a fix for this?

[2019-09-30 12:30] flavorjones commented on #1929
Hi! I'd like to help, but I need more information. Here's what I did to try to reproduce:

[code]

You can see that the parse succeeds, and Nokogiri silently stores the error message in `#errors`.

-----

You must have missed the bug report template, so I'd like to ask you to provide us with that information:

**Describe the bug**

A clear and concise description of what the bug is. Please include

[2019-09-30 23:19] kapso commented on #1929
@flavorjones thanks for the response, and this helps.

Looks like the difference is that I am using `Nokogiri::XML::ParseOptions::STRICT` when parsing XML, while the default seems to be `Nokogiri::XML::ParseOptions::DEFAULT_XML` from the code here - https://github.com/sparklemotion/nokogiri/blob/master/lib/nokogiri/xml.rb#L34

I am actually using this Gem to parse XML docs, and they use `Nokogiri:

[2019-09-30 23:44] #1929 closed

[2019-10-03 01:39] flavorjones commented on #1582
Hi everybody who's following this issue! This issue came up in a conversation in https://github.com/flavorjones/loofah/issues/140 and so I wanted to close the loop here.

As mentioned above, [libxml2 2.9.8 addressed the underlying CVE](https://bugzilla.gnome.org/show_bug.cgi?id=772726#c42) that this issue was created to track in Nokogiri.

libxml2 2.9.8 was pulled into Nokogiri in commit b28c5f4 w

[2019-10-09 03:56] mattparlane opened #1931 "support CSS pseudo-element selectors"
Hi!

Apologies if this has been submitted already. It looks like Nokogiri's CSS parser can't handle pseudo-elements (as opposed to pseudo-classes). As far as I can tell it's valid CSS3.

To reproduce:

[code]

Result:

[code]

Thanks!

[2019-10-09 15:00] flavorjones commented on #1931
@mattparlane Thanks for opening a ticket about this.

Can you help me understand a bit more about what you're trying to do? Nokogiri's CSS parser is intended only to transform CSS queries into XPath queries; it's not intended to be a complete implementation of CSS syntax.

Another way to phrase the above question: can you give me a complete code snippet that demonstrates what you're trying to do w

[2019-10-11 02:02] mattparlane commented on #1931
Hey @flavorjones, thanks for getting back to me.

I'm actually using Nokogiri indirectly, via an old unmaintained gem called [inline_style](https://github.com/maca/inline-style). I understand now that this is probably not the intended use, but I didn't realise that previously.

The gem takes an HTML file which may include CSS rules inside a `<style>` block, and then inlines them into the HTML. It'

[2019-10-11 18:28] flavorjones commented on #1931
@mattparlane Oh, I see - so you have a style sheet that uses `input::placeholder { ... }`, and are using `inline_style` to try to inline; but when that gem invokes nokogiri to search for `input::placeholder` it errors?

If so, I think it's a reasonable feature request for Nokogiri's parser to not error out when it sees pseudo-elements -- I can fix that relatively easily.

But I would like to under

[2019-10-13 14:50] paulschreiber opened #1932 "Installation difficulties"
On macOS 10.14.6, nokogiri failed to install even after:
[code]

The error was:
[code]

The log showed:
[code]

Running
[code]

and agreeing to the license agreement allowed installation to proceed.

[2019-10-13 14:50] paulschreiber commented on #1932
Please mention `sudo xcodebuild -license` in the instructions.

[2019-10-14 12:51] eltherion opened #1933 "Nokogiri is not working/installing properly on Mac OS X 10.15 Catalina"
**Have you read and followed the installation tutorial at http://www.nokogiri.org/tutorials/installing_nokogiri.html?**

YES.

**What is the complete output of `gem install`?**
[code]

**What operating system are you using?**

Mac OS X 10.15 Catalina
Xcode 11.1

After (successful?) installation:
[code]
And then:
[code]

So we are back to the starting point.

[2019-10-14 18:14] danestreet-jwilliams commented on #1933
It's giving me the same issue as well

[2019-10-15 09:36] mattparlane commented on #1931
Sorry about the delay. I guess my naive thinking is that all pseudo-elements should be supported... but I'm not au fait with the reason why each needs to be implemented separately or how much work it would be.

My use case is for custom CSS which is entered by users, so the universe of options is basically all CSS. Before you ask (because I also asked), pseudo-elements are indeed supported in some

[2019-10-20 07:56] md-farhan-memon commented on #1923
I am facing the same error while deploying to heroku (stack 18), local it's working properly.

[code]

[2019-10-23 06:58] ioquatix opened #1935 "Race condition in Nokogiri::CSS::Parser"
[code]

[2019-10-23 11:56] flavorjones commented on #1935
Thanks for reporting, I'll take a look as soon as I can.

[2019-10-24 15:20] pluton-house opened #1936 "&amp; vanishes when XML prefixed with newline"
**Describe the bug**

Using `Nokogiri::XML string` when string starts with `\r\n` then text elements lose any &amp; s

**To Reproduce**

Running on Windows:
[code]

**Expected behavior**

XML preceded by newlines should not affect the parsing of the content.

**Environment**

`gem info nokogiri`
[code]

[2019-10-25 04:03] ioquatix commented on #1935
The reason why it happens is because there is no locking around `@cache_on` which is shared global state:

https://github.com/sparklemotion/nokogiri/blob/24a2b5eb862fab0c63b68c00c67e6a47745e5bfe/lib/nokogiri/css/parser_extras.rb#L34-L39

[2019-10-28 16:31] flavorjones opened #1937 "test against, and upgrade to, libxml-2.9.10 and libxslt-1.1.34"
libxml 2.9.10-rc1 has been released, and the team is targetting a final release later this week, according to [this email thread](https://mail.gnome.org/archives/xml/2019-October/msg00001.html).

this issue is to:

1. run the CI pipeline against this version of libxml2
2. cut a release depending on the final libxml 2.9.10 when it ships

[2019-10-28 16:32] flavorjones commented on #1937
branch pushed: [libxml-2.9.10-rc1](https://github.com/sparklemotion/nokogiri/tree/libxml-2.9.10-rc1)

pipeline running: https://ci.nokogiri.org/teams/nokogiri-core/pipelines/nokogiri-libxml-2.9.10

[2019-10-29 12:59] flavorjones opened #1938 "suppress ruby 2.7 valgrind errors"
Suppress Ruby 2.7 valgrind errors.

See https://ci.nokogiri.org/teams/nokogiri-core/pipelines/nokogiri/jobs/ruby-2.7-rc-valgrind/builds/1 for examples.

We've had to do this for previous versions of Ruby as well, see the `/suppressions` subdirectory.

[2019-10-29 13:01] flavorjones commented on #1938
Also - make sure these suppressions gets merged into the `v1.10.x` branch for the next patch release, see https://ci.nokogiri.org/teams/nokogiri-core/pipelines/nokogiri-v1.10.x/jobs/ruby-2.7-rc-valgrind/builds/1

[2019-10-29 16:16] flavorjones commented on #1938
Re-running CI:
- https://ci.nokogiri.org/teams/nokogiri-core/pipelines/nokogiri/jobs/ruby-2.7-rc-valgrind/builds/2
- https://ci.nokogiri.org/teams/nokogiri-core/pipelines/nokogiri-v1.10.x/jobs/ruby-2.7-rc-valgrind/builds/2

All green.

[2019-10-31 19:30] flavorjones commented on #1937
v1.10.5 has been released with these dependency updates.

[2019-10-31 19:30] #1937 closed

[2019-11-01 01:49] ioquatix commented on #1935
The solution is to use `Thread.current[:nokogiri_cache_on]` and assign to it directly rather than trying to read/write shared mutable state.

[2019-11-06 05:01] adi1090x opened #1939 "Installing difficulties - help me"
**Have you read and followed the installation tutorial at http://www.nokogiri.org/tutorials/installing_nokogiri.html?**
Yes!

**What is the complete output of `gem install`?**
[code]

**What are the complete contents of the `mkmf.log` file generated during the failed installation?**
[code]

**What operating system are you using?**
Termux on Android
uname -a
[code]

[2019-11-06 08:40] ar7max commented on #1939
Have you read this thread? [termux/termux-app/issues/541](https://github.com/termux/termux-app/issues/541)

[2019-11-06 11:06] adi1090x commented on #1939
Nome of that worked for me, getting same error.

[2019-11-07 11:11] josegrad commented on #1933
Same issue. Any progress?

[2019-11-07 11:39] josegrad commented on #1933
This pointed me in the right direction:

[https://stackoverflow.com/questions/5528839/why-does-installing-nokogiri-on-mac-os-fail-with-libiconv-is-missing](url)

[2019-11-07 12:17] menafkasap opened #1940 "parse XSLT::Stylesheet using the libxslt-preferred options"
The content in CDATA isn't affected by `disable-output-escaping`

Two files shared below don't produce the same output with xsltproc and nokogiri.

### FILES
`test.xsl`
[code]
-----------------------
`test.xml`
[code]
-----------------------
`test.rb`
[code]

### OUTPUTS

`xsltproc test.xsl test.xml`
[code]
-----------------------
`./test.rb test.xsl test.xml`
[code]

[2019-11-08 18:17] flavorjones commented on #1933
@josegrad the post you link to is related to installation-time problems, but the OP is asking about a runtime problem.

@eltherion I'm afraid I've never seen this issue before. I will note, though, that the issue doesn't seem to be specific to Nokogiri, as bcrypt also emits this warning. Notably, what Nokogiri and bcrypt have in common is compiled C extensions.

You may want to look into how Ruby

[2019-11-08 18:20] #1928 closed

[2019-11-08 18:24] flavorjones commented on #1939
Hi, let me start by noting that termux isn't a supported platform for Nokogiri, but I'll do my best to help.

Looking at previously-filed termux-related issues:

https://github.com/sparklemotion/nokogiri/issues?utf8=%E2%9C%93&q=is%3Aissue+termux

what you're reporting is very similar to https://github.com/sparklemotion/nokogiri/issues/1928, in which I pointed out that this appears to be a Ruby iss

[2019-11-09 17:56] eltherion commented on #1933
Clean reinstall of ruby environment + updating Xcode and running `xcode-select --install` finally helped. I hope it will work for you guys as well.

[2019-11-09 17:56] #1933 closed

[2019-11-10 05:20] theirix opened #1941 "Cannot build on FreeBSD 12"
**Have you read and followed the installation tutorial at http://www.nokogiri.org/tutorials/installing_nokogiri.html?**

Yes.

**What is the complete output of `gem install`?**

[code]

**What are the complete contents of the `mkmf.log` file generated during the failed installation?**

[code]

**What operating system are you using?**

FreeBSD 12

uname -a:
[code]

gem env:
[code]

cc -v
[code]

[2019-11-11 19:26] flavorjones commented on #1941
@theirix Hi! Thanks for posting this, and sorry to hear you're having trouble.

I'd like to try to isolate whether this is an issue with libxml2.9.10-on-freebsd-12 or if it's a more general problem of libxml2-on-freebsd-12 or nokogiri-on-freebsd-12. Can you try to do one or both of these things, please:

1. install nokogiri v1.10.4 (which vendors libxml 2.9.9). if you're successful, this indicates

[2019-11-11 19:43] theirix commented on #1941
@flavorjones  , thanks for the instructions! I'll return with results from a fresh FreeBSD installation.

[2019-11-12 08:52] theirix commented on #1941
Tried with a clean FreeBSD 12, seems strange.

Reproduce steps:
[code]

freebsd: FreeBSD bazinga.localdomain 12.0-RELEASE FreeBSD 12.0-RELEASE r341666 GENERIC  amd64
- RUBYGEMS VERSION: 3.0.6
- RUBY VERSION: 2.6.5 (2019-10-01 patchlevel 114) [amd64-freebsd12]
libxml2: 2.9.9
cc:  FreeBSD clang version 6.0.1 (tags/RELEASE_601/final 335540) (based on LLVM 6.0.1)

1. Succeeded
[code]

2. Succededed
[c

[2019-11-17 17:57] flavorjones opened #1943 "Investigate libxslt vulnerabilities patched in USN-4164-1"
This issue is to drive investigation and potential action around a set of upstream patches that Canonical judged valuable enough to port to their distributions.

References:
* https://usn.ubuntu.com/4164-1/
* https://people.canonical.com/~ubuntu-security/cve/2019/CVE-2019-13117.html
* https://people.canonical.com/~ubuntu-security/cve/2019/CVE-2019-13118.html
* https://people.canonical.com/~ubuntu-

[2019-11-17 17:58] flavorjones commented on #1943
# CVE-2019-13117

https://people.canonical.com/~ubuntu-security/cve/2019/CVE-2019-13117.html

Patched with commit https://gitlab.gnome.org/GNOME/libxslt/commit/c5eb6cf3aba0af048596106ed839b4ae17ecbcb1

This patch is present in libxslt 1.1.34:

[code]

[2019-11-17 17:59] flavorjones commented on #1943
# CVE-2019-13118

https://people.canonical.com/~ubuntu-security/cve/2019/CVE-2019-13118.html

Patched with commit https://gitlab.gnome.org/GNOME/libxslt/commit/6ce8de69330783977dd14f6569419489875fb71b

This patch is present in libxslt 1.1.34:

[code]

[2019-11-17 18:00] flavorjones commented on #1943
# CVE-2019-18197

https://people.canonical.com/~ubuntu-security/cve/2019/CVE-2019-18197.html

Patched with commit https://gitlab.gnome.org/GNOME/libxslt/commit/2232473733b7313d67de8836ea3b29eec6e8e285

This patch is present in libxslt 1.1.34:

[code]

[2019-11-17 18:03] flavorjones commented on #1943
# Summary

All three CVEs are patched in libxslt 1.1.34, and so these CVEs are addressed in v1.10.5 courtesy of commit 43a1753

## Actions

- [ ] update changelog to indicate security aspects of the version
- [ ] notify mailing lists, including security mailing lists

[2019-11-17 18:25] #1943 closed

[2019-11-19 05:49] #1939 closed

[2019-11-19 10:04] crazyshot commented on #1912
The same happens with `parent.parent = child`.
Any progress on this?

[2019-11-19 15:40] flavorjones commented on #1912
No.

[2019-11-20 00:27] domoritz commented on #1391
I'm having the same issue but unlinking xy doesn't seem to solve the problem.

[2019-11-20 10:26] vs-de commented on #1684
Hi.
There is one remaining question for me on this.
If i use the canonicalize method, this issue isn't there. Why? Maybe the answer could lead to a way around it. Kind of a last hope :)

[2019-11-23 10:32] pedrib opened #1944 "jgem fails to install nokogiri 1.10.5 (LICENSE-DEPENDENCIES.md not found)"
**Have you read and followed the installation tutorial at http://www.nokogiri.org/tutorials/installing_nokogiri.html?**

Yes

**What is the complete output of `gem install`?**
[code]

**What are the complete contents of the `mkmf.log` file generated during the failed installation?**

It was not generated.

**What operating system are you using?**

Debian 10
Linux delio 5.3.0-2-amd64 #1 SMP Debian

[2019-11-25 14:29] flavorjones commented on #1944
@pedrib Hi! Thanks for asking this question, I'm sorry you're having trouble.

I have to ask for more information, because I'm not able to reproduce what you're seeing. Here's what I did to try to reproduce:

[code]

You can see from the above that that java platform gem on rubygems.org contains this file, and that it installs on my system.

Can you please do the same for the gemfile you're instal

[2019-11-25 14:41] flavorjones commented on #1391
@domoritz This issue is several years old, and maintainers were never able to reproduce. Can you please open a new issue and provide all the information that the bug report template requests? Thanks!

[2019-11-26 08:05] pedrib commented on #1944
@flavorjones thanks for helping me out!

When I do
gem install nokogiri --platform=java

it installs well.

However, I thought that for jruby I need to use jgem? Am I getting confused?

When I try to run my Ruby program that needs nokogiri, I get this:
[code]

[2019-11-26 12:44] flavorjones commented on #1919
Fixed.

[2019-11-26 12:44] #1919 closed

[2019-11-26 14:35] flavorjones commented on #1944
@pedrib I use `rvm` to manage my ruby installations, and so I can use `gem` and it will default to using JRuby when that engine is active. I don't know how you've got your system set up.

I think you may want to ask these questions in a JRuby-specific forum, I don't think the problem is with Nokogiri per se, unless you can provide more information for me to help diagnose what you're seeing.

[2019-11-26 17:09] kapso opened #1945 "Nokogiri::XML::Reader parsing error"
I am parsing a 100MB XML document. I was using the following approach which was resulting in the process using massive amount of memory (~3GB)

[code]

So then I moved to `Nokogiri::XML::Reader` which is great coz now the same process uses ~150MB only.

[code]

However I am seeing the following errors while parsing the same XML file using  `Nokogiri::XML::Reader`. Interestingly it is not breaking

[2019-11-26 18:15] flavorjones commented on #1945
Hi! Thanks for asking this question.

First, some context; Nokogiri uses libxml2 as the underlying XML parsing engine, and so much of the behavior around parsing and entities is inherited from that library.

In this case, Nokogiri is using libxml2's xmlTextReader, which by default does not substitute entities. You can read a bit about the underlying implementation here: http://xmlsoft.org/xmlreade

[2019-11-26 18:52] kapso commented on #1945
@flavorjones thanks for the quick response.

Does this error mean that `node.outer_xml` will not return appropriate XML string? Thats my immediate concern.

In my use case I am not really parsing the XML yet, I am just reading/grabbing the XML/node (via `.outer_xml`). I then take this XML string, and parse it using regular ` Nokogiri::XML(xml)`. So as long as `.outer_xml` does not leave out the en

[2019-11-26 20:36] kapso commented on #1945
@flavorjones also happy to do a quick PR if it fixes the issue. I will need some pointers though :)

[2019-11-27 04:20] kapso commented on #1945
Hey @flavorjones this has become a critical issue for us, so please let me know if I can help with the PR. Thanks.

[2019-11-27 15:37] MinosFenn opened #1946 "Nokogiri empty brackets while parsing"
Hi everyone,
I am creating a scrapper to analyse the consumer reviews of the following website: influenster
https://www.influenster.com/reviews/toblerone-swiss-milk-chocolate
Following this tutorial: https://www.youtube.com/watch?v=b3CLEUBdWwQ
(I already did a scraper for rentalcar following this method that was working perfectly fine!)
To do so, I am using Ruby and Nokogiri and other gems as you

[2019-11-27 16:48] flavorjones commented on #1946
Hi - Thanks for asking this question, and I'm sorry you're having trouble scraping this data.

Unfortunately, I'm not sure the Nokogiri maintainers can help -- Nokogiri is doing its job here!

I also am seeing the captcha information in the returned page, and so you'll likely need to use a different strategy to load this page. You may want to look into a more complete browser agent like Mechanize

[2019-11-27 16:48] #1946 closed

[2019-11-28 22:36] EddieOne opened #1947 "Nokogiri online testing"
Is there an online tool like jsfiddle for nokogiri? It would be helpful to test the project's API via a website. In my case, it's not super easy for me to test the project I'm working on.

[2019-11-29 12:57] flavorjones commented on #1947
Thanks for asking this question. At the moment, there are no plans to make an online version of Nokogiri available.

[2019-11-29 12:57] #1947 closed

[2019-11-29 12:57] flavorjones commented on #1947
Can I help me understand why Nokogiri is hard to test for you? We're always trying to make Nokogiri easier to use.

[2019-11-29 14:24] EddieOne commented on #1947
The example is a different language, it shows the advantage though. https://jsfiddle.net/ the jquery API is very easy to test online. It gives a big advantage for projects like CheerioJs compared to Nokogiri.

[2019-11-29 14:53] flavorjones commented on #1855
Noting, as I promised I would above, that I'm intending to delete the branch created for #1858 in a week or so, unless someone has objections.

[2019-11-29 14:58] flavorjones commented on #1947
I googled "sandbox ruby" and found this site, which appears to support Nokogiri: https://repl.it/languages/ruby

[2019-11-29 15:18] flavorjones commented on #1945
@kapso You can help by writing a test case that demonstrates exactly what you want the behavior to be. If you do that, I can attempt to find a solution for you.

[2019-11-29 18:34] flavorjones commented on #1945
OK - so I've spent some time looking into this, and here's what I've found.

The property I mentioned above, `XML_PARSER_SUBST_ENTITIES`, only affects whether `.outer_xml` contains the entity name or the substitution. So, for example, with the following script:

[code]

the property affects whether we see this:

`MIKE: <div>a declared entity &asdf; is here</div>`

or this:

`MIKE: <div>a declared

[2019-11-29 19:03] flavorjones commented on #1945
Digging a bit more. Here's what else I've learned:

* [This document explains the XML spec with respect to entities](https://www.xml.com/pub/a/98/08/xmlqna1.html), and how there are only a few entities that don't need to be declared: `lt`, `gt`, `amp`, `apos`, `quot`. All other entities, including HTML entities like `yacute`, need to be declared or else are a parsing error.
* [Libxml2's XmlReader

[2019-11-29 19:18] flavorjones commented on #1945
Finally - it's worth noting that, while the DOM parser might parse the full document without raising a fatal error, there are most assuredly parsing errors going on under the hood. For example:

[code]

You can see that there is a "fatal" error which Nokogiri asks libxml2 to make non-fatal (only an option on the DOM parser, apparently); and the resulting document is blank where there originally wa

[2019-11-29 19:30] flavorjones commented on #1945
(Or, maybe more accurately: you can set parsing options for the libxml2 Reader, but not all of them are honored.)

[2019-11-29 19:34] flavorjones commented on #1947
@EddieOne I'm curious if the site I mentioned above meets your needs.

[2019-11-29 19:36] flavorjones commented on #1781
Closing.

[2019-11-29 19:36] #1781 closed

[2019-11-29 19:45] #1909 closed

[2019-11-29 21:49] EddieOne commented on #1947
Nice find, thank you

[2019-11-30 21:05] kapso commented on #1945
@flavorjones thanks for the explanation.

Can you point me to this in the DOM parse code -- `functionality to "fix up" broken markup the way the DOM parser does.`

...that way I don't miss out any entities when pre-processing the document to remove or replace any entity.

[2019-12-01 09:36] Konafets opened #1950 "Nokogiri does not extract attributes of an HTML fragment."
**Describe the bug**

Nokogiri does not extract attributes of an HTML fragment.

**To Reproduce**

[code]

Result:
[code]

Here's an example of how you might structure such a script:

**Expected behavior**

I see the attributes.

**Environment**

[code]

**Environment**

I installed Ruby with RVM.

[2019-12-01 20:58] kapso commented on #1945
I figured out the solution, so I will continue to use `Nokogiri::XML::Reader` approach (since its really efficient) to extract XML from my 100mb XML file.  But then use another gem to decode the HTML entities https://github.com/threedaymonk/htmlentities

The`*parser error*` issue does not seem to be fatal, and does not stop me from extracting XML from the large XML file, which is what I am looking

[2019-12-01 20:58] #1945 closed

[2019-12-01 22:27] flavorjones commented on #1950
Hi, thanks for asking this question. Sorry you're having trouble, I'll try to help.

I'm having trouble reproducing what you're seeing:

[code]

running a variation of the above script:

[code]

You can see that `fragment.to_html` is behaving as expected on my system, and I'm at a bit of a loss to explain why that is. Can you help me understand if there's something strange about your machine's con

[2019-12-01 22:31] flavorjones commented on #1945
You're welcome.

[2019-12-02 12:57] flavorjones commented on #1941
Sorry for the delay in replying here, will take a look.

[2019-12-02 14:03] flavorjones commented on #1941
OK, I've totally reproduced this now, thanks for your help. Unfortunately I don't know how to fix this!

The same issue comes up if I check out (upstream) libxml2 and try to compile it. I'm wondering if someone who understands freebsd better than me can try to get it working? I've spent about an hour on this and haven't made any progress. Maybe @nurse has some time to take a look?

[2019-12-02 14:32] skycat2216 opened #1951 "error in install TermUX"
my goodness,i just want change my phone to Aiden's one

current directory: /data/data/com.termux/files/usr/lib/ruby/gems/2.6.0/gems/nokogiri-1.10.5/ext/nokogiri    /data/data/com.termux/files/usr/bin/ruby -I /data/data/com.termux/files/usr/lib/ruby/site_ruby/2.6.0 -r ./siteconf20191202-31542-1e27xgm.rb extconf.rb            checking if the C compiler accepts ... *** extconf.rb failed ***

[2019-12-02 17:19] flavorjones commented on #1951
Hi - termux isn't a supported platform for nokogiri, but I'll do what I can to help.

Have you looked at the previous termux issues or asked this question on a termux forum?

* https://github.com/sparklemotion/nokogiri/issues/1939
* https://github.com/sparklemotion/nokogiri/issues/1928
* https://github.com/sparklemotion/nokogiri/issues/1816
* https://github.com/sparklemotion/nokogiri/issues/1884
*

[2019-12-02 22:29] skycat2216 commented on #1951
yes,but is looks a little different,
My system is try to find something is not C lib(mkmf says lot of things never been define)
also,i found something not exist in gem lib,maybr that's the answer

[2019-12-02 23:51] ahorek opened #1952 "segfault in node_set.rb"
**Describe the bug**
[code]

**To Reproduce**

[code]

xml input
https://github.com/ahorek/nokogiri/blob/bug/bug/xml.xml

**Expected behavior**
no segfaults

**Environment**
latest nokogiri-1.10.5

ruby 2.7.0dev (2019-11-28T14:49:28Z trunk b5fbefbf2c) [x86_64-linux]

tested on multiple ruby versions 2.5 - 2.7, linux / windows

the script doesn't fail on jruby

[2019-12-03 03:04] skycat2216 commented on #1951
i give up
i gonna to switch my OS to arch

[2019-12-03 03:04] #1951 closed

[2019-12-03 18:00] larskanis commented on #1951
For me the following sequence worked on a fresh termux:
[code]

[2019-12-03 18:48] Konafets commented on #1950
Hi @flavorjones,

thanks very much for the kind words. I can see my wrong assumption now. I changed my code and its working now:

[code]

[2019-12-03 18:48] #1950 closed

[2019-12-03 18:59] flavorjones commented on #1951
@larskanis thanks, I'll add that to the installation docs on nokogiri.org.

[2019-12-03 19:05] flavorjones commented on #1951
see https://nokogiri.org/tutorials/installing_nokogiri.html#termux

[2019-12-03 19:11] flavorjones commented on #1952
Hi, thank you for reporting this. I'll attempt to reproduce and diagnose as soon as I can (hopefully today).

[2019-12-03 19:31] flavorjones commented on #1952
OK, I've reproduced using your script and XML. Currently trying to reproduce that while running under Valgrind to get more precise information about the operation causing the segfault.

[2019-12-03 21:39] nurse commented on #1941
I also reproduced on FreeBSD 11 and it looks because of the difference of GNU make and BSD make ...?
I reproduced this with plain nokogiri repository master with `rake compile`, and `env MAKE=gmake rake compile` works fine.

And https://github.com/sparklemotion/nokogiri/pull/1953 also fix this

[2019-12-03 21:45] flavorjones commented on #1941
@nurse Thank you so much for taking a look and for the PR!

![jonathan-shamazing](https://user-images.githubusercontent.com/8207/70092363-2c6c9480-15ec-11ea-820d-a4b23b0d2c31.gif)

@theirix I'll merge and cut a patch release in the next day or so.

[2019-12-03 23:11] flavorjones commented on #1952
OK - I captured the segfault in valgrind and have a nice stack walkback. Will dig in.

[2019-12-03 23:25] flavorjones commented on #1952
Here's the top of the valgrind output, cleaned up a bit for clarity:

[code]

[2019-12-03 23:29] #1941 closed

[2019-12-04 00:50] flavorjones commented on #1941
Shipped in v1.10.6 just now. @theirix please let us know how you get on?

[2019-12-04 07:55] theirix commented on #1941
Works perfectly now, thanks for the quick fix!  GNU/BSD differences can be unexpected and very annoying.

[2019-12-04 09:43] artplan1 opened #1954 "[1.10.6] Error occurred while installing nokogiri"
Hello,
we're having trouble to install `1.10.6` in `ruby:2.6.5-slim` docker image

I see an issue when new patch is applied. Some paths were changed in 1.10.6

[code]

**What is the complete output of `gem install`?**

<details>

[code]

</details>

**What are the complete contents of the `mkmf.log` file generated during the failed installation?**

<details>

[code]

</details>

**What operating s

[2019-12-04 11:43] mmoll commented on #1954
The same seems to happen on Debian/buster.

[2019-12-04 12:49] flavorjones commented on #1954
OK, thanks for reporting this, will take a look.

[2019-12-04 13:40] flavorjones commented on #1954
OK, I see the problem: on systems that don't have `git` installed, `mini_portile2` will fall back to using `patch` to apply patches. You're seeing an error in the different in how `git` and `patch` handle this patch.

Should have a patched version released in the next few hours. Sorry for the hassle.

[2019-12-04 14:01] #1954 closed

[2019-12-04 14:02] artplan1 commented on #1954
thanks @flavorjones for the quick fix  🚀

[2019-12-04 14:04] flavorjones commented on #1954
Once this fix gets through CI (see https://ci.nokogiri.org/teams/nokogiri-core/pipelines/nokogiri-v1.10.x) I'll cut v1.10.7.

[2019-12-04 14:11] flavorjones commented on #1861
@cheald Looks like you reported this upstream at https://gitlab.gnome.org/GNOME/libxml2/issues/130.

Thank you! I'm going to close this but will watch that upstream issue

[2019-12-04 14:11] #1861 closed

[2019-12-04 22:47] flavorjones commented on #1729
Note for future self: some useful concourse windows worker configs are here: https://gist.github.com/esauser/d8e937568e93dce902b0984abcab8690

[2019-12-05 15:31] flavorjones commented on #1582
Two more notes:

First, a link to OWASP's cheat sheet on securing against XXE: https://cheatsheetseries.owasp.org/cheatsheets/XML_External_Entity_Prevention_Cheat_Sheet.html#libxml2

To save you a click, it says:

[code]

Second, a link to a whitepaper on entity attacks: https://www.vsecurity.com//download/papers/XMLDTDEntityAttacks.pdf

Specifically, this section notes how confusing the NOENT opt

[2019-12-08 07:30] orest-kostiuk opened #1955 "OS Catalina I get an error"
after bundle install

ruby 2.0.0

./siteconf20191208-743-6s5n6b.rb extconf.rb --use-system-libraries
checking if the C compiler accepts ... yes
checking if the C compiler accepts
-Wno-error=unused-command-line-argument-hard-error-in-future... no
Building nokogiri using system libraries.
libxml2 version 2.6.21 or later is required!
*** extconf.rb failed ***
Could not create Makefile due to some rea

[2019-12-09 09:35] shairyar commented on #1955
I am also getting an error on Catalina https://stackoverflow.com/questions/59245644/not-able-to-install-nokogiri-because-of-gcc-on-macos-catalina

Could you share the content of your log file as well?

[2019-12-11 09:01] simongareste commented on #1781
Hi,

Sorry to reopen this, but I may help troubleshooting this, as I'm facing the same issue and I would like to find at least a workaround, if not a fix.

Ruby is installed via snap (on ubuntu 14.04). Because of this, it's quite probable that the gcc version is not the same, however I have no idea how to check this.

[code]

Given that ruby is installed via snap, I don't have the option to instal

[2019-12-11 18:41] flavorjones commented on #1952
Sorry for lack of updates - this is high priority, but I haven't been able to spend much time on it in the past week. (The difficulty in quickly/reliably reproducing it is an additional challenge.)

[2019-12-12 05:18] joelmclean opened #1956 "Installation difficulties - Nokogiri fails to install, mkmf.log is very short"
**Have you read and followed the installation tutorial at http://www.nokogiri.org/tutorials/installing_nokogiri.html?**
Yes. I have tried installing different versions of Nokogiri, and have completely blown away ruby and rvm and reinstalled them. I even tried sudoing, even though I know I shouldn't, and re-reinstalled ruby and rvm afterwards.

**What is the complete output of `gem install`?**
[cod

[2019-12-13 09:26] muuuuuuura opened #1957 "incorrecr returning document?"

[2019-12-15 11:48] shlomif opened #1958 ""Tutorials" link on https://nokogiri.org/ is broken"
**Describe the bug**

The "Tutorials" hyperlink on https://nokogiri.org/ is broken (FF and chromium on mageia linux v8).

[2019-12-16 01:02] #1957 closed

[2019-12-20 10:45] x-yuri opened #1959 "nokogiri builds incorrectly (exports libxml2's symbols)"
**Describe the bug**

The rumor has it that `nokogiri` builds [incorrectly][1]. From what I can gather it exports (not hides) `libxml2`'s symbols. As a result, if `libxml2.so` is loaded before `nokogiri.so`, `nokogiri` is bound to use the system library, not the one embedded in the binary. And as a resullt it has to [check][2] whether that's the case.

The solution is supposedly to add [`-Wl,--exc

[2019-12-26 13:35] EmmaB opened #1960 "From version 1.10.5, XSD validations differ"
**Describe the bug**

Nokogiri version 1.10.5 produces different validation errors to version 1.10.4 against the [ONIX](https://www.editeur.org/8/ONIX/) 2.1 XSD.

**To reproduce**

Please unzip the attached folder, `cd` into the root `test_case` directory, and run:

`$ ruby -Ilib:test 1.10.4/test_case.rb`

The test passes.

Then run

`$ ruby -Ilib:test 1.10.5/test_case.rb`

This test, which uses t

[2019-12-31 13:18] francesco-loreti opened #1961 "Add support for Ruby-2.7 on Windows"
[code]

[2019-12-31 16:34] flavorjones commented on #1961
@francesco-loreti thanks for opening this issue. You don't mention it, but I'm going to assume that you're trying to install the "fat binary" gem that contains precompiled DLLs (and not compiling the vanilla gem using DevKit).

I'm planning to ship a version of Nokogiri later this week that contains precompiled DLLs for Ruby 2.7 (rake-compiler v1.0.9 was released last week for this support). Hold

[2019-12-31 16:39] francesco-loreti commented on #1961
Thanks you for your job!!!
The instructions for installation on Windows using DevKit, linked into your [Wiki page](https://nokogiri.org/tutorials/installing_nokogiri.html#windows), not working. There is other way?
Regards and Good Year!!!

[2019-12-31 16:45] flavorjones commented on #1961
Hi - we don't provide instructions for compiling with DevKit, because it's a rather advanced topic. If you've never used DevKit before, I'd advise waiting until support arrives in nokogiri v1.11.0.

If you've used DevKit before and you're seeing something odd, please open a new github issue and make sure to answer the questions in the issue template. Thank you!

[2020-01-01 17:59] larskanis commented on #1961
Happy new year for everyone who counts according to the Gregorian calendar!

@francesco-loreti There are two ways to install nokogiri as non binary gem on Windows:
[code]
installs nokogiri with builtin libxml sources and
[code]
installs nokogiri with MSYS2 libraries. We need to update the install instructions for Windows. They are outdated.

@flavorjones I already updated the pull request for fat

[2020-01-03 14:11] jlahtinen opened #1962 "Comments are formatted differently on mri and jruby"
**To Reproduce**

[code]

**Expected behavior**

with cruby and jruby

1 runs, 1 assertions, 0 failures, 0 errors, 0 skips

**Actual behavior**

with jruby
[code]

1 runs, 1 assertions, 1 failures, 0 errors, 0 skips

**Additional context**
[code]

[code]

[2020-01-05 07:44] walt93 opened #1964 "Deprecation warning from dependent library HTTParty"
**Do not report Security Vulnerabilities here**

Ok!

**Describe the bug**

At runtime I'm seeing the following warning in the logs:

[DEPRECATION] HTTParty will no longer override `response#nil?`. This functionality will be removed in future versions. Please, add explicit check `response.body.nil? || response.body.empty?`. For more info refer to: https://github.com/jnunemaker/httparty/issues/568

[2020-01-06 13:15] flavorjones commented on #1960
Hi! Apologies for the slow reply here, I've been mostly unplugged over the holidays. Will take a look.

[2020-01-06 13:17] EmmaB commented on #1960
Goodness, not at all! Thanks so much for looking, and for the gem in the first place, which we rely on and love.

[2020-01-06 13:24] flavorjones commented on #1964
Hi, @walt93. Thanks for reporting this.

Unfortunately, the deprecation warning you're seeing isn't in Nokogiri! Can I ask you to please bring this to the HTTParty gem maintainers, maybe via a comment on the github issue you linked above?

Sorry there's not something I can do to directly help here.

[2020-01-06 13:24] #1964 closed

[2020-01-06 13:32] flavorjones commented on #1962
Hi, @jlahtinen. Thanks for reporting this.

What you're seeing is a difference in how two different XML libraries parse and format documents. The JRuby implementation of Nokogiri uses Xerces, and the CRuby implementation uses libxml2. Nokogiri is a relatively thin wrapper on top of these libraries, and inherits all this behavior from them -- and so there's nothing we can easily do to change this b

[2020-01-06 13:32] #1962 closed

[2020-01-06 13:34] flavorjones commented on #1959
Hi @x-yuri, thanks for reporting this. I'm not sure there's anything we can do without fundamentally changing how we package and ship Nokogiri, this will require some research, and I'm afraid I don't have much time these days to invest in it.

Do you have any ideas on how to approach this in a way that won't break how Nokogiri compiles and installs?

[2020-01-06 13:35] flavorjones commented on #1959
Ah, I see you've made a suggestion -- I'll try that out.

[2020-01-06 14:03] flavorjones commented on #1959
Hi @x-yuri, I'm unable to reproduce what you're seeing, either on my system or using the Dockerfile and docker-compose setup you specify above (though I'll note I had to modify your docker-compose file to execute correctly).

I've created a gist reflecting my attempt to reproduce this: https://gist.github.com/flavorjones/724995b110dcb6123689b5e18ea7bf38

Can you please help me understand what I'm

[2020-01-06 14:07] flavorjones commented on #1958
Hi @shlomif, thanks for reporting this. For future reference, docs bugs should be reported at https://github.com/sparklemotion/nokogiri.org

I unfortunately am not seeing anything wrong with the site. Here's an animated gif showing you what I'm seeing:

![Peek 2020-01-06 09-06](https://user-images.githubusercontent.com/8207/71822844-e5971200-3063-11ea-90d9-1ce87bd3f72f.gif)

Can you help me unders

[2020-01-06 14:12] flavorjones commented on #1955
Hi @Ckazo4nik, thanks for asking this question, and I'm sorry you're having troubles.

The error message you posted contains this line:

Which tells me that you either have an old version of libxml2 installed on your system, or that Nokogiri is having trouble finding libxml2. Unfortunately I cannot tell you more without you answering the questions in the issue template (which you seem to have igno

[2020-01-06 14:17] flavorjones commented on #1956
Hi @joelmclean, thanks for asking these questions and sorry you're having problems.

The command being run appears in your mkmf.log file as ` -o conftest ...` but in reality should be a compiler command line. For comparison, my local mkmf.log file starts with:

[code]

Nokogiri's build system will use the same compiler that was used to compile your ruby executable, unless you have the `CC` environ

[2020-01-06 14:21] larskanis commented on #1961
@flavorjones https://github.com/sparklemotion/nokogiri/pull/1571 is finished from my point of view. My proposal is, that we merge it, but don't push linux fat binary gems for now. That would safe me the time to update both (Windows and Windows+Linux) branches. What do you think?

[2020-01-06 14:55] flavorjones commented on #1960
Hi @EmmaB, I've confirmed that this behavior changed between libxml v2.9.9 and v2.9.10 (by compiling and linking the latest Nokogiri against libxml v2.9.9). I'm going to kick off a git-bisect of libxml2 to tell you which commit introduced the change (because it's not clear to me from a brief inspection of the changelog).

[2020-01-06 14:58] EmmaB commented on #1960
Amazing, thank you!

[2020-01-06 15:18] shlomif commented on #1958
@flavorjones : I mean the "Tutorial" link under the "Links" header - see https://www.shlomifish.org/Files/files/video/nokogiri-org-2020-01-06_17.12.46.webm for a demo. thanks!

[2020-01-06 15:19] flavorjones commented on #1960
Looks like this commit is the culprit:

[code]

Here's a link to that commit: https://gitlab.gnome.org/GNOME/libxml2/commit/01d8cf07d9136aa2ecb1e4925a239973cbc89285

Looking at the changeset, this makes me think that the behavior in libxml 2.9.10 is the result of a bug fix? You should be able to ask upstream for more information if you have concerns. I hope this helps somewhat?

[2020-01-06 15:19] #1960 closed

[2020-01-06 15:25] flavorjones commented on #1960
(And the underlying bug report is https://gitlab.gnome.org/GNOME/libxml2/issues/53)

[2020-01-06 15:35] flavorjones opened #1965 "Fix code coverage calculation"
Sometime between Sept 8 and Sept 15, 2019, code coverage broke and is being calculated before tests are actually run.

[2020-01-06 15:36] flavorjones commented on #1965
You can see this at https://codeclimate.com/github/sparklemotion/nokogiri/trends/test_coverage_total

![image](https://user-images.githubusercontent.com/8207/71828450-5e03d000-3070-11ea-867b-a7201a9ee74f.png)

[2020-01-06 16:42] EmmaB commented on #1960
Helps hugely, thank you so much.

[2020-01-06 16:53] x-yuri commented on #1959
@flavorjones The reason you weren't able to reproduce the issue is supposedly owing to Alpine Linux 3.11 release. I've updated the original post. Please try again.

The trick to reproduce the issue is to have the system `libxml2` of a different version than the one that comes with `nokogiri` (`nokogiri-1.10.7` comes with [`libxml2-2.9.10`][2]). Then requiring `rmagick` (which is dynamically linked

[2020-01-07 15:31] SuperSandro2000 commented on #1964
This patch fixes the issue. I don't know if it breaks anything tough.

[code]

[2020-01-07 20:51] flavorjones commented on #1964
@SuperSandro2000 Thanks for contributing this patch to the conversation, I appreciate your thoughtfulness and the effort you put in.

But my original point still stands: it's not Nokogiri's responsibility to work around decisions made by downstream libraries. If my original response didn't state this clearly, that's my fault. I'm sorry if you're suffering from seeing HTTParty's deprecation warning

[2020-01-07 20:55] flavorjones commented on #1964
Also - please note [another codebase's fix](https://github.com/thepracticaldev/dev.to/pull/5297/files) for this issue, which indicates the usage in the description is not right -- instead of this:

[code]

the better usage would be

[code]

that is, passing in the response **body** and not the **response itself**. Hope this helps.

[2020-01-08 02:00] joelmclean commented on #1956
I did notice that, but I didn't have enough nous to work out whether missing the compiler was just an artifact of what was captured in the log.

Digging into this specifically further, I think I've nailed it down to the fact that "gcc" (/usr/bin/gcc) had bad permissions somehow (root:root:750, instead of root:root:755 which is meant to be the default)

executing `which gcc` told me that I had no g

[2020-01-08 15:44] flavorjones commented on #1956
Thanks for closing the loop here, I'm glad you were able to work it out.

[2020-01-08 15:44] #1956 closed

[2020-01-08 19:01] SuperSandro2000 commented on #1964
Can you add that to some kind of FAQ? I think the question will pop up more often.

[2020-01-09 09:03] slonopotamus commented on #1961
I also hit this issue when trying to run `bundle install` for [skoji/gepub](https://github.com/skoji/gepub) on Ruby 2.7 + Windows. I'm not sure how "fat binary" applies in this case since gepub just [declared a runtime dependency on nokogiri](https://github.com/skoji/gepub/blob/master/gepub.gemspec#L18).

[2020-01-11 18:56] flavorjones commented on #1886
I want to note that deprecating Ruby 2.3 support should also deprecate JRuby 9.1 support.

[2020-01-11 20:55] flavorjones commented on #1886
Merged #1917 and made a few other changes. Closing.

[2020-01-11 20:55] #1886 closed

[2020-01-11 21:15] flavorjones commented on #1482
With PR applied, output looks like:

[code]

[2020-01-11 21:51] flavorjones commented on #1596
Updated title to indicate the plan is to document thread-safety limitations, and am deleting the branch with the failing test.

[2020-01-14 15:05] headius commented on #1253
I started looking into this and I think the main challenge is figuring out which maven coordinates to use for all the libraries.

I started trying to sort it out but some of the version information is lost to time. I am using https://search.maven.org to look for artifacts.

* isorelax.jar: This library appears to have been abandoned by original authors and now the maven coordinates are all over th

[2020-01-14 15:41] headius commented on #1253
The following patch appears to produce a gem that installs all the jar dependencies. Note that these versions may or may not be right based on my previous comment (and the @jvshahid versions are not in here at all):

[code]

I also had to make the following change for compatibility with JRuby 9.2.9, which added `ThreadContext` to the `RubyBasicObject` implementation of `to_a`. Without that, this w

[2020-01-14 15:53] headius commented on #1253
The patch to correct this return type problem on JRuby is here: https://gist.github.com/headius/511632d8f3b6aeb2348462b42556b410

However I would prefer to keep the more specific type and modify Nokogiri to return the same type.

Note that this was not **really** an incompatible API change in JRuby...Nokogiri just happened to already override with a different return type a method we added in 9.2.9

[2020-01-14 16:00] headius commented on #1836
It appears some logic is allowing a null value to get into a Ruby object where it should not be. The NPE is actually from the inspect call in IRB. Here's similar output from `p` at a command line:

[code]

[2020-01-14 16:14] mkristian commented on #1253
@headius great to revive this PR. I have to see what needs. but using the jars we can from maven central is already a start. the modified once we can require manually.

[2020-01-14 16:20] headius commented on #1836
This appears to have been introduced in 1.10.5:

[code]

The line in 1.10.7 appears to be here: https://github.com/sparklemotion/nokogiri/blob/a2cea74e2bdad0c0106d7848d093c8faeaf4fd32/ext/java/nokogiri/XmlNamespace.java#L167

Step debugging into that logic, it appears the XmlDocument has a null nsCache field, which causes an NPE here (and would cause another one later in the method). I tried addin

[2020-01-14 16:32] headius commented on #1836
There are **two** constructors in XmlDocument that do not initialize the namespace cache:

Here:

https://github.com/sparklemotion/nokogiri/blob/280a5370072e7995e2c2cbb7e634ed8019a26949/ext/java/nokogiri/XmlDocument.java#L105-L107

And here:

https://github.com/sparklemotion/nokogiri/blob/280a5370072e7995e2c2cbb7e634ed8019a26949/ext/java/nokogiri/XmlDocument.java#L175-L181

The first one never ini

[2020-01-14 17:01] flavorjones commented on #1836
/cc @jvshahid and @kares

[2020-01-14 17:03] headius commented on #1253
@mkristian I could push the jar-deps stuff to a branch to get this going. We can leave out the jars that we don't have proper versions for. Next step would be getting dev-time working with the jar-deps dependencies.

[2020-01-14 17:03] flavorjones commented on #1836
I want to note that I opened this bug report against Nokogiri 1.9.0.rc1 which means that the history is more complex than "introduced in 1.10.5," though I'll admit I have largely ceded ownership of the Java codebase to John and Karol (cced above) and they probably have more context than I do.

[2020-01-14 17:05] mkristian commented on #1253
@headius a branch would be great

[2020-01-14 17:08] headius commented on #1253
@mkristian PR is at #1967.

[2020-01-14 17:10] headius commented on #1836
In any case something that merged into Nokogiri between 1.10.4 and 1.10.5 caused this regression, because the former appears to work correctly.

[2020-01-14 17:34] headius opened #1968 "XmlNodeSet.to_s return value conflicts with JRuby 9.2.9"
XmlNodeSet defines a `to_a` method here: https://github.com/sparklemotion/nokogiri/blob/84a554f0c7b78bf82bdd928d27ae038cf29dd0bb/ext/java/nokogiri/XmlNodeSet.java#L395

JRuby originally defined a superclass `to_a` method (in RubyBasicObject) that did not take a `ThreadContext` parameter. However in JRuby 9.2.9, we made another set of changes to pass `ThreadContext` through more methods, including

[2020-01-14 17:35] headius commented on #1968
Originally reported in a comment to #1253.

[2020-01-15 02:11] jvshahid commented on #1253
Any ideas about what I should use for the groupId? If we decide to publish those under a new groupId, e.g., org.nokogiri, I believe we will have to maintain some Maven credentials and a signing key. @flavorjones Are you ok with maintaining an extra set of creds? I am guessing you already use some credentials to publish to rubygems.

[2020-01-15 10:36] kares commented on #1836
oh right, my bad ... that NS cache usage was a real pain.
might have broke a thingy changing `initializeNamespaceCacheIfNecessary()` despite tests :green_apple:
was trying to avoid creating too many objects for empty xml documents (which was used extensively)

[2020-01-15 10:39] kares commented on #1596
:+1: should be the default despite it having a negative performance impact,
some 'power' users might want to change to a non-thread-safe cache option or maybe not ...

[2020-01-15 12:38] jvshahid commented on #1836
I'm having trouble reproducing the issue using the methods in https://github.com/sparklemotion/nokogiri/issues/1836#issuecomment-445711214 and https://github.com/sparklemotion/nokogiri/issues/1836#issuecomment-574244756. In both cases, I am not getting any exceptions. For example:

[code]

[code]

[2020-01-15 12:45] jvshahid commented on #1836
Have we looked into removing the cache?  It was introduced in 2009 in https://github.com/sparklemotion/nokogiri/commit/5526508cc95816ee05cef6f3d5315abdc5f28c45. I am wondering if it is still relevant.

[2020-01-15 14:17] flavorjones opened #1971 "CI: fix `gem-test-java` job"
The gem-test-java job has never been stable, but I tried to make sure it would use the version-under-test in 1f0d41c. Since that commit, we had Hoe issues (see 6c6a8a7) and racc issues (see https://github.com/ruby/racc/issues/125).

Now, we're seeing what I think is a real failure of the version-under-test changes from 1f0d41c, and it's blocking PRs from going green:

(from https://ci.nokogiri.org

[2020-01-15 14:35] kares commented on #1836
not really, seemed necessary. there's some other path that depend on the namespace-cache code.

[2020-01-15 16:11] headius commented on #1253
@jvshahid If you haven't seen it already, here's the guide I use for all my Maven projects: https://central.sonatype.org/pages/ossrh-guide.html

Once you've got it bootstrapped it's not too bad to maintain. Your local PGP/GPG key should be sufficient for signing...it's really just to make sure that you're the one who pushed that resource.

As for groupId, the Sonatype "rules" really want you to us

[2020-01-15 17:54] gordonbisnor opened #1972 "Unmatched double quote error when trying to bundle"
I have a new issue where I able to install nokogiri with:
gem install nokogiri --version

But when I run bundle I get the following error:
[code]

Haven’t been able to find anything like this when searching for others with the same issue... ?

Also:
- I have tried this with multiple versions of Nokogiri, including the latest

Any advice appreciated!

[2020-01-15 18:28] gordonbisnor commented on #1972
This [issue](https://github.com/rubygems/bundler/issues/3053 ) led me to look at my ~/.bundler/config file, which contained the following line:
[code]

I don’t know why that single quote was there or how it came to be there, but I tried removing it bundling is now working just fine.

[2020-01-15 18:28] #1972 closed

[2020-01-16 12:50] jvshahid commented on #1253
Cool, I will look into it this weekend.

[2020-01-16 20:41] gencer commented on #1961
Any news on this? I can install via cmd but its need to be installed via `bundle` which is failing...

[2020-01-20 18:39] benhunt29 commented on #1955
I solved this previously on Mojave by following the accepted answer [here](https://stackoverflow.com/questions/52514791/after-upgrading-to-macos-mojave-gem-update-is-failing). But since upgrading to Catalina, I've hit it again and the old answer doesn't work as the header installer referenced in the old solution doesn't exist in Catalina (or I just can't find it).

I had the `libxml2` error as wel

[2020-01-20 19:02] benhunt29 commented on #1955
as a followup to my previous post, I tried running it using system libraries and specifying the libxml2 dirs but after examining a line in the new `mkmf.log` that said `libxml/xmlversion.h` not found, I came upon [this post](https://github.com/mitmproxy/mitmproxy/issues/68) which suggested a symlink.

`sudo ln -s /usr/local/opt/libxml2/include/libxml2/libxml /usr/local/include/libxml`

This seemed

[2020-01-21 15:19] flavorjones commented on #1955
I'm seeing now that the version of Nokogiri being asked about here is quite old - @orest-kostiuk  asking about Nokogiri 1.6.5 and @benhunt29 about 1.6.6.2. The Ruby versions are 2.0.0 and 2.2.2 -- also out of support.

We've done work to make Nokogiri install and run on modern operating systems, but these changes will not be backported. Please upgrade! We cannot support folks with modern operating

[2020-01-21 15:19] #1955 closed

[2020-01-24 18:10] sshaw opened #1973 "What Exceptions Does Nokogiri::HTML::Document.parse Raise"
Hi, [the docs](https://rdoc.info/gems/nokogiri/Nokogiri/HTML/Document#parse-class_method) don't say what errors this raises. I'd like to assume that means none but I gotta think an `IOError`, `SystemCallError`, `Nokogiri::SyntaxError`, something 🤷‍♂️

[2020-01-24 18:14] sshaw commented on #1973
Oh I see it's using [`DEFAULT_HTML`](https://rdoc.info/gems/nokogiri/Nokogiri/XML/ParseOptions) but so no `Nokogiri::*` errors but _maybe_ IO or other?

[2020-01-24 20:04] flavorjones commented on #1973
Hi @sshaw, thanks for asking this question. Ruby doesn't require methods to declare what exceptions might be raised, and so I find it's rare that libraries will completely document everything that might happen.

If the underlying parsing engine returns an unexpected error code, Nokogiri should raise a standard `RuntimeError` with the error message from the library as payload. You might also get a

[2020-01-24 21:53] sshaw commented on #1973
Hello,

Yes, me too. It's unfortunate 😿

Really this is basic question that everyone should have before using an API. But yes, Ruby....

In my case I'm stripping HTML tags from a document and showing only the text (after some additional processing).

If the parsing fails then no big deal, we can show the text and process it _with_ the HTML. But doing something like

[code]

If a bit problematic as

[2020-01-25 13:00] pmcgaley commented on #1681
Since this came up top of my google search, and the resolving comment is missing the important information because it's markup, I thought I'd leave a comment here. I had the same effect because I was missing the closing tag in the markup I was inserting. Seems nokogiri balanced the markup for me, but in the process lowercased all tag and attribute names.

[2020-01-25 13:01] pmcgaley commented on #1681
(I presume the original comment meant to say "I used `<Relationships>` instead `<Relationship>` of as closure tag!")

[2020-01-25 18:27] flavorjones commented on #1973
The `#parse` methods should only return a `Nokogiri::SyntaxError`, and even then only if it's a blank document, or if you're parsing in `strict` mode.

Beyond that, you will get a `RuntimeError` if libxml2 encounters any sort of fatal error (like `malloc` failing to allocate memory), or for that matter I suppose you could get something like a `NoMemoryError` from Ruby itself.

I feel like providin

[2020-01-25 18:27] #1973 closed

[2020-01-25 21:26] flavorjones commented on #1971
I think this is resolved now.

[2020-01-25 23:56] flavorjones commented on #1965
I've determined this is an issue in Hoe v3.18.0 and higher. Sending a PR.

[2020-01-26 00:06] flavorjones commented on #1965
PR submitted at https://github.com/seattlerb/hoe/pull/102

[2020-01-26 00:39] sshaw commented on #1973
🤝

[2020-01-27 13:21] flavorjones commented on #1965
Pinning hoe to v3.17.x temporarily fixes this:

![image](https://user-images.githubusercontent.com/8207/73177821-f7f1f200-40dd-11ea-963a-a39c36a66f8d.png)

[2020-01-27 13:27] flavorjones opened #1974 "make libxslt version info available as a first-class member of `VersionInfo`"
See #1482 for details around removing the path to libxslt, which is the only piece of metadata that tells us what version of libxslt is being used.

I'd like to see something similar for libxslt as we have for libxml2:

* track the version used at compile time
* know the version loaded at runtime
* emit both versions as part of `VersionInfo`

This might result in a breaking change to the structure

[2020-01-27 13:47] flavorjones commented on #1838
Will be in v1.11.0.

[2020-01-27 13:47] #1838 closed

[2020-01-27 14:00] #1968 closed

[2020-01-27 14:00] flavorjones commented on #1968
PR merged, will be fixed in v1.11.0.

[2020-01-27 14:03] #1971 closed

[2020-01-27 14:06] flavorjones commented on #1959
@stevecheckoway Can you confirm for me that hiding these symbols as suggested will break nokogumbo? My understanding is that nokogumbo calls the exported libxml2 symbols that are compiled into `nokogiri.so`.

[2020-01-27 14:09] flavorjones commented on #1958
Hi - thanks for reporting this. It seems to be a duplicate of https://github.com/sparklemotion/nokogiri.org/issues/24 and so I'm going to close this in favor of that one.

[2020-01-27 14:09] #1958 closed

[2020-01-27 14:10] #1944 closed

[2020-01-27 14:13] flavorjones commented on #1932
@paulschreiber I'd love if you submitted a PR to the installation document here -- https://github.com/sparklemotion/nokogiri.org/blob/master/docs/tutorials/installing_nokogiri.md

[2020-01-27 14:13] #1932 closed

[2020-01-27 14:20] flavorjones commented on #1923
@jvines The source of the issue is related to these lines in your logs:

[code]

[2020-01-27 14:22] flavorjones commented on #1923
@md-farhan-memon It seems unlikely you're encountering the exact same problem. Please open a new issue and follow the reporting template for installation problem if you need assistance.

[2020-01-27 18:26] stevecheckoway commented on #1959
Nokogumbo is supposed to support three configurations
1. Nokogiri links against the system libxml2 but there are no headers;
2. Nokogiri links against the system libxml2 and there are headers;
3. Nokogiri packages libxml2 itself.

1 is the slow case (and I'm actually not 100% sure I didn't accidentally break it when reworking the build logic in the past). 3 seems to be the normal case. If Nokogiri

[2020-01-27 18:48] flavorjones commented on #1959
@stevecheckoway Got it, thanks for the clear answer.

@x-yuri So just to be clear: Nokogiri maintainers must now make a choice between two groups of users - either I make things slightly less awkward for edge cases like the one you mention, or I make things much less performant for users of nokogumbo.

My preference, absent a really compelling reaons, is going to be to optimize for users of nokogu

[2020-01-27 18:59] flavorjones commented on #1959
@x-yuri Also, I'm confused - is this problem fixed in alpine 3.11? In which case ... doesn't that mean it's an issue with alpine? As I might have mentioned, I'm unable to reproduce this on Ubuntu systems ... I'm a little confused as this seems like a very edge-y edge case.

[2020-01-28 21:25] FabrizioMarana opened #1975 "Multi-line strikeout preview and post differ"
**Describe the bug**
As per https://meta.discourse.org/t/multi-line-strikethrough-not-covering-quotes/64808/12 raising a bug here as this is still not fixed after 2 years *over there* and I can't seem to find this bug here on this repository's issue list.  **¯\\_(ツ)_/¯**

As Discourse is using Nokogiri, the preview and the eventual post over there are not matching up as Nokogiri does not Reconstru

[2020-01-28 22:53] SamSaffron commented on #1975
The feature request here is to implement non normative 12.2.9.2 in nokogiri per:

https://html.spec.whatwg.org/multipage/parsing.html#misnested-tags:-b-p-/b-/p

I am betting github has the same issue? or it somehow leaves html un-normoalized

<b>
test

test
</b>

[2020-01-29 20:27] flavorjones commented on #1975
Hi all, thanks for opening this issue.

The behavior being described is inherited from the underlying parsing/serialization library -- either libxml2 or xerces. There's no easy way for Nokogiri to change the behavior of how these libraries work, and in fact the Nokogiri core maintainers have identified doing so as an anti-goal.

I'd invite you to submit this feedback upstream to libxml2 or xerces.

[2020-01-29 20:27] #1975 closed

[2020-01-29 20:52] HarshdipD commented on #1961
Hi, is this issue fixed? I don't want to downgrade to ruby 2.6 just because this issue...

[2020-01-29 21:03] slonopotamus commented on #1961
![image](https://user-images.githubusercontent.com/92637/73397075-c18dc000-42f3-11ea-8e3d-6ddc36aa8671.png)

If you don't want to do something, just don't do it.

[2020-01-29 21:27] FabrizioMarana commented on #1975
Mike,

Thanks for the feed-back.  As I'm just a dumb end-user now who hasn't
written a single line of C in the last 15 years, could you please provide
me with a link to (libxml2 OR Xerces) and which one of the two I should try
first in your professional opinion?

Thanks for that last bit of help!

Fabrizio

On Wed, Jan 29, 2020 at 9:27 PM Mike Dalessio <notifications@github.com>
wrote:

[2020-01-29 21:37] flavorjones commented on #1975
Hi @FabrizioMarana, libxml2 is what's used by CRuby (Xerces-J is only used on JRuby) and so is the dominant xml parser used.

You can file an issue upstream at https://gitlab.gnome.org/GNOME/libxml2/issues

Good luck!

[2020-01-29 22:03] flavorjones commented on #1961
@larskanis I agree, I'll merge #1571. Thanks for your patience.

@HarshdipD @slonopotamus @francesco-loreti this will be fixed when Nokogiri v1.11.0 is shipped. Please watch the [milestone](https://github.com/sparklemotion/nokogiri/milestone/18) for progress, but I'm hopeful this will happen in the next few weeks.

[2020-01-30 13:05] flavorjones opened #1976 "reformat CHANGELOG.md to adhere to keepachangelog.com guidance"
See https://keepachangelog.com/en/1.0.0/

I think this will help downstream consumers of the changelog, like Tidelift.

[2020-01-30 22:26] x-yuri commented on #1959
@flavorjones

The issue has to do with neither Docker, nor Alpine Linux. Docker makes it easy to reproduce, Alpine Linux is small in size (less to download, faster to reproduce):

[code]

Anyways, let's take Debian:

`1.sh`:

[code]

[code]

Or [Ubuntu][4].

The trick to reproduce the issue is to have **system** `libxml2` **different** from the one **bundled** with `nokogiri`. The reason I fell ba

[2020-01-31 03:28] FabrizioMarana commented on #1975
Mike / Sam,

Issue #144 opened with libxml2 here:
https://gitlab.gnome.org/GNOME/libxml2/issues/144

Please feel free to subscribe your own e-mail address to this issue so
you'll see any follow-up for this issue yourself so you can:
* Re-open any closed bugs as "depends on upstream fix" for your respective
projects
* Close your side of the bug after the libxml project closes theirs and you
pull th

[2020-02-01 18:57] flavorjones opened #1977 "`extconf.rb` should use `MakeMakefile` helpers for cflags, cppflags, and ldflags"
MakeMakefile provides helpers to add arguments to `$CFLAGS`, `$CPPFLAGS`, and `$LDFLAGS` global variables:

https://www.rubydoc.info/stdlib/mkmf/2.1.0/MakeMakefile

We're already using `MakeMakefile::with_cflags` (via `add_cflags`) in some places courtesy of @knu (see commits 3c3d34f and 439ab0e), which is great. We should do more of this!

This issue proposes:

* An audit of things we're adding t

[2020-02-01 21:25] flavorjones commented on #1959
@x-yuri Thanks for explaining a bit more, now I understand.

However, again, there's a simple workaround which is to reverse the order of requires; which means this may not be a compelling enough problem (IMHO) to break nokogumbo.

That said: I've pushed a branch and PR that un-exports the libxml2/libxslt symbols to #1979. I'm not going to merge that unless the nokogumbo project says they won't be

[2020-02-01 21:43] flavorjones commented on #1974
See #1859 for the related PR

[2020-02-02 00:28] #1974 closed

[2020-02-02 07:02] #1976 closed

[2020-02-02 07:33] x-yuri commented on #1959
If you know what causes the issue.

I month or so ago I'd ask, "Why would `nokogiri` do that (dynamically load some other version)? Should I do something about it? What do I do?" A better message would be:

Ideally `nokogiri` should find the culprit, `$LOADED_FEATURES.grep(/\.so$/).select { |p| system('sh', '-c', 'ldd "$1" | grep libxml2', '-', p, [:out, :err] => "/dev/null") }`?

But I suggest to

[2020-02-02 08:13] jjb opened #1981 "can't install on ubuntu 18"
On a pretty barebones ubuntu 18 instance running under Vagrant, I get this when installing 1.10.7

[code]

1.9.1 installs with no problem

Let me know any other info you need.

[2020-02-02 08:13] jjb commented on #1981
brightbox ruby 2.6.5

[2020-02-02 08:19] flavorjones opened #1982 "investigate valgrind failure in CI coming from Nokogiri_wrap_xml_node_set"
**Describe the bug**

CI picked up a valgrind failure that's concerning for two reasons:

* the stack walkback shows it's happening in Nokogiri code
* the rest of the stack walkback is suspiciously similar to the stacks we're suppressing, which means maybe we're getting false positives

**To Reproduce**

Occurrence is here: https://ci.nokogiri.org/teams/nokogiri-core/pipelines/nokogiri-pr/jobs/rub

[2020-02-02 15:29] FabrizioMarana commented on #1975
Feed-back from the gnome project is:

[Original here](https://gitlab.gnome.org/GNOME/libxml2/issues/144#note_700235)

[2020-02-02 18:03] flavorjones opened #1983 "Ship precompiled gems for linux"
**Hello!** If you're arriving here to give feedback on the v1.11.0 Release Candidates, please make sure to:

* tell us which linux distro you're using!
* (If you can) a docker image in which we can reproduce the failure you're seeing!

Thanks so much for using Nokogiri and for giving us feedback on this experiment!

-----

See #1571 for the PR from @larskanis that enables building precompiled libr

[2020-02-02 18:55] flavorjones commented on #1981
Hi @jjb, thanks for asking this question. When you opened an issue, you were prompted with an option for "Installation issues" -- this option prompts you for more information so that we can help.

I'll paste the template below. Please provide that info and we'll try to help out.

---

**Have you read and followed the installation tutorial at http://www.nokogiri.org/tutorials/installing_nokogiri.ht

[2020-02-02 19:02] jjb commented on #1981
sorry! 😅

annnd now I can't replicate it. maybe something in the process of installing the lower version changed the environment somehow. i guess if no one else is having the issue the issue should be closed.

[2020-02-02 19:02] #1981 closed

[2020-02-02 19:24] flavorjones commented on #1961
OK, the work done by @larskanis on #1571 has been merged onto master. I will try to cut a release candidate today so windows users will have _something_ to use on Ruby 2.7.

[2020-02-02 19:57] larskanis commented on #1983
bundler-2.2.0 will fix the issues with binary gems. I already played a bit with it's improved multiplatform support on Windows. I didn't test nokogiri on Linux so far, but a nokogiri pre-release will allow easy testing.

Regarding Alpine Linux (aka musl libc) I did some research and found out that `sprintf()` doesn't work properly but segfaults as soon as any arguments are used. It is only used on

[2020-02-02 20:27] flavorjones opened #1984 "CI should use the rake-compiler-dock docker images to build gems for testing"
Currently CI uses the same docker images created for running tests, namely https://hub.docker.com/r/flavorjones/nokogiri-test/tags which are generated by the rake tasks in `tasks/docker.rb` and the Dockerfiles in `concourse/images`.

Specifically for JRuby, this means we're building our test gem on an image (`flavorjones/nokogiri-test:jruby-9.2`) that is different from the image used to build the

[2020-02-02 21:58] aleksandrs-ledovskis opened #1985 "Memory access violation / Crash during GC"
Was tasked with fixing crash in one production application that was pointing to Nokogiri.
Two day's worth of debugging resulted in following.

**_My understanding of the issue_**

Check relevant `# --N--` markers in dehydrated reproduction code.

### --1--
XML schema document is parsed and by Nokogiri as Libxml2's `xmlDoc`.
### --2--
`xsd_doc.first_element_child.children.to_a` generates a `xmlNode

[2020-02-03 01:30] flavorjones commented on #1961
v1.11.0.rc1 has been released with precompiled native libraries for Windows and Ruby 2.7. Please give it a whirl and let me know if you have any problems. I'll close this in a few days unless someone has issues.

[2020-02-03 01:37] francesco-loreti commented on #1961
Work!! Thanks you for your great job!!!

[2020-02-03 01:55] flavorjones commented on #1983
@larskanis Just want to confirm: you think I should ship an RC for precompiled linux? I can do that on Monday if so.

I can add Alpine to the CI pipelines -- that might be the easiest way to tell if something's broken. I'll try to do that in the next day or so.

[2020-02-03 01:57] #1961 closed

[2020-02-03 02:00] flavorjones commented on #1975
@FabrizioMarana the nokogumbo project uses the gumbo parser on top of nokogiri, please try that if you like.

[2020-02-03 02:02] flavorjones commented on #1985
@aleksandrs-ledovskis Thanks for opening this issue, and sorry you're experiencing this problem.

I'll take a deeper look at this over the next few days.

[2020-02-03 13:31] flavorjones opened #1986 "investigate #1970 - string optimization"
**Background**

PR #1970 was opened by @ashmaroli to attempt to reduce the number of allocated empty strings created by Nokogiri.

This PR was merged and released in v1.11.0.rc1.

@ashmaroli repeated his profiling (I think using the `memory_profiler `gem) and [commented](https://github.com/sparklemotion/nokogiri/pull/1970#issuecomment-581376600) that it didn't seem to have an effect.

**Actions**

[2020-02-03 13:41] ashmaroli commented on #1986
Sorry for the blunt comment in #1970 , @flavorjones
I tested the submitted patch outside the context of Nokogiri (on a Windows system) and *assumed it would provide the expected reduction in allocation.. My bad.*

IMO, this need not be reverted since it doesn't appear to be wrong or have a side-effect. (I don't have a JRuby environment, so can't really say about that aspect).

But I did some addit

[2020-02-03 14:12] flavorjones commented on #1983
@larskanis They're out there! https://twitter.com/flavorjones/status/1224334774753513473

[2020-02-03 16:15] casperisfine commented on #1983
Some feedback on precompiled binaries in general, not nokogiri per say.

On paper precompiled binaries are great as they are much faster to install, however they are a huge pain whenever a new Ruby version is released.

I just had this issue with the `grpc` and `google-protobuf` gems. I wanted to try the `2.7.0` RCs but couldn't because precompiled gems put a upper requirement on ruby versions.

F

[2020-02-03 16:33] flavorjones commented on #1983
@casperisfine Thanks for the feedback. This should be addressed in Bundler 2.2, see https://github.com/rubygems/bundler/pull/7522 (mentioned above) for more context.

[2020-02-03 16:39] casperisfine commented on #1983
🤦‍♂ Sorry, I read the issue description way too quickly. Great to hear this soon won't be a problem anymore.

[2020-02-03 23:37] tenderlove commented on #1985
I couldn't reproduce with Ruby, but the explanation makes sense.  I think the XSLT parser shouldn't touch memory that it didn't allocate.  Anyway, I was able to write a C program that uses libxml2 to demonstrate the problem:

[code]

If I enable malloc scribbling on MacOS, it will segv:

[code]

I think upstream should probably not call that free function when a schema is created from a document.

[2020-02-04 08:02] aleksandrs-ledovskis commented on #1985
@tenderlove Thanks for taking a time to investigate and building a C repro program.

It is somewhat strange that you couldn't repeat the crash. While I was testing initially with CRuby 2.5.7 (to match with PROD version), I have just retested with `master`.

`
ruby 2.8.0dev (2020-02-04T05:41:52Z master 9cdc964d07) [x86_64-darwin17]
`

Env and build chain (if that matters):

[code]

Interestingly en

[2020-02-04 09:41] Shahrukhhashmi commented on #1961
Hi - I'm still getting the same error after running the command "gem install nokogiri -v 1.11.0.rc1 --prerelease". However, the rc version is installed, but the error is same.

[2020-02-04 10:19] larskanis commented on #1961
@Shahrukhhashmi Can you please open a new issue with all necessary details?

[2020-02-04 10:24] Shahrukhhashmi commented on #1961
@larskanis Thanks for writing back. Sure, I can do that but, the issue and details are same as mentioned by @francesco-loreti.
ERROR:  Error installing nokogiri:
The last version of nokogiri (>= 0) to support your Ruby & RubyGems was 1.10.7. Try installing it with `gem install nokogiri -v 1.10.7` nokogiri requires Ruby version >= 2.3, < 2.7.dev. The current ruby version is 2.7.0.dev.

[2020-02-04 10:30] Shahrukhhashmi opened #1987 "Installation difficulties"
Hi @larskanis ,
https://github.com/sparklemotion/nokogiri/issues/1961#issue-544187468

I'm still getting the same error after running the command "gem install nokogiri -v 1.11.0.rc1 --prerelease". However, the rc version is installed, but the error is same.

[2020-02-04 10:50] voxik commented on #1983
Overall, the best way to install nokogiri on Fedora is via `dnf install rubygem-nokogiri` and Fedora user does not need to care.

Nevertheless, the runtime dependency on `mini_portile2` is annoying for pre-built packages.

[2020-02-04 10:52] larskanis commented on #1961
@Shahrukhhashmi You shouldn't put a space before "prerelease". This should work:
[code]

[2020-02-04 10:53] voxik opened #1988 "Explicit dependency on Racc"
Since Nokogiri depends on Racc in runtime, it would be nice if the dependency was explicitly specified. I know that Racc is part of Ruby StdLib as default gem, OTOH one day Racc will release incompatible version and Nokogiri won't be usable with certain older versions of Ruby without older gemified version of Racc.

[2020-02-04 11:03] taichi-ishitani commented on #1987
I was able to install the RC release by this command.

[code]

[2020-02-04 11:21] nwellnhof commented on #1985
You can report bugs either on the libxml2 GitLab instance or the mailing list.

Regarding this issue, `xmlSchemaParse` removes blank text nodes from the input document via `xmlSchemaCleanupDoc` by design. Unfortunately, it seems hard to work around or fix this mistake.

[2020-02-04 12:53] aleksandrs-ledovskis commented on #1985
If per Nick's comment it's unfeasible to change the way how Libxml2 operates, maybe at least Nokogiri could detect (and `raise` hell) in situations when document containing blank text objects is passed on to `Schema::from_document`?

[2020-02-04 13:35] Shahrukhhashmi commented on #1987
@taichi-ishitani Nokogiri RC is successfuly installed, but when I try to install rails, it producess the same error.

[2020-02-04 13:36] Shahrukhhashmi commented on #1961
@larskanis I have also ran this command. Nokogiri RC is successfuly installed, but when I try to install rails, it producess the same error.

[2020-02-04 13:52] larskanis commented on #1987
@Shahrukhhashmi Probably you need to enable nokogiri prerelease in your Gemfile. However for the next time you open a github issue: Please use the issue template and provide complete details!

[2020-02-04 13:52] #1987 closed

[2020-02-04 14:22] larskanis commented on #1984
Windows tests [still succeed](https://ci.appveyor.com/project/larskanis/nokogiri) on Appveyor. But I noticed that Appveyor was disconnected from this repository. @flavorjones Could you please re-enable Appveyor until we have another CI solution for Windows? Badge icon and `appveyor.yml` are still in place.

In `pg` gem we use [docker with multiarch images](https://github.com/ged/ruby-pg/blob/maste

[2020-02-04 16:59] stevecheckoway commented on #1959
@x-yuri, as I explained above, it's possible to use Nokogumbo without knowing directly using libxml2 by relying on Nokogiri to construct the DOM nodes. E.g., `<br>` would have Gumbo produce a `GumboElement` object (not quite correct, but close enough) and then construct a `Nokogiri::XML::Element` using the Ruby API which in turn constructs an `xmlNode`.

If you do this, you end up constructing a R

[2020-02-04 18:47] tenderlove commented on #1985
tbf, I only ran the Ruby program twice.  Your description was clear enough and reading the code made it obvious there's a bug.  I figured we'd need a pure C test case anyway if we plan to fix upstream.

I will try to think of a fix for libxml2, but even if I can't I'll still file a ticket upstream.

I think this is a possible alternative.  The document should know what nodes have been exposed to R

[2020-02-04 19:00] tenderlove commented on #1985
Probably needs a better exception, but this would prevent the segvs:

[code]

[2020-02-04 23:58] tenderlove commented on #1985
Something I think is interesting is that you can pretty easily demonstrate that turning a document in to a schema removes the node:

[code]

[2020-02-05 07:30] ashmaroli commented on #1986
While not *directly* related to the issue under investigation here, I'm leaving a note regarding a couple of areas that could be refactored in future to reduce overall String allocations.

The following native methods return a new Ruby String on every call:
- https://github.com/sparklemotion/nokogiri/blob/2318f014658273ae467eb004ab7cb47c6d366eec/ext/nokogiri/xml_document.c#L201-L214
(Returns a new

[2020-02-05 08:03] larskanis commented on #1986
@ashmaroli I did a lot of benchmarks when tuning [ruby-pg](https://github.com/ged/ruby-pg). One outcome was, that allocation counts can be a good indicator for performance improvements, but don't have to. In particular short string allocations like the above are way faster than lookups in a ruby Hash or st_tables (instance variables) - in fact by a factor of 3 to 5. String handling is very well op

[2020-02-05 09:03] ashmaroli commented on #1986
@larskanis Thank you for joining this discussion. I understand that there is always a delicate balance between memory-usage and time-consumption and getting the right balance is tough.

Wow! That's interesting. Do you have a benchmark script that I can use to reproduce this observation? Factor of 3 to 5 is a significant difference.

[2020-02-05 20:43] larskanis commented on #1986
@ashmaroli After a bit of benchmarking [here](https://gist.github.com/larskanis/c1ef84c3e058e819786f5fd20bc7c207) and [here](https://gist.github.com/larskanis/d95455fa71deb4cc6b03005cb9c505b0) I noticed that I was wrong in [my comment above](https://github.com/sparklemotion/nokogiri/issues/1986#issuecomment-582287199). Reusing strings from `st_table` is actually somewhat faster that allocation of

[2020-02-06 13:22] x-yuri commented on #1959
Then probably it sort of makes sense for `nokogiri` to export `libxml2`'s symbols. But isn't there an easy way to on one hand not let other gems force `nokogiri` into using system `libxml2`, on the other one let `nokogumbo` use `nokogiri`'s `libxml2`? @stevecheckoway Does `nokogumbo` need all the `libxml2` symbols, or a subset would suffice (considering possible needs in the future)?

[2020-02-06 16:13] x-yuri commented on #1959
...Alternatively, one can probably change symbols of `libxml2` with [`objcopy`][1] before linking it to `nokogiri`.

[1]: https://sourceware.org/binutils/docs/binutils/objcopy.html

[2020-02-06 16:17] stevecheckoway commented on #1959
@x-yuri can you sketch out what you have in mind? It's not sufficient to change the symbols in libxml2. Nokogiri and Nokogumbo still need to have prototype information and, in one place for Nokogumbo, the actual structure definition for an `xmlNode`.

[2020-02-07 06:36] x-yuri commented on #1959
I have 2 options in mind:

1. As far as I understand, when the exported symbols match, the first loaded library wins. For it to not win, we've got to rename the symbols. The symbols that were renamed are no longer subject to the arbitration. `objcopy` can help with renaming `libxml2`'s symbols. Then yes, we've got to change the header files correspondingly. That can probably be done with `sed`, or

[2020-02-07 16:36] flavorjones commented on #1959
@x-yuri I'm thankful that you're involved and are offering potential solutions. But I want to point out that I don't think we agree that this is a problem that needs solving; or rather, it feels lower priority than many other things that need our attention, including better testing, precompiled binaries for more platforms, and all the bugs and features that are blocking v1.11.0.

In practice, libx

[2020-02-08 08:08] x-yuri commented on #1959
@flavorjones Not a priority. You can start with improving the message:

Nokogiri doesn't dynamically load anything. Let me take another stab:

Or "...that depend on libxml2, like RMagick." Also, I've just confirmed that the following code seems to find the culprit:

[code]

You might want to make Nokogiri suggest the culprit. Or add a link to this issue in the code or in the message for users to b

[2020-02-09 19:36] FabrizioMarana commented on #1975
My apologies for never replying to you until now.  :-(  *Thanks **yet again** for your wonderful help!*  :-)

My lord and master Sam is already using nokogumbo on the Discourse project for something else and will use this "in the next few months" which is still better than the 2 years this (cosmetic) bug has been open on their side.

*Live long and prosper!*

[2020-02-09 21:53] flavorjones opened #1991 "precompiled gems should not have a runtime dependency on `mini_portile2`"
As pointed out by @voxik in #1983, any gems that are precompiled don't need `mini_portile2` and so we should remove that as a dependency from those gemspecs.

[2020-02-09 21:54] flavorjones commented on #1983
@voxik Thanks for your comments!

Regarding Fedora installation instructions, can I ask you to send a PR on [this file in the documentation repo](https://github.com/sparklemotion/nokogiri.org/blob/master/docs/tutorials/installing_nokogiri.md)?

And -- you're right! We shouldn't have a runtime dependency on mini_portile2 for pre-built packages. I've opened #1991 to fix that in a future RC.

[2020-02-09 21:58] larskanis commented on #1991
It's already there #1989 !

[2020-02-09 22:22] flavorjones commented on #1988
@voxik Thanks for pointing this out! As you mentioned, because it's in the Ruby stdlib, we don't today need to explicitly require it as a dependency.

I think I'd prefer to wait until a problem arises due to a backwards-incompatible difference between the Racc version in stdlib and what's generated in the Nokogiri code base. If it happens, I'd be happy to cut a patch release specifying a dependenc

[2020-02-10 00:30] zenspider commented on #1965
Released! Unpin, update, and you should be good.

[2020-02-10 15:42] flavorjones opened #1992 "Investigate libxml2 vulnerabilities patched in USN-4274-1"
This issue is to drive investigation and potential action around a set of upstream patches that Canonical judged valuable enough to port to their distributions.

References:

* https://usn.ubuntu.com/4274-1/
* https://people.canonical.com/~ubuntu-security/cve/2019/CVE-2019-19956.html
* https://people.canonical.com/~ubuntu-security/cve/2020/CVE-2020-7595.html

---

## Summary

### Synthesis

CVE-20

[2020-02-10 17:32] flavorjones commented on #1992
## Analysis

### CVE-2019-19956

permalink: https://people.canonical.com/~ubuntu-security/cve/2019/CVE-2019-19956.html

bug report: https://gitlab.gnome.org/GNOME/libxml2/issues/82

description:

priority: __low__

fix commit: https://gitlab.gnome.org/GNOME/libxml2/commit/5a02583c7e683896d84878bd90641d8d9b0d0549

in upstream libxml2 release?
[code]

### CVE-2020-7595

permalink: https://people.can

[2020-02-10 17:34] flavorjones commented on #1992
## Synthesis

CVE-2019-19956 was addressed in upstream libxml2 release v2.9.10, which has been vendored in Nokogiri since v1.10.5 on 2019-10-31.

CVE-2020-7595 has not yet been addressed in an upstream libxml2 release, and so Nokogiri versions <= v1.10.7 are vulnerable.

## Recommendations

Nokogiri should backport the patch for CVE-2020-7595 into its vendored version of libxml2.

[2020-02-10 18:37] flavorjones commented on #1992
Patch has been backported onto `master`. Now waiting for the `v1.10.x` branch to go green so I can cut a patch release.

[2020-02-10 19:47] flavorjones commented on #1992
v1.10.8 has been released: https://github.com/sparklemotion/nokogiri/releases/tag/v1.10.8

[2020-02-10 19:47] #1992 closed

[2020-02-11 13:39] voxik commented on #1988
I really think every project should properly specify their dependencies, so this applies to every gem. You can never know who else is using any of these libraries and might want to use some specific version. E.g. use `yaml` with `syck` instead of `psych`. These are things out of your control. Also, for example, now I have fix several packages failing in Fedora due to `e2mmap` removal from Ruby Std

[2020-02-11 20:36] Kenyia opened #1994 "Installation difficulties"
**Have you read and followed the installation tutorial at http://www.nokogiri.org/tutorials/installing_nokogiri.html?**

**What is the complete output of `gem install`?**

Please make sure to escape the file contents with triple-backticks.

**What are the complete contents of the `mkmf.log` file generated during the failed installation?**

Please make sure to escape the file contents with triple-b

[2020-02-12 10:20] malohtie commented on #1961
any update ?

[code]

[2020-02-12 10:55] slonopotamus commented on #1961
@malohtie You do not need to ask if there's any update. That triggers a email to everyone who subscribed to this issue. You can just read comments and see that there were no messages in last 8 days.

Also, @larskanis explicitly asked to open new issue if there are still some problems.

[2020-02-12 12:13] malohtie commented on #1961
@slonopotamus i saw the updates, i still got problem when trying to install it even with pre release , also you can unsubscribe if you don't want to see a simple email
cheers

[2020-02-12 22:10] zenspider commented on #1994
Zero details. Please close.

[2020-02-13 16:50] #1994 closed

[2020-02-13 16:59] flavorjones commented on #1961
All - this issue is driving whether the prerelease, v1.11.0.rc1, can be installed and run on windows. It can, and is closed. Subsequent comments above indicate that Gemfiles and/or other gems' dependencies are still on 1.10.8. That's not something the Nokogiri project can solve, please report upstream as necessary.

[2020-02-15 13:30] #1908 closed

[2020-02-15 13:31] flavorjones commented on #1908
This should be fixed in v1.11.0.rc2 when it comes out.

[2020-02-15 13:39] flavorjones commented on #1923
@jvines I'm curious if you were able to look into your system's configuration? I'll close this in a few days if I don't hear back.

[2020-02-15 13:59] flavorjones commented on #1936
@pluton-house Thanks for asking this question! And thank you for the test that made this easy to reproduce.

One of the things I try to remember to do when I see Nokogiri parsing things in an unexpected way, is to look at the `Document#errors` to see what the underlying parser (libxml2 on CRuby, xerces-j on JRuby) really thinks of the markup.

In your test, if you add:

[code]

you'll see that `n1

[2020-02-15 13:59] #1936 closed

[2020-02-15 14:13] flavorjones commented on #1935
@ioquatix Can I ask how you found this bug? The `#without_cache` method was added in 8b9daef, and is only used in the `Slop` node decorator ... are you using `#without_cache` for something? I'm just curious.

You're right, of course, and we'll fix it.

[2020-02-15 19:57] ioquatix commented on #1935
I found it by manual analysis supported by some tools like grep and custom scripts to narrow down on potential issues.

[2020-02-15 22:40] #1935 closed

[2020-02-16 13:04] flavorjones opened #1996 "RFC: convert to use `yard` for documentation"
We're already using `yard` to generate the docs at https://nokogiri.org/rdoc/index.html, but we're not taking advantage of some of yard's features (like the ability to embed mixin methods, e.g., `Searchable` in `Node` and `NodeSet`), and we're certainly not using yard syntax (e.g., all the `call-seq` annotations that we currently use are ignored).

So I'm thinking it would be best to convert the d

[2020-02-16 15:36] flavorjones commented on #1996
Note that one of the big reasons I'd like to do this is to start grouping methods in large classes like `XML::Node`, and so I'm watching https://github.com/lsegal/yard/pull/1238 which is driving the ability to use `@!group` in C code.