[2021-01-08 04:17] peterkos commented on #2131
[Parcel.js](https://github.com/parcel-bundler/parcel/discussions) has a nice board going!

[2021-01-10 09:08] 0981381982 opened #2170 "[install]"
- [x] Yes!

**What is the complete output of `gem install` or `bundle install`?**

[code]

**If installation completed but is broken, what is the complete output from `nokogiri -v`?**

[code]

**If installation failed during compilation, what are the complete contents of the `mkmf.log` file generated during the failed installation?**

[code]

**Tell us about your system!**

What is the output from

[2021-01-10 21:57] flavorjones commented on #2170
Hi, @0981381982, please fill out the template if you're having problems. Thank you!

[2021-01-10 21:57] #2170 closed

[2021-01-11 09:46] codener commented on #2075
We like to compile Nokogiri with system libxml because it simplifies updating when libxml has another of its frequent security issues. Will this continue to be possible?

[2021-01-11 12:53] flavorjones commented on #2075
@codener Yes. Please read https://nokogiri.org/tutorials/installing_nokogiri.html#installing-using-standard-system-libraries and let me know -- in a new issue, please -- if it does not address your concerns.

[2021-01-11 13:56] flavorjones commented on #1996
After thinking about the foundational nature of Nokogiri in the ecosystem, I think we _should_ use RDoc to ensure that as many folks as possible are able to generate and read the doc strings.

After reading docs, I think we can use RDoc without making it challenging for folks to navigate those docs, thanks to the `:category:` and `:include:` directives, etc.

[2021-01-12 12:57] mengqing commented on #2149
Having the exact same issue as OP.

```gem install nokogiri``` seems to be working fine

[code]

but then when I try to run ```bundle install``` I got the same error as OP

any suggestions?

[2021-01-12 14:02] flavorjones commented on #2149
@mengqing Thanks for reporting, and sorry you're having this problem. Can you please open a new issue, because the OP had errors during `gem install` and it looks like you may be having a similar -- but different -- problem. Thank you!

[2021-01-12 14:25] mengqing opened #2171 "[install] Unable to complete bundle install - machine `arm64-apple' not recognized"
**Have you read and followed the installation tutorial at http://www.nokogiri.org/tutorials/installing_nokogiri.html?**

- [x] Yes!

**What is the complete output of `gem install` or `bundle install`?**

[code]

**If installation completed but is broken, what is the complete output from `nokogiri -v`?**

[code]

**If installation failed during compilation, what are the complete contents of the `mk

[2021-01-12 14:26] mengqing commented on #2171
I'm able to install nokogiri fine

[code]

However I'm not able to complete ```bundle install```

[2021-01-12 14:27] mengqing commented on #2149
@flavorjones Thanks, will do

[2021-01-12 15:51] flavorjones commented on #2171
@mengqing Thanks for reporting. The root cause of this is upstream in libxml2's build files.

However, bundler should be installing the native precompiled gem for you (like `gem install` does). Can you please double-check your bundler config? Is it possible that at some point in the past you configured bundler to install nokogiri with `--use-system-libraries`?

[2021-01-12 15:59] flavorjones commented on #2171
@mengqing I hate to pass this problem off, but I'm not sure how to help if `gem install` is working, and I'd like to involve the Bundler team in the conversation.

Would you be willing to open a bundler-related issue at the rubygems project? Here's a link to do so: https://github.com/rubygems/rubygems/issues/new?assignees=&labels=Bundler&template=bundler-related-issue.md&title=

[2021-01-12 16:00] KoellM commented on #2015
1.11.1 can not be installed on MSVC.
This is a patch:
[code]

[2021-01-12 16:01] KoellM commented on #2015
1.11.1 can not be installed on MSVC.
This is a patch:
[code]

[2021-01-12 16:01] KoellM commented on #2015
1.11.1 can not be installed on MSVC.
This is a patch:
[code]

[2021-01-12 21:07] mengqing commented on #2171
@flavorjones Thanks Mike, after a few hours of fiddling, I was able to finish ```bundle install``` after setting the bundle config following this section https://nokogiri.org/tutorials/installing_nokogiri.html#installing-using-standard-system-libraries

```bundle config build.nokogiri --use-system-libraries.```

I'm not sure why though, could it be that the version packaged with Nokogiri isn't com

[2021-01-12 21:07] #2171 closed

[2021-01-13 10:29] deivid-rodriguez commented on #2165
Is someone able to reproduce the issue at the moment? If yes, it'd be nice if you could try https://github.com/rubygems/rubygems/pull/4238 to verify it really fixes the issue. If not, I'll still move it forward but a manual confirmation would be nice.

[2021-01-13 13:37] flavorjones commented on #2165
@deivid-rodriguez Thank you for digging into the problem! I unfortunately cannot reproduce the problem at the moment. Maybe someone here with an M1 can?

[2021-01-13 13:41] deivid-rodriguez commented on #2165
If someone can repro, the steps to try the PR would be to clone the rubygems repo, checkout the PR's branch, and run `ruby setup.rb` to install the latest rubygems & bundler. If you want to revert the changes after that, you can run `gem update --system <previous_rubygems_version>`.

[2021-01-13 22:31] flavorjones opened #2172 "adopt save-and-restore pattern for libxml2 error handlers everywhere"
See #2168 and #2169 for details, but the short version is that we should be more rigorous about saving-and-restoring error handlers and error handler metadata around libxml2 calls, in case any are being made recursively within Nokogiri.

For example, these lines in `Nokogiri::HTML::Document::EncodingReader` are calling HTML::SAX::PushParser to parse a chunk from the IO read callback of a regular d

[2021-01-13 22:35] flavorjones commented on #1036
Copying from gist for future readers:

[code]

[2021-01-13 22:44] flavorjones commented on #1036
The runtime error I'm seeing is `A document may not have multiple root nodes.` which is from libxml2 and seems to me to be a good explanation of what's happening. A document may only have one root node (other than comments or processing instructions).

[2021-01-13 22:44] #1036 closed

[2021-01-14 03:56] rgoldberg commented on #2165
On macOS 11.1 x86_64, I get the following error when I run `ruby setup.rb` from the `arch` branch:

[code]

I tried `sudo ruby setup.rb`, but get the same ignores, but the following different error:

[code]

Some info:

[code]

The first problem is probably standard ACL; the second isa probably macOS SIP.

[2021-01-14 07:29] rgoldberg commented on #2165
@flavorjones Can you release nokogiri as universal releases, instead of as platform-specific releases?

That would avoid all these issues (though the `gem` platform issues themselves should still be fixed by the gem maintainers).

[2021-01-14 09:13] deivid-rodriguez commented on #2165
@rgoldberg The `gem outdated` issue has not yet been fixed (PR isstill opened).

Regarding upgrading rubygems, sorry I didn't noticed you were using a globally installed ruby :grimacing:, I'm not sure how to install rubygems from source on that ruby. In any case, those warnings indicate that something is not correct in my PR. Can you downgrade back to your previous working installation with `gem u

[2021-01-14 09:14] deivid-rodriguez commented on #2165
Thanks for trying this by the way, and sorry for partly breaking your installation :disappointed:.

[2021-01-14 09:17] rgoldberg commented on #2165
@deivid-rodriguez I already downgraded. Things seem fine now. No problem about breaking things. You meant well.

[2021-01-14 09:29] deivid-rodriguez commented on #2165
That's a relief :sweat_smile:.

I'll try look into it, maybe I can tell you to add some debugging prints here and there.

That should be fixed by #4248. It should be almost ready, just pending evaluation of whether it needs any tweaks to accommodate backwards compatibility concerns. In any case, that issue shouldn't affect anything else that `gem outdated` giving incorrect information.

[2021-01-14 12:29] rgoldberg commented on #2165
@deivid-rodriguez Thanks for the info, and for fixing these issues.

I'm curious as to why no one else reported these issues before. Was gem changed recently, or are these problems only happening on macOS, not on other OSes like Linux (which I assume has supported multiple arch's for a while)?

[2021-01-14 12:48] deivid-rodriguez commented on #2165
I think since nokogiri started shipping precompiled gems for linux and MacOS, these issues in rubygems become more apparent now.

[2021-01-14 20:34] rgoldberg commented on #2165
Did gem only recently start supporting precompiled gems, or were they technically feasible before, but no popular gems did it? Or something else?

Thanks for the info. I'm just intrigued by this all coming up now instead of in the past. It's nice to learn the history.

[2021-01-14 21:15] flavorjones commented on #2165
No. Universal implies it's a combination arm and x86 executable. This is neither necessary nor easy to do.

[2021-01-15 19:28] CodingAnarchy opened #2173 "[bug] v1.11 - HTML parsing ignores text encoding and attempt to force it"
A snippet of an HTML document with a meta-tag of `<meta http-equiv="Content-Type" content="text/html; charset=Windows-1252">` is being parsed as Windows-1252, despite being handled by Ruby as a UTF-8 encoded string (already decoded by Ruby), and ignoring any attempt to pass an explicit UTF-8 encoding.

[code]

**Expected behavior**

Nokogiri parses this as a UTF-8 document when specified without m

[2021-01-15 21:02] flavorjones commented on #2173
@CodingAnarchy Thanks for opening this issue, and sorry that you're having a problem here.

So, what's interesting is that I cannot reproduce this! Here's my setup:

[code]

I'm in the unfortunate position of not knowing much about how JRuby handles encoding, so I'm not even sure where to look to try to diagnose why this test fails on your system but passes on mine.

[2021-01-15 21:16] flavorjones commented on #2173
I've also tried reproducing this on a Mac, and still don't see this issue. Here's that config:

[code]

[2021-01-17 14:29] rgoldberg commented on #2165
@deivid-rodriguez Is there anything I can do to help with your PRs?

[2021-01-17 21:54] flavorjones commented on #2094
I've made this change. Please update your local environments:

[code]

[2021-01-17 21:55] #2094 closed

[2021-01-18 06:16] onuronur76 opened #2175 "[yükleyin]"
**Have you read and followed the installation tutorial at http://www.nokogiri.org/tutorials/installing_nokogiri.html?**

- [x] Yes!

**What is the complete output of `gem install` or `bundle install`?**

[code]

**If installation completed but is broken, what is the complete output from `nokogiri -v`?**

[code]

**If installation failed during compilation, what are the complete contents of the `mk

[2021-01-18 09:25] deivid-rodriguez commented on #2165
As I said before, I'll look into it, and try to figure out some good places for debugging prints that will give us better info about environments where this is happening. I'm just too busy with other things now, so not for the moment. As far as I understand, you're still consistently getting the issue, but have the `--platform` workaround, correct?

[2021-01-18 10:42] rgoldberg commented on #2165
@deivid-rodriguez Yeah, I use the workaround when necessary.

I also run `outdated` in the same script in which I perform upgrades, so I continually get spurious out-of-date messages for nokogiri, which causes my script to try to upgrade it.

It's not the end of the world, but I didn't want you waiting on anything that I could help with.

Good luck with your other commitments.

[2021-01-18 13:53] flavorjones commented on #2175
@onuronur76 Please fill out the template if you'd like help.

[2021-01-18 13:53] #2175 closed

[2021-01-18 17:38] flavorjones commented on #1996
Flip-flopping on this. I'm choosing YARD over RDoc/SDoc because:

- allows complete specification of argument types and return types
    - potentially generating Sorbet/RBI/RBS files
- looks nicer than RDoc/SDoc
- is less problematic than SDoc templates
    - SDoc template doesn't have URL magic in the browser bar like the Rails template does
    - Rails template doesn't support relative prefix so

[2021-01-18 17:38] #1996 closed

[2021-01-18 21:45] flavorjones commented on #1223
Ok, in the interest of closing this out, I dug in today. The approach I started with is:

[code]

but here I got stuck, because I don't know of any way to link the locator metadata with the final Node in the parsed Document. If someone can help me out, I'm all ears.

So I'm falling back on simply tweaking the existing algorithm to handle newlines better.

[2021-01-19 12:53] flavorjones commented on #1959
OK, I've determined that hiding these symbols will break nokogumbo at runtime.

Testing with Nokogiri v1.11.1 and this change applied:

[code]

Nokogumbo will install (compile, link, etc.) but cannot find the relevant symbols at runtime:

[code]

As such, we can't hide these symbols today without a plan for Nokogumbo.

Thankfully, such a plan has emerged in #2064 which will result in Nokogumbo bei

[2021-01-19 12:53] #1959 closed

[2021-01-19 13:03] flavorjones commented on #1223
Closed by #2177.

[2021-01-19 13:03] #1223 closed

[2021-01-24 18:28] rpjday opened #2180 "nokogiri should drop the dependency on "racc""
As I read it, racc became a Ruby core module a long time ago, so there is no point in it still being listed as a run-time dependency. In fact, this causes an install error if you try to use this module in a Yocto Project build, as racc and ruby both try to install the executable /usr/bin/racc, causing the install to fail.

[2021-01-25 20:46] flavorjones commented on #2180
Hi, @rpjday, thanks for opening this issue.

The original discussion about this can be found at https://github.com/sparklemotion/nokogiri/issues/1988. The TL;DR is that although racc is part of the standard library, it is installed by Ruby as a "default gem" that is still versioned and as such may break backwards compatibility at some point in the future.

There was also discussion recently about

[2021-01-25 20:46] #2180 closed

[2021-01-25 23:04] hasannadeem opened #2181 "libxslt is missing - MacOS Catalina"
**Have you read and followed the installation tutorial at http://www.nokogiri.org/tutorials/installing_nokogiri.html?**

- Yes!

**What is the complete output of `gem install` or `bundle install`?**

I ran `gem install nokogiri -v '1.9.1'`

[code]

**If installation completed but is broken, what is the complete output from `nokogiri -v`?**

[code]

**If installation failed during compilation, what

[2021-01-26 12:17] flavorjones commented on #2181
Hi, @hasannadeem, sorry you're having a problem. Looking at the mkmf.log output, it looks like the root cause is Ruby's config tests (in your case, checking for the presence of libxslt header files and the library) are failing to compile.

Unfortunately Nokogiri 1.9.1 and Ruby 2.2 are both out of support and so I'm not sure we will be able to help. A ton of work has been done over the past few yea

[2021-01-28 15:35] flavorjones commented on #2181
:wave: Just checking in on whether you need any further help here. I'll close in a day or two if I don't hear back.

[2021-01-28 15:36] flavorjones commented on #2173
:wave: Bumping this, are you able to help me reproduce? I'll close in a few days if I don't hear back.

[2021-01-28 16:55] CodingAnarchy commented on #2173
@flavorjones I've dived into it a bit more and it turns out that we are ingesting an email that is Windows-1252 encoded, which the `mail` gem is decoding to UTF-8, and then we are feeding an HTML part in to `nokogiri` for parsing. This worked with v1.10.10, but it fails now on v1.11.1.

[code]

The `.eml` file I used for testing can be found [in this public gist](https://gist.github.com/CodingAnar

[2021-01-28 17:20] hasannadeem commented on #2181
I used docker to set up the project using ubuntu 16.04. Thanks for your help.

[2021-01-28 17:20] #2181 closed

[2021-01-29 03:48] Shreyas-BS commented on #2181
I have the same issue when I run this command
` gem install nokogiri -v '1.6.4.1' --source 'http://rubygems.org/' -- --use-system-libraries `
 Ruby version I am using is 2.0.0p353

[2021-01-30 20:54] flavorjones commented on #2173
Hi @CodingAnarchy, I'm glad to hear you've narrowed down what's going on here. Unfortunately, the test case you've provided doesn't pass on CRuby because of newlines, and doesn't pass on JRuby for the reason you're demonstrating.

Can I ask you to spend a few minutes to simplify this test case by a) avoiding use of the `mail` gem, b) avoiding loading an external file, and c) ensure that it passes

[2021-01-31 15:49] flavorjones commented on #2132
I've submitted a merge request upstream at https://gitlab.gnome.org/GNOME/libxml2/-/merge_requests/100

I've also got a PR with the test case @CloCkWeRX provided and the libxml2 patch ready at #2182.

[2021-01-31 19:51] CodingAnarchy commented on #2173
@flavorjones Unfortunately, I've not been able to simplify this test and still have it fail in the case in question. I'm not sure what is different about the `mail` gem being in the loop than when I attempt to just do the encoding differences myself. (It should be as simple as a `force_encoding("Windows-1252").encoding("UTF-8")`, but it appears that I am missing something about this process.

I al

[2021-01-31 22:31] flavorjones commented on #2173
Here's my config:

[code]

Here's the output from the script you provided run against the email you linked:

[code]

You can see that the quote character is not right, and there is a `\r` at the end of each line.

[2021-01-31 22:45] flavorjones commented on #1952
@stayhero Sorry for the delay in giving you a meaningful response. After digging into the example you've given, I'm confident that this is the same bug. Thanks so much for providing this second example which has helped illuminate what's going on.

[2021-02-01 13:28] flavorjones commented on #1952
I'm going to try to explain how GC works with libxml2's data structures, what's going wrong in these examples to cause a segfault, and some ideas for resolving the problems.

### How GC works for libxml2 data structures

Garbage collection ("GC") of libxml2 data structures is controlled by the `Document` object's lifecycle -- the libxml2 function `xmlFreeDoc` frees all the node data structures own

[2021-02-01 13:31] flavorjones opened #2183 "[doc] Document memory management model"
This issue comment should be expanded upon and made into a page explaining how we deal with libxml2's memory model within Ruby's mark-and-sweep GC model:

https://github.com/sparklemotion/nokogiri/issues/1952#issuecomment-770856928

[2021-02-01 14:00] flavorjones commented on #924
Please see the conversation at https://github.com/sparklemotion/nokogiri/issues/1678. If you need a deep copy, please duplicate the Document before creating the NodeSet.

[2021-02-01 14:00] #924 closed

[2021-02-01 14:06] flavorjones opened #2184 "explore: make NodeSet a subclass of Array"
## NodeSet today

Over the years, `NodeSet` has slowly approached being API-compatible with `Enumerable` or `Array`. This is good, and it validates the mental model of libxml2's `xmlNodeSet` as an augmented ordered set, especially given that the underlying implementation is literally a C array:

[code]

However, we find ourselves at an interesting point, where `NodeSet` is _not_ completely an `Enu

[2021-02-01 14:07] flavorjones commented on #1952
I've opened an issue for exploration of the crazy idea at #2184. I'll work on a less risky fix for this bug this week.

[2021-02-01 20:02] eileencodes opened #2185 "[bug] Can't install nokogiri with Ruby 3.1.0.dev"
**Please describe the bug**

I was benchmarking some Ruby changes I'm making with @tenderlove but I'm unable to install the latest Nokogiri with Ruby 3.1.0.dev (Ruby master). When I try to bundle Rails using Ruby built from source I get the following:

[code]

My bundler version is `Bundler version 2.3.0.dev`

I saw this previous issue https://github.com/sparklemotion/nokogiri/issues/2075 and trie

[2021-02-01 20:06] eileencodes commented on #2185
I'm so sorry, I accidentally hit enter before filling in the details 😱

[2021-02-01 20:15] flavorjones commented on #2185
:wave: Sorry you're dealing with this. I opened an upstream bundler issue here: https://github.com/rubygems/rubygems/issues/4012 and I believe a permanent fix has been committed to Bundler master/main.

I'm going to tag in the Bundler maintainer I've been working with on this and related issues, @deivid-rodriguez, who might have some advice and help.

[2021-02-01 20:17] flavorjones commented on #2185
In the meantime I'm going through building Ruby locally to try to reproduce on my system.

[2021-02-01 20:24] deivid-rodriguez commented on #2185
I believe this is expected, because `3.1.0.p1` is considered newer than `3.1.0.dev`, so it doesn't match `< 3.1.0.dev`. If `nokogiri` wanted to allow development versions of ruby 3.1.0, then I believe the upper bound should be `< 3.1.0`?

I think the reason this wasn't detected in rubygems/rubygems#4012 is that nokogiri was using `< 2.8.0.dev` at the time, but ruby 2.8 ended up not being a thing,

[2021-02-01 20:28] eileencodes commented on #2185
AFAICT Nokogiri isn't setting an upper bound, it only has a lower one. https://github.com/sparklemotion/nokogiri/blob/main/nokogiri.gemspec#L40

[2021-02-01 20:28] deivid-rodriguez commented on #2185
Oh, just ignore me, I'm tired today. I understand now, this is indeed the same issue. Bundler should've chosen the RUBY version since it has no upper bound.

I'll build ruby-head too and have a look :+1:.

[2021-02-01 20:29] deivid-rodriguez commented on #2185
Our comments crossed @eileencodes, yeah, you're right. I misunderstood the issue initially.

[2021-02-01 20:31] deivid-rodriguez commented on #2185
One question @eileencodes. Do you have a lockfile? If you do, does the issue still repro if you delete it?

[2021-02-01 20:38] eileencodes commented on #2185
I deleted rails/rails lockfile and it looks like Nokogiri did install in that case, but bundling failed to build native extensions for curses.

[2021-02-01 20:39] flavorjones commented on #2185
OK, running
- ruby `3.1.0dev`
- bundler `2.3.0.dev`
- starting from scratch (without a Gemfile.lock file)

installs nokogiri v1.11.1 (the ruby platform version) as expected for me.

[2021-02-01 20:47] deivid-rodriguez commented on #2185
I think the issue here is reusing a lockfile across rubies that resolve to different sets of gems. I assume you use that lockfile for older rubies that are resolved to the platform specific version. If that's the case, bundler will use the lockfile since it currently doesn't have the ability of detecting this situation and re-resolving. I think it's the same issue as https://github.com/rubygems/ru

[2021-02-02 03:59] flavorjones commented on #1952
Blurgh, option (1) above breaks the semantics of the NodeSet in that the duplicate we'd create would be unparented from the original document -- which is not going to make any sense for users who end up using NodeSets to collect the results of multiple queries across documents.

I think we need to implement option (2) and accept a slightly slower mark phase. On the plus side, this is exactly what

[2021-02-02 05:39] flavorjones commented on #1952
PR created at #2186.

[2021-02-03 15:26] ngiger opened #2187 "[bug]Doesn't parse last element of a 14MB big file"
**Please describe the bug**

The rubygem oddb2xml fails to correctly emit the last root element RESULT. See
[oddb2xml issue 46](https://github.com/zdavatz/oddb2xml/issues/46)
I do not know what [producer HIN](http://download.hin.ch/download/oddb2xml/oddb_article.xml) of the 119MB changed, but it is failing since January 6 of this year.

But most probably HIN ran just the oddb2xml executable instal

[2021-02-03 16:05] flavorjones commented on #2187
@ngiger Thanks for opening this issue, and thanks for asking this question.

Have you tried parsing this using the `HUGE` parse option that libxml2 makes available? https://nokogiri.org/tutorials/parsing_an_html_xml_document.html#parse-options

[2021-02-03 16:09] ngiger commented on #2187
No. I was not aware, that this option did exit.
Setting it fixed my problem.
Thanks a lot for your quick answer!

[2021-02-03 16:09] #2187 closed

[2021-02-03 21:59] wbrisett opened #2188 "[Enhancement] Allow builder to continue serializing content after comment"
In trying to enhance an existing script, I asked on the Nokogiri list about the possibility of enabling Builder to open a comment block, continue serializing data, then closing the comment. It was mentioned that's not currently possible. I am requesting that folks consider this enhancement to builder.

[2021-02-03 22:40] flavorjones commented on #2188
Hey, @wbrisett! :wave:

I was imagining something like this:

[code]

WDYT?

[2021-02-03 22:51] wbrisett commented on #2188
I really think the "extended to do this" version is cleaner and it honestly follows what you have been doing in builder, that is, opens up a block, then you build inside that block until it's time to close.

However, this is exactly what I was hoping for, and if you said, I could only have the first one, I'd find ways to make that work.

[2021-02-04 17:49] flavorjones commented on #2185
I'm going to close this out since I don't think there's anything we can do within Nokogiri to address this, and there are some open Bundler conversations about it.

[2021-02-04 17:49] #2185 closed

[2021-02-05 21:49] #1952 closed

[2021-02-06 19:05] #2132 closed

[2021-02-08 21:53] nightpool commented on #2166
I also had a colleague ask me about problems compiling `racc` this afternoon, on a normal Mac laptop. Is there any way the Nokogiri team could reach out to the Bundler team about this? All else being equal, it's really unfortunate to add lots of extra complexity to people's build processes these ways.

[2021-02-08 21:54] nightpool commented on #2166
(I still haven't figured out *what* the actual compilation error is, unfortunately, but this was an unfortunate blocker for us upgrading. Will follow up once I have more details)

[2021-02-08 23:35] flavorjones commented on #2166
@nightpool I linked to this in an earlier comment: https://nokogiri.org/tutorials/installing_nokogiri.html#cannot-install-racc

If you're experiencing some other error, can you please provide specifics in a new issue created at https://github.com/ruby/racc ?

[2021-02-09 17:21] piotr-sokolowski opened #2190 "[install] arm64-linux version question"
**Have you read and followed the installation tutorial at http://www.nokogiri.org/tutorials/installing_nokogiri.html?**

- [x ] Yes!

If Linux or a BSD variant, please note:
- the distro you're using
Ubuntu 18.04.5 LTS
- the output of `uname -a`
`aarch64 aarch64 aarch64 GNU/Linux` - AWS Graviton 2 instance

Hi, are there any plans to include arm64-linux version of gem ?

[2021-02-09 17:24] flavorjones commented on #2190
Hi @piotr-sokolowski, thanks for asking this question.

I'd have no problem supporting this architecture if `rake-compiler` and `rake-compiler-dock` provided the tooling for it out-of-the-box. Can I ask you to open an issue at https://github.com/rake-compiler/rake-compiler-dock where we can both participate in a conversation with the maintainers?

[2021-02-09 17:24] #2190 closed

[2021-02-10 22:20] flavorjones opened #2191 "support `--disable-static` option on TruffleRuby"
See  for more context.

TruffleRuby, by default, sets the `--use-system-libraries` option (via [these lines in mkmf.rb](https://github.com/oracle/truffleruby/blob/d0c380361d65fd9cc89f98efdf7c7f956f073720/lib/mri/mkmf.rb#L52-L54)). Because of how Nokogiri's `extconf.rb` is currently implemented, this setting takes precedence over other options like `--disable-static` which would allow users to comp

[2021-02-13 17:16] onuronur76 opened #2192 "[yükleyin]"
**Have you read and followed the installation tutorial at http://www.nokogiri.org/tutorials/installing_nokogiri.html?**

- [ ] Yes!

**What is the complete output of `gem install` or `bundle install`?**

[code]

**If installation completed but is broken, what is the complete output from `nokogiri -v`?**

[code]

**If installation failed during compilation, what are the complete contents of the `mk

[2021-02-16 15:20] flavorjones commented on #2192
@onuronur76 Please fill out the issue template if you have an issue.

[2021-02-16 15:20] #2192 closed

[2021-02-16 17:06] #2098 closed

[2021-02-16 17:16] flavorjones commented on #2015
OK, I'm going to close this for the reasons I've mentioned above.

Once again, I'm open to PRs that address specific MSVC issues, but then I would like these each treated as separate, addressable issues -- using the bug report or installation problem templates -- so that we understand the failure modes and can have a conversation about how to fix it.

What I *really* want is someone to help set up

[2021-02-16 17:16] #2015 closed

[2021-02-16 17:23] MSP-Greg commented on #2015
Testing against Ruby mswin master can be done with GitHub Actions.  ruby/openssl has been doing it for quite a while, see:

https://github.com/ruby/openssl/blob/f2d004679a62408a89d7304b229c24e789b94776/.github/workflows/test.yml#L41

[2021-02-16 17:46] flavorjones commented on #2015
@MSP-Greg thanks once again for being a voice in support of Github Actions. If you want to submit a PR introducing MSVC support (is that the same as `mswin`? I honestly have no idea) then I'm open to it, especially if you're a Windows user.

[2021-02-16 17:49] flavorjones commented on #2015
@MSP-Greg maybe here I should also qualify my remarks: I'd like some way to validate that CI is reproducing what MSVC users are doing in the real world. Which is why I keep asking Windows users to do this work.

I want to avoid the antipattern of spending time setting up a red build, then spending time getting red to green, and then discovering that real-world cases are actually harder/simpler/dif

[2021-02-17 17:35] eregon commented on #2191
I've made a small change locally to allow overriding `NOKOGIRI_USE_SYSTEM_LIBRARIES` with command-line arguments (PR incoming).

With that, it's possible to install nokogiri in all 3 variants. I'm using the latest TruffleRuby nightly build.

Current default, using system libraries:
[code]

Compiling the vendored libxml2/libxslt as shared libraries:
[code]

Compiling the vendored libxml2/libxslt as

[2021-02-26 11:32] eregon commented on #1882
@aardvark179 checked and with https://github.com/sparklemotion/nokogiri/pull/2193 + `--use-system-libraries=false`, all Nokogiri specs pass!
That means we should be able to have TruffleRuby passing in Nokogiri's CI.

Performance also seems fine when running libxml2/libxslt on Sulong, so I think we might just default to that at some point (like for CRuby, but no support for precompiled gems yet).

[2021-02-26 13:31] flavorjones commented on #1882
:thinking: Wow. I'll make time this weekend to merge, and update CI and the installation docs.

[2021-02-26 19:12] flavorjones commented on #2167
I think this is related to #165 and might be fixed by #166. We'll see if the Windows builds are all green and I'll come back here with more info.

[2021-02-26 22:18] flavorjones commented on #2167
Still failing. I have a Windows dev env set up now, will investigate this weekend.

[2021-02-27 18:30] flavorjones commented on #2167
@larskanis I think I need help with this. I can easily reproduce on a Windows dev environment running:

- Ruby 3.0 and devkit (via RubyInstaller)
- Nokogiri 1.11.1 x64-mingw32
- Nokogumbo source at https://github.com/flavorjones/nokogumbo/tree/flavorjones-add-support-for-precompiled-native-nokogiri-gems

Output matches what's seen at https://github.com/rubys/nokogumbo/pull/163/checks?check_run_id=

[2021-02-27 21:58] weihao opened #2196 "[install] nokogiri 1.9.1 install failed on MacOS Catalina due to missing libxslt"
Hi community,
I have been stuck on this installation error for a week and I tried anything that I could find online but no resolution yet.  I have both `libxslt` and `libxml2` installed by homebrew, but the error still persists. Could anyone share some thoughts? Thank you!

**Have you read and followed the installation tutorial at http://www.nokogiri.org/tutorials/installing_nokogiri.html?**

- [x

[2021-02-27 22:11] larskanis commented on #2167
No idea for now. I'll try to dig deeper tomorrow.

[2021-02-28 08:34] jsx150 commented on #2188
Yeah ;hunter

[2021-02-28 20:45] weihao commented on #2196
I have found a similar issue reported on GitHub but it was not resolved.

https://github.com/sparklemotion/nokogiri/issues/2181

[2021-03-01 13:03] flavorjones commented on #2196
Hi, @weihao. Sorry you're having problems. My response here will be the same as my response in the issue you link:

https://github.com/sparklemotion/nokogiri/issues/2181#issuecomment-767505491

Specifically, Nokogiri 1.9 came out almost a year before MacOS Catalina was released, and so I'm not sure they are compatible; and Nokogiri 1.9 is out of support so I won't be making any changes to it for c

[2021-03-01 13:03] #2196 closed

[2021-03-02 11:48] eregon commented on #1882
https://github.com/oracle/truffleruby/commit/9a5b42085174ec7b13b663c1641f74bd43077557 is the PR I was mentioning above in TruffleRuby. That's now merged, so when using `--use-system-libraries=false` the patches have no effect.

[2021-03-03 15:02] flavorjones commented on #2167
OK, I think I've got this figured out. It's a combination of:

- libxml2 and nokogiri not properly exporting symbols (note that libxslt/libexslt do this properly, though!)
- ensuring that nokogumbo has linker flags to link against the installed `nokogiri.so`

The first can be solved by passing `-DIN_LIBXML -ULIBXML_STATIC` as cflags in the libxml2 recipe (in Nokogiri's extconf.rb) and by properly

[2021-03-04 11:04] matkoniecz opened #2197 "Consider editing repository setings to remove "Packages" section"
"Packages No packages published" is displayed right now, fortunately this pointless section duplicating releases info can be removed.

Edit repo page config to remove it (cog next to the description).

I am not making a PR as it is defined in proprietary github settings, not in a git repository - and I have no rights to modify repo settings.

![Peek 2020-10-25 09-10](https://user-images.githubuser

[2021-03-04 11:07] matkoniecz commented on #2131
I guess that additional downside is that it increases GitHub lockin and makes any future migration more complicated.

But it seems a good place for installation help requests.

[2021-03-04 11:13] matkoniecz opened #2198 "[bug] Maintainability badge show gray ?"
**Please describe the bug**

https://github.com/sparklemotion/nokogiri#status

![screen01](https://user-images.githubusercontent.com/899988/109955427-c2f19f00-7ce2-11eb-8c70-7828dee50362.png)

**Help us reproduce what you're seeing**

clear browser cache and go to https://github.com/sparklemotion/nokogiri#status

**Expected behavior**

Badges present there provide some info or entertainment or oth

[2021-03-04 11:13] matkoniecz commented on #2198
https://codeclimate.com/github/sparklemotion/nokogiri/builds

Is it a victim of branch renaming?

[2021-03-04 12:24] matkoniecz opened #2199 "[bug] Tutorials link in Readme can be missed"
**Please describe the bug**

Maybe my search ability is poor today, but locating https://nokogiri.org/tutorials/modifying_an_html_xml_document.html took me an embarrassingly long time

![screen02](https://user-images.githubusercontent.com/899988/109962825-f7b62400-7ceb-11eb-834b-0e89792a4b34.png)

Once I found tutorial I started to finally progress with my plan to write proper code to merge multip

[2021-03-04 17:53] flavorjones commented on #2198
Thanks for pointing this out, definitely it's related to branch renaming. I've updated the Code Climate config and the badge is back.

[2021-03-04 17:53] #2198 closed

[2021-03-04 17:58] flavorjones commented on #2197
Hi, thanks for bringing up this topic. Although we're not currently publishing any packages, we may do so in the future. I can think of a use for:

- nightly or experimental releases
- OCI images for building or running nokogiri

In the meantime, I don't perceive that this is a problem that needs fixing. Thanks for your understanding.

[2021-03-04 17:58] #2197 closed

[2021-03-04 18:00] flavorjones commented on #2199
Hi! If you'd like to submit some suggestions in a PR I'd be happy to take a look. Thanks!

[2021-03-04 18:00] #2199 closed

[2021-03-04 18:13] matkoniecz commented on #2199
Done!

[2021-03-04 18:44] matkoniecz opened #2201 "[bug] Very long lines (or maybe very long attributes?) are silently corrupted, on parsing and immediately saving file"
**Please describe the bug**

Very long lines (or maybe very long attributes?) are silently corrupted, on parsing and immediately saving file.

 `"/>` at end of element with long attribute is turned into `"/&gt;`

**Help us reproduce what you're seeing**

[code]
To run this code with data triggering it at least on my computer:

[code]

Expected output that demonstrates bug (note `"/>` vs `"/&gt;`):

[2021-03-04 18:46] matkoniecz commented on #2201
Sadly, it appears to be triggered by long attributes, so it is not feasible to further reduce it.

[2021-03-05 17:21] flavorjones commented on #2201
Hi, @matkoniecz, thanks for opening up this issue, and I'm sorry that you're having trouble. I'll try to help.

I can't reproduce what you're seeing at the moment without a version of the "bug.svg" file. Can you share that?

One guess is that you may be running up against libxml2 size limitations. You should be able to verify that by looking at `svg_merged.errors` to see if it contains any helpful

[2021-03-05 22:09] matkoniecz commented on #2201
It is at https://github.com/matkoniecz/nokogiri_testcase/blob/master/bug.svg

Is it not fetched by `git clone https://github.com/matkoniecz/nokogiri_testcase.git` ?

`svg_merged.errors` is it a file that would be placed at the same folder where script is located? Then it is not created.

And yes, `huge` removes the problem. Is it expected that not enabling `huge` may result in a silent corruption

[2021-03-05 22:31] flavorjones commented on #2201
Ah, sorry, I was looking for a hyperlink in your original post and missed this. Thanks.

`svg_merged` is the `Nokogiri::XML::Document` object in your example. I'm asking you to look at the `#errors` attribute of that object, which will be an array of `Nokogiri::XML::SyntaxError` objects if there were problems during parsing.

Well, again, if there's a problem parsing then it should show up in `Doc

[2021-03-05 22:41] matkoniecz commented on #2201
Maybe https://nokogiri.org/tutorials/parsing_an_html_xml_document.html should mention checking for errors if it is happening silently and may damage data? I am really surprised that it happened silently.

And yes, there is

[code]

Thanks for a help!

[2021-03-06 18:57] flavorjones commented on #2201
In the [Parse Options](https://nokogiri.org/tutorials/parsing_an_html_xml_document.html#parse-options) section, you'll find this description:

If you want to change Nokogiri's behavior to raise an exception when warnings or errors are detected, set the `norecover` parse option:

[code]

I'm glad we were able to figure this out!

[2021-03-06 18:57] #2201 closed

[2021-03-06 19:02] flavorjones commented on #2201
Note I've created an issue to better document these parse options: https://github.com/sparklemotion/nokogiri.org/issues/34

[2021-03-06 19:58] matkoniecz commented on #2201
Thanks! Is it possible to at least log some errors when one hits `HUGE` limits without huge option? Or is it not a valid thing to do? (changing behaviour to crashing on documents with super-long lines is likely result in worse confusion and damage overall)

I noticed it, but I have not thought that Nokogiri will corrupt XML on its own :/

One of first things that I tried was checking with another

[2021-03-06 20:13] flavorjones commented on #2201
It would be challenging to figure out whether an error registered by libxml2 during parse time is due to the size limits. Because it's hard to determine the source of the error, we handle them all the same way -- by adding them to the `#errors` array, and by raising an exception if you've set `norecover`.

[2021-03-07 17:00] flavorjones commented on #2165
I recently read a related blog post, [Do not use MacOS system Ruby · Mac Install Guide](https://mac.install.guide/faq/do-not-use-mac-system-ruby/index.html).

I'm going to go ahead and close this issue because it seems pretty clear that this isn't a Nokogiri problem per se, but something that bundler/rubygems should be modified to handle.

[2021-03-07 17:00] #2165 closed

[2021-03-08 13:28] #2167 closed

[2021-03-09 02:41] flavorjones commented on #2191
Closing this issue in favor of the work at #2193

[2021-03-09 02:41] #2191 closed

[2021-03-12 12:49] eregon commented on #1882
I just tried nokogiri 1.11.2 and it works well.
We'll default to the vendored libxml2/libxslt in TruffleRuby 21.1 unless we discover a major issue, that notably avoids some headaches of installing extra system packages which has been quite annoying.

[2021-03-12 13:11] flavorjones commented on #2023
Installation docs have been rewritten since this post, and the OP hasn't responded. Closing.

[2021-03-12 13:11] #2023 closed

[2021-03-12 13:17] flavorjones commented on #1882
I'm going to close this, then! Thanks for the amazing collaboration!

[2021-03-12 13:17] #1882 closed

[2021-03-13 20:34] flavorjones opened #2204 "Epic: merge Nokogumbo into Nokogiri"
The maintainers of Nokogiri and Nokogumbo are planning to merge the two gems together so that Nokogiri assimilates Nokogumbo's HTML5 parsing functionality.

This issue is intended to be a "parent" issue which can be followed to understand the plan and how it's progressing, as the work will likely take O(weeks) and will be on a feature branch driven by multiple PRs.

This description will be edited

[2021-03-13 20:35] flavorjones commented on #2064
Closing, please follow #2204 for the exciting conclusion.

[2021-03-13 20:35] #2064 closed

[2021-03-13 21:51] flavorjones opened #2205 "Placeholder: user-facing information for Nokogumbo users who need help upgrading/migrating"
Related to #2204

This is being left blank until a Nokogiri release with HTML5 is shipped. This issue will be referenced in a Nokogumbo warning message.

[2021-03-14 13:06] flavorjones opened #2206 "Upgrade to libiconv 1.16"
libiconv v1.16 was released in 2019. Nokogiri v1.8.0..v1.11.2 has been using libiconv v1.15.

Looking at the Changelog, there doesn't seem to be an urgent reason to upgrade, but we should generally try to stay current.

Note that libiconv is only used for precompiled libraries on these platforms:
- macOS ("x86_64-darwin" and "arm64-darwin")
- Windows ("x86-mingw32" and "x64-mingw32")

See `LICENSE

[2021-03-15 12:51] flavorjones opened #2207 "Understand whether we can move all of CI to Github Actions"
### Context

Current CI configuration, and the advantages Concourse provides, are explained at https://github.com/sparklemotion/nokogiri/blob/25e7c49c87bda2cb1e2dd15677af11c74503dc04/CONTRIBUTING.md#how-continuous-integration-ci-is-configured

### What problems would we solve by moving to GA?

- Appveyor is slow.
- The Concourse environment is relatively expensive to keep running.
- Knowledge of C

[2021-03-15 19:06] MSP-Greg commented on #2207
@flavorjones

I sense your frustration here (and in past messages) with CI.  GA is still missing features that exist in Travis & AppVeyor.  Re the issues you've listed:

I haven't worked much with them.  See https://github.com/ruby/ruby/blob/master/.github/workflows/compilers.yml for one example with a container.

I believe it can be done, but I haven't implemented it in GA.  I have PowerShell scr

[2021-03-20 15:03] flavorjones commented on #2207
I'm experimenting with using custom images at https://github.com/flavorjones/calendar-assistant/pull/186

[2021-03-20 17:09] flavorjones commented on #2207
OK, I've got a pretty good sense of how to use Github's Container Registry now; and I've got a calendar-assistant action to even build the container image consumed by the test suite action.

[2021-03-20 20:10] flavorjones commented on #1982
I believe this valgrind error was from #1952 which has been fixed by #2186 in v1.11.2.

[2021-03-20 20:10] #1982 closed

[2021-03-22 00:29] SamSaffron commented on #2204
This is great news! Thank you!

[2021-03-23 00:53] #1900 closed

[2021-03-23 00:54] flavorjones commented on #1900
Sorry for the delay, this will be fixed in the next release (see #2210).

[2021-03-27 06:11] byteit101 opened #2211 "[bug] [jruby] Java ClassCastException exposed; not wrapped in Ruby Exception"
**Actual Behavior**

[code]
I'm aware the correct syntax is `Nokogiri::HTML.parse("<p>").css("p").first["class"]`. This bug report is about an error in the error :-)

**Expected behavior**

If there is an exception, it is a Ruby Exception, not a Java Exception, as shown on MRI:

[code]

**Environment**

[code]

[2021-03-29 07:00] StephenSoft opened #2212 "[install]"
**Have you read and followed the installation tutorial at http://www.nokogiri.org/tutorials/installing_nokogiri.html?**

- [ ] Yes!

[code]
[code]

[code]

[code]

[code]
[code]

[2021-03-29 07:00] StephenSoft commented on #2212
Please help me

[2021-03-29 09:36] StephenSoft commented on #2212
my system version
![image](https://user-images.githubusercontent.com/26949266/112817612-36ee4f80-90b5-11eb-83e9-fcebd10e4f55.png)

[2021-03-29 13:45] flavorjones commented on #2212
Hi, sorry you're having trouble I'll try to help.

Can you please tell us what version of Nokogiri you are trying to install? It looks like you're trying to use Ruby 2.1 which has been out of support since March 2017. You may need to either upgrade to a modern Ruby, or else use an older version of Nokogiri that is compatible with Ruby 2.1. We recommend upgrading Ruby, particularly if you are on a

[2021-03-29 13:56] flavorjones commented on #2211
@byteit101 Thanks for opening this issue. Likely I'll wait until v1.12 to address this, but we always try to have the same exceptions raised in both implementations.

Side note: You may also want to use `Node#at_css` here which is the same as `css&.first`, if you're going to throw away results. At some point in the future we may optimize this call to be more efficient in both the underlying XPath

[2021-03-29 14:07] StephenSoft commented on #2212
Thank you for your reply. I use ruby 2.1.10 locally. I try to reduce the clang version to 11. Now that I have solved this problem, I will try to upgrade my ruby and rails versions。Thank you very much！
![Uploading image.png…]()

![image](https://user-images.githubusercontent.com/26949266/112848858-1933e100-90db-11eb-8ee8-d2dfb43f8c4c.png)

[2021-03-29 14:08] flavorjones opened #2213 "explore: optimize `Node#at_css` and `#at_xpath`"
Currently, `#at_css` and `#at_xpath` execute the entire XPath query with multiple results, creates the NodeSet and wraps each result as a Ruby object before discarding all but the first result.

It should be possible to optimize this, both at the XPath layer and while marshalling results.

At the XPath layer, let's play with variations of `(original-query)[1]`

At the marshalling layer, let's disc

[2021-03-29 14:11] #2212 closed

[2021-04-02 04:40] milosivanovic commented on #2171
I've had issues with outdated `config.sub` files causing this very stubborn error all over the place when using Big Sur on arm64 (M1). It's not at all confined to nokogiri's bundled use of libxml2 but is happening all over the ecosystem: rvm, ruby gems, python packages, etc.

In this case, for nokogiri:

[code]

Or, rvm -- even pre-3.0 version of *RUBY* fail to compile for the same reason:

[code]

[2021-04-02 15:10] flavorjones commented on #2171
@milosivanovic Hi! Thanks for your comment. I can see you're frustrated. There's lots to unpack in your comment, but I'll try to be brief and give you some things you might want to try next.

You're commenting at length on an issue that's been closed for many months, on a repo that is unrelated to the underlying issue of `config.sub`. I'm not sure what to say about that except to encourage you to

[2021-04-02 15:57] flavorjones commented on #2171
Also see https://github.com/sparklemotion/nokogiri/pull/2214 which I just opened to try to fix this. I need help testing.

[2021-04-04 15:54] flavorjones commented on #2171
#2214 has been merged and should be fixed in the next release.

[2021-04-07 04:10] deepj opened #2216 "[install] Installation Nokogiri 1.11.2 fails on Apple M1 with Ruby 3.0.1"
**Have you read and followed the installation tutorial at http://www.nokogiri.org/tutorials/installing_nokogiri.html?**

- [x] Yes!

**What is the complete output of `gem install` or `bundle install`?**

[code]

**If installation failed during compilation, what are the complete contents of the `mkmf.log` file generated during the failed installation?**

[code]

**Tell us about your system!**

[cod

[2021-04-07 15:59] flavorjones commented on #2216
Hi @deepj, sorry you're having problems. I'll try to help.

As I mentioned in the other issue, your output tells me that the native (precompiled) gem isn't being installed. Instead, bundler is choosing the vanilla `ruby` platform gem and trying to compile it.

Compilation won't work on M1 until #2214 lands in a release (soon!). But let's look at why bundler isn't doing the right thing ...

Can you

[2021-04-07 20:28] flavorjones commented on #2204
Punch list updates:

- Release Nokogumbo version which no-ops if Nokogiri is providing HTML5 functionality: https://github.com/rubys/nokogumbo/releases/tag/v2.0.5
- Nokogumbo contributors are added to @sparklemotion/nokogiri-core

Also see https://github.com/sparklemotion/nokogiri/pull/2217 which merges the code and commit history (parked on a branch until I release v1.11.3).

[2021-04-08 01:27] deepj commented on #2216
@flavorjones Hello. Please, don't apologize. I noticed Nokogiri 1.11.3 has been released and it looks it solves the problem.

[code]

Feel free to close this issue.

[2021-04-08 13:46] #2216 closed

[2021-04-09 00:02] halgorithm opened #2219 "[bug] Nokogiri::XML::SyntaxError when parsing <img> tag with 2+ query parameters"
**Please describe the bug**
It appears Nokogiri's HTML parser returns parse errors for valid img tags with src urls that contain two or more query parameters.

**Help us reproduce what you're seeing**
Open irb and run the following script. Observe that parsing `one_qp` does not produce any errors, whereas parsing `two_qp` does.

[code]

**Expected behavior**
Parsing a string containing a single im

[2021-04-09 01:56] rubys commented on #2219
Suggestion: try [nokogumbo](https://github.com/rubys/nokogumbo#nokogumbo).

Longer version:

1) To be valid XML, you would need to escape the ampersand as `&amp;`.  Nokogiri currently relies on the libxml parser for HTML which handles some, but not all, of the differences between HTML and XML.

2) The [plans](https://github.com/sparklemotion/nokogiri/issues/2204) are to merge nokogumbo into nokogi

[2021-04-09 14:54] flavorjones commented on #2219
@halgorithm Sam's response above is right on.

The behavior you're describing is inherited from the underlying HTML library, libxml2. Here's the C code that controls URI-escaping of certain HTML attributes at serialization-time (when the document is printed):

https://gitlab.gnome.org/GNOME/libxml2/blob/v2.9.2/HTMLtree.c#L714-718

Specifically, `href`, `action`, `src`, and `name` (but only within

[2021-04-09 17:18] halgorithm commented on #2219
I see, thank you both for the detailed responses! I'll look into using Nokogumbo for now then and make sure to keep an eye on the project merge tracking issue. Not sure if it might be helpful to add a small temporary note to the documentation somewhere recommending Nokogumbo for HTML5 parsing (perhaps there already is one somewhere but I didn't notice any when searching for information on this err

[2021-04-09 17:18] #2219 closed

[2021-04-16 16:42] mensfeld commented on #2013
I keep a constant eye on this with automation so I would not worry about this that much.

[2021-04-20 21:55] flavorjones commented on #1940
PR submitted at #2221. Will land in v1.12.x.

[2021-04-21 12:41] #1940 closed

[2021-04-22 10:53] A7madXatab opened #2223 ""incompatible library version" when upgrading Ruby"
So, i have upgraded my ruby version to `ruby 3.0.1`. I have a rails application with rspec.

When i try to run the command
[code]

i get the following error

[code]

I've tried fixing everything with rvm, but still this bug didint fix, any issues ?

Environment:
- ruby : 3.0.1
- nokogiri 1.11.3
- rails:  6.1
Thanks

[2021-04-22 13:16] flavorjones commented on #2223
Hi @A7madXatab, sorry you're having problems. I'll try to help.

The error you're seeing is similar to errors I've seen when Nokogiri has been copied across versions of Ruby (which it sounds like might be the case?). Because Nokogiri has a compiled C extension, a version compiled with Ruby 2.7 is not able to run with Ruby 3.0 -- the extension must be re-compiled.

Please uninstall Nokogiri and re-

[2021-04-23 09:23] A7madXatab commented on #2223
@flavorjones thank you very much, previously i have tried uninstalling and reinstalling the gem but no luck. Then

I have followed the installation process and installing the ruby platform for MacOS, specificlly this [part](https://nokogiri.org/tutorials/installing_nokogiri.html#installing-the-ruby-platform-gem).

All things said, thank you very much. Have a great day!.

[2021-04-23 09:23] #2223 closed

[2021-04-23 09:53] akimd opened #2224 "[help] Is XML::Reader closer to DOM or SAX parsing?"
Hi,

In the context of a Rails application, I have to process huge XML documents that are "flat".  I mean, they could just have been CSV documents instead of XML, but the source provides only XML.

While it appears to work well in MRI, with jruby the memory consumption is very high, and at some point the process is stuck (out of memory).

The following stupid script mimics the problem I face:

[co

[2021-04-23 13:24] flavorjones commented on #2224
Hi @akimd, thanks for asking this question.

I want to spend a little bit of time understanding the memory performance of this example in JRuby -- based on your description, it sounds like perhaps there's a memory leak in the JRuby implementation that we might be able to fix.

The [Reader](https://nokogiri.org/rdoc/Nokogiri/XML/Reader.html) class is based on libxml2's [xmlreader](http://xmlsoft.or

[2021-04-23 13:28] flavorjones commented on #2223
OK, I'm glad you were able to figure it out.

I just want to recommend again that you try to use the precompiled native gem for MacOS, which should avoid the majority of installation and compatibility issues you might have. Good luck and happy coding!

[2021-04-23 15:18] akimd commented on #2224
Hi Mike,
Thanks a lot for the quick response.  Ok, so you do confirm that with respect to ressource consumption, XML::Reader is definitely expected to behave more like a nice and comfy SAX reader than a DOM one.  That's reassuring.  So that probably means that using something like `inner_xml` is asking for trouble that fire the parsing of all the remainder of the file (we don't do that in the real

[2021-04-23 17:23] flavorjones commented on #2224
Correct! If it's not doing that then we should fix it.

[2021-04-24 21:35] flavorjones commented on #2224
I would love some help with this from any of the folks who are familiar with the JRuby implementation.

[2021-04-29 07:35] flavorjones commented on #1243
Nokogiri's underlying HTML parsers (libxml2 for CRuby, nekoHTML for JRuby) are HTML4 parsers, and so for some time there hasn't been much we can do to help with HTML5 other than to recommend that people use the Nokogumbo gem, which extends Nokogiri's API and provides an HTML5 parser.

I'm happy to let you know that #2204 is driving the merger of Nokogumbo and its HTML5 parser, and so Nokogiri v1.1

[2021-04-29 07:35] #1243 closed

[2021-04-29 07:36] flavorjones commented on #1044
Nokogiri's underlying HTML parsers (libxml2 for CRuby, nekoHTML for JRuby) are HTML4 parsers, and so for some time there hasn't been much we can do to help with HTML5 other than to recommend that people use the Nokogumbo gem, which extends Nokogiri's API and provides an HTML5 parser.

I'm happy to let you know that #2204 is driving the merger of Nokogumbo and its HTML5 parser, and so Nokogiri v1.1

[2021-04-29 07:36] #1044 closed

[2021-04-29 07:38] flavorjones commented on #800
Nokogiri's underlying HTML parsers (libxml2 for CRuby, nekoHTML for JRuby) are HTML4 parsers, and so for some time there hasn't been much we can do to help with HTML5 other than to recommend that people use the Nokogumbo gem, which extends Nokogiri's API and provides an HTML5 parser.

I'm happy to let you know that #2204 is driving the merger of Nokogumbo and its HTML5 parser, and so Nokogiri v1.1

[2021-04-29 07:38] #800 closed

[2021-04-29 07:43] flavorjones opened #2227 "[feature request] HTML5 parser for JRuby implementation"
This issue is a placeholder for collaboration with the JRuby community to find a way to provide HTML5-compliant parsing for Nokogiri's JRuby implementation.

#2204 provides an HTML5 parser for the CRuby implementation by leveraging the Gumbo parser, implemented in C, and a C extension that is tightly coupled to libxml2. As a result, the `Nokogiri::HTML5` module will not be immediately available on

[2021-04-29 12:51] rubys commented on #2227
Possible starting point: https://about.validator.nu/htmlparser/

[2021-04-30 07:23] akimd commented on #2224
Hi guys,
FWIW, we have fully converted our tool to using the SAX parser only.
Cheers!

[2021-05-04 17:56] flavorjones commented on #2173
Closing, please let me know if you're able to reduce the test case to something simpler that will allow me to reproduce what you're seeing.

[2021-05-04 17:56] #2173 closed

[2021-05-04 19:17] flavorjones commented on #1220
I'd like to propose closing this with no action being taken.

Given:

- Nokogiri v1.11 ships precompiled binaries for most platforms,
- non-native "ruby" platform gem downloads constitute ~3.5% of Nokogiri 1.11 downloads

... this work feels less urgent and less impactful, and so I'd like to propose closing this with no further action.

I'll close in a few days, to give folks an opportunity to arg

[2021-05-05 13:04] fiddlededee opened #2228 "[bug] When copying between documents nokogiri strips attribute namespace if it differs from tag's"
**When copying between documents nokogiri strips attribute namespace if it differs from tag's**

Here is the test that checks current (in my opionion erroneous behaviour). `assert_nil` should fail but it passes.

[code]

[2021-05-05 14:58] flavorjones commented on #2228
@fiddlededee Hi, thanks for opening this isue, and I'm sorry you're having problems.

I unfortunately can't reproduce what you're seeing -- the above test passes on my system, and unfortunately since you didn't answer the questions in the issue template.

Here's my setup:

[code]

Can you please post the output from `nokogiri -v` on your system?

[2021-05-05 14:59] flavorjones commented on #2228
Um, ok, I'm multitasking and didn't catch that this isn't a failing test.

Can you please rewrite this to be a failing test that describes the behavior you think should be exhibited?

[2021-05-05 16:48] fiddlededee commented on #2228
No problem. Nokogiri is great in all respects. The previous code just tested that my workaround works.

Still this workaround looks escessive. The following test in my opinion shoud pass, but it fails.

[code]
My setup is

[code]

[2021-05-05 17:29] mattmcf opened #2229 "[help] Nokogiri::XML::Reader does not recover from parsing errors"
**What problem are you trying to solve?**

We are parsing an XML file containing financial data. The vendor producing this file does not appropriately escape special characters such as `&`.

We use the `Nokogiri::XML::Reader.from_io(file)` invocation to stream parsing of these files. When we try to parse a file that has un-escaped special characters, the reader aborts with the error `FATAL: Entity

[2021-05-07 10:57] flavorjones commented on #2224
For posterity: this isn't the first issue filed about the memory utilization of Reader in JRuby -- see also #1066.

[2021-05-07 11:08] flavorjones commented on #2229
@mattmcf Thanks for opening this issue, and sorry that you're having problems.

The Reader parser is ... not well-maintained and hasn't received much love over the years. What you're seeing may be a bug in how Nokogiri is calling the libxml2 API, or it may be a bug (or a "feature") in libxml2 itself.

I need to do a bit of work to figure out what's going on here.

[2021-05-07 11:12] flavorjones commented on #2224
See #831 for another instance when we did work to try to improve memory usage.

[2021-05-07 14:51] mattmcf commented on #2229
@flavorjones Thank you for the sanity check! Please let me know if there's any additional legwork I can do to help out.

[2021-05-10 20:56] flavorjones commented on #2228
@fiddlededee Thank you for the failing test -- I agree that the current behavior feels wrong. I'm going to dig into what's happening and why.

[2021-05-11 03:59] flavorjones commented on #2228
@fiddlededee I believe you've found a bug in libxml2. I'm going to file a bug report upstream and suggest a fix; and I will consider including the patch in the next version of Nokogiri. Stay tuned.

[2021-05-11 05:55] flavorjones commented on #2228
Update: this was indeed a bug in how Nokogiri was duplicating nodes to be copied to another document. See #2230 for the PR.

[2021-05-11 11:47] #2228 closed

[2021-05-13 12:09] flavorjones commented on #2229
@mattmcf Hey! So I understand what's going here, which is very similar to the bug fixed for HTML DOM parsing in #2130. Pretty easy to fix, but unfortunately the Java implementation _really_ needs some love and so I'm going to take a bit of time to clean up rather than ship a quick fix. Hopefully over the next week I'll have a fix on `main`, though.

[2021-05-13 15:18] mattmcf commented on #2229
@flavorjones Thank you! That's great to hear.

[2021-05-13 15:26] 3b7 opened #2231 "Schema validation in `1.11.3`"
A recent rails upgrade bumped the nokogiri dependency from `1.10.10` to `1.11.3`. Some specs failed and after digging through I came across this change in behavior. I am not sure if there is now a different way to do schema validation or if I am missing something.

Let me know.
[code]

[code]

[2021-05-13 15:38] pclowes opened #2232 "[install] gem install nokogiri -v '1.6.8.1' libxslt is missing"
**Have you read and followed the installation tutorial at http://www.nokogiri.org/tutorials/installing_nokogiri.html?**

- [x] Yes!

**What is the complete output of `gem install` or `bundle install`?**

[code]

**If installation failed during compilation, what are the complete contents of the `mkmf.log` file generated during the failed installation?**

[code]

**Tell us about your system!**

What

[2021-05-13 16:59] flavorjones opened #2233 "Upgrade packaged libxml2 to 2.9.12"
## libxml 2.9.12

libxml 2.9.12 was released today (2021-05-13). Let's plan on upgrading to it for the next release.

- [x] update `dependencies.yml`
- [x] remove patches that are no longer needed, ensure remaining patches apply cleanly
- [x] get all the tests green, particularly under valgrind
- [x] look deeply at what CVEs are patched in this release, and whether they are valid within Nokogiri

[2021-05-13 17:40] flavorjones commented on #2232
@pclowes Sorry you're having trouble. Unfortunately, Nokogiri 1.6.8 is almost five years old and predates OSX Catalina by about 3.5 years.

This combination of Nokogiri and OSX versions just isn't supported, and so I'd ask you to please upgrade to a modern version of Nokogiri (we strongly suggest the v1.11 series which ships with **precompiled** versions of libxml2/libxslt for OSX).

Sorry I can't

[2021-05-13 17:40] #2232 closed

[2021-05-13 17:44] flavorjones commented on #2231
Hi, @3b7, thanks for opening this issue. Sorry you're having trouble.

You've happened upon a breaking change we introduced in v1.11.x to address security concerns. You can read more about it at:

- the changelog entry: https://nokogiri.org/CHANGELOG.html#changed_1
- the CVE public disclosure: https://github.com/sparklemotion/nokogiri/security/advisories/GHSA-vr8q-g5c7-m54m

In those announcements

[2021-05-13 17:44] #2231 closed

[2021-05-13 21:56] flavorjones commented on #2233
Because a CVE is patched, I've tagged this as `topic/security` and we'll target a v1.11.x patch release.

[2021-05-14 02:10] #2037 closed

[2021-05-14 18:07] flavorjones commented on #2233
Description updated with what I *think* is a canonical list of CVEs fixed in 2.9.11/2.9.12. Deeper analysis following shortly.

[2021-05-14 18:53] flavorjones commented on #2233
All information below is sourced from [security.archlinux.org](https://security.archlinux.org), which appears to have the most up-to-date information as of this analysis.

Please do not ask me why the libxml2 maintainers don't provide this information for downstream consumers, because I am a little cranky about it at the moment.

### [CVE-2019-20388](https://security.archlinux.org/CVE-2019-20388)

[2021-05-14 19:01] flavorjones commented on #2233
Summary of security analysis:

The following CVEs are patched in Nokogiri by the upgrade to libxml 2.9.12:

- [CVE-2019-20388](https://security.archlinux.org/CVE-2019-20388)
- [CVE-2020-24977](https://security.archlinux.org/CVE-2020-24977)
- [CVE-2021-3517](https://security.archlinux.org/CVE-2021-3517)
- [CVE-2021-3518](https://security.archlinux.org/CVE-2021-3518)
- [CVE-2021-3537](https://securi

[2021-05-14 23:42] flavorjones commented on #2233
v1.11.4 has been released with libxml2 2.9.12. See https://github.com/sparklemotion/nokogiri/security/advisories/GHSA-7rrm-v45f-jp64 for more details on the security advisory created for it.

[2021-05-14 23:42] #2233 closed

[2021-05-18 04:09] flavorjones commented on #2229
@mattmcf Just an update here, I've dug in and libxml2's [pull parser](http://xmlsoft.org/html/libxml-xmlreader.html#xmlTextReaderRead) doesn't seem to be able to recover the way I expect it to. It's not clear to me right now if this is intentional, or a missing feature, or a bug.

I've found [this email thread](https://www.mail-archive.com/xml@gnome.org/msg10318.html) which indicates at least one

[2021-05-18 04:33] flavorjones commented on #2229
Additional find: [this thread from 2012](https://bugzilla.gnome.org/show_bug.cgi?id=654567) talking about making the Reader's error handling a little less tragic; but it's clear from the libxml2 maintainer's response that the Pull Parser isn't intended to recover from errors.

I'm less confident that the `xmlreader` API offered by libxml2 can recover from parsing errors. My advice would be to inve

[2021-05-18 07:57] hasanen opened #2239 "Unclosed <style> tags won't give any validations errors"
**Please describe the bug**

Version 1.11.4 does not give any errors when validating html with unclosed `<style>` tags.

**Help us reproduce what you're seeing**

WIth version 1.11.13

[code]

And 1.11.4 is happy with the same string

[code]

**Expected behavior**

I expect to get validation errors with 1.11.4

**Environment**

Same machine, but different projects

[code]
[code]

[2021-05-18 13:43] flavorjones commented on #2239
:wave: Hi @hasanen, thanks for opening this issue up.

I've reproduced what you're describing here, and I've isolated the behavior change to a commit in libxml2 (present in libxml 2.9.12 but not in libxml 2.9.10 (recall that Nokogiri v1.11.4 was released to upgrade libxml2)):

https://gitlab.gnome.org/GNOME/libxml2/-/commit/500789224b59fa70d6837be5cd1edb8e2f1eccb6
[code]

Unfortunately, because th

[2021-05-18 13:43] #2239 closed

[2021-05-18 20:52] flavorjones opened #2241 "[bug] using windows system libxml 2.9.12 segfaults on exit"
**Please describe the bug**

When Appveyor and Github Actions upgraded their system libraries to libxml 2.9.12, the tests started segfaulting on exit.

- Appeyor example: https://ci.appveyor.com/project/flavorjones/nokogiri/builds/39213892/job/0hrn9p1k20adtjsv#L668
- GA example: https://github.com/sparklemotion/nokogiri/runs/2614266657?check_suite_focus=true#step:7:70

Note specifically that the s

[2021-05-19 07:06] hasanen commented on #2239
@flavorjones thanks for the explanation. Need to rethink our test cases.

[2021-05-19 15:09] mattmcf commented on #2229
@flavorjones Ah shucks. Thank you for pulling on this thread and diving deep into the rabbit hole. I think we will investigate an array of possible solutions including a SAX parser. Thank you for helping root cause this issue!

[2021-05-19 17:48] #2241 closed

[2021-05-19 21:31] flavorjones commented on #2207
Note that #2226 shows valgrind is much faster on GA than it is in my concourse environment.

[2021-05-20 01:25] flavorjones commented on #1729
Closing this; Appveyor has been fine and I'm planning to move to Github Actions, anyway.

[2021-05-20 01:25] #1729 closed

[2021-05-20 01:33] flavorjones commented on #2207
I'm confident that we can move everything to Github Actions except 32-bit windows. Closing this, will open a PR shortly.

[2021-05-20 01:33] #2207 closed

[2021-05-20 04:29] flavorjones commented on #1718
#2244 tests against both ruby-head and jruby-head.

[2021-05-20 04:29] #1718 closed

[2021-05-20 16:15] flavorjones commented on #1712
Good news, commit 1f483f0 on `main` fixes this issue. Will be fixed in the v1.12 release.

[2021-05-20 17:35] Esaron commented on #2233
The advisory field used by bundler-audit is coming across as blank and is preventing temporary ignores.

[2021-05-20 18:00] flavorjones commented on #2233
@Esaron I'm not sure what you're referring to; since https://github.com/rubysec/ruby-advisory-db/commit/febf9e8f404b4c8ad2860a33ca0f11e2c38e8c58 I am able to run `bundler-audit` 0.8.0 and get notified; and run `bundle audit check --ignore GHSA-7rrm-v45f-jp64` to ignore it.

If you're having problems, please take it to the `bundler-audit` project and/or the `ruby-advisory-db` project.

[2021-05-20 19:03] flavorjones commented on #2153
#2244 provides this test coverage

[2021-05-20 19:03] #2153 closed

[2021-05-20 19:09] #1712 closed

[2021-05-21 11:16] flavorjones opened #2247 "long tail of CI jobs"
Split out from #2244, here's the long tail of lower-priority CI jobs and cI-related chores:

Build actions for:

- [x] nightly builds against libxml2 master - #2256
- [x] get basic tests running: truffleruby - #2270
- [ ] ~move generation of docker images to GA and use the Github Registry~
- [ ] ~stop generating docker images for platforms no longer needed (like jruby)~

Final steps:

- [x] remove

[2021-05-21 11:18] flavorjones commented on #2152
Closed by #2244

[2021-05-21 11:18] #2152 closed

[2021-05-21 11:18] flavorjones commented on #2151
Closed by #2244

[2021-05-21 11:18] #2151 closed

[2021-05-21 21:04] hino-ryu opened #2248 "[install]"
**Have you read and followed the installation tutorial at http://www.nokogiri.org/tutorials/installing_nokogiri.html?**

- [x]  #Yes!

**What is the complete output of `gem install` or `bundle install`?**

[code]

**If installation completed but is broken, what is the complete output from `nokogiri -v`?**

[code]

**If installation failed during compilation, what are the complete contents of the `

[2021-05-22 13:54] flavorjones commented on #2248
Hello! If you're having trouble installing nokogiri, please make sure to fill out the information in the template.

[2021-05-22 13:54] #2248 closed

[2021-05-25 15:11] cbeer opened #2250 "[bug] Nokogiri::HTML::DocumentFragment#path causes a segmentation fault"
**Please describe the bug**

Nokogiri 1.11.4+ segfaults when you call `path` on a Nokogiri::HTML::DocumentFragment.

[code]

**Help us reproduce what you're seeing**

[code]

**Expected behavior**

Nokogiri 1.11.3 and below returned `?` (as does Nokogiri::XML::DocumentFragment#path), but 1.11.4 and 1.11.5 both segfault.

**Environment**

[code]

**Additional context**

Initially reported to https:

[2021-05-25 21:05] flavorjones commented on #2250
Thanks for opening this issue. I'll take a look shortly!

[2021-05-26 02:42] flavorjones commented on #2250
## Diagnosis

I've git-bisected the introduction of this issue to [libxml2@e20c9c1](https://gitlab.gnome.org/GNOME/libxml2/-/commit/e20c9c148c725e2933efa143ee6a543a5cae4204), which causes `xmlGetNodePath` to return `NULL`, and we're not properly checking for failure when we call it in `xml_node.c`.

## History

The `?` return value is an accident of history -- the original implementation of `xmlGe

[2021-05-26 03:26] flavorjones commented on #2250
#2251 is a PR that will restore the "?" behavior, and #2252 is the same fix for the v1.11.x branch (because I want to fix this in a patch release).

[2021-05-26 05:18] #2250 closed

[2021-05-27 14:08] kashyapSheladiya commented on #2233
Hi @Esaron,
The advisory field doesn't shows **CVE identifier number**. So, how to ignore vulnerability using CVE. Of course `bundle audit check --ignore GHSA-7rrm-v45f-jp64` this works. But, is there any possibilities to get CVE Identifier number for this vulnerability?

[2021-05-27 14:48] Esaron commented on #2233
In case it helps anyone, our problem was that we had a typo in our Gemfile and were referencing https://rubygems.org/gems/bundle-audit, which seemed to not be updated at the time to use any version of the real dependency greater than 0.6.X, which only had support for CVE ids. 0.8.0 has support for GHSA ids, and works fine.

[2021-05-27 20:37] flavorjones commented on #2233
@kashyapSheladiya There is no single identifier for this because there are several being addressed by libxml2; and I am not going to generate a CVE for Nokogiri to wrap other CVEs. The proper thing to do in this case is to publish an advisory with a unique identifier, which I have done.

[2021-05-27 21:18] kashyapSheladiya commented on #2233
@flavorjones Thanks for comment.

[2021-06-02 14:49] yedennek opened #2257 "[bug] 1.11.4 - New libxml2 recursion limit breaks parsing for complex files"
In the latest Nokogiri update to 1.11.4, the containing libxml2 library has been updated to set a hard-coded recursion limit. (See commit 6f1470a5 of that project).

On our end, we have to parse [government-supplied files for tax specifications](https://www.gov.uk/government/publications/corporation-tax-technical-specifications-ct600-rim-artefacts) which are, admittedly, very large and complicated

[2021-06-02 15:04] flavorjones commented on #2257
:wave: Hi, @yedennek, thanks for opening this issue. Sorry you're having this problem!

Let me take a look.

[2021-06-02 15:37] flavorjones commented on #2257
I've reproduced what you're seeing, and I've confirmed via git-bisect that this limit was introduced in https://gitlab.gnome.org/GNOME/libxml2/-/commit/6f1470a5d6e3e369fe93f52d5760ba7c947f0cd1

[2021-06-02 16:06] flavorjones commented on #2257
OK, I'm caught up now. Thanks for your patience!

There are a few ways we could solve this, and I'd love to get your reaction to each to determine if it will solve your problem.

__option 1: apply a patch to Nokogiri's vendored libxml2 that will allow you to set a compile-time flag to increase the allowed recursion depth__

This could look something like:

[code]

and would allow you to build Noko

[2021-06-02 16:15] flavorjones commented on #2257
Nick, one of the libxml2 maintainers, has already made a fix upstream in how stack depth was being calculated!

https://gitlab.gnome.org/GNOME/libxml2/-/commit/3e1aad4fe584747fd7d17cc7b2863a78e2d21a77

I'll apply this downstream in Nokogiri and cut a release for you.

[2021-06-02 18:03] #2257 closed

[2021-06-02 21:00] flavorjones commented on #2257
Assuming CI goes green shortly on the v1.11.x branch (https://ci.nokogiri.org/teams/nokogiri-core/pipelines/nokogiri-v1.11.x), I'll cut a release tonight.

[2021-06-03 00:36] flavorjones commented on #2257
Shipped [Release 1.11.7 / 2021-06-02 · sparklemotion/nokogiri](https://github.com/sparklemotion/nokogiri/releases/tag/v1.11.7)

[2021-06-03 08:06] yedennek commented on #2257
That's amazing, thank you so much for the quick response! 🙏🏻

[2021-06-04 03:20] Chucky-ux opened #2260 "[install]"
**Have you read and followed the installation tutorial at http://www.nokogiri.org/tutorials/installing_nokogiri.html?**

- [x] Yes!

**What is the complete output of `gem install` or `bundle install`?**

[code]

**If installation completed but is broken, what is the complete output from `nokogiri -v`?**

[code]

**If installation failed during compilation, what are the complete contents of the `mk

[2021-06-04 06:20] lafeber commented on #1424
`xcode-select --install` to install the development tools.

[2021-06-04 10:34] #2260 closed

[2021-06-04 12:59] flavorjones opened #2261 "RFC: Pattern Matching"
## Pattern Matching

**If Nokogiri implemented a pattern matching interface for `Nokogiri::XML::Node` and `Nokogiri::XML::NodeSet`, what should it look like?**

If you have some code you're using to deconstruct Nokogiri objects, please post a comment pointing us to what you've done, and explain a bit about your use case and why that approach is valuable, if you can.

If you have use cases for whic

[2021-06-04 14:41] soulcutter commented on #2261
I imagine this sort of interface being valuable for matching nodes while parsing streams - XPath is clunky for that sort of thing, and SAX is too low-level for most people to want to deal with it.

This might give me a reason to dust off my old sax wrapper https://github.com/soulcutter/saxerator

[2021-06-06 16:30] aleee133 opened #2264 "[install]"
**Have you read and followed the installation tutorial at http://www.nokogiri.org/tutorials/installing_nokogiri.html?**

- [x] Yes!

**What is the complete output of `gem install` or `bundle install`?**

[code]

**If installation completed but is broken, what is the complete output from `nokogiri -v`?**

[code]

**If installation failed during compilation, what are the complete contents of the `mk

[2021-06-06 16:31] aleee133 commented on #2264
Install

[2021-06-06 16:53] #2264 closed

[2021-06-08 15:10] andrew2net commented on #882
I had the same issue. Following Mechanize agent settings helped me solve the issue
[code]

[2021-06-08 15:13] flavorjones commented on #882
@andrew2net Thanks for posting how you worked around this.

[2021-06-08 15:13] #882 closed

[2021-06-13 08:17] gioele opened #2265 "[bug] Duplicated `lang` attribute after serialization/deserialization if `remove_namespaces!` is used"
**Please describe the bug**

The `lang` attribute is duplicated after serialization/deserialization if `remove_namespaces!` is used.

[code]

**Help us reproduce what you're seeing**

Here is a reproduction script:

[code]

**Expected behavior / Actual behavior**

One would expect the document to not change after a serialization/deserialization cycle.

The reproduction script should output the fol

[2021-06-13 09:51] gioele opened #2266 "[bug] [regression] Namespace not output if DOCTYPE present and `remove_namespaces!` is used"
**Please describe the bug**

After using `remove_namespaces!`, `to_xhtml` does not add the XHTML `xmlns` to a document, but only if a `DOCTYPE` is present. Without a `DOCTYPE`, the XHTML `xmlns` is added (as expected).

Without `DOCTYPE`: `"<html xmlns=\"http://www.w3.org/1999/xhtml\"></html>\n"`
With `DOCTYPE`: `"<!DOCTYPE html>\n<html></html>\n"`

NOTE: This a **regression**: version 1.11.3 does

[2021-06-14 11:22] flavorjones commented on #2265
Hi! Thanks for reporting this. The behavior you're describing comes from libxml2, which is the parsing library that Nokogiri wraps. As a result, there's nothing we can easily do to change this behavior; and the [guiding principles](https://nokogiri.org/#guiding-principles) of the project mean that we don't generally try to fix these behaviors.

It's *also* worth noting that the `remove_namespaces!

[2021-06-14 11:24] gioele opened #2267 "[bug] &amp; removed if element has duplicated attributes"
**Please describe the bug**

If an element has a duplicate attribute, for example because of issue #2265, all occurrencence of `&amp;` in all its children will be removed.

For instance, this document

[code]

is turned into

[code]

**Help us reproduce what you're seeing**

Replication script:

[code]

This is the output of the script:

[code]

**Expected behavior / Actual behavior**

As long as

[2021-06-14 11:27] flavorjones commented on #2266
Hi, thanks for opening this issue.

I'm going to give an answer similar to the one I gave at #2265, which is that `remove_namespaces!` shouldn't be used if you want standards-compliant behavior.

In particular we disagree about this statement:

This probably is likely happening in Nokogiri v1.11.4 and later because that's the version that upgraded libxml2 to v2.9.12, which did have many changes to

[2021-06-14 11:27] #2266 closed

[2021-06-14 11:35] flavorjones commented on #2267
Hi, thanks once again for your well-written and clear report.

In this case, it's illustrative to also emit the document's errors. Updating the script to contain these lines:

[code]

you'll see `[]` for the first document (i.e., no errors), but this for the second document:

[code]

We can see that the libxml2 does not consider the second document to be well-formed, but will try to recover becaus

[2021-06-14 11:35] #2267 closed

[2021-06-14 13:07] gioele commented on #2267
Hi, thanks for the super quick triage. :)

I reported this issue upstream: https://gitlab.gnome.org/GNOME/libxml2/-/issues/270

[2021-06-14 13:49] gioele commented on #2265
Hi @flavorjones. In this case I still believe it is a bug.

I think it is reasonable to expect that Nokogiri (libxml2) will produce well formed XML. It would be a bug if Nokogiri (libxml2) generated something like `<html></HTM>`, regardless of which transformations the document went through.

If I understand correctly, the problem is that [`xmlSetNs` inside `recursively_remove_namespaces_from_node

[2021-06-14 15:50] flavorjones commented on #2265
:thinking: Let me take a look. I should have time in the next day or so to go deeper on it.

[2021-06-14 15:54] gioele commented on #2265
Thanks @flavorjones! In the meantime I filed a bug upstream: https://gitlab.gnome.org/GNOME/libxml2/-/issues/271

[2021-06-15 14:24] flavorjones commented on #2265
Can you help me understand why you're calling `remove_namespaces!`? You seem to care about well-formedness and namespaces, so I'm a little mystified and that additional context will help me wrap my head around what you're trying to do.

[2021-06-16 19:14] flavorjones commented on #1998
Closing in favor of #2247.

[2021-06-16 19:14] #1998 closed

[2021-06-16 20:11] flavorjones opened #2271 "Generate CI container images from Actions"
Currently many of the images used by CI are generated manually (by me on my development machine) via `rake docker`. They are stored in Dockerhub.

What I'd like to have is:

- [x] generate OCI images from Github Actions
- [x] push to ghcr.io and stop pushing to Dockerhub
- [x] update CI pipelines to pull images from ghcr.io

I've already done this work on a small scale for https://github.com/flavo

[2021-06-16 20:12] flavorjones commented on #2247
Remaining work pushed to #2271

[2021-06-16 20:12] #2247 closed

[2021-06-17 10:57] flavorjones commented on #2204
Just a quick update!

Work on completing this integration got held up because I spent some time moving Nokogiri's CI to Github Actions (#2207, #2244, #2247, #2226) and improving the test coverage around gem packaging and installation (#1718, #2151, #2152, #2153).

Now that that's done (see https://github.com/sparklemotion/nokogiri/actions), I'm in a good place to pick this back up and merge Nokogu

[2021-06-17 20:41] flavorjones commented on #2204
@stevecheckoway You mentioned [in another thread](https://github.com/rubys/nokogumbo/issues/170#issuecomment-797616327) that you'd like the html5lib-tests to be imported from your fork+branch. Is that still what you'd prefer? An alternative (or intermediate step) might be to submodule it.

Another question: it looks like html5lib-tests is still active, meaning that it's drifted since your fork. Ar

[2021-06-17 21:15] stevecheckoway commented on #2204
A submodule seems fine. It'd be great if they would respond to my pull requests either accept the changes or reject them. But based on my reading of the errors (a part of the spec that's in flux), the tests were wrong. I'll look at rebasing.

[2021-06-17 21:39] flavorjones commented on #2204
Submodule sounds good to me, too. See #2273.

[2021-06-17 21:44] flavorjones opened #2274 "Investigate libxml2 vulnerabilities patched in USN-4991-1"
This issue is to drive investigation and potential action around a set of upstream patches that Canonical judged valuable enough to backport to their distributions using a 2.9.10-based version.

References:

* https://ubuntu.com/security/notices/USN-4991-1
* https://ubuntu.com/security/CVE-2017-8872
* https://ubuntu.com/security/CVE-2019-20388
* https://ubuntu.com/security/CVE-2020-24977
* https:/

[2021-06-17 22:19] stevecheckoway commented on #2204
I just rebased my `all-error-fixes` branch of html5lib-tests and discovered that a new test was added that changes the test format. Previously, comments always appeared on one line, now they can appear on multiple lines.

There are also some new tree-building tests that don't pass. I looked at one and I don't see how the test matches the spec (but does agree with the browser). I'll follow up on th

[2021-06-17 22:39] stevecheckoway commented on #2204
I asked about it on the pull request that introduced the tests. https://github.com/html5lib/html5lib-tests/pull/135

[2021-06-18 12:20] flavorjones commented on #2204
@stevecheckoway OK, thanks for looking into it. I have #2273 which I should finish today, and once that's done it'll be on `main` for you to do with as you please.

[2021-06-18 19:15] flavorjones commented on #2274
## Analysis

### CVE-2017-8872

The htmlParseTryOrFinish function in HTMLparser.c in libxml2 2.9.4 allows attackers to cause a denial of service (buffer over-read) or information disclosure.

* permalink: https://ubuntu.com/security/CVE-2017-8872
* report: https://gitlab.gnome.org/GNOME/libxml2/issues/26
* patch: https://gitlab.gnome.org/GNOME/libxml2/commit/123234f2cfcd9e9b9f83047eee1dc17b4c3f440

[2021-06-18 19:17] flavorjones commented on #2274
## Summary

All of the vulnerabilities listed in this USN are addressed in v2.9.11, and are addressed in the vendored version of libxml2 shipped by Nokogiri v1.11.4 and later.

[2021-06-18 19:17] #2274 closed

[2021-06-19 02:07] #2265 closed

[2021-06-19 02:08] flavorjones commented on #2265
After giving it some thought, this isn't something I'm willing to spend time to fix. If you want to spend some time to describe the behavior you think Nokogiri should have in this case, and write a PR for it, I'd be happy to review.

[2021-06-19 02:41] flavorjones opened #2276 "[bug] valgrind errors spotted in gumbo parser"
**Please describe the bug**

A CI test run caught some memory errors in gumbo.

The build log is at https://github.com/sparklemotion/nokogiri/pull/2272/checks?check_run_id=2862967128

Here's the relevant snippet:

[code]

[2021-06-19 05:11] flavorjones commented on #2276
One more instance: https://github.com/sparklemotion/nokogiri/pull/2273/checks?check_run_id=2863381608#step:7:40

[2021-06-19 05:25] flavorjones commented on #2204
Everything from the "Functional Merger" section of this issue's description is done and on `main`.

[2021-06-19 18:43] stevecheckoway commented on #2204
I dug into it a little more. Safari, Firefox, and Chrome all agree with the test. `html5ever` agrees with Gumbo and my reading of the spec. More details [here](https://github.com/html5lib/html5lib-tests/pull/135#discussion_r654826232). This could be a spec bug, so I filed an [issue](https://github.com/whatwg/html/issues/6788). It's more likely I'm just missing something subtle.

[2021-06-21 14:52] stevecheckoway commented on #2204
It predates my involvement with the project. I don't use it myself.

[2021-06-22 19:18] bukharovev commented on #2149
@mengqing Hi !
You`re solve this problem ?

[2021-06-22 21:15] flavorjones commented on #2149
@bukharovev please see https://github.com/sparklemotion/nokogiri/issues/2171

[2021-06-23 22:46] flavorjones commented on #2204
OK, everything except updating the tutorials is done, which I think means we should ship a release candidate and ask people to give feedback (likely in a "Discussion" thread).

@sparklemotion/nokogiri-core Let me know if there's anything y'all think we need to do before cutting that release candidate, or if there's anything missing from the list in this issue. Otherwise, I'll cut a release in the

[2021-06-24 00:02] rubys commented on #2204
Perhaps just delete it as it never shipped with Nokogiri?

As to mental model: I have a number of apps that parse HTML.  Guess where the largest source of HTML would be.  :-). You guessed it: the internet.  So this was a common enough use case to factor out of the application and into a gem.

If it doesn't belong in the nokogiri gem, a new gem could always be created to include this function.  Thi

[2021-06-24 12:18] flavorjones commented on #2204
Yeah,I thought about it, but it's been in Nokogumbo since 2013, and the pledge we're making with this integration is that apps can drop the dependency on Nokogumbo and everything will Just Work™. I don't want to support the method, but I also don't want to introduce any unnecessary hurdles to upgrade/adoption.

In 4ac9350 I introduced a warning, and I think that's sufficient for now.

[2021-06-24 16:22] flavorjones commented on #2276
Maybe related (either cause or effect):

[code]

[2021-06-29 20:31] stevecheckoway opened #2282 "Update html5lib-tests test to official repo"
Blocked on:

- [x] https://github.com/html5lib/html5lib-tests/pull/136

If the tests end up [moving to the WPT](https://github.com/html5lib/html5lib-tests/issues/127) then we should switch to tracking that instead.

[2021-06-30 14:23] flavorjones commented on #2282
I updated the format of the description to try out the new github task lists, which are supposed to help track dependencies on other tickets. :shrug:

[2021-07-03 03:25] stevecheckoway commented on #2282
Nice, thanks!

[2021-07-08 07:42] tmaier opened #2286 "[install] Bundler platform and mini_portile2"
## Background

Heroku recommends to set in bundler the platform to `ruby` and `x86_64-linux`. (See related [Heroku documentation](https://devcenter.heroku.com/articles/bundler-version#bundler-2-2-3))

When doing so, the `Gemfile.lock` gets updated and has now the following entries

[code]

New is the second platform `x86_64-linux` and the second entry for `nokogiri (1.11.7-x86_64-linux)`
Note that

[2021-07-08 08:05] tmaier commented on #2286
Update to issue description: Added output of `bundle platform`

[2021-07-08 12:25] flavorjones commented on #2286
Hi, @tmaier, sorry you're having trouble. I'm not sure this is something that Nokogiri should try to handle (it feels likely to be bundler behavior, or that there are deployment workarounds), but I'll try to help.

I want to first make sure you saw this section in the installation manual:

http://nokogiri.org/tutorials/installing_nokogiri.html#using-vendorcache-to-deploy-to-another-architecture

w

[2021-07-09 16:15] #2282 closed

[2021-07-09 20:05] flavorjones commented on #2204
I've shipped a release candidate at [v1.12.0.rc1](https://github.com/sparklemotion/nokogiri/releases/tag/v1.12.0.rc1), and started a [discussion](https://github.com/sparklemotion/nokogiri/discussions/2289).

Please let us know any feedback either here or in that discussion thread!

[2021-07-11 20:21] flavorjones commented on #2276
I spent some time looking at this today. I think I understand the warning, but want to verify with someone who understands GC better than me, maybe @tenderlove or @rubys.

Let's focus on this section of gumbo.c's function `parse`:

https://github.com/sparklemotion/nokogiri/blob/2bb008482a22d566f189462c6e1bbd1976177adf/ext/nokogiri/gumbo.c#L357-L365

This code creates a Ruby object that wraps a str

[2021-07-11 20:38] flavorjones commented on #2276
:thinking: Can we just pass a pointer to this struct (cast as `VALUE`) and not have to wrap a Ruby object around it, since we don't care about the object lifecycle in this case (and `input` and `url` are both objects that don't need to be marked since they're pass in as arguments)?

[2021-07-11 21:36] flavorjones commented on #2276
I submitted a PR at #2290 to use the struct pointer directly.

[2021-07-12 02:28] stevecheckoway commented on #2276
I wrote a response to this but GitHub appears to have lost it.

I don't think that the approach in #2290 works. If the Ruby runtime is calling `parse_args_mark`, then it is definitely treating the `VALUE` argument as an actual `VALUE`. I can't think of a reason why the runtime would be holding on to it after it has returned from `rb_ensure()`.

Maybe my code is misusing `RUBY_NEVER_FREE`. My inten

[2021-07-12 02:46] stevecheckoway commented on #2276
I suspect the best thing to do is to use `TypedData_Make_Struct`. It sounds like the `Data_xxx` macros are deprecated and `TypedData_xxx` is the way to go. https://docs.ruby-lang.org/en/2.7.0/doc/extension_rdoc.html#label-C+struct+to+Ruby+object suggests that the object should derive from `rb_cData`. I thought I tried that and it didn't work, but I don't recall the details.

[2021-07-12 04:07] stevecheckoway commented on #2276
With any luck, https://github.com/sparklemotion/nokogiri/pull/2291/ will solve the issue.

[2021-07-12 08:45] larskanis commented on #2276
The second and fourth argument to `rb_ensure` are just opaque pointers, with no usage as a real `VALUE`. There are several such cases in the Ruby C-API (`rb_thread_call_with_gvl` etc.) where the meaning is `void*` but for some convenience, it is of type `VALUE`. The Ruby runtime calls `parse_args_mark` only because the `VALUE` was registered by `Data_Wrap_Struct`.

So I think #2290 is correct. The

[2021-07-12 15:07] stevecheckoway commented on #2276
Makes sense.

Great. That's much simpler since it avoids having to create a new Ruby object (the heap allocation isn't a big deal either way given how many other heap allocations are going to be happening here).

[2021-07-12 17:48] flavorjones commented on #2276
Thanks @larskanis and @stevecheckoway for the great conversation here. I'm glad we were able to discuss asynchronously, because I now understand this a bit more deeply (particularly Lars's explanation). Will merge #2290.

[2021-07-12 17:52] flavorjones commented on #2276
Closed by #2290

[2021-07-12 17:52] #2276 closed

[2021-07-14 14:09] jaypinho opened #2292 "[bug] Node#inner_text captures children <style> tags' contents, not just innerText"
**Please describe the bug**

Per Nokogiri's documentation, the [Node#inner_text](https://nokogiri.org/rdoc/Nokogiri/XML/Node.html#inner_text-instance_method) method (aliased as `text` and `content` as well) is meant to capture "the plaintext content for this Node." Given the usage of the method name `inner_text`, it implies that it works similarly to [the JavaScript method](https://developer.mozil

[2021-07-14 15:02] flavorjones opened #2293 "CI should test against major downstream consumers"
Nokogiri is a major part of the Ruby and Rails ecosystem, and we want to make sure we're doing our best to avoid introducing surprising breaking changes in downstream consumers by testing the latest (and maybe HEAD) of some downstream libraries against Nokogiri's `origin/main`.

I wrote [a script to find transitive reverse dependencies with lots of downloads](https://gist.github.com/flavorjones/6f

[2021-07-14 17:14] flavorjones commented on #2292
@jaypinho Thanks for opening this issue, I'll take a deeper look as soon as I have time.

In the meantime, if you have a few minutes, it would be helpful to capture (in the reproduction script) the explicit document structure, so that the content is local to this issue, and perhaps is a smaller reproducible example.

[2021-07-14 17:29] flavorjones commented on #2292
@jaypinho I'd like to explore the solution space for a moment, and get your feedback.

I think what you're suggesting is that it's probably OK for `Node#text` and `Node#content` to include HTML `<style>` tag contents (similar to JS `textContent`), but that `Node#inner_text` should omit it in order to correctly mirror JS `innerText`. I think I agree! But I want to make sure we have that shared ment

[2021-07-14 19:57] jaypinho commented on #2292
@flavorjones You've captured it exactly.

A better, more self-contained example than the one I used above:

[code]

[2021-07-14 20:18] flavorjones commented on #2292
OK! Thanks for confirming my understanding, and for the self-contained example.

I agree the method name is misleading for those familiar with the JS API and acknowledge the docs should perhaps have been clearer on this point; but I'm going to categorize this a "feature request", since the current code is working as designed.

Are you interested in working on a PR for this? If so, I can drop some

[2021-07-14 20:29] stevecheckoway commented on #2292
One thing that may be worth doing (for someone who is interested and has the time) would be to look at the list of DOM APIs that are relevant for Nokogiri and see how well Nokogiri's own APIs map on to them. There's a lot there, but an examination of
- [Node](https://dom.spec.whatwg.org/#interface-node);
- [Document](https://dom.spec.whatwg.org/#interface-document);
- [DocumentType](https://dom.sp

[2021-07-14 22:55] jaypinho commented on #2292
I would like to say yes but am not confident enough in my coding skills (I'm self-taught, and don't know C) to do it. :) I'm happy to wait for whenever you get a chance to take a look - not super urgent on my end. Thank you!

[2021-07-15 21:52] flavorjones commented on #2286
@tmaier I'm going to go ahead and close this, but if you have more information on how we can help, please don't hesitate to post and we can pick up the conversation where we left off.

[2021-07-15 21:52] #2286 closed

[2021-07-16 07:43] tmaier commented on #2286
Thank you @flavorjones. I think you are right. It is a bundler issue. I will file it there.

I tried the idea around packaging, but I am not using this. I am using Bundler/nokogiri within a standard Dockerfile. So there is no vendor directory in-use.

[2021-07-19 05:43] flavorjones commented on #2271
Also see related work at https://github.com/oracle/truffleruby/pull/2405

[2021-07-25 16:07] flavorjones commented on #2204
Planning to ship v1.12 final this coming weekend, around July 31st.

[2021-07-30 14:18] swanson commented on #2205
Thanks, this issue was helpful in debugging a bunch of warnings I started receiving:

[code]

If you're not explicitly adding `nokogiri` or `nokogumbo` to your project, check your `Gemfile.lock` and search for the gem names to see what other gems are depending on them. You can then try upgrading/removing those gems to see if it removes the `nokogumbo` dependency. If you're still having problems, y

[2021-07-31 18:40] flavorjones commented on #2205
@swanson It's strange to me that you'd be in a situation where you're running a prerelease of Nokogiri, but an older version of Nokogumbo. Did `bundle update nokogumbo` address your issue?

[2021-08-02 13:15] swanson commented on #2205
It was a quirk of my environment, mostly wanted to add the note for anyone else googling :)

(We were on the pre-release for a security fix but never switched off once a new official release was published)

[2021-08-02 15:20] flavorjones commented on #2205
I've updated the description text to address the "transitive dependency" case. Thanks for bringing that up, @swanson!

[2021-08-02 17:38] flavorjones commented on #2204
Nokogiri v1.12.0 has shipped. Closing.

https://github.com/sparklemotion/nokogiri/releases/tag/v1.12.0

[2021-08-02 17:38] #2204 closed

[2021-08-02 20:10] caponecicero opened #2298 "v1.12.0 installation failure on FreeBSD 13/ruby 3.0.2"
**Have you read and followed the installation tutorial at http://www.nokogiri.org/tutorials/installing_nokogiri.html?**

- [ x ] Yes!
[mkmf.log](https://github.com/sparklemotion/nokogiri/files/6919355/mkmf.log)

**What is the complete output of `gem install` or `bundle install`?**

[code]

**If installation completed but is broken, what is the complete output from `nokogiri -v`?**

[code]

**If in

[2021-08-02 20:12] caponecicero commented on #2298
Hopefully, this is just a simple dependency issue but I installed all the dependencies listed.  The version of Nokogiri in /usr/ports is for ruby 2.7.4.

[2021-08-02 20:50] flavorjones commented on #2298
@caponecicero Thanks for reporting this. I need to spend a bit more time to try to reproduce this, but based on a quick scan, it looks like `libgumbo` is failing to compile, and so you can work around this by using Nokogiri v1.11.x (because libgumbo was introduced in v1.12.0).

[2021-08-02 21:16] caponecicero commented on #2298
Thanks.  That got me moving forward again.

[2021-08-02 21:16] flavorjones commented on #2298
OK, key lines from the install log are here:

[code]

even more specifically:

[code]

I just reproduced this in a VM, trying to diagnose now.

[2021-08-02 21:17] stevecheckoway commented on #2298
Without looking, I'm going to guess that it's a difference between BSDMake and GNUMake.

[2021-08-02 21:21] flavorjones commented on #2298
Sigh, I concur. The line in question is

[code]

which is very much a Gnu-ism.

[2021-08-02 21:26] stevecheckoway commented on #2298
It's a shame BSDMake and GNUMake are essentially incompatible, but it's been that way forever (for an appropriate value of forever).

Is there a way to do this entirely via `extconf.rb`?

[2021-08-02 21:27] flavorjones commented on #2298
@stevecheckoway Yup, I'm going to move this config into `extconf.rb` ... please hold.

[2021-08-02 21:52] flavorjones commented on #2298
Actually, since 5c6f7c1 started passing `CFLAGS` as part of the environment (not on the command line), we no longer need the `override` and this should just work without it.

[2021-08-03 13:43] flavorjones commented on #2298
PR fix is #2299, currently going through CI.

[2021-08-03 14:34] flavorjones commented on #2298
Fix is merged, will cut a v1.12.1 release shortly.

[2021-08-03 14:34] #2298 closed

[2021-08-03 15:14] flavorjones commented on #2298
v1.12.1 has been released: https://github.com/sparklemotion/nokogiri/releases/tag/v1.12.1

[2021-08-03 20:32] ojab opened #2300 "[bug] `require_relative` requires binary extention in unexpected location"
**Please describe the bug**

In general binary extensions are residing in a [separate directory](https://github.com/rubygems/rubygems/blob/master/lib/rubygems/basic_specification.rb#L104) that is added to `$LOAD_PATH`, so it works fine. But
https://github.com/sparklemotion/nokogiri/commit/0cee8f01f2a07219407d3ffe5237f46714f71bd9#diff-a610b0ddcdf14966b304b7f6ffc87a1c5866f232f995a0a27d1618b23658b12a

[2021-08-03 20:43] flavorjones commented on #2300
@ojab Thanks for reporting this, and I'm sorry if you're having problems.

Can you help me understand why "some people" are doing this? Specifically, is this officially recommended somewhere to maintain smaller install sizes? I do want to make sure Nokogiri is following best practices for C extensions, and I feel like I need to understand this a bit better.

[2021-08-03 20:54] flavorjones commented on #2300
Ah, hmm, OK, I'm reading through the rubygems code and I'm just honestly confused why C extension files are being copied around to multiple places. But I agree the presence of `extension_dir` in `full_require_paths` (see https://github.com/rubygems/rubygems/blob/master/lib/rubygems/basic_specification.rb#L152) means it should be the canonical location for extension files.

[2021-08-03 20:57] ojab commented on #2300
…and I stopped writing reply after you reply :smile:
I suppose it's used because you can have multiple architectures in one archive/filesystem, so they dont' clash, but I'm surely not authority here, it's just observation that every gem has binary ext in `extensions/x86_64-linux/` and all the gems has copy somewhere in `gems/`.

[2021-08-03 21:07] flavorjones commented on #2300
@ojab Can you reply with the output from `nokogiri -v` on your platform?

I'm inferring that you're not using the precompiled native gem, and I'm curious a) if that's true, and b) why you're choosing to compile rather than use the precompiled package?

[2021-08-03 21:12] ojab commented on #2300
It's official ruby docker image (i. e. debian slimmed down a bit), nothing special:
[code]
Precompiled nokogiri also carries multiple copies of binary ext (just for different ruby versions). It's because of obsession with the docker image size, with single copy we're saving 4%.

[2021-08-03 21:40] flavorjones commented on #2300
@ojab OK, just wanted to verify that you're intentionally **opting in** to compiling during installation. If you wanted the best of both worlds (speed and size), you could delete the shared library files for versions of Ruby that you don't care about).

In any case. #2301 is a PR that should fix this, going through CI now, and I'll release a patch version of v1.12 when it's green.

[2021-08-04 12:05] #2300 closed

[2021-08-04 15:06] flavorjones commented on #2300
Fixed in [Release 1.12.2 / 2021-08-04 · sparklemotion/nokogiri](https://github.com/sparklemotion/nokogiri/releases/tag/v1.12.2)

[2021-08-05 06:19] jkschulz opened #2302 "[install] 1.12.2: gumbo.c compilation failure on el6, el7, sles12"
Installation fails on CentOS 6, CentOS 7, and SLES 12 for v1.12.0+ with libgumbo errors. Works fine on CentOS 8 and SLES 15.

**Have you read and followed the installation tutorial at http://www.nokogiri.org/tutorials/installing_nokogiri.html?**

- [x] Yes!

**What is the complete output of `gem install` or `bundle install`?**

[code]

**If installation failed during compilation, what are the comp

[2021-08-05 19:53] flavorjones commented on #2302
@jkschulz Thank you for submitting this report! I will take a look as soon as I can. In the meantime, you may want to work around this by installing v1.11.x which doesn't package libgumbo.

[2021-08-05 20:20] stevecheckoway commented on #2302
Looks like we just need to be passing `-std=c99`.

[2021-08-05 20:33] flavorjones commented on #2302
@stevecheckoway Right, but we are doing that!

https://github.com/sparklemotion/nokogiri/blob/main/gumbo-parser/src/Makefile#L5

So we need to reproduce this and figure out why it's not in effect. I should have time in the next day or so, but if you get to it first :+1:

[2021-08-05 20:36] stevecheckoway commented on #2302
Ah yes, so we are. I wonder if something is overriding the CFLAGS on centos or possibly filtering it.

I'm unlikely to have time in the next few days, unfortunately.

[2021-08-05 20:45] jkschulz commented on #2302
thanks @flavorjones and @stevecheckoway!

[2021-08-05 21:14] flavorjones commented on #2302
@jkschulz OK, I've reproduced this and have a workaround for you.

__Diagnosis__

The failure is coming from compiling `ext/nokogiri/gumbo.c`, which is **not** being compiled with `-std=c99` but apparently needs it (depending on the compiler defaults). We're correctly passing this to the compile phase of `libgumbo`, but not to the compilation of the C extension.

__Workaround # 1__

You can use th

[2021-08-06 04:14] flavorjones commented on #2302
#2303 will fix this. It's going through CI now, and assuming it goes green I'll be able to cut a patch release tomorrow.

[2021-08-06 05:26] #2302 closed

[2021-08-06 17:07] jkschulz commented on #2302
wow, thanks for handling this so quickly! until the new release is out, we've pinned to 1.11.7 (as suggested) and it does indeed work 🙌

[2021-08-11 15:18] Sbasu2512 opened #2306 "after installation problem"
Hey, I am having a problem. even with initial installation of rails, it is faulting out with

`Bundle complete! 17 Gemfile dependencies, 74 gems now installed.
Use `bundle info [gemname]` to see where a bundled gem is installed.
         run  bundle binstubs bundler
       rails  webpacker:install
rails aborted!
LoadError: cannot load such file -- nokogiri/nokogiri`

When I install nokogiri manual

[2021-08-11 15:25] flavorjones commented on #2306
Hi @Sbasu2512, I'm sorry you're having trouble, I'll try to help.

Unfortunately, you skipped filling out the information that's asked by default for installation issues, so I have to ask you to please answer them ...

---

**Have you read and followed the installation tutorial at http://www.nokogiri.org/tutorials/installing_nokogiri.html?**

- [ ] Yes!

**What is the complete output of `gem insta

[2021-08-11 15:50] Sbasu2512 commented on #2306
Hello sir,
Thank you for replying.

sorry I skipped certain questions. Please bear with me.

so the command used :  sudo rails new demo
and the whole output is as follows:
` sudo rails new demo
      create
      create  README.md
      create  Rakefile
      create  .ruby-version
      create  config.ru
      create  .gitignore
      create  .gitattributes
      create  Gemfile
         run  git

[2021-08-11 16:26] flavorjones commented on #2306
Thanks for this. Based on the output, it looks like nokogiri is installed correctly and so I think we may want to look at how your system is configured.

Can you run `nokogiri -v` successfully, and if so, can you reply with the output?

[2021-08-11 16:29] Sbasu2512 commented on #2306
here is the output

`MacBook-Air demo % nokogiri -v
Traceback (most recent call last):
	8: from /usr/local/bin/nokogiri:23:in `<main>'
	7: from /usr/local/bin/nokogiri:23:in `load'
	6: from /Library/Ruby/Gems/2.6.0/gems/nokogiri-1.12.3-arm64-darwin/bin/nokogiri:6:in `<top (required)>'
	5: from /Library/Ruby/Site/2.6.0/rubygems/core_ext/kernel_require.rb:85:in `require'
	4: from /Library/Ruby/Site/

[2021-08-11 16:31] flavorjones commented on #2306
If I may offer some feedback: it would make it easier for maintainers to help when issues are carefully  formatted. I've edited your responses to make them more readable.

[2021-08-11 16:32] flavorjones commented on #2306
Can you please uninstall nokogiri completely from your system, and reinstall it by running `gem install nokogiri` and pasting the output here.

[2021-08-11 16:44] Sbasu2512 commented on #2306
hey, please see the following output:-

`sayantanbasu@Sayantans-MacBook-Air demo % sudo gem install nokogiri
Successfully installed nokogiri-1.12.3-x86_64-darwin
Parsing documentation for nokogiri-1.12.3-x86_64-darwin
Done installing documentation for nokogiri after 1 seconds
1 gem installed`

It installed and now nokogiri -v is also giving an output of # Nokogiri (1.12.3) along with other data. B

[2021-08-11 20:10] Sbasu2512 commented on #2306
Thank you very much :)

[2021-08-11 20:10] #2306 closed

[2021-08-12 10:55] jdongelmans commented on #425
FYI: My downstream gem broke because of a now missing namespace and I stumbled on this old issue because with the upgrade to version `>= 1.12.0` (and thus when `libxml` version `>= 2.9.12`, ref: https://github.com/sparklemotion/nokogiri/commit/889ee2a9cb1e190bfa664cbf3552585f4d0a09a7) this has been fixed.

[2021-08-12 13:39] flavorjones commented on #425
@jdongelmans Thanks for the note. I'd like to clarify, though: 889ee2a noted a change in the HTML parser, but this issue is about XML parser behavior.

That said, this behavior has also changed in the XML parser (for some of the cases described), and I had a mental note to circle back to this issue to verify that and note it here. I *think* the behavior changed in #2230 (specifically 1f483f0) but

[2021-08-12 18:25] flavorjones commented on #425
OK, after a bit of git-bisecting ...

The "third child" example already worked as expected in v1.6.0 which is as far back as I can easily go on my dev machine.

But the "second child" and "fourth child" cases were (as suspected) fixed by 1f483f0 which first appeared in v1.12.0 and was part of #2230 which fixed #1712 and #2228. See also #2246 which updated some tests to reflect this behavioral chan

[2021-08-12 18:25] #425 closed

[2021-08-13 21:12] flavorjones commented on #2271
Done, see #2307 and #2308

[2021-08-13 21:12] #2271 closed

[2021-08-14 13:10] flavorjones commented on #1764
See #2309.

[2021-08-14 16:10] flavorjones commented on #1790
Hey, @stevecheckoway! Finally getting around to looking at this.

Yes, you're right. This method originally came from #870 which was a fix for #869; but the actual root cause was that `relink_namespaces` was bailing early -- skipping attributes -- if the element didn't have a namespace itself.

I just wrote #2310 which fixes the underlying implementation of `relink_namespaces`, but now we have a d

[2021-08-14 16:49] flavorjones commented on #1790
See #2310 for what I think is a good fix for all of this that in fewer lines of code.

[2021-08-14 16:51] #1764 closed

[2021-08-14 17:01] flavorjones commented on #1493
This will be fixed in v1.13.

[2021-08-14 17:01] #1493 closed

[2021-08-14 17:01] flavorjones commented on #1617
This will be fixed in v1.13.

[2021-08-14 17:02] flavorjones commented on #1505
This will be fixed in v1.13.

[2021-08-14 17:02] flavorjones commented on #1003
This will be fixed in v1.13.

[2021-08-14 17:02] flavorjones commented on #533
This will be fixed in v1.13.

[2021-08-14 18:17] flavorjones commented on #1912
See #2311

[2021-08-16 12:04] yermulnik commented on #2066
Sorry for messing up here with an unrelated stuff but since this specific issue was the only one which helped me to get to the bottom of issue I had with a different project I'd like to link the issue from that another project here for others seeking and google'ing for resolution based on error message `eval:6: warning: calling URI.open via Kernel#open is deprecated, call URI.open directly or use

[2021-08-17 20:10] #2206 closed

[2021-08-18 07:50] Sahilany commented on #1816
How bro tell me solution I facing same problem 😓

[2021-08-18 11:01] flavorjones commented on #1816
@Sahilany please open a new issue and fill out the installation questions and we'll be happy to try to help.

[2021-08-18 12:46] flavorjones opened #2314 "[ci] default suppressions not working in CI images"
**Please describe the bug**

CI valgrind jobs started failing with the new CI image build this morning. Ruby 2.6-3.0 all fail with something like:

[code]
or
[code]

**Additional context**

Googling a bit found this thread:

https://sourceforge.net/p/valgrind/mailman/valgrind-developers/thread/20190909131626.9633-1-mac%40mcrowe.com/#msg36759152

which indicates this warning _should_ be suppressed

[2021-08-18 14:09] #2314 closed

[2021-08-18 16:41] #1912 closed

[2021-08-18 18:43] flavorjones commented on #1836
After a little git-bisecting, this seems to have been fixed by @kares in 3dd0d83a27c52b142b6b84596083d04e1dabed8e as part of #1934. This change landed in v1.11.0.

[2021-08-18 18:43] #1836 closed

[2021-08-19 21:30] flavorjones commented on #1752
This issue was addressed in v1.11.0, but I neglected to close it out until now.

[2021-08-19 21:30] #1752 closed

[2021-08-19 21:37] flavorjones commented on #806
Apologies for being unresponsive on this issue for so long.

I can't reproduce this without more information. If you're able to reproduce with the current version of Nokogiri, please let me know and I would be happy to re-open it.

[2021-08-19 21:37] #806 closed

[2021-08-19 21:39] flavorjones commented on #841
I believe this is a dup of #1060 that was fixed by 2fd4158 in v1.10.2.

[2021-08-19 21:39] #841 closed

[2021-08-24 01:35] flavorjones commented on #1282
Just a note that I've started a branch to clean up XML::Schema behavior and this is being worked on.

[2021-08-24 01:53] ylansegal commented on #1282
👏 👏 Thank you @flavorjones. Better late than never!

[2021-08-24 19:44] mscrivo opened #2317 "[bug] Possible regression in XML generation"
**Please describe the bug**

We use the [Viewpoint gem](https://github.com/WinRb/Viewpoint) to communicate with on-prem & office 365 exchange instances. The Viewpoint gem has a dependency on nokogiri and appears to use both the Nokogiri::XML and Nokogiri::XML:SAX namespaces in its code. After upgrading our version of nokogiri from 1.11.7 to 1.12, all integrations with exchange servers broke with a

[2021-08-25 11:28] flavorjones commented on #2317
@mscrivo Thanks for opening this issue, and I'm sorry you're having trouble.

I will try to find some time today to take a look, but it seems likely that this problem was introduced when we cleaned up the namespaces logic related to reparenting nodes (maybe not the exact commit you pointed at, but I did a bit of work in this area recently). Certainly if the Builder behavior has changed it was unin

[2021-08-25 12:39] darix opened #2318 "[bug] no support to build gumbo with system library"
This works for all other libraries. is the intree copy so heavily patched that it can not just use the system copy?

[2021-08-25 14:03] mscrivo commented on #2317
Thanks @flavorjones, really appreciate it. Let me know if there's anything I can help test.

[2021-08-25 14:43] darix commented on #2318
so after some patching to try to build with the system copy ... it seems like the answer is "yes heavily patched"

which brings us to the question ... what blocks upstreaming those changes?

[2021-08-25 15:17] darix commented on #2318
there are other project that use the gumbo-parser like mupdf and claws-mail.

maybe time for a fork? lets see if we can poke some people at google.

[2021-08-28 20:13] flavorjones commented on #1712
Whoo, this got complicated and this behavior is going to be reverted in v1.12.4 but Documents will have an attribute you can set to change this behavior to what's described above; and Builder will allow you to set that attribute via the initializer. Keep your eyes open for that version and check out the update Builder docs.

[2021-08-29 15:43] flavorjones commented on #1712
See #2320 for the changes I'd like to make. Comments and feedback welcome.

[2021-08-29 15:46] flavorjones commented on #2317
See #2320 for the changes I'd like to make. Comments and feedback welcome.

[2021-08-29 15:47] flavorjones commented on #425
Please see #2320 for more discussion about this change.

[2021-08-29 15:48] flavorjones commented on #2317
(Note that #2320 would mean that Viewpoint would work without changes against v1.12.4 and later.)

[2021-08-29 21:25] flavorjones commented on #2317
[Nokogiri 1.12.4](https://github.com/sparklemotion/nokogiri/releases/tag/v1.12.4) is out, closing.

[2021-08-29 21:25] #2317 closed

[2021-09-02 10:40] ilyazub opened #2323 "XPath OR is 5-30% faster than union depending on number of CSS selectors"
[`Nokogiri::Searcheable#css`](https://github.com/sparklemotion/nokogiri/blob/b2645bc2ff9dad3f8070adb2117c035dfa80bbb9/lib/nokogiri/xml/searchable.rb#L212-L218) uses `Nokogiri::CSS.xpath_query_from_css_rule` which joins XPaths using unions. Manually converted union to OR speeds up execution by 5-30%.

Union is different from OR in XPath but for my tests it results in the same set of nodes.

<detail

[2021-09-06 13:27] haxxxton opened #2324 "[bug] Node#to_xhtml does not have self-closing tags when using libxml 2.9.11 and later"
**What problem are you trying to solve?**

We have been using nokogiri in combination with approvals files in our rspecs. We've just version bumped up to 1.11.4 and found that all our self-closing tags have changed to include closing tags. Is there a configuration option im missing, or is this the way things should be now? (is this changed in a later version is should move to more recently?)

**Pl

[2021-09-06 16:26] flavorjones commented on #2324
Hi @haxxxton, thanks for opening this issue, and sorry you're seeing something unexpected.

Without working code, I can't confidently diagnose what you're seeing. However, v1.11.4 upgraded libxml2 from 2.9.10 to 2.9.12 which may have introduced some behavior changes in serialization.

My guess is that you're using `#to_xhtml` to serialize a document? I can reproduce what you're seeing if that's wh

[2021-09-06 23:36] haxxxton commented on #2324
@flavorjones thanks for the speedy reply, apologies for missing the code block that actually calls nokogiri. You are correct, we are using `to_xhtml`.

[code]

As an aside, all the docs and code i can see suggest that i should be passing NOBLANKS as the 4th arg into HTML5, but when i do i get an error:
[code]

Is this the correct place to be putting NOBLANKS? is my environment potentially still lo

[2021-09-07 13:03] flavorjones commented on #2324
@haxxxton Ugh, so I spent some more time looking at this this morning, and the good news is that I have a workaround for you.

First, a bit of explanation and context-setting.

Here's a script that reproduces the issue:

[code]

With Nokogiri v1.10.10 using libxml 2.9.10, the output is:

[code]

With Nokogiri v1.12.3 using libxml 2.9.12, the output is:

[code]

The method `Node#to_xhtml` calls `No

[2021-09-07 13:06] flavorjones commented on #2324
Also, re: your NOBLANKS question, the `HTML5.parse` method does not support the libxml2 parse options. You might want to use `HTML4.parse`; if so this section explains how to use the parse options:

https://nokogiri.org/tutorials/parsing_an_html_xml_document.html#parse-options

HTML5 parsing was taken from Nokogumbo and is explained here:

https://nokogiri.org/tutorials/parsing_an_html5_document.h

[2021-09-07 21:25] flavorjones commented on #2323
@ilyazub Thank you for submitting this! Very interesting results, and I appreciate your continued attention to performance.

I'd like to spend some time digging into the implementation details and understand whether there are edge cases where the behavior would be different. If you give me a few days, I'll come back here with questions and discussion.

[2021-09-07 23:14] haxxxton commented on #2324
@flavorjones wow! such a huge amount of investigation! thank you so much, and for providing a work around.

Regarding the above reply to the parsing options stuff, am i reading this wrong:
[code]

These three methods appear to accept 4 args (and, while im not using a valid option), im getting the error that ive providing  too many arguments
[code]

[2021-09-08 12:08] flavorjones commented on #2324
@haxxxton The trailing space in self-closing tags appears to be gone for good in libxml 2.9.11 and later, I'd suggest adopting that in any tests you have. (As an aside, I've found it's more robust to test semantic aspects of the markup whenever possible, instead of comparing the serialized text string.)

Regarding the HTML5 method signatures (which are a very recent addition to Nokogiri via merger

[2021-09-23 13:52] mgshuheb opened #2325 "Running Rspec/Capybara Tests has issues with Nokogiri on M1 Apple Silicon[help]"
**What problem are you trying to solve?**

We have recently upgrade laptops to Macbooks with the new M1 processor and since then we have been facing issues running our capybara tests locally. We have tried to troubleshoot and updated Nokogiri 1.12.1 to 1.12.4 which I believe was for Apple Silicon. However we are continuously hitting blocks.

We are installing the gem this way and have also added i

[2021-09-23 14:11] flavorjones commented on #2325
@mgshuheb Thanks for opening this issue, and sorry you're having problems.

I need to ask a few questions to understand the situation more deeply. I wish you had used the "installation problem" issue template (please use it next time!), because there's not enough information in the description to understand and diagnose the issue.

Are you having a problem during installation? Or is Nokogiri insta

[2021-09-23 14:14] flavorjones commented on #2325
Wait, are you compiling the gem on Intel architecture and then trying to run it on M1 architecture? You can't do that with Ruby C extensions. Please either use the precompiled native gem for your platform or else compile the gem on the platform it's running on.

[2021-09-23 15:13] flavorjones commented on #2325
For a bit of an explanation of why you must compile for the platform you're running on is in my recent [RubyKaigi talk at 27:35](https://youtu.be/oktN_CbOJKc?t=622). I hope that helps?

[2021-09-23 20:54] flavorjones commented on #1996
Flip-flopping again, and investing in making RDoc better:

- https://github.com/ruby/rdoc/pull/840
- https://github.com/ruby/rdoc/pull/842
- also thinking about noodling on a new rdoc template using something modern like Material Design or Tailwind

[2021-09-24 12:23] #2324 closed

[2021-09-24 12:24] flavorjones commented on #2324
This is now fixed on `main` and I expect to ship a patch release in the next few days.

[2021-09-27 19:33] flavorjones opened #2331 "Nokogiri should use Gumbo/HTML5 by default on supported platforms"
This issue is a placeholder for work to be done to use the HTML5 parsing engine by default on platforms where it's supported (meaning, not-JRuby).

Specifically this probably means that when the `HTML5` module exists ...

- `Nokogiri::HTML()` should proxy to `Nokogiri::HTML5()`
- `Nokogiri.parse()` should proxy to `Nokogiri::HTML5.parse()`
- `bin/nokogiri` should support `html4` and `html5` option

[2021-09-30 16:06] ALI0ne opened #2333 "[install]"
**Have you read and followed the installation tutorial at http://www.nokogiri.org/tutorials/installing_nokogiri.html?**

- [ ] Yes!

**What is the complete output of `gem install` or `bundle install`?**

[code]

**If installation completed but is broken, what is the complete output from `nokogiri -v`?**

[code]

**If installation failed during compilation, what are the complete contents of the `mk

[2021-09-30 16:06] ALI0ne opened #2334 "[help]"
**What problem are you trying to solve?**

**Please show your code!**

**Environment**

**Additional context**

[2021-09-30 16:28] #2333 closed

[2021-09-30 16:28] #2334 closed

[2021-10-01 12:03] syakovyn opened #2335 "HTML5 parser closes <math> before <span>"
HTML5 parser differs in output from HTML4 parser. We consider the HTML4 parser output is the right one.

A script to reproduce the bug:

[code]

**Environment**

[code]

[2021-10-01 15:57] flavorjones commented on #2335
@syakovyn Thanks for submitting this, and sorry you're having problems.

I've reproduced the problem, but have a slightly different interpretation of what's happening. Here's the script I'm using:

[code]

My guess at the root cause is that the `<span>` tag is forcing early closure of the `<math>` tag.

@stevecheckoway Can you validate my interpretation of what Gumbo is doing here? If you're able,

[2021-10-01 16:00] flavorjones commented on #2335
More information:

[code]

outputs

[code]

[2021-10-01 16:05] flavorjones commented on #2335
This looks to me like Gumbo considers a `<span>` element within a `<math>` block to be invalid. I'm not familiar with the MathML spec and so will defer to @syakovyn and @stevecheckoway and others to discuss.

[2021-10-01 22:11] stevecheckoway commented on #2335
I can track down the exact portion of the spec that mandates this behavior, but I think the easiest thing to do is to open a document in a browser and use the browser's web tools to inspect the DOM. Alternatively, you can use JavaScript to print the `body` elements' `innerHTML`. Let's do that:
[code]

If you save that as a file and open it, it'll pop up an alert containing (and I've reformatted th

[2021-10-01 22:18] stevecheckoway commented on #2335
And for what it's worth, this is the [section of the HTML standard](https://html.spec.whatwg.org/multipage/parsing.html#parsing-main-inforeign) that mandates this behavior. When the parser encounters the `span` start tag, it is in a foreign context (because the parent element is a `math` element in the MathML namespace). The rule

applies and that mandates a parse error and, in this case, closing

[2021-10-04 15:38] Dantemss opened #2336 "[bug] Nokogiri 1.12.0+ breaks YAML serialization of Nokogiri::XML::Node"
**Please describe the bug**

Nokogiri 1.12.0+ breaks YAML serialization of Nokogiri::XML::Node (and subclasses).
That means Nokogiri::XML::Node#to_yaml and YAML.load("resulting string") do not work as expected.
This is because YAML serialization uses Class#allocate which is broken in 1.12.0+.

**Help us reproduce what you're seeing**

A minimal example of the broken code in 1.12.0+:
[code]

This w

[2021-10-04 21:41] flavorjones commented on #2336
Hi @Dantemss, thanks for opening this issue, and sorry you're having problems.

`Node.allocate` was removed in c5ba3a5 because the Ruby C extension spec states specifically that `T_DATA` classes shouldn't implement it (see https://github.com/sparklemotion/nokogiri/pull/2242 and https://github.com/sparklemotion/nokogiri/pull/2249 as well as https://github.com/ruby/ruby/pull/4604 and https://bugs.ru

[2021-10-04 22:32] Dantemss commented on #2336
Hello @flavorjones I think you are absolutely right. Looking at the code I have again, I had even left myself notes that Nokogiri classes were not serializable. Likely what happened is that some Nokogiri node was left in the serialization code by accident but it was likely unused, so it was not a problem until the serialization started to throw exceptions. But I think the new behavior of throwing

[2021-10-04 22:32] #2336 closed

[2021-10-06 01:37] benkoshy opened #2337 "[help] How to wrap fragments with complex html (to display to users in a rails app)?"
### What problem are you trying to solve?

* people can reply to my rails app via email (via an action mailbox facility).
* The problem is that the email sent to the rails app contains previous replies - which clutter up the view. I wish to hide all the previous replies. See a picture below which demonstrates this issue:

![email_screenshot](https://user-images.githubusercontent.com/15097447/13612

[2021-10-07 13:30] flavorjones commented on #2337
Hi, @benkoshy! Thanks for asking this question.

One way to do this, if you have a single element that you want to wrap around table, is to use [`Node#wrap`](https://nokogiri.org/rdoc/Nokogiri/XML/Node.html#wrap-instance_method) like this:

[code]

For more complicated markup, you could add the new sub-tree to the DOM and then reparent the table, like this:

[code]

Does that help?

[2021-10-07 13:34] #2335 closed

[2021-10-07 20:22] benkoshy commented on #2337
@flavorjones thank you.

i appreciate the thoughtful response.

I have adopted a slightly different solution. The short version is noted below. Perhaps it could be helpful to someone in the future?

* `santizer` is a helper function used to whitelist and sanitize the nokogiri fragments turned into html.
* I have made use of a library: [Github View Components](https://github.com/github/view_compone

[2021-10-07 21:59] flavorjones commented on #2337
Awesome, thanks for sharing your solution!

[2021-10-08 18:55] kabat87 opened #2338 "Possible starting point: https://about.validator.nu/htmlparser/"
Possible starting point: https://about.validator.nu/htmlparser/

_Originally posted by @rubys in https://github.com/sparklemotion/nokogiri/issues/2227#issuecomment-829211392_

[2021-10-08 18:55] #2338 closed, assigned to nobody

[2021-10-11 20:48] syakovyn commented on #2335
As far as I understood, we were relying on the bug Nokogumbo HTML5 parser has by producing the same output as Nokogiri::HTML4 parser. In turn, we were able to cleanup the resulting HTML with https://github.com/rgrove/sanitize transformers afterwards.

Now, in order to upgrade to Nokogiri 1.12 we need to come up with a way to do that before we have the parsed HTML. I'd really appreciate If someone

[2021-10-12 05:18] #1848 closed

[2021-10-12 05:40] syakovyn commented on #2335
@flavorjones, exactly! You perfectly described the issue we are facing!

[2021-10-12 23:16] bneretin opened #2340 "rails aborted! LoadError: cannot load such file -- nokogiri/nokogiri"
Im trying to run the command "rails db:create" in terminal. Please help.

The result is this:

rails aborted!
LoadError: cannot load such file -- nokogiri/nokogiri
/Library/Ruby/Gems/2.6.0/gems/bootsnap-1.9.1/lib/bootsnap/load_path_cache/core_ext/kernel_require.rb:23:in `require'
/Library/Ruby/Gems/2.6.0/gems/bootsnap-1.9.1/lib/bootsnap/load_path_cache/core_ext/kernel_require.rb:23:in `block in re

[2021-10-13 20:50] #2340 closed, assigned to nobody

[2021-10-14 13:49] airblade opened #2341 "Native gem not installed on Ubuntu 20.04 LTS"
**Have you read and followed the installation tutorial at http://www.nokogiri.org/tutorials/installing_nokogiri.html?**

- [x] Yes!

**What is the complete output of `gem install` or `bundle install`?**

<details>
<summary>Initially Nokogiri failed to install via bundler:</summary>

[code]
</details>

Then I installed it "by hand" (`gem install nokogiri`) and it worked, though it compiled the nati

[2021-10-15 10:25] airblade commented on #2341
I went ahead with uninstalling are reinstalling via bundler:

[code]

The installation of nokogiri took a few minutes so I'm pretty sure it was compiling its extensions rather than installing pre-built ones.

I wonder why `gem fetch` gets the native gem but `bundle install` doesn't?

[2021-10-15 11:55] #2341 closed, assigned to nobody

[2021-10-19 18:51] amritha opened #2342 "bundler-related installation issue [install]"
**Have you read and followed the installation tutorial at http://www.nokogiri.org/tutorials/installing_nokogiri.html?**

- [X] Yes!

My issue is that everytime I try to create a new project in rails, nokogiri fails and gives me this error:
Bundle complete! 17 Gemfile dependencies, 75 gems now installed.
Use `bundle info [gemname]` to see where a bundled gem is installed.
         run  bundle binst

[2021-10-19 18:51] amritha opened #2343 "[install]"
**Have you read and followed the installation tutorial at http://www.nokogiri.org/tutorials/installing_nokogiri.html?**

- [X] Yes!

My issue is that everytime I try to create a new project in rails, nokogiri fails and gives me this error:
Bundle complete! 17 Gemfile dependencies, 75 gems now installed.
Use `bundle info [gemname]` to see where a bundled gem is installed.
         run  bundle binst

[2021-10-19 21:28] #2343 closed

[2021-10-20 01:51] amritha commented on #2342
Ah ok thank you looks like my issue had to do with a ruby version not being set by my version manager. After I set the version locally nokogiri was able to install correctly

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Mike Dalessio ***@***.***>
Sent: Tuesday, October 19, 2021 5:36:10 PM
To: sparklemotion/nokogiri ***@***.***>
Cc: Amritha Prasad ***@***.***>;

[2021-10-20 12:01] #2342 closed, assigned to nobody

[2021-10-24 19:14] vanboom opened #2349 ".inner_html= causing memory issue"
**Please describe the bug**
We are hunting down an issue in a Ruby on Rails application that uses Nokogiri to substitute some XML elements in the content.xml of a MS Word document.

Calling `inner_html=` repetitvely appears to have memory consequences that appear as a leak.  The process memory continues to increase.   This can be tested by simply setting inner_html to itself.

**Help us reproduce

[2021-10-29 20:02] flavorjones opened #2352 "meta: opt in to `rubygems_mfa_required` starting with the next release"
Recently, the rubygems.org team added the ability to _require_ MFA for a gem to be pushed or yanked (or the owners set changed): https://github.com/rubygems/rubygems.org/pull/2242

This is being documented at https://github.com/rubygems/guides/pull/297

In the next minor release of Nokogiri (presumably v1.13.0) we should turn this on.

[2021-11-04 17:16] flavorjones opened #2354 "investigate why CI started failing on the Windows Ruby 2.5 builds"
Same commit was fine one day and reliably segfaults the next:

Good:
- windows disable 2.5: https://github.com/sparklemotion/nokogiri/runs/4096026023?check_suite_focus=true
- windows enable 2.5: https://github.com/sparklemotion/nokogiri/runs/4096025753?check_suite_focus=true

Bad:
- windows disable 2.5: https://github.com/sparklemotion/nokogiri/runs/4107938499?check_suite_focus=true
- windows enab

[2021-11-04 17:23] flavorjones commented on #2354
The diff between those images' readmes:

[code]
@@ -533,7 +541,7 @@
 | ------------------ | ---------------- |
 | DockerMsftProvider | 1.0.0.8          |
 | MarkdownPS         | 1.9              |
-| Microsoft.Graph    | 1.7.0            |
+| Microsoft.Graph    | 1.8.0            |
 | Pester             | 3.4.0<br>5.3.1   |
 | PowerShellGet      | 1.0.0.1<br>2.2.5 |
 | PSScriptAnalyzer   | 1.20.0

[2021-11-04 17:42] flavorjones commented on #2354
mini_portile2 seems fine on this version of windows runner: https://github.com/flavorjones/mini_portile/runs/4108367507?check_suite_focus=true

[2021-11-06 13:56] dometto opened #2355 "[bug] Inconsistent behavior on JRuby/CRuby"
The following snippet produces different results on JRuby and CRuby:

[code]

On CRuby, it produces what one would expect:

[code]

However, on JRuby, it producs the following invalid XHTML:

[code]

**Environment**

CRuby:
[code]

JRuby:

[code]

**Additional context**

This bug was not present on version `1.11.7`

[2021-11-06 15:51] flavorjones commented on #2355
Thanks for reporting this, and sorry you ran into this problem.

The JRuby code for serialization is pretty old, apparently buggy, relatively unmaintained, and not well tested. I also don't have a ton of time or interest in keeping the JRuby implementation going.

That said, this seems like an easy fix and #2356 is a PR that should address it.

[2021-11-06 15:52] flavorjones commented on #2355
I'm reading https://github.com/gollum/gollum/issues/1779 and now I'm confused as to what could possibly have introduced this bug in Nokogiri since this code hasn't really been touched in a long time. I'll keep digging.

[2021-11-06 16:04] flavorjones commented on #2355
A `git bisect` leads me to 7376cbd as the commit that introduced this behavior change. This is an interesting chain of events:

- libxml 2.9.11 fixed a long-standing serialization bug in libxml2
- which exposed a long-standing serialization bug (1d06b4f1) in nokogiri's CRuby extension
- which, when fixed by 7376cbd, exposed this long-standing serialization bug in nokogiri's JRuby extension

I thin

[2021-11-06 16:10] flavorjones commented on #2355
Note that 7376cbd (aka a0180c7) was introduced in v1.12.5, so v1.12.4 and earlier should not have this problem.

[2021-11-06 16:19] #2013 closed

[2021-11-06 16:20] flavorjones commented on #2352
Related to https://github.com/sparklemotion/nokogiri/discussions/2357

[2021-11-06 16:44] #2352 closed

[2021-11-06 16:44] #2355 closed

[2021-11-06 16:45] flavorjones commented on #2131
Done.

[2021-11-06 16:45] #2131 closed

[2021-11-06 16:47] flavorjones commented on #2349
Closing, but please do let me know if you need any help or advice.

[2021-11-06 16:47] #2349 closed

[2021-11-06 16:57] #2261 closed

[2021-11-06 16:59] #1931 closed

[2021-11-06 17:15] flavorjones opened #2362 "set up aarch64-linux runner for github actions"
I'd like some level of testing on ARM64 Linux if we're going to start shipping `aarch64-linux` native gems (see #2332).

Azure / Github Actions don't appear to support ARM64 Linux, so I guess AWS EC2 Graviton instances are the best bet?

Some docs about setting up an EC2 self-hosted runner are here:

though there may be other (more official?) ways to do it.

[2021-11-06 17:41] dometto commented on #2355
thanks for the quick explanation and fix @flavorjones!

[2021-11-06 17:58] larskanis commented on #2362
I made good experience by using docker with qemu-user-static like here in rake-compiler-dock: https://github.com/rake-compiler/rake-compiler-dock/blob/8b75537c41fc4287211f8780cc05dc125eedcfa3/.github/workflows/ci.yml#L170

The big advantage is that you can build and execute many architectures on your local computer. Not just on some specialized CI environment. And it is almost as fast as native.

[2021-11-06 22:29] vanboom commented on #2349
Thanks for your advice and for documenting the memory model in more detail here.  Not sure I am smart enough yet with this code to attempt a PR but will do so if something becomes clearer to me.  I find it concerning that a simple node replacement causes such a memory issue.  Seems memory should be freed when the node is replaced if there is no variable to hold it in scope.

[2021-11-07 21:54] fbssaejun opened #2363 "[install]"
**Have you read and followed the installation tutorial at http://www.nokogiri.org/tutorials/installing_nokogiri.html?**

- [x] Yes!

**What is the complete output of `gem install` or `bundle install`?**

[code]

**If installation completed but is broken, what is the complete output from `nokogiri -v`?**

[code]

**If installation failed during compilation, what are the complete contents of the `mk

[2021-11-08 04:37] flavorjones commented on #2363
Hi! Can you provide a bit more information to help me understand what problem you're having? The information provided seems to indicate that nokogiri installed successfully.

[2021-11-08 05:02] rubarb666 commented on #2363
Hi and thanks for the quick response I have been thinking about the past
couple of days and I will be in the process of getting to. Look at it this
soon and will get back to you with more information. Thanks again

On Mon, Nov 8, 2021, 4:38 AM Mike Dalessio ***@***.***> wrote:

[2021-11-08 17:24] jcoyne opened #2364 "Invalid xml:id permitted in XML documents"
**Please describe the bug**

Nokogiri permits invalid "xml:id" attributes.

[code]

This id value is not valid according to the spec https://www.w3.org/TR/xml-id/#syntax  The value of an "xml:id" attribute must an NCName (https://www.w3.org/TR/xml-names11/#NT-NCName)

I would expect that the case above ought to result in some sort of exception.

I'm very sorry... 🥲

[2021-11-08 19:14] flavorjones commented on #2364
Hey, Justin, thanks for opening this issue. It may be a day or two before I'm able to dig in, but I promise I will take a look.

[2021-11-08 19:24] flavorjones commented on #2364
Whoop, I see what's happening. You're using `id` and not `xml:id`. Here's what happens if you do that with `xml:id`:

[code]

So, a few things to note:

- Nokogiri by default will create a SyntaxError and add it to `doc#errors`, and not raise an exception.
- libxml2 doesn't consider this a fatal error! Using `ParseOptions::STRICT` or unsetting `::RECOVER` doesn't change this behavior. This is argu

[2021-11-11 20:22] #1118 closed

[2021-11-12 18:30] #927 closed

[2021-11-12 18:48] flavorjones commented on #2364
Going to close this, but please do comment if I haven't addressed your question in my previous post and I'm happy to reopen it.

[2021-11-12 18:48] #2364 closed

[2021-11-12 18:53] flavorjones commented on #2349
Yes, but as I tried to explain above, this is challenging to determine given the current memory management model. I agree this needs to be improved and in fact said so above, at length, in the section of my response entitled "Doing Better."

[2021-11-12 18:54] #2363 closed

[2021-11-12 19:28] jcoyne commented on #2364
Thanks @flavorjones. This was most helpful. Sorry for misunderstanding the spec.

[2021-11-15 14:37] flavorjones commented on #1639
Similarly for `AttributeDecl` ... Nokogiri offers no way to dynamically modify the document DTD to add these declarations.

Side note: libxml2 does not support adding `EntityDecl` to the DTD at runtime.

As a workaround for anyone who comes across this limitation: a way to work around this, suggested in [this SO  post](https://stackoverflow.com/questions/44373314/how-do-i-create-entity-references-

[2021-11-15 15:40] flavorjones commented on #1875
For posterity, the CRuby behavior is to create a doc that looks like:

[code]

and the JRuby behavior is:

[code]

[2021-11-15 19:00] #1913 closed

[2021-11-15 19:11] jrochkind commented on #1875
Thanks. If anyone can figure out any invocation to get the JRuby serialized doc to look like the CRuby one, like any methods I can call to make that happen, please do share!  I would love to be able to create a doc by mutating existing documents, in Jruby, that would serialize the way the Cruby one does -- I actually used to have a workaround to do it prior to 1.9.0, but now can't figure out any w

[2021-11-16 20:38] flavorjones commented on #978
Apologies for not responding to this issue for so many years.

Without a specific use case, I am guessing a bit, but I think what you're asking for is an interface something like:

[code]

That is: the hash-of-handlers would have URI keys that could be used to scope the xpath function lookup.

Is that about right?

If so, the way we'd have to do this is introduce keyword arguments to eliminate amb

[2021-11-16 20:39] #978 closed

[2021-11-16 20:55] flavorjones commented on #2362
@larskanis :exploding_head: Thanks for that pointer, I think this may solve a whole class of problems for me.

[2021-11-17 18:09] ric2b opened #2372 "[bug] XML::Builder blocks don't restore the parent node when an error is raised from the block"
When using the XML builder, exceptions that escape a node's block will cause that node to become the parent of sibling nodes.

For example, this:

[code]

Outputs this (`b`should not be a child of `a`):

[code]

**Expected behavior**

`b` should be a sibling of `a`:
[code]

**Environment**
[code]

**Additional context**

I'm pretty sure the issue is here: https://github.com/sparklemotion/nokogiri/

[2021-11-18 16:58] flavorjones commented on #2372
@ric2b Thanks for opening this issue! That's certainly odd behavior, and I agree we should change it. I'll try to set aside some time this weekend to dig in a bit.

[2021-11-18 17:00] flavorjones commented on #2372
@ric2b Just saw your offer to ship a PR. That would be lovely! I agree with your diagnosis that we need an `ensure` to restore the parent context.

[2021-11-18 17:10] flavorjones commented on #969
Apologies for not responding on this for so many years.

@knu is correct in his diagnosis. The behavior you're describing is inherited from the underlying HTML4 library, libxml2. Here's the C code that controls URI-escaping of certain HTML attributes at serialization-time (when the document is printed):

https://gitlab.gnome.org/GNOME/libxml2/blob/v2.9.2/HTMLtree.c#L714-718

Specifically, `href`,

[2021-11-18 17:10] #969 closed

[2021-11-18 21:47] flavorjones commented on #2293
I've labeled this "help wanted" because I think it's something that doesn't require deep knowledge of Nokogiri's internals to do.

[2021-11-19 22:17] flavorjones commented on #857
Hi! Apologies for not responding for such an embarrassingly long time.

`Nokogiri::XML::Attr` inherits from `Nokogiri::XML::Node` and so you can use `Node#remove` to unparent the attribute just like you'd unparent any other node or element in the DOM.

Example of usage:

[code]

[2021-11-19 22:17] #857 closed

[2021-11-21 09:32] luispurex opened #2374 "[install]"
**Have you read and followed the installation tutorial at http://www.nokogiri.org/tutorials/installing_nokogiri.html?**

- [ ] Yes!

**What is the complete output of `gem install` or `bundle install`?**

[code]

**If installation completed but is broken, what is the complete output from `nokogiri -v`?**

[code]

**If installation failed during compilation, what are the complete contents of the `mk

[2021-11-21 21:27] flavorjones commented on #2374
Please fill out the information in the template if you need help.

[2021-11-21 21:27] #2374 closed

[2021-11-21 21:29] flavorjones commented on #973
Sorry for not responding to this issue. I'm going to close it, since this version of Nokogiri is ancient at this point.

[2021-11-21 21:29] #973 closed

[2021-11-23 21:57] #2372 closed

[2021-11-23 22:15] flavorjones commented on #2372
Thanks for closing this!

[2021-11-23 23:00] flavorjones commented on #1022
Hi, and apologies for not responding for such a long time.

Unfortunately,I'm unable to reproduce what you're describing in Nokogiri v1.12. Here's the script I'm using to try to reproduce:

[code]

and here's the output from that script:

[code]

I realize it's been quite a long time since you opened this issue, so I'm going to close it. But if you can help me understand and reproduce what you saw

[2021-11-23 23:00] #1022 closed

[2021-11-25 00:00] danblaker opened #2376 "[bug] HTML5 foreign element namespaces should not be required by CSS queries"
After upgrading to Nokogiri v1.12.0, I am unable to target inline svg elements via css or xpath selectors. Sample console commands:

[code]

**Expected behavior**

Using the previous versions of Nokogiri (v 1.10.10) + nokogumbo (1.5.0), I was able to target SVG elements without any problems.

**Environment**

[code]

[2021-11-26 20:55] flavorjones commented on #2184
I spent a little bit of time spiking on this today and got pretty far on getting the test suite to pass. I haven't turned on valgrind checks yet, but I'm optimistic that this might be easier than I suspected.

[2021-11-26 21:27] flavorjones commented on #2376
@danblaker Thanks for opening this issue, and sorry you're having problems.

The behavior you're describing here seems to have changed in Nokogumbo at some point between v1.5.0 and v2.0.3 (note that Nokogiri imported Nokogumbo v2.0.5).

I wasn't easily able to find the specific commit that changed this behavior because it was challenging to build old versions of Nokogumbo. (Maybe @stevecheckoway k

[2021-11-28 02:11] flavorjones commented on #928
Sorry I didn't respond to this before now. The gist no longer exists, so I don't know what the original issue was describing.

However, a few changes have been made to closing tags -- specifically XHTML -- in #2356 and #2326.

If there are still issues here, please open a new issue using the bug report template!

[2021-11-28 02:11] #928 closed

[2021-11-28 02:22] flavorjones commented on #953
I'm sorry I haven't responded to this issue for such an embarrassingly long time.

Unfortunately, I couldn't get the xml-focus spec suite to run (I'm seeing some errors related to, likely, now-out-of-date RSpec API usage). If you can help me understand and reproduce what you're seeing, I might be able to help. Feel free to comment on this issue or open a new one.

[2021-11-28 02:22] #953 closed

[2021-11-28 20:33] flavorjones commented on #980
Hi, apologies for not responding on this issue for such an embarrassingly long time.

The `xml_version` attribute is only set once the reader has started reading. So if you update the example above to first do a `#read` (or read via `#each`) you'll see this populated.

[code]

[code]

As for `#encoding`, it's a little trickier. Today this simply returns whatever is passed into the constructor (as

[2021-11-28 21:18] flavorjones commented on #980
PR #2377 has been created to improve the behavior of `#encoding`

[2021-11-28 21:30] daBee opened #2378 "Apple Silicon MacOS Monterey Missing OS Dependencies"
`bundle doctor` reports the following:

[code]

    gem "nokogiri"

That's how to reproduce it in the `Gemfile`.

[code]

Please let me know if you need anything else.  Cheers

[2021-11-29 02:16] flavorjones commented on #2378
@daBee Hi, thanks for reporting this. Is there a functional problem with Nokogiri once it's installed? If so, can you please provide more information on what output you're seeing?

[2021-11-29 07:27] daBee commented on #2378
At the moment, nothing is working.  I tripped over this while troubleshooting my stack.  I'm making a test site that I will post somewhere.  Unfortunately, what is above is all I have.  I can't get my websites to work at the moment.  All of this is currently much larger than `nokogiri`.

[2021-11-29 18:56] daBee commented on #2378
OK an update.  `StringIO` has a default core `gem` at `version 0.1.0`.  Their current version is `3.0.1`.  The loading procedure is confusing the two somehow...I'm not well versed on this stuff.  Anyway, the devs are on it.

But `bundle doctor` comes up with this report, which might give an indication that a boatload of gems aren't considering the new front for the **Apple** world, with **Apple Si

[2021-11-29 19:08] pvande commented on #2376
@flavorjones From what I've been able to dig up, this likely changed in [Nokogumbo v2.0.0](https://github.com/rubys/nokogumbo/blob/master/CHANGELOG.md#:~:text=The%20five%20XML,and%20related%20APIs.) as a part of their support for the embedded HTML5 namespaces.

While the proposed workaround is functional, I'm still uncertain whether it's desirable. HTML5 has two documented syntaxes: HTML and XML.

[2021-11-29 19:56] flavorjones commented on #832
Cannot reproduce.

[2021-11-29 19:56] #832 closed

[2021-11-29 19:58] flavorjones commented on #2378
@daBee Again, I need to ask: what specifically is broken with Nokogiri? If you can run `nokogiri -v` then it's likely installed correctly and is able to find all its libraries. Help me understand what's failing?

[2021-11-29 20:05] flavorjones commented on #2378
Side note:

I and other contributors have spent many hours working on arm64-darwin support, precompilation, and testing. It feels unkind to hear you imply that we haven't considered this platform.

It may turn out that there's a problem here with the gem that we can and should fix -- in which case we absolutely will do so! But in the meantime please consider that there have been 157,000+ downloads

[2021-11-29 20:11] stevecheckoway commented on #2376
This is almost certainly my fault. Namespaces on elements in HTML is tricky.

Let me just point out as an aside that the HTML spec [doesn't really define how to write HTML documents in XML](https://html.spec.whatwg.org/#parsing-xhtml-documents). It says (emphasis mine),

I completely agree that querying by CSS selector should definitely work as you expect. I.e., it should follow the rules for CSS.

[2021-11-29 20:30] flavorjones commented on #2376
:wave: Thanks for jumping in here @stevecheckoway.

Your path of reasoning leading to this suggestion feels very reasonable to me, and I can easily get behind this as the "right" behavior. I'm curious to head what @pvande and @danblaker think!

CSS queries are converted into XPath queries by `Nokogiri::CSS::Parser`, so everything gets run through libxml2's xpath evaluator.

I need to explore a bit

[2021-11-29 20:37] deivid-rodriguez commented on #2378
This is definitely not a nokogiri issue, it works great on M1!

If anything, it's a `bundle doctor` issue. Apparently, the existence of paths printed by `otool -L` (which `bundle doctor` uses under the hood) can no longer be trusted to find missing shared libraries. As per [Big Sur release notes](https://developer.apple.com/documentation/macos-release-notes/macos-big-sur-11_0_1-release-notes):

So

[2021-11-29 20:38] danblaker commented on #2376
I agree with the approach @stevecheckoway describes. If Nokogiri's selector methods on an HTML5 doc return identical results compared to selectors in the Firefox console for the same doc, I think that would meet the expectation of any user trying to parse HTML5 with Nokogiri.

[2021-11-29 20:48] pvande commented on #2376
@danblaker's said it best — my expectation is parity with browsers. Thanks for digging in here, @stevecheckoway!

[2021-11-29 21:06] flavorjones commented on #2376
OK, I'll play around with it a bit this week.

In the meantime, you may want to try to emulate this mode by calling [`Document#remove_namespaces!`](https://nokogiri.org/rdoc/Nokogiri/XML/Document#remove_namespaces%21-instance_method). Some documentation for this method is also available in the ["searching" tutorial](https://nokogiri.org/tutorials/searching_a_xml_html_document.html#but-im-lazy-and-

[2021-11-29 22:26] daBee commented on #2378
Sorry, was unavailable.  Hey I don't doubt effort has been put in.  I'm just reporting what I've found with the software that other people have put their time into.  I have no reason to attack any packages out there, nor would anybody else.  Can you explain how I would want to do that?  If it's not broken, then it doesn't make sense to show up in reports designed to tell people things are missing.

[2021-11-29 22:26] #2378 closed

[2021-11-29 22:29] flavorjones commented on #2376
Would love a :+1:  or a clarifying comment on these tests, which is what I'm going to try to make pass on my feature branch:

[code]

Note that the only failing test right now is `HTML5 foreign elements::in an HTML5 doc#test_0002_omits namespace in CSS queries`.

[2021-11-29 23:20] flavorjones commented on #2378
@daBee  I have no doubt that you meant well, thank you for reporting this!

However, I want to encourage you to keep in mind some of the differences between **intent** (which is your state of mind, how you think and feel) and **impact** (which is how your words or actions make another person feel).

If I have responded to the facts of your report, and then _also_ tell you how your choice of words

[2021-11-29 23:29] daBee commented on #2378
My reason for reporting is that I feel it's my duty to report things I find.  If it means I need to bounce over to the `Bundle` devs, then so be it.  It's another headache avoided for the lot of us when these pop up.  I found it odd that something the size of `nokogiri` would show up having three libraries reported missing, but had to report it.  I am a scientist, so feelings have little to do wit

[2021-11-30 01:34] pvande commented on #2376
@flavorjones My only caution about this changes is that I don't actually know what the correct HTML4 behavior should be. I suspect your proposal is correct, but IIRC `svg` didn't become an implicitly recognized foreign element until HTML5…

Regardless, the behavior may match the expectation.

[2021-11-30 22:52] flavorjones commented on #916
Hi, apologies for not responding for such an embarrassingly long time.

Brackets (and even nested brackets) are fully supported by Nokogiri (or maybe more accurately by libxml2's xpath 1.0 implementation). I think your XPath syntax is incorrect.

Here's an example of how to do what I *think* you're trying to do:

[code]

Please note that you originally reported using this XPath query:

[code]

but

[2021-11-30 22:52] #916 closed

[2021-11-30 22:53] flavorjones commented on #916
(Updated previous comment to remove an incorrect query that used `//` for the subsearch.)

[2021-12-03 15:39] stevecheckoway commented on #2376
I'm :+1: but I don't think `xmlns` should be used as the prefix. It's a [reserved prefix](https://www.w3.org/TR/xml-names/#xmlReserved).

[2021-12-03 18:36] flavorjones commented on #779
Apologies for not responding for such an embarrassingly long time.

This behavior was changed earlier this year and is now configurable, for details please see:
- https://github.com/sparklemotion/nokogiri/pull/2320
- https://nokogiri.org/rdoc/Nokogiri/XML/Document.html#namespace_inheritance-instance_method
- https://nokogiri.org/rdoc/Nokogiri/XML/Builder.html#label-Namespace+inheritance

[2021-12-03 18:36] #779 closed

[2021-12-03 18:38] flavorjones commented on #2376
@stevecheckoway Sorry, do you mean the use of "xmlns" in the test? If so, I'm happy to change because in the context of the test it's an arbitrary prefix (and supported by the underlying libraries despite its reserved status).

[2021-12-03 18:42] flavorjones commented on #2376
i.e., this change is what you're proposing?

[code]

[2021-12-03 20:21] stevecheckoway commented on #2376
Yeah, that's precisely what I was suggesting.

[2021-12-05 19:34] flavorjones commented on #1012
The behavior of this has changed since it was opened, the failing test now is related to `Document#dup` behavior:

[code]

on JRuby we see:

[code]

[2021-12-06 19:50] flavorjones commented on #807
Closing in favor of #1768 which has a pretty good discussion of why this behavior exists in the JRuby implementation, a potential workaround, and a potential path forward.

[2021-12-06 19:50] #807 closed

[2021-12-07 16:58] MSP-Greg commented on #2354
I've repo'd locally.  Both asserts generate a SIGSEGV.

It's not easy to determine, but I believe the MSYS2 MinGW gcc was updated to 11.2.0 somewhere around 04-Nov.  Ruby 2.5.9 was built with 10.2.0.

https://github.com/sparklemotion/nokogiri/blob/cc5a7ea9cca6c6efd6175bd35f81382517942e1b/test/xml/test_reader.rb#L90-L97

[2021-12-07 20:22] flavorjones commented on #2354
@MSP-Greg Thank you for taking a look at this! To make sure I understand what you're saying: Ruby was compiled with 10.2.0 but the extension is being compiled with 11.2.0?

The argument-checking code for both of those functions is pretty straightforward and it's not obvious to me why these (and only these) code paths would segfault ...

[code]

[code]

If you have any insights or advice, I'm all e

[2021-12-07 21:58] MSP-Greg commented on #2354
Yes.  The Windows build tools (MSYS2 MinGW 32 & 64 bit) are updated every time there's a new version release of the Actions Windows images.  On windows-2019, the 32 & 64 bit gcc tools were included with the image.  With windows-2022, the gcc tools were removed, and some 'generic' build tools (worked with both 32 & 64 bit) were also removed.

I haven't seen this problem elsewhere, so I'm confused.

[2021-12-08 02:29] dabdine opened #2380 "[bug] Nokogiri/JRuby line numbering off by one when XML prolog is in the source document"
**Please describe the bug**

Nokogiri under JRuby does not properly report line numbers when XML prolog is included at the beginning of a document.

**Help us reproduce what you're seeing**

See this DRAFT PR for tests that fail under JRuby (but should succeed under CRuby -- I can't yet validate that and I created a PR to attempt to use the Nokogiri CI to validate this for me).
https://github.com/

[2021-12-08 02:40] dabdine commented on #2380
@flavorjones thanks! I did read both of those. Minimally I wanted to document this edge case. I saw that you had the XML prolog tag in some of the comments there, but it didn't stand out as a particular edge case, so figured filing a defect could be helpful for tracking purposes. Let me take a look at the line numbering logic to see if there are ways to improve that.

[2021-12-08 16:51] Smasherr opened #2381 "[help] package conflicts due to included build-ids"
Hi everybody,

this request is about RPM packaging issues, so I'm not sure if this is something supported by this project, but it is related to `nogokiri` and I want to try to post this request here, maybe to at least get some nudges in the right direction.

The situation is the following: I have two RPM packages to install on a RHEL machine.

1. `gitlab-ee` from

[code]

2. `td-agent` from

[code

[2021-12-08 17:05] flavorjones commented on #2381
@Smasherr Thanks for asking this question, and I'm sorry you're having problems.

Unfortunately the nokogiri-core team isn't involved in any of the downstream distro repackaging efforts (debian, redhat, etc.). I know way less than you do about what requirements are expected to be met by rpm packages, and I don't know how to help deduplicate these libraries.

I'm sorry I can't be of any help here.

[2021-12-08 17:19] Smasherr commented on #2381
Thanks @flavorjones, I'll ask on a RedHat Forum!

[2021-12-09 02:11] flavorjones commented on #2362
For posterity: a kind note from an Actions PM with advice on how he does this for his own project: https://github.com/actions/runner/issues/1491#issuecomment-970418408

[2021-12-10 05:54] flavorjones commented on #2354
@MSP-Greg That test is skipped on Windows in https://github.com/sparklemotion/nokogiri/pull/2384 and, sure enough, the rest of the suite is green. Very strange, but I'm going to try not to think about it too hard :zany_face:

[2021-12-10 13:28] #980 closed

[2021-12-12 22:27] #827 closed

[2021-12-13 14:09] flavorjones commented on #2376
OK, I've got a branch that allows the XPathVisitor class (which is doing the translation from CSS selector to XPath query) to know whether it's operating on an HTML5 document. I cleaned up some rough edges along the way and feel pretty good about that code.

However, now I'm faced with the decision about what XPath to use. I believe the right choice is to use [`local-name()`](https://www.w3.org/TR

[2021-12-13 14:15] flavorjones commented on #2376
Sigh, libxml2 already has this implemented pretty efficiently as `xmlXPathLocalNameFunction`, I don't think we can reasonably do better in a nokogiri builtin function.

Is everybody OK taking a 10x performance hit on CSS queries in HTML5 docs? If not, what alternatives am I not thinking of?

[2021-12-13 14:53] flavorjones commented on #2380
@dabdine I'm curious if you have plans to work on a fix for this? Again, just to be clear, I'm unlikely to work on this and this feels like a good opportunity for a JRuby user to help out by contributing fixes if they can.

[2021-12-13 15:04] flavorjones commented on #985
There is a NekoHTML setting that inserts the doctype (see http://nekohtml.sourceforge.net/settings.html) which we can try to use: `http://cyberneko.org/html/features/insert-doctype`. But there is a comment in the java implementation noting that this overrides the declared doctype declaration in some circumstances, so we should explore what this setting does.

[2021-12-13 15:56] stevecheckoway commented on #2376
Ouch! 10x performance hit is pretty significant. Any idea what makes it so much slower?

[2021-12-13 20:01] flavorjones commented on #2376
Plain element name matching is inlined as part of xpath evaluation:

![element-name](https://user-images.githubusercontent.com/8207/145879140-b5a0e5b4-bf73-4996-ba89-c1cbcad6a0f8.gif)

But calling an xpath function introduces that function call overhead, as well as internal stack management overhead; plus unnecessary string allocations are being made; and all that overhead is invoked for every ele

[2021-12-14 21:22] flavorjones commented on #1388
This is fixed in current versions of Nokogiri. Closing.

[2021-12-14 21:22] #1388 closed

[2021-12-16 07:48] #1000 closed

[2021-12-16 14:34] flavorjones commented on #1158
Apologies for not replying for such an embarrassingly long time.

Fragment parsing is a bit complicated because libxml2 doesn't recover from errors while parsing a fragment _in the context of a specific node_ (e.g., `node.parse(...)` as opposed to `Nokogiri::XML::DocumentFragment.parse(...)`).

When an error (like the encoding error here, or any other syntax error) is encountered, Nokogiri's fallb

[2021-12-16 18:08] dabdine commented on #2380
@flavorjones from my analysis, I think we'd need to rewrite the entire DOM parser using a SAX parser to track line numbers as AFAICT Xerces doesn't track this, and the Java interfaces/classes certainly do not. Even then, I believe the SAX parser will track the line number as the line with the *closing tag*. So, we would also need to validate that the line number is consistent for multiline XML bet

[2021-12-16 18:14] flavorjones commented on #2380
OK, you've reached the same conclusion as me, then, which is a) it will be an invasive change b) which doesn't seem worth the investment of developer time right now. Blurgh.

I don't usually like to leave an issue open if nobody's going to work on it ([some context around why I feel this way is here](https://railsconf.org/watch/oss/why-i-m-closing-your-github-issue?t=8), but I'm happy to leave thi

[2021-12-16 18:17] dabdine commented on #2380
I think we close it and maybe document the failing jruby cases? Namely that it doesn't take into account XML prolog and multi line xml comments (however, single line does work), maybe referencing this issue. What do you think?

[2021-12-16 18:46] flavorjones commented on #2380
@dabdine :thinking: Yes, how about I take #2379 and make those tests "pending" (in the sense that they fail, and we expect them to fail, but we wish they didn't)?

[2021-12-16 23:07] flavorjones opened #2389 "[ruby_memcheck] failures spotted in CI"
Seen at https://github.com/sparklemotion/nokogiri/runs/4549544439?check_suite_focus=true#step:7:4016

[code]

I could add this to the memcheck todo list (in `/suppressions/`) but I want to see how commonly this pops up to see if we can learn something first.

[2021-12-17 01:00] dabdine commented on #2380
@flavorjones works for me

[2021-12-20 02:55] Overload119 opened #2390 "[bug] Segmentation fault"
While running a long running job that basically scrapes 20 pages from a website multiple times, I sporadically get the following error and the Ruby process dies. It's a fairly long running process and I'm still working on making a bare-minimum reproducible case I can share here.

Starting this early to see if there are any tips on providing more information to help debug this.

<details>
I have re

[2021-12-20 14:56] flavorjones commented on #2390
@Overload119 Thanks for opening this issue, I'll try to help.

Please respond with the output from `nokogiri -v` on this system so I know more about your system and how nokogiri was built.

Have you modified this installation at all? The stack walkback contains a strange line that does not correspond to any files in the gem:

[code]

I would expect to see that stack frame to labeled `lib/nokogiri/

[2021-12-20 15:25] Overload119 commented on #2390
I'm using threads, and this is how I'm using Parallel:

https://gist.github.com/Overload119/dee7b63406d9929d1f0dae0cc6158656#file-crawl_website-rb-L87

I've attached a minimal repro (I will try to make it more minimal above.
I have also updated the original issue with `nokogiri -v`

[2021-12-20 15:30] flavorjones commented on #2390
:pray:

[2021-12-20 15:34] flavorjones commented on #2390
Just to be clear: are you running this in the linux docker container? Some of the info you've provided is from a darwin system so I wanted to confirm there's not something even more complex going on.

[2021-12-20 16:17] flavorjones commented on #2390
I'm unable to see any problems running Nokogiri with varying levels of load and concurrency with this script:

[code]

C functions are called with the GVL so I'm not surprised that I can't reproduce a problem. Without a self-contained reproducible test case, I'm not sure how to help.

[2021-12-20 16:38] flavorjones commented on #2380
See #2379 for my observation that JRuby/Xerces is emitting line numbers from the final formatted DOM, while CRuby/libxml2 emits line numbers from the original parsed document. I'd like to accept this difference in semantic behavior and document it.

[2021-12-20 16:39] #1158 closed

[2021-12-20 19:14] flavorjones commented on #1135
This behavior is definitely coming from libxml2's HTML parser which has complex logic around implicit closing tags and autocorrection.

FWIW, the HTML5 parser does the right thing and generates:

[code]

I'd like to close this issue since there's nothing Nokogiri can easily do to change this behavior.

As is customary in these situations, I'm offering to assist in filing a bug report upstream; but

[2021-12-20 19:14] #1135 closed

[2021-12-20 19:15] stevecheckoway commented on #1135
Just for the record, I haven't had any involvement with libxml2 other than as a user of the library.

[2021-12-20 19:18] flavorjones commented on #1135
Ahhhhh! Sorry, I didn't mean Steve Checkoway, I meant Nick Wellnhofer. Total brain fart, my apologies.

[2021-12-21 06:06] Tableator opened #2392 "[bug] missing exception handling"
Good morning.
I use nokogiri in diverse scripts to extract information from Web-Sites, notably translations from online-dictionaries, conjugations of French verbs and synonymes in German or French.
nokogiri 1.12.5 crashed upon a call to `nokogiri -e [expression]` in one script but not in another. This points at **an ill-composed expression**, but the only error I got to see is

[code]

Before I un

[2021-12-21 07:25] stevecheckoway commented on #2392
Hi @Tableator,

I take it from your message that you figured out that your problem stems from using `$_` inside double quoted strings on the command line.

I can trigger this crash with
[code]

The problem here is that the shell is the thing performing the variable expansion. When nokogiri is run, it sees the command line argument `puts getmail.at_css(div.result)` which it is running as ruby code.

[2021-12-21 12:48] Tableator commented on #2392
@stevecheckoway
The example in my OP is entirely constructed for the purpose, but NameErrors and uninitialized Variables where the authentic information I got from a similar call to Nokogiri.

As regards the  “better error message”, I will take the risk now to talk without having seen the code. But I feel rather safe, anyway:
Put a begin-rescue around the call to eval. Anything is better than the

[2021-12-21 16:42] stevecheckoway commented on #2392
Adding a message that the problem came from the expression passed to `-e` is a good suggestion, thanks! I'll bet @flavorjones would be open to a pull request which improves the error message.

Thinking about it, printing out the argument Nokogiri received would probably help future users diagnose the issue.

[2021-12-21 20:21] rfatemi-r7 opened #2393 "[bug] Call on terminated object"
Hi there,

I've been running into some issues where my method is called by a terminated object. This is most likely related to some external libraries used by `nokogiri` as I don't think this is something that can happen in pure ruby due to how the garbage collection works.

My bug report isn't going to be the most useful as I can't share much, whether it's data or ruby script. However, I can shar

[2021-12-22 04:41] flavorjones commented on #2392
I'm genuinely sorry you are encountering error messages that weren't clear to you.

I can reproduce this without Nokogiri using just `ruby -e`:

[code]

I don't think it's Nokogiri's responsibility to trap errors like this. The exception trace tells you exactly what Ruby thinks is wrong, and on which line; I don't think I could be more clearer by rescuing this exception.

@stevecheckoway the `-e`

[2021-12-22 04:41] #2392 closed

[2021-12-22 04:45] flavorjones commented on #2393
@rfatemi-r7 Thanks for opening this issue. Unfortunately there's not much I can do without being able to reproduce what you're seeing.

If you're unable to share the code that causes these errors, are you open to trying to reproduce it on your system using standard debugging tools that might give us more information (such as where the object was allocated and when it was freed)? Additionally, bein

[2021-12-22 05:33] stevecheckoway commented on #2392
@flavorjones To be clear, I was suggesting adding a line of context if an exception is raised during `eval`. Something like
[code]

[2021-12-22 07:31] Tableator commented on #2392
Wait a moment.
You use a software inside your own project. By chance, it is some gem that you use in a program called nokogiri.
Now you tell me that, if the developer of the gem or library or other piece of code that you use chose her/himself to inform future “_users_” – developers – of their code about possible pitfalls.., then what you think is needed is :
**To inform the users of your own progr

[2021-12-22 14:43] flavorjones commented on #2392
@stevecheckoway Oh, I quite like that idea, thanks for persisting and clarifying. I will do that.

@Tableator Again I'm sorry you've had trouble, and I can tell that you're upset; but I don't understand your response.

[2021-12-22 14:51] flavorjones commented on #2392
See #2394 for a PR to improve this

[2021-12-22 15:03] flavorjones commented on #2393
@rfatemi-r7 It would be helpful also to know what type of object is in your nodeset (elements? attributes? namespaces?), and what your sort function is inspecting. Without more information I won't be able to help.

[2021-12-22 15:41] flavorjones commented on #1295
The behavior described here is due to the underlying parsers, libxml2 and xerces. The XML spec does not address how to recover from malformed documents and so each parser tends to choose something slightly different.

Unfortunately there's no easy way for Nokogiri to change this behavior. The Guiding Principles called out in Nokogiri's README state a goal of:

So I'm going to close this with apolo

[2021-12-22 15:41] #1295 closed

[2021-12-22 17:45] rfatemi-r7 commented on #2393
@flavorjones Thanks for the comments. I just checked again and using your tools isn't an option for me at this time. However, I might be able to use `git bisect` to see if I can find the commit.
As for the type of object in my nodeset, I'm not sure I understand your question. I thought NodeSets contain Nokogiri::XML::Node objects only?

This is an example of what the sort function is trying to sor

[2021-12-22 18:36] flavorjones commented on #1853
See #2395 for a fix addressing the root cause here.

[2021-12-22 18:38] flavorjones commented on #2380
Merged #2379

[2021-12-22 18:38] #2380 closed

[2021-12-23 14:54] #1857 closed

[2021-12-24 14:33] flavorjones commented on #2390
@Overload119 Can you provide any additional information about reproducing this?

[2021-12-24 14:34] #2381 closed

[2021-12-24 14:39] flavorjones opened #2397 "Ship Ruby 3.1 precompiled native support"
This is a placeholder to ship a new version of Nokogiri with Ruby 3.1 precompiled native support.

Please note that **Nokogiri supports Ruby 3.1**, but until a precompiled native gem is shipped, you will have to use the `ruby` vanilla platform gem which will compile from source during installation. Modern `bundler` will do this for you automatically.

This work is currently waiting for a version o

[2021-12-24 18:24] Overload119 commented on #2390
After turning concurrency to 0 I no longer have the issue. I'm using a Rails environment and I think that's related to it.

I'd like to come back to enabling my script with concurrency but don't have a timeline for that so feel free to close. Can I reopen the issue when I make time to revisit it?

[2021-12-24 18:50] flavorjones commented on #2390
@Overload119 Please do follow up if you can reproduce it, thank you. Happy to re-open this issue when you do.

[2021-12-24 18:50] #2390 closed

[2021-12-24 19:03] flavorjones commented on #815
Took a few minutes to look at this, and it appears as though libxml2 is modifying the document passed into `XSLT::Stylesheet#transform`. It's not clear to me whether this is intentional behavior of libxml2 or if it's a bug.

You can see this happening if you `puts doc.to_xml` after each transform.

[2021-12-24 20:47] flavorjones commented on #1844
See #2399 for an updated version of this branch.

[2021-12-24 22:23] #1844 closed

[2021-12-24 22:41] flavorjones commented on #975
See #2401, should be fixed in v1.13.0

[2021-12-24 22:48] flavorjones commented on #1443
This has been fixed by #2399 (related to #1692).

[2021-12-24 22:48] #1443 closed

[2021-12-24 22:48] flavorjones commented on #1442
Please note that this has been fixed by #2399 (related to #1692). You can now pass ParseOptions to fragment-building methods like `Node.new`

[2021-12-24 23:23] flavorjones commented on #2354
Closing, because #2396 dropped 2.5 out of the testing matrix. Thanks again for your help, @MSP-Greg!

[2021-12-24 23:23] #2354 closed

[2021-12-25 01:06] #975 closed

[2021-12-25 04:22] flavorjones commented on #2376
Following up: writing a C builtin improved things _slightly_, from ~10x slower to ~6x slower. The xpath function overhead and memory allocation is still pretty noticeable:

![builtin](https://user-images.githubusercontent.com/8207/147377280-8ffe0598-294a-404f-b040-5b58e4d5e628.gif)

So then I dug into libxml2 and was able to hack in limited namespace wildcarding, which is almost as fast as a stand

[2021-12-25 04:24] flavorjones commented on #2376
So I'm about to submit a PR that I'm hoping to get into the next release that will use:

- `local-name()` as a fallback if we need to use standard XPath 1.0
- `nokogiri-builtin:local-name-is()` in libxml2 if it's using system libraries
- the patched libxml2 wildcard support in libxml2 if it's using packaged libraries

[2021-12-25 04:50] flavorjones commented on #2376
PR is https://github.com/sparklemotion/nokogiri/pull/2403

[2021-12-25 05:40] flavorjones commented on #2331
Moving this out one release to make sure the CSS query hacking is stable.

[2021-12-25 19:34] flavorjones commented on #1067
You may want to take a look at [Loofah](https://github.com/flavorjones/loofah) or [rgrove/sanitize: Ruby HTML and CSS sanitizer.](https://github.com/rgrove/sanitize) for sanitizing your HTML.

[2021-12-25 19:34] #1067 closed

[2021-12-25 20:35] connorshea commented on #2397
Not urgent at all, obviously, since it's Christmas :)

Just wanted to note that I ran into this when trying to upgrade a project to Ruby 3.1 and running `bundle install`:

[code]

[code]

The platforms in my Gemfile.lock include Ruby, so I'm not sure why Bundler isn't falling back to it automatically like (based on the description of this issue?) it should:

[code]

The following is my Gemfile and

[2021-12-25 21:16] psantos10 commented on #2397
@connorshea

1- Delete your Gemfile.lock
2 - run `bundle install`

[2021-12-26 12:35] deivid-rodriguez commented on #2397
We got a similar report on slack, bundler should be handling this fine, but this is tricky stuff and I believe we might not be there yet :( On an initial look, this would seem similar to https://github.com/rubygems/rubygems/issues/4455.

Does `bundle update nokogiri` work?

[2021-12-26 12:44] deivid-rodriguez commented on #2397
To clarify, Bundler should handle this just fine if there's no `Gemfile.lock`. This problem is specific to having a lockfile generated with a previous Ruby, and thus including platform specific variants of nokogiri not compatible with the running Ruby. That's why @connorshea's smart trick works.

[2021-12-26 13:05] deivid-rodriguez commented on #2397
So, I tried to reproduce now and things seem to just work for me, but I tested this under `arm64-darwin21`, which is not locked at all, so I guess that's why.

@simi reported that somehow ruby version constraints were by passed for him and `1.12.5-x86_64-linux` got installed under ruby 3.1. I guess that's what's causing the problem for him, but I still have no idea how `1.12.5-x86_64-linux` would

[2021-12-26 14:36] connorshea commented on #2397
@deivid-rodriguez My project is open source, so you can try reproducing it yourself:

- Clone https://github.com/connorshea/vglist
- Use 2.7.x (or 3.0.x I think?) on the `main` branch and `bundle install`
- Then switch to Ruby 3.1.0 by either using `rbenv local 3.1.0` or switching to the `test-branch-for-bundler-issue` branch which has a `.ruby-version` file.

I'm on an M1 Mac, if that matters at

[2021-12-26 14:38] deivid-rodriguez commented on #2397
Yup,, I managed to reproduce easily with your initial Gemfile, but creating a lockfile from scratch with ruby 3.0 and then bundle it with ruby 3.1. I'm working on a fix now.

[2021-12-26 15:17] deivid-rodriguez commented on #2397
This is trickier than it seemed to me in the first place :(

When using gem information from the lockfile, it is initially forbidden to fetch the "real underlying specification" for each gem and we're only allowed to use names, versions, and dependency information recorded in the lockfile. The problem is, `required_ruby_version` metadata is not recorded in the lockfile, so we can't check it before

[2021-12-26 15:21] connorshea commented on #2397
Thank you for all your great work as always, Deivid 🙇‍♂️

[2021-12-29 20:14] mockdeep commented on #2397
Oddly, I ran into this issue [with *only* `ruby` in the `PLATFORMS` section](https://github.com/mockdeep/lmkw/blob/66268664e5e8d900b4f8a8f1ef15cc4fcc54f81b/Gemfile.lock#L429-L430). When I deleted the `Gemfile.lock` and ran `bundle` it updated `PLATFORMS` to be just `x86_64-linux`.

[2021-12-29 20:21] deivid-rodriguez commented on #2397
Yes, I think that is expected. Even if your lockfile is locked to RUBY, bundler will still try to also resolve for your specific platform, and will run into the same issue.

[2021-12-29 21:02] skaes commented on #2397
In my experience, the only reliable way to avoid the aforementioned problems is to use `bundle config set force_ruby_platform true`.

[2021-12-29 21:07] sergiopantoja commented on #2397
I had a similar experience as @mockdeep. I deleted my Gemfile.lock, ran `bundle`, and it completed successfully on an Macbook Air M1. My Gemfile.lock diff afterwards was:

[code]

[2021-12-29 21:18] deivid-rodriguez commented on #2397
Has someone tried `bundle update nokogiri`? I just tried it myself and it worked fine, since it completely avoids the lockfile for nokogiri.

[2021-12-29 21:38] bak commented on #2397
On an intel mac, with several rails applications, deleting the `Gemfile.lock` (or bypassing with `bundle update nokogiri`) didn't work for me. Following @skaes' advice, however, has produced clean builds with no lockfile diff.

[2021-12-29 21:56] deivid-rodriguez commented on #2397
Really? What error did you get? That's completely unexpected and sounds like a similar issue to the one reported by @simi in Slack. If you were able to reproduce that and report an issue to https://github.com/rubygems/rubygems, that'd be great.

[2021-12-29 22:03] bak commented on #2397
@deivid-rodriguez the error I was getting from running `bundle install` against an existing Gemfile was:

[code]
Which is oddly very close to but not exactly what @connorshea reported above (the version bounds are reversed—they had `< 3.1.dev, >= 2.5`).

My Gemfile's platforms were simply:
[code]

[2021-12-29 22:04] simi commented on #2397
This is exactly my problem, I'll try to dig deeper soon to provide reproducing script.

[2021-12-29 23:08] bak commented on #2397
I'm able to repro with a `Gemfile` that simply contains:

[code]

Here's a transcript of working with it:

[code]

One thing that jumps out at me is, after I set `force_ruby_platform` to `false`, the install succeeds again but as `Using nokogiri 1.12.5 **(x86_64-darwin)**`

@deivid-rodriguez apologies, I'm not sure exactly how to frame this for a rubygems issue. What other info could I provide?

[2021-12-29 23:18] deivid-rodriguez commented on #2397
So @simi's issue was that somehow `nokogiri-1.12.5-x86_64-x86_64-linux` got installed in his system on Ruby 3.1, which is completely unexpected since it's not supported there. Somehow `required_ruby_version` constraints were bypassed but we don't know how yet. I think your issue is the same, but on MacOS. If you manually uninstall `nokogiri-1.12.5-x86_64-darwin` through `gem uninstall nokogiri`, i

[2021-12-29 23:32] deivid-rodriguez commented on #2397
No, not really, I'm unable to reproduce this :(

[2021-12-29 23:51] bak commented on #2397
Yep you're right, after doing `gem uninstall nokogiri` (and "yes"ing everything), it behaves great.

[2021-12-30 00:12] bak commented on #2397
@deivid-rodriguez I think I've got something. My initial `bundle install` with Ruby 3.1.0 was on a project that used a private gem repository (Artifactory) instead of rubygems. Redoing the basic `Gemfile` above allows the platform-specific version to be installed:

[code]

Unfortunately I'm not very familiar with how the repository is configured, but happy to dig in where I can.

[2021-12-30 00:14] bak commented on #2397
Also apologies for continuing this thread—this is clearly not a nokogiri-specific bug. I'm honestly not sure it's a rubygems bug, or if the private repository is misconfigured somehow.

[2021-12-30 00:15] simi commented on #2397
My problem was with Geminabox private repo, but I have seen it using rubygem.org as well.

[2021-12-30 00:17] bak commented on #2397
@simi did you `gem uninstall nokogiri` between the two? It seems that, once the platform-specific version is allowed through, it will reproduce for Gemfiles with the rubygems source.

[2021-12-30 00:19] deivid-rodriguez commented on #2397
Yeah, maybe this should be moved to our repository. I think the culprit is here:

https://github.com/rubygems/rubygems/blob/62d14e47f58d8cc3c32f0e69a082c7d9a16a001e/bundler/lib/bundler/lazy_specification.rb#L92-L96

The actual filtering of `required_ruby_version` is only done for `EndpointSpecification`s, which represent the data given by the Compact Index API. Older APIs provide `RemoteSpecificat

[2021-12-30 05:45] mockdeep commented on #2397
I tried that and it didn't fix the issue. I needed to regenerate `Gemfile.lock`.

[2022-01-02 18:07] flavorjones commented on #974
Closing. The extconf.rb has been extensively rewritten since 2013 and compiler argument should no longer be an issue.

[2022-01-02 18:07] #974 closed

[2022-01-03 18:36] flavorjones commented on #1041
Reproduced with main @ 238bc49

[2022-01-03 18:37] ajpalok opened #2404 "Nokogiri gem isn't installing in Termux application"
#### According to the instructions of installation process, I tried to install the Nokogiri gem in **Termux**, but this is causing some errors for a couple of days with the following outputs:

[code]

#### In `mkmf.log` file we got this:

[code]

#### In /data/data/com.termux/files/usr/lib/ruby/gems/3.1.0/extensions/aarch64-linux-android/3.1.0/nokogiri-1.12.5/gem_make.out file

[code]

This proble

[2022-01-03 19:09] flavorjones commented on #2404
The error message in your log is:

[code]

Do you have `ar` installed? Does the documentation at https://nokogiri.org/tutorials/installing_nokogiri.html#termux install `ar` correctly? If not, I would be grateful if you could contribute back an improvement to those docs for future termux users.

[2022-01-03 19:09] #2404 closed

[2022-01-03 20:57] flavorjones commented on #2397
Hi, although this conversation is valuable, I'd prefer if it didn't happen here and instead happened on a bundler issue. @deivid-rodriguez can you recommend somewhere this can continue?

Please don't run `bundle config set force_ruby_platform true` to work around problems. Instead uninstall all nokogiri versions from your system and re-bundle.

[2022-01-03 22:13] flavorjones commented on #2397
See #2408 for status on shipping 3.1 support in native precompiled gem releases.

[2022-01-03 23:18] deivid-rodriguez commented on #2397
@flavorjones Yes, I'm so sorry for hijacking this thread with a bundler issue. I created a fresh ticket in our repository: https://github.com/rubygems/rubygems/issues/5251. Let's post any comments about that issue there.

[2022-01-04 02:39] MtnBiker commented on #2397
I hope this isn't adding noise. On MBP M1. No Gemfile.lock file has yet been created. New Rail 7 app

    ➜ gem install nokogiri
    Building native extensions. This could take a while...
    Successfully installed nokogiri-1.12.5
    1 gem installed

    app_name on  main [?] via 💎 ruby-3.1.0 took 42s
    ➜ bundle update
    Fetching gem metadata from https://rubygems.org/...........
    Resolvi

[2022-01-04 02:50] ajpalok commented on #2404
Thanks for the huge help. For me, the following package installation helped me instantly to install nokogiri:

[code]
binutils wasn't installed in my new device which causes the error..
Again thanks for the help!

[2022-01-04 15:24] flavorjones commented on #2404
Thanks for closing the loop, I'll update the installation tutorial docs at https://nokogiri.org/tutorials/installing_nokogiri.html

[2022-01-04 15:28] flavorjones commented on #2397
@MtnBiker please uninstall all versions of nokogiri and try again.

[2022-01-05 07:09] AlexSun1995 opened #2410 "UtfHelpper.writeCharToUtf8 cannot handle unicode supplementary character"
https://github.com/sparklemotion/nokogiri/blob/55029bfba481338825c99e78af2b182b1cc49e04/ext/java/nokogiri/internals/c14n/UtfHelpper.java#L51

since the Canonicalizer process input String character by character. Java uses 16 bits to represent  a character; when the input string contains Unicode characters whose code pen are larger than 0Xffff（65535)  it will be split into two char, since neither ch

[2022-01-05 13:51] flavorjones commented on #2410
@AlexSun1995 Thanks for opening this issue, I'll try to help.

Can you please take a moment to provide Ruby code that reproduces the issue you're seeing? Please see https://raw.githubusercontent.com/sparklemotion/nokogiri/main/.github/ISSUE_TEMPLATE/3-bug-report.md for guidance on how to do this.

[2022-01-06 12:56] #2397 closed

[2022-01-06 16:01] MtnBiker commented on #2397
@flavorjones and others. Thank you. I sorted it out. I think the problem was that Rails 7.0.0 wasn't compatible with Ruby 3.1.0. So went with another version of Ruby. Ran into another problem with pg. Lots of activity on Rails, but in response tot the 3.1.0 problem: "This is already fixed on main - #43951.
It was expected for rails 7.0.1 to be released before ruby 3.1.0. See https://bugs.ruby-lang

[2022-01-06 18:54] flavorjones commented on #961
This is fixed on `main` by 38c2f16, see #1158 for a related bug report and additional context. This will be fixed in the next release of Nokogiri, v1.13.0 (sometime in the next few days).

[2022-01-06 18:54] #961 closed

[2022-01-06 20:21] flavorjones commented on #2376
PR has been merged, this will be fixed in v1.13.0 (release is imminent)

[2022-01-06 20:21] #2376 closed

[2022-01-06 22:41] Justin-W opened #2413 "[bug] nokogiri v1.13.0 breaks backwards compatibility (should be v2.0. not v1.13.0)"
**Please describe the bug**

[nokogiri v1.13.0](https://github.com/sparklemotion/nokogiri/releases/tag/v1.13.0) explicitly removed support for ruby versions < v2.6, which according to the [SemVer spec](https://semver.org/), should only be done in a Major release, not during a Minor or Patch release.

**Help us reproduce what you're seeing**

Bundle any gem which depends on nokogiri v1.x (e.g. `nok

[2022-01-06 23:07] Magisus commented on #2413
We are hitting this also, and can pin if needed, but agree with @Justin-W that this is really a breaking change.

[2022-01-06 23:13] flavorjones commented on #2413
Hello and thank you for bringing up this topic! I'm sorry you're having problems with this.

I've tried hard to state clearly what our versioning policy is here:

- https://github.com/sparklemotion/nokogiri/blob/main/README.md#semantic-versioning-policy

Deprecating old versions of Ruby is something we've always done in patch releases in the past. Additionally I'll point out that SemVer (or at lea

[2022-01-06 23:13] #2413 closed

[2022-01-06 23:25] flavorjones commented on #2413
I'll also point out that modern bundler handles this case well. If I'm running Ruby 2.5.9, and this is my Gemfile:

[code]

then "bundle update" does the right thing and chooses the latest version of nokogiri that supports Ruby 2.5:

[code]

I think that you may be able to manage your situation by upgrading to a modern bundler, and if necessary specifying your version of ruby in your Gemfile.

[2022-01-06 23:28] Magisus commented on #2413
Thanks for this tip, I'll look into it 🙂

[2022-01-07 18:40] navied opened #2414 "[bug] v1.13.0 fails to load on ARM alpine linux"
Running nokogiri v1.13.0 on alpine arm images fails to load likely because it requires a musl compiled package

**Help us reproduce what you're seeing**

Reproduction steps for ARM based OS:

[code]
**Additional context**

It works perfectly fine on the docker ruby bullsye images

[2022-01-07 18:44] xPalmer commented on #2414
Hey all -- commenting in that I'm getting a 403 at RubyGems with `gem install nokogiri` starting yesterday, both locally and in builds. Possibly related.

[code]

[2022-01-07 19:08] navied commented on #2414
Looks like WSL linux is not reporting the OS properly here, think this probably a different issue

[2022-01-07 19:35] xPalmer opened #2415 "[install] 403 Forbidden on RubyGems during gem install"
**Have you read and followed the installation tutorial at http://www.nokogiri.org/tutorials/installing_nokogiri.html?**

- [X ] Yes!

**What is the complete output of `gem install` or `bundle install`?**

[code]

**Tell us about your system!**

What is the output from `ruby -v`?

[code]

What is the output from `gem -v`?

[code]

What is the output from `gem env`?

[code]

If Linux or a BSD varian

[2022-01-07 20:28] lowlighter commented on #2415
Getting the same issue, but on a debian buster (though it's a docker container)
[code]

The mentioned address outputs an xml error:
[code]

[2022-01-07 21:01] flavorjones commented on #2415
@xPalmer Sorry you're having a problem, I'll try to help.

So, the first thing you should take note of is that Nokogiri v1.13.0 does not support Ruby 2.5, which is probably a case that your version of rubygems or bundler doesn't support.

I would recommend using a modern version of Bundler to resolve your dependencies if you can, because Bundler is smart enough to use the latest version of a gem t

[2022-01-07 21:01] #2415 closed

[2022-01-07 21:24] flavorjones commented on #2414
@navied Thanks for opening a new issue.

Unfortunately I don't know if I'm reproducing what you're seeing because you haven't provided enough information. The point of me asking you to open a new issue was to have you fill out the template so that I wouldn't have to ask a bunch of questions and do a back-and-forth.

So I'll tell you what I did, and you tell me what you're doing differently.

1. I

[2022-01-07 21:45] flavorjones commented on #2414
I've added a new section to the installation page detailing the gcompat workaround:

https://nokogiri.org/tutorials/installing_nokogiri.html#linux-musl-error-loading-shared-library

Please let me know if that's helpful?

[2022-01-07 22:12] flavorjones commented on #1247
@ccutrer Apologies for not responding for such an embarrassingly long time.

Yes, this appears to be a bug. The buggy behavior becomes more visible with this version of your script:

[code]

The above was reproduced with Nokogiri v1.13.0

[2022-01-07 22:16] #1220 closed

[2022-01-08 01:21] navied commented on #2414
@flavorjones the missing gcompat was it! Sorry should have done more googling into it clearly, I will close the issue now thanks for looking into it.

[2022-01-08 01:21] #2414 closed

[2022-01-09 10:18] ajpalok opened #2416 "[bug] v1.13.0 fails to load on aarch64-linux through Termux app"
After updating Nokogiri gem to the v1.13.0 the following error is showing in **Rails server**

[code]

**Environment**

While this error occured with Ruby v3.1.0.

[2022-01-09 14:52] daniel-sciome opened #2417 "gem repo server is responding with a 403 error [install]"
**Have you read and followed the installation tutorial at http://www.nokogiri.org/tutorials/installing_nokogiri.html?**

- [x] Yes!

**What is the complete output of `gem install` or `bundle install`?**

[code]

**If installation completed but is broken, what is the complete output from `nokogiri -v`?**

[code]

**If installation failed during compilation, what are the complete contents of the `mk