[2022-01-09 16:21] flavorjones commented on #2417
Duplicate of https://github.com/sparklemotion/nokogiri/issues/2415

[2022-01-09 16:21] #2417 closed

[2022-01-09 16:22] flavorjones commented on #2416
Please reopen using the bug report template, thank you.

[2022-01-09 16:22] #2416 closed

[2022-01-09 16:38] flavorjones commented on #2416
It may be helpful to check this newly-added troubleshooting section: https://nokogiri.org/tutorials/installing_nokogiri.html#cannot-load-such-file-nokogirinokogiri-loaderror

[2022-01-09 18:16] ajpalok commented on #2416
I have updated the issue #2416, Please check it out to help me here.

[2022-01-09 18:53] flavorjones commented on #2416
@ajpalok I'm sorry, you still have not provided enough information for me to help you. The "issue templates" were written to help you provide us with the necessary information.

Please see https://raw.githubusercontent.com/sparklemotion/nokogiri/main/.github/ISSUE_TEMPLATE/1-installation-difficulties.md for the information you should provide.

[2022-01-09 18:53] flavorjones commented on #2416
Looking now.

[2022-01-09 18:55] flavorjones commented on #2416
The interesting line from the log file is:

Have you followed the instructions for termux at https://nokogiri.org/tutorials/installing_nokogiri.html#other-installation-scenarios ?

[2022-01-09 21:23] nickoe commented on #2415
I also get this error, tested with a docker container based on alpine.

[code]

Forcing install of `gem install nokogiri:1.12.5 --no-document` works ok. Something must have changed with nokogiri.

I am not really familiar with the ruby/rubygem eco-system, but I just hit this as it is a dependency one something else.

[2022-01-09 22:04] daniel-sciome commented on #2417
this worked not 10 days ago.

From: Mike Dalessio ***@***.***>
Sent: Sunday, January 9, 2022 11:22 AM
To: sparklemotion/nokogiri ***@***.***>
Cc: Daniel Svoboda ***@***.***>; Author ***@***.***>
Subject: Re: [sparklemotion/nokogiri] gem repo server is responding with a 403 error [install] (Issue #2417)

Closed #2417<https://github.com/sparklemotion/nokogiri/issues/2417>.

—
Reply to this email dir

[2022-01-09 23:47] ajpalok commented on #2416
Yes. I've installed everything in Termux to run this. Rails was working properly before the bundle update.

[2022-01-10 14:53] jcoyne opened #2418 "[bug] Regression in 1.13.0 in XSLT.quote_params"
In nokogiri 1.12 and before I was able to send integers to XSLT.quote_params:

[code]

After upgrading to 1.13.0 this results in a TypeError:

[code]

[2022-01-10 17:58] flavorjones commented on #2184
Notes to self: work needed on the branch:

- document NodeSet
- delete C code
- explore JRuby code deletion
- memory: test with valgrind/memcheck
- memory: think hard about leak scenarios (in the leak test suite maybe)

[2022-01-10 18:59] ajpalok commented on #2416
@flavorjones I've tried to install a fresh new **Rails 7.0.1 app** in **aarch64-linux** through *Termux* to view the error from different perspective. Here I got this:

[code]

[2022-01-10 19:33] flavorjones commented on #1441
Hi, apologies for not responding for so long.

I rewrote your script like this to investigate:

[code]

It's important to note that both CRuby (libxml2) and JRuby (xerces) give encoding errors during parsing:

libxml2:
[code]

xerces:
[code]

Both implementations attempt to correct the markup by closing any open tags, leading to the same document structure:

[code]

though the CRuby implementation

[2022-01-10 19:33] #1441 closed

[2022-01-10 19:53] flavorjones commented on #2415
Nokogiri v1.13.0 does not support Ruby 2.5.

[2022-01-10 19:55] flavorjones commented on #2417
You said:

I said:

Please help me understand if I've missed something.

[2022-01-10 20:27] flavorjones commented on #2418
@jcoyne Thanks for opening this! I'll take a look.

[2022-01-10 20:36] flavorjones commented on #2418
git bisect isolated this regression to 3099528 which is ... :thinking:

Should be an easy fix, though.

[2022-01-10 20:37] flavorjones commented on #2418
Basically:

[code]

[2022-01-10 22:34] nickoe commented on #2415
@flavorjones Ah, sorry! :S I read it as "it was the minimum required" -- but I see now that is not what it says.

[2022-01-10 23:50] CvX opened #2419 "[bug] Regression in 1.13.0 in DocumentFragment#css?"
The following code used to work before 1.13.0:

[code]

Now it raises:

[code]

Stack trace:

[code]

**Additional context**

You can see the failure in the wild here: https://github.com/discourse/discourse/runs/4768400926?check_suite_focus=true#step:25:23

I don't know if it's related to https://github.com/sparklemotion/nokogiri/issues/2418

[2022-01-11 02:18] flavorjones commented on #2416
@ajpalok The error in your latest response is the same: `LoadError: dlopen failed: library "libm.so.6" not found`

I'm not familiar with termux, so unless you walk me through how to reproduce this (is there a docker image I can pull?), I have to ask that you do some investigation yourself into whether this library is installed on your system and if not, is it possible to get it installed through a

[2022-01-11 02:21] flavorjones commented on #2416
If you're not able to figure this out, it may be worth asking in a termux-focused forum. But please keep in mind that if you are able to figure this out, I'd be happy to update the nokogiri.org installation documentation with more complete instructions. Thank you!

[2022-01-11 02:32] woodhull commented on #2416
I'm experiencing a potentially similar issue after gem update, using Docker, on a graviton2 powered instance on AWS.

We are using Alpine with a docker image based on the official `ruby:3.0.3-alpine` as a starting point.

Rails 6.1.4.4 and nokogiri `1.13.0`

[code]

[2022-01-11 02:37] flavorjones commented on #2419
@CvX Thanks for reporting this! It's unrelated to #2418.

This is an interesting failure -- and is most likely happening because nokogiri's ruby code is running against something besides the packaged/vendored libxml2 (with the patch `0009-allow-wildcard-namespaces.patch` applied).

Is it possible that you're pulling in a libxml2 library from somewhere else (an earlier version of nokogiri or libxml

[2022-01-11 02:46] flavorjones commented on #2419
Hey! Good news, I can reproduce this in the `discourse/discourse_test:slim` docker container. Give me a bit.

[2022-01-11 02:51] woodhull commented on #2416
I fixed my issue by installing `gcompat`. Not sure why this dependency is now required in this new version on Alpine.

[2022-01-11 03:47] flavorjones commented on #2418
PR at #2420

[2022-01-11 05:33] flavorjones commented on #2419
@CvX Ah, ok, so I apologize for my confusion above -- this is pretty easily reproducible once I got my local system into a good state.

## Some background context

For context, Nokogiri implements CSS selector searches by translating them into the equivalent XPath query. So, for example:

[code]

When you write a CSS selector that looks like `img/@href`, it is converted in a way that looks sensibl

[2022-01-11 06:24] flavorjones commented on #2416
@woodhull Yes, the [docs were updated to include `gcompat` for musl systems](https://nokogiri.org/tutorials/installing_nokogiri.html#linux-musl-error-loading-shared-library) a few days ago. That is unrelated to this issue.

[2022-01-11 06:32] flavorjones commented on #2416
@woodhull The reason you didn't used to have to install `gcompat` is because you were compiling Nokogiri on your aarch64-linux system at compile time. Nokogiri v1.13.0 ships native (precompiled) gems for aarch64-linux and so now you need the glibc compatibility libraries to run it. If you want to opt out of this behavior please open a new issue and I can walk you through it.

[2022-01-11 13:28] CvX commented on #2419
Thank you for the detailed write-up! 👏 I will take your recommendation. It was a bit weird in the first place to use this xpath-but-not-really syntax with the `css` method. 😃

[2022-01-11 13:46] flavorjones commented on #2419
@CvX Happy to help. Also, I want to point out a mistake I made above, the XPath version of that fragment search is

[code]

That is, the XPath query prefix for "anywhere in this fragment" should be `.//` not `//` for unobvious reasons dating back to original implementation of DocumentFragment.

[2022-01-11 14:01] #2418 closed

[2022-01-11 14:05] jcoyne commented on #2418
Thank you @flavorjones !

[2022-01-11 14:07] flavorjones commented on #2418
I'm hoping to ship v1.13.1 today or tomorrow. Working on one other regression.

[2022-01-11 15:43] flavorjones commented on #2416
@ajpalok I don't understand why you've opened an issue on rails: https://github.com/rails/rails/issues/44149

Termux is not supported, and I've been doing my best to help you. Please ask for more assistance on a termux-specific forum about how to resolve the `libm.so` library ... or follow the instructions on nokogiri.org to avoid using the precompiled gems: https://nokogiri.org/tutorials/installi

[2022-01-11 16:09] CvX commented on #2419
A small curveball regarding the css -> xpath transition:

[code]

…but as I was typing this, I think I just worked it out:

[code]

The fascinating world of XPath 😂

---

btw. I also found another almost-xpath `css` call in our codebase: `css("text()")` So keep in mind that all sorts of xpath-like is being passed to that method in the wild! 😃

[2022-01-11 16:14] flavorjones commented on #2419
@CvX Yeah, searching within fragments is wonky and has edge cases with the search path like this. Sorry for your troubles. I've been tracking some of these issues at https://nokogiri.org/ROADMAP.html#documentfragment but also starting to work on a re-implementation at https://github.com/sparklemotion/nokogiri/issues/2184

Thanks for the note about `text()`, I'll make sure that's got test coverage

[2022-01-11 17:20] CvX commented on #2419
Huh, yet another difference!

[code]

But that can also be worked around!

[code]

So my original query will look like this:

[code]

I'm starting to really appreciate the mixed syntax! 😅

[2022-01-11 17:28] flavorjones commented on #2419
Yeah, fragment searching is pretty bad, sorry. If you prefer, you could hold off on upgrading for a day and I should be able to get a patch release out.

[2022-01-12 22:46] flavorjones commented on #2419
PR with a proposed fix is at #2422

[2022-01-13 01:59] #2419 closed

[2022-01-13 02:17] flavorjones commented on #2419
waiting for the backport to go green at #2423 and then I'll cut v1.13.1, probably tomorrow morning.

[2022-01-13 16:52] flavorjones commented on #2418
v1.13.1 is out now: https://github.com/sparklemotion/nokogiri/releases/tag/v1.13.1

[2022-01-13 16:52] flavorjones commented on #2419
v1.13.1 is out now: https://github.com/sparklemotion/nokogiri/releases/tag/v1.13.1

[2022-01-16 16:32] flavorjones commented on #954
This seems to be fixed in v1.11.0 and later.

[2022-01-16 16:32] #954 closed

[2022-01-16 16:54] flavorjones commented on #918
This bug is similar to #671 which seems to be an issue with libxml2. What's different is that this report covers parsing in-memory strings, and #671 covers parsing IO, which are two different libxml2 functions. Regardless, they seem related.

[2022-01-16 16:54] flavorjones commented on #671
Similar to #918

[2022-01-16 17:08] flavorjones commented on #1322
This has been fixed since v1.6.8, I believe. Apologies for not responding before now.

Current behavior:

[code]

[2022-01-16 17:08] #1322 closed

[2022-01-16 17:25] flavorjones commented on #1027
Thank you for reporting this, and apologies for taking such a long time to respond.

The behavior you're describing comes from the underlying parser, libxml2, and so there's not much Nokogiri can easily do to change that behavior. For prior conversation on this topic, see this libxml2 mailing list thread:

https://bugzilla.gnome.org/show_bug.cgi?id=739574

In particular, note the responses of the

[2022-01-16 17:25] #1027 closed

[2022-01-16 19:29] flavorjones commented on #1469
Apologies for not responding on this issue before now. This was originally reported at #425 and was fixed in #1712 for v1.12.0, but then modified in #2320 for v1.12.4.

Current behavior is controlled by `Document#namespace_inheritance` described at:

- https://nokogiri.org/rdoc/Nokogiri/XML/Document.html#attribute-i-namespace_inheritance
- https://nokogiri.org/rdoc/Nokogiri/XML/Builder.html?h=buil

[2022-01-16 19:29] #1469 closed

[2022-01-16 19:32] flavorjones commented on #2410
@AlexSun1995 Please help me reproduce what you're seeing?

[2022-01-16 19:33] flavorjones commented on #2393
@rfatemi-r7 Can you please help me reproduce what you're seeing?

[2022-01-16 20:39] flavorjones commented on #2362
PR #2425 adds this test coverage.

[2022-01-17 12:22] #2362 closed

[2022-01-17 17:34] ajpalok commented on #2416
After the documentation update in https://github.com/sparklemotion/nokogiri.org/commit/fc8c33dc965fe7239125e4ecf554e8ac84b41f12 and by following that, I found something wrong. After uninstalling nokogiri completely from my device to check it by reinstalling to debug everything from scratch to find if there any issue remains. and got that:

[code]

But this can be fixed by running `gem install noko

[2022-01-18 13:23] flavorjones opened #2427 "update GLIBC error message"
Currently the minimum glibc is different between x86* and arm64 linux:

[code]

However, the error message emitted by `lib/nokogiri/extension.rb` specifies just the x86* requirement. That error message should be made more clear.

Originally reported by @joeyparis at https://github.com/sparklemotion/nokogiri/discussions/2359#discussioncomment-1985748

[2022-01-18 14:47] flavorjones commented on #2427
PR #2428 and https://github.com/sparklemotion/nokogiri.org/commit/9481914 update the error message and documentation.

[2022-01-18 14:56] #2427 closed

[2022-01-18 16:03] #2393 closed

[2022-01-19 09:21] AlexSun1995 commented on #2410
sorry for late,
notice such codes below:
[code]
the output would be:
<foo><bar></bar>??</foo>
![image](https://user-images.githubusercontent.com/25575452/150100961-e78f340e-46f5-4a69-a73e-637eb5b12545.png)

I am running on jruby 9.3.2.0, I guess it's  some java dependencies's bug

[2022-01-19 14:40] matheusvetor opened #2430 "[bug] cannot load such file -- nokogiri/nokogiri (v=1.13.1 on Mac M1 with Docker)"
I'm using docker with docker compose on macbook air M1. When updating nokogiri from 1.12.5 to 1.13.1 on a new Rails 7 project the following error shows up. I already see the 1.13 implements `aarch64-linux` version and thats the problem when using the setup like mine.

NOTE: I built a similar docker environment to run nokogiri tests and except for rubocop, all other rake stack are running ok.
[code

[2022-01-19 14:53] flavorjones commented on #1045
Closing, see the conversation at #1050 for the history of this feature suggestion.

[2022-01-19 14:53] #1045 closed

[2022-01-19 16:38] flavorjones commented on #2430
@matheusvetor Thanks for asking this question, and sorry you're having problems.

Your log file tells the story:

The installation documentation has been updated within the last couple of weeks to address this issue:

https://nokogiri.org/tutorials/installing_nokogiri.html#linux-musl-error-loading-shared-library

I'll save you a click:

[2022-01-19 16:38] #2430 closed

[2022-01-19 16:44] flavorjones commented on #2410
On CRuby 3.1.0 I see the correct output:

[code]

On JRuby 9.3.2.0 I see:

[code]

So, yes, this appears to be an issue with the underlying JRuby implementation. I will take a look.

[2022-01-19 18:04] flavorjones commented on #2410
I'd like to remove the c14n code from Nokogiri and instead use the upstream JDK jars for this. That will be much easier to do once #1253 and #1967 get merged.

[2022-01-20 03:10] flavorjones commented on #2410
Uh, quick correction to the above: libxml2 appears to do this incorrectly. This test:

[code]

fails with libxml2:

[code]

However, the good news is that by moving to `org.apache.santuario:xmlsec:2.3.0` that test passes on JRuby.

[2022-01-20 04:34] flavorjones commented on #1253
#2432 introduced jar-dependencies. ✔

[2022-01-20 04:34] #1253 closed

[2022-01-20 06:25] flavorjones commented on #2410
Good news: by moving to `org.apache.santuario:xmlsec:2.3.0`, the encoding test you provided passes on JRuby.

Unfortunately, the previous c14n code was a patched version to work within the original c14n API design borrowed from libxml2, and so the block parameter passed to `Document#canonicalize` is broken and I'll need some time to work around it in order to implement `Node#canonicalize` for both

[2022-01-20 20:07] flavorjones commented on #1395
#2432 introduces this, at least for _direct_ java dependencies. I'm leaving this open so I can circle back and make it work for _transitive_ java dependencies as well.

[2022-01-21 20:25] flavorjones commented on #752
@Phrogz, thanks for opening this issue and apologies for the embarrassingly long time it's taken to respond.

This is likely a libxml2 parsing bug. It feels similar in nature to these:

- https://github.com/sparklemotion/nokogiri/issues/2028#issuecomment-703314402
- https://github.com/sparklemotion/nokogiri/issues/2132#issuecomment-742938515

and I'll try to fix and send a PR upstream ... might ne

[2022-01-22 01:46] Khaleb2003 opened #2433 "[help]"
**What problem are you trying to solve?**

Damn
Zhhsh
**Please show your code!**

**Environment**

**Additional context**

[2022-01-22 16:24] #2433 closed

[2022-01-22 18:01] flavorjones commented on #965
Hi, thanks for reporting this, and apologies for not responding for such a long time. I'm unable to reproduce this right now, because I don't have a kfreebsd system available to me. If this is still an issue, please let me know and we can talk about how to reproduce and diagnose what's going on.

[2022-01-22 18:01] #965 closed

[2022-01-23 17:43] flavorjones commented on #752
Phew, this was a tricky one to figure out, but it turns out that Nokogiri wasn't using the proper encoding after libxml2 flushed its internal buffer for the first time. As long as a UTF-16 document was longer than ~4000 code points, this bug would be triggered.

See https://github.com/sparklemotion/nokogiri/pull/2434/commits/2e260f53e6b84b8f9c1b115b0ded85eebc8155d7 for the fix, and #2434 for the P

[2022-01-23 20:21] flavorjones commented on #752
Fixed by #2434, will be in the next minor release of Nokogiri (v1.14.0)

[2022-01-23 20:21] #752 closed

[2022-01-26 10:39] davue opened #2436 "[bug][jruby] Strikethrough tag causes incorrect HTML parsing in JRuby"
**Please describe the bug**
If you parse an HTML string containing a `<s></s>` tag. The elements above the `<s></s>` tag are duplicated into a seperate child element without content and the other child with the actual content will have inverted order. Strangely this only seems to happen with `<s></s>` tags, all other tags are parsed just fine.

**Help us reproduce what you're seeing**
Open a JRuby

[2022-01-26 15:17] flavorjones commented on #2436
@davue Thanks for reporting this! That's certainly strange behavior, I'll take a look later today.

[2022-01-26 18:11] flavorjones opened #2437 "publish patched NekoDTD to Maven Central"
## Problem summary

Currently Nokogiri's java native gem depends on patched versions of NekoDTD and NekoHTML. The binary artifacts only exist in Nokogiri's git repo and if I needed to reproduce them I would be starting from scratch.

## Historical context

In the past (e.g., 2e5ce32 in 2012 and 6166964 in 2015) we've patched NekoHTML and NekoDTD to fix bugs or parsing errors. These repositories li

[2022-01-26 18:12] flavorjones commented on #2437
@jvshahid Would you be open to transferring ownership of those repositories to me or to the sparklemotion org? That would unblock me to do the rest of the work.

[2022-01-26 18:12] flavorjones commented on #2436
OK, so here's a trick I use a lot to diagnose parser behavior like this: check the `doc.errors` to see what warnings and errors the parser noticed along the way.

[code]

So we see that the parser used by JRuby (NekoHTML) thinks that `<s>` should close an open `<strong>`, and it closes it. Later, it likely has some logic to wrap a preceding text node when it see a closing `</strong>` tag. This kin

[2022-01-27 09:01] patyizsolt opened #2438 "[install]"
**Have you read and followed the installation tutorial at http://www.nokogiri.org/tutorials/installing_nokogiri.html?**

- [ ] Yes!

**What is the complete output of `gem install` or `bundle install`?**

[code]

**If installation completed but is broken, what is the complete output from `nokogiri -v`?**

[code]

**If installation failed during compilation, what are the complete contents of the `mk

[2022-01-27 09:01] #2438 closed

[2022-01-27 09:03] patyizsolt opened #2439 "[bug]"
**Please describe the bug**

**Help us reproduce what you're seeing**

**Expected behavior**

**Environment**

**Additional context**

[2022-01-27 15:14] #2439 closed

[2022-01-28 21:20] flavorjones commented on #2437
Thanks, @jvshahid! Repositories have been transferred to @sparklemotion/nokogiri-core

- https://github.com/sparklemotion/nekohtml
- https://github.com/sparklemotion/nekodtd

[2022-01-29 20:02] flavorjones opened #2441 "update JRuby dependencies to xercesImpl 2.12.2"
This is a placeholder ticket to consider https://github.com/advisories/GHSA-h65f-jvqw-m9fj

[2022-01-29 20:14] flavorjones commented on #2437
I've created a JIRA account at OSSRH and requested a new project with the groupId `org.nokogiri`: https://issues.sonatype.org/browse/OSSRH-77736

[2022-02-01 18:12] flavorjones commented on #1018
@coffeeaddict Thanks for opening this issue, and apologies for taking so long to respond.

I believe the issue is that you're trying to parse HTML with the XML SAX parser. Here's what I see when I use the XML SAX parser:

[code]

The output is:

[code]

But using the HTML SAX parser:

[code]

outputs

[code]

I hope that makes sense!

[2022-02-01 18:12] #1018 closed

[2022-02-01 19:00] flavorjones opened #2443 "[feature] Consider using native-package-installer if users opt into system libraries"
If users choose to use system libraries, it might be good to use https://rubygems.org/gems/native-package-installer/ to help users get up and running without having to find and read the [installation docs](https://nokogiri.org/tutorials/installing_nokogiri.html).

Example usage: https://github.com/rcairo/rcairo/blob/master/ext/cairo/extconf.rb

Please do not conflate this topic with the topic of w

[2022-02-01 21:55] headius commented on #2437
@flavorjones As always let me know if I can help. I get a lot of notifications so I don't always see updates here, but I support this move and will try to help as time permits.

[2022-02-01 22:51] flavorjones commented on #2437
@headius Thanks for checking in! I will be respectful of your time, but may ask for advice or a code review here and there as I work through this and a handful of other JRuby issues for v1.14.0.

[2022-02-04 22:09] Bartascnk opened #2444 "[install]"
**Have you read and followed the installation tutorial at http://www.nokogiri.org/tutorials/installing_nokogiri.html?**

- [x] Yes!

**What is the complete output of `gem install` or `bundle install`?**

[code]

**If installation completed but is broken, what is the complete output from `nokogiri -v`?**

[code]

**If installation failed during compilation, what are the complete contents of the `mk

[2022-02-04 22:19] #2444 closed

[2022-02-08 14:31] flavorjones opened #2446 "cleanup: Remove EncodingHandler from the JRuby implementation"
This class exists only to manage libiconv encoding aliases, and does nothing in JRuby.

I think we should try to write more-meaningful tests, as well.

[2022-02-12 22:19] flavorjones opened #2449 "Run upstream html5lib-tests once weekly (not on every PR)"
@stevecheckoway This week the upstream html5lib-tests we run in CI started failing, see for example:

- https://github.com/sparklemotion/nokogiri/runs/5169938003?check_suite_focus=true

It seems like this is probably not useful to run on every PR, but would be helpful to run periodically (once a week?) to give us some signal on whether there might be work for us to do on the gumbo parser. What do

[2022-02-12 22:34] stevecheckoway commented on #2449
Running once per week sounds totally reasonable to me.

With regard to the failing tests, I hope to take a look at this this week, probably Wednesday.

[2022-02-13 00:24] npickens opened #2450 "HTML5 parser moves last child text node of <form> tag outside the tag"
**Please describe the bug**

HTML5 parser moves the last child text node of a `<form>` tag outside the tag (as next sibling). Example:

[code]

Expected behavior:

[code]

**Help us reproduce what you're seeing**

[code]

**Environment**

[code]

[2022-02-14 12:44] flavorjones commented on #2450
@npickens Thanks for reporting this, I'll take a look as soon as I get a chance.

[2022-02-14 12:48] flavorjones commented on #2449
OK, I'll move these tests (as well as the upstream libxml2 job) to a once-weekly schedule like truffleruby.

[2022-02-14 19:31] stevecheckoway commented on #2450
@npickens Let me echo @flavorjones's and thank you for reporting this. I've determined that it's a bug in the Gumbo parser. I have a fix and a test that should prevent this from reoccurring. Let me finish that up and get the PR submitted and then I'll explain the bug.

[2022-02-14 19:55] stevecheckoway commented on #2450
As described in the commit message for #2451, the problem is that `form` has unusual handling in the HTML standard. A `</form>` tag doesn't normally close other open elements. For example, look at this broken HTML.

[code]
This results in the same DOM as the following.
[code]

This special handling in the standard resulted in a bug where text nodes at the end of `form` elements weren't being prope

[2022-02-15 13:35] romaingibs13 opened #2452 "[install] Nokigiri M1 problems with Rails has to stop"
Opening this issue just to have some feedback on the issues targeting M1 processors, I'm just fed up of having to specify everyday to my numerous vs code workspaces which nokogiri version needs to be removed and then installed to have the bundle working.

I mean this can't be automatised in some way on your side ? Why do I have to `bundle lock --add-platform arm64-darwin` then `bundle update` seve

[2022-02-15 13:46] #2450 closed

[2022-02-15 16:52] flavorjones commented on #2452
Hi @romaingibs13,

We're sorry that you're having problems. We've tried very hard to precompile gems for each platform, and so if you're having problems we'd like to help.

As Steve mentioned, it's hard to help you diagnose what's going on without more information. The ["installation difficulty" issue template](https://github.com/sparklemotion/nokogiri/issues/new?assignees=&labels=topic%2Finstalla

[2022-02-20 15:09] flavorjones opened #2455 "Upgrade to libxml 2.9.13 and libxslt 1.1.35"
libxml 2.9.13 was released on 2022-02-20. We're green (based on the [upstream CI job](https://github.com/sparklemotion/nokogiri/runs/5244505314?check_suite_focus=true)).

libxslt 1.1.35 was released on 2022-02-16. Also green.

- [x] patch and test on v1.13.x
- [x] port changes to main
- [x] prepare a GHSA
- [x] cut a v1.13.x patch release

[2022-02-20 15:13] flavorjones commented on #2455
See changelog at https://mail.gnome.org/archives/xml/2022-February/msg00009.html:

[2022-02-20 17:41] flavorjones commented on #2455
See libxslt changelog at https://download.gnome.org/sources/libxslt/1.1/libxslt-1.1.35.news

[2022-02-20 18:18] flavorjones commented on #2455
Because each of these releases addresses a named CVE, I'm going to push this into a v1.13.x patch release, and generate a GHSA for it.

[2022-02-21 18:57] flavorjones commented on #2455
See https://github.com/sparklemotion/nokogiri/releases/tag/v1.13.2

[2022-02-21 18:57] #2455 closed

[2022-02-21 20:22] #2452 closed

[2022-02-21 20:22] flavorjones commented on #2449
Done.

[2022-02-21 20:22] #2449 closed

[2022-02-21 20:24] flavorjones opened #2461 "[bug] libxml 2.9.13 breaks HTML4 parser recovery from ill-formed `<` character"
### Summary

Nokogiri v1.13.2 shipped libxml 2.9.13. That version of libxml2 introduced a behavior change to how the HTML4 parser recovers when it sees a bare (ill-formed) `<` character (one that is not part of a start tag).

I've opened an issue upstream at https://gitlab.gnome.org/GNOME/libxml2/-/issues/339

### Immediate next steps

- [x] add test coverage for recovery from `<` in an HTML4 docu

[2022-02-21 20:55] flavorjones commented on #2461
OK, I have a repro which seems common across the rails-html-sanitizer failures as well as my day job CI failures:

[code]

with nokogiri v1.13.1, this passes. with nokogiri v1.13.2:

[code]

[2022-02-21 21:02] flavorjones commented on #2461
Without Loofah, here's the core problem:

[code]

[2022-02-21 22:47] flavorjones commented on #2461
I've opened an issue upstream: https://gitlab.gnome.org/GNOME/libxml2/-/issues/339

I'm going to explore reverting the related commits in a patch to see if I can get a fast-follow release of Nokogiri for y'all.

[2022-02-21 22:59] flavorjones commented on #2461
I've updated this issue's description with a punch list of next steps.

[2022-02-22 04:53] flavorjones commented on #2461
v1.13.3 has been released to address this: https://github.com/sparklemotion/nokogiri/releases/tag/v1.13.3

[2022-02-22 04:56] #2461 closed

[2022-02-22 15:56] joyboy67 opened #2464 "[install] gumbo.c compilation failure"
I'm trying to install Nokogiri on OpenBSD 7.0 (amd_64) I got a compilation failure even with CFLAGS=-std=c99

Thank you for your help :)

**Have you read and followed the installation tutorial at http://www.nokogiri.org/tutorials/installing_nokogiri.html?**

- [x] Yes!

**What is the complete output of `gem install` ?**

[code]

**Tell us about your system!**

What is the output from `ruby -v`?

r

[2022-02-22 16:03] flavorjones commented on #2464
@joyboy67 Thanks for opening this issue, and I'm sorry you're having trouble. I'll try to help.

Do you know if this was a problem with Nokogiri v1.13.1? I'm going to try to reproduce what you're seeing.

[2022-02-22 16:29] stevecheckoway commented on #2464
I think the problem is that the `#include <gumbo.h>` is picking up `/usr/local/include/gumbo.h`.
[code]

We could rename the gumbo headers to make sure they don't conflict with any system headers.

[2022-02-22 16:42] flavorjones commented on #2464
Oh! Thanks for spotting that, @stevecheckoway.

I wonder if we could also work around this by specifying `-I.` in the gumbo-parser `Makefile`? It seems odd that this behavior (the order of flags on the gcc command line?) is different on OpenBSD.

@joyboy67 You could help us by providing a script to set up a fresh openbsd7 box with the same set of packages that you're using. I'm unable to reproduce

[2022-02-22 16:55] flavorjones commented on #2464
@joyboy67 OK, I've reproduced this problem after installing the following packages:

[code]

What's interesting is that even if I use gcc (via `pkg_add gcc-11.2.0p0` and `CC=egcc`) I see the same behavior on OpenBSD.

However, if I install libgumbo on my linux machine system directories the correct (local) header file is used. Does anyone have any insight into why this might be (the system directo

[2022-02-22 16:56] joyboy67 commented on #2464
I runned `doas gem install nokogiri`

From the output error, it's seems to be the Nokogiri 1.13.3

[2022-02-22 17:04] stevecheckoway commented on #2464
#2465 might fix it, but unfortunately, I don't have time to test on OpenBSD.

[2022-02-22 17:05] flavorjones commented on #2464
@stevecheckoway I have a VM handy, I'll kick the tires.

[2022-02-22 17:43] stefansundin opened #2466 "[install] xz-utils new dependency on linux/arm/v7"
It appears as 2cf26d97fccf81837baa68b2fdee19db04d36bc2 introduces a new dependency for linux/arm/v7. I now need to install `xz-utils` to decompress the new archive (was `.tar.gz` before, now `.tar.xz`). I build multi-arch Docker images of https://github.com/stefansundin/rssbox, and it only failed for linux/arm/v7, presumably because prebuilt binaries are missing for this arch? 🤷

I reported the is

[2022-02-22 19:52] #2464 closed

[2022-02-22 19:53] flavorjones commented on #2464
Will be fixed in Nokogiri v1.14.0

[2022-02-22 19:54] stevecheckoway commented on #2464
@flavorjones Thanks for testing out that fix for me!

[2022-02-23 06:23] larskanis commented on #2466
Rake-compiler-dock already has the target `arm-linux` for arm/v7. It is not activated in nokogiri yet.

[2022-02-23 13:15] flavorjones commented on #2466
@larskanis Well, gosh. I guess I'll go check that out, then! Thanks as always for your amazing rake-compiler-dock work.

[2022-02-23 13:22] flavorjones opened #2467 "[feat] add precompiled native gem support for `arm-linux` (aka `arm/v7`, `arm-linux-gnueabihf`)"
## Problem to solve

Recently #2466 described the installation experience of a user on the arm/v7 platform, which compiles from source. The user compared this experience against the precompiled native gem experience on other platforms.

## How to solve it

`rake-compiler-dock` supports this architecture since v1.2.0, so this ... should be easy?

I would like to also make sure we have CI coverage,

[2022-02-23 13:46] flavorjones commented on #2466
I've created #2467 to drive native gem support for this platform.

I've updated nokogiri.org with some troubleshooting info:

https://nokogiri.org/tutorials/installing_nokogiri.html#tar-child-xz-cannot-exec-no-such-file-or-directory

This is what it looks like:

![image](https://user-images.githubusercontent.com/8207/155331626-06290c7e-3966-49c4-9626-9e4e903c1e45.png)

@stefansundin Thanks again f

[2022-02-23 13:46] #2466 closed, assigned to nobody

[2022-02-23 17:25] flavorjones commented on #2443
An example of where this might be useful: xz is required for the new libxml2/libxslt tarballs (https://github.com/sparklemotion/nokogiri/issues/2466).

One thought is that maybe we should push some of this upstream into MiniPortile (for things like `git`, `patch`,  `tar`, etc.) and then the extension can focus on extension-specific things (`libmagick`, etc.)

[2022-02-24 23:12] flavorjones opened #2468 "update nokogiri `main` to handle libxml2 `master`"
Recently upstream committed a fix for the issue that caused us to ship v1.13.3 (see https://gitlab.gnome.org/GNOME/libxml2/-/commit/4fd69f3e27e4ef2f8fafa091e723497017c40646)

As a result I would like to do two things:

- [x] make sure our tests for bare `<` characters take the new behavior into account
- [x] look at the test that's now breaking regarding incorrectly-opened comments, related to htt

[2022-02-25 17:32] petergoldstein opened #2469 "Breaking Change in to_xpath method breaks webrat"
**Please describe the bug**

A recent breaking change to `to_xpath` to remove the default argument (made [here](https://github.com/sparklemotion/nokogiri/commit/b24efcca08cc93881c29c95a31c2068002b591ba)) broke [webrat](https://github.com/brynary/webrat).

[This requires locking the Devise Gemfile to a version of nokogiri from before this change](https://github.com/heartcombo/devise/pull/5450#issue

[2022-02-25 18:41] flavorjones commented on #2469
@petergoldstein Thank you for opening this issue, and I'm sorry that you're dealing with some breakage here.

I was hoping (apparently incorrectly) that this method could be considered an internal API and that no dependencies were calling it directly. So that's new information for me to consider.

I think it might be appropriate for Nokogiri to add back the default values for this method along wit

[2022-02-25 18:45] flavorjones commented on #2293
Another example that would have been helpful to have is webrat, see https://github.com/sparklemotion/nokogiri/issues/2469

[2022-02-25 18:59] petergoldstein commented on #2469
No worries @flavorjones .

Ideally we could update `webrat`, but that repo doesn't even have Issues enabled so I can't leave an issue.  I may try opening a PR against `webrat` using the default arguments and see if I can get a response from anyone with commit/release privileges.  I'm not holding my breath, but that's probably the most ideal outcome.

[2022-02-25 19:11] flavorjones commented on #2469
@petergoldstein Here's my challenge: I just tried for ~20 minutes to get the `webrat` test suite to run, and I've failed. If I could run the test suite I'd feel more comfortable making this change in Nokogiri because it would give me the confidence that I'm solving the problem.

Alternatively, is there a specific use case you can provide me (that I can test against) that confirms whether webrat is

[2022-02-25 19:16] petergoldstein commented on #2469
@flavorjones Understood, but I'm afraid I can't help you much.  My sum exposure to the `webrat` library starts and ends with that `devise` PR.

I can give getting the `webrat` test suite running a shot (although the presence of a `merb` section doesn't fill me with confidence), but I won't be able to look at that until sometime next week.

[2022-02-25 19:17] flavorjones commented on #2469
It looks like `webrat` is only used by devise's test suite. Would you consider monkeypatching this locally to work around it? Something like this should do the trick:

[code]

[2022-02-25 19:23] petergoldstein commented on #2469
@flavorjones If the Devise contributors would accept it, I could do something like that.  Although I'd probably prefer monkeypatching `webrat`.  Maybe something like:

[code]

Thoughts?

[2022-02-25 19:32] flavorjones commented on #2469
Yeah, that should work, too. At some point, Devise maintainers may want to consider moving away from Webrat as it continues to bitrot, but I appreciate that's a separate conversation.

[2022-02-25 19:43] petergoldstein commented on #2469
@flavorjones Ok, PR against `devise` is open.  And yes, I think that `devise` should move away from `webrat`, but that's another conversation and ultimately not my call.

[2022-02-25 20:04] flavorjones commented on #2469
OK. If that doesn't work, I'm open to reverting that internal API change since I don't think any of the internal behaviors changed. Just ping me. Otherwise I'm going to (optimistically) close this for now.

[2022-02-25 20:04] #2469 closed

[2022-02-27 17:17] flavorjones commented on #1885
Closing. If someone can help me reproduce an installation issue, please open a new issue. Thanks.

[2022-02-27 17:17] #1885 closed

[2022-02-28 14:32] saranya-sanju opened #2470 "Nokogiri gem version upgraded after rails 5.2.6.2 is breaking the docker setup - version `GLIBC_2.29' not found"
Facing issue in docker setup after nokogiri gem version upgraded in rails 5.2.6.2. The app server is not running due to this error.

The issue is - /lib/aarch64-linux-gnu/libm.so.6: version `GLIBC_2.29' not found

Below are the configurations used

**OS**: MAC OS Big Sur
**Ruby version**: 2.6.7
**Rails version**: 5.2.6.2
**Tried Nokogiri version**: 1.13.1, 1.13.2, 1.13.3

Below is the DockerFile w

[2022-03-02 10:48] joyboy67 opened #2471 "[install] OpenBSD: Failed to build gem native extension."
**Have you read and followed the installation tutorial at http://www.nokogiri.org/tutorials/installing_nokogiri.html?**

- [x] Yes!

**What is the complete output of `gem install` or `bundle install`?**

[code]

**If installation completed but is broken, what is the complete output from `nokogiri -v`?**

1.13.3 (same issue for 1.11.5)

[code]

**If installation failed during compilation, what are

[2022-03-02 13:38] flavorjones commented on #2471
@joyboy67 Sorry you're having issues, I'll try to help.

I would like to reproduce this, but am having trouble. Can you please help me by replying with:

* more information about how you installed or built Ruby
* what compiler are you using
* the output of `gem env`
* the output of `bundle config`
* any other information about how you've configured your system

[2022-03-02 13:43] flavorjones commented on #2471
Just to clarify what I've done to try to reproduce
- using this VM: https://app.vagrantup.com/generic/boxes/openbsd7
- building nokogiri off `main` to work around #2464
- I installed Ruby 3.1.1 using `rbenv` and `ruby-build`

compiler:
[code]

gem env:
[code]

and the `bundle config` is empty.

[2022-03-02 21:04] flavorjones commented on #2470
I'm going to go ahead and close this, but please do let me know if there's anything you need help with.

[2022-03-02 21:04] #2470 closed

[2022-03-02 22:45] joyboy67 commented on #2471
I installed ruby from the sources

I think it's clang 11.1.0 or GCC (egcc) 8/4.0

[code]

[code]

I have a classic OpenBSD 7.0 (Generic)

[2022-03-02 23:10] flavorjones commented on #2471
@joyboy67 I'm not sure your answers have helped me much. I cannot reproduce this issue without your help.

In response to "more information about how you installed or built Ruby" you said:

What configuration parameters did you use? What compiler did you use?

In response to "what compiler are you using" you said:

Can you please track down which one was used to compile Ruby, and which one was use

[2022-03-03 01:39] flavorjones commented on #2471
Alternatively, if it would be easier to provide a configuration of https://app.vagrantup.com/generic/boxes/openbsd7 that reproduces it, that would be very welcome.

[2022-03-03 18:28] yhagio opened #2472 "[bug] `node.replace` method reorders the document position automatically if nesting a tag with the same tag"
`node.replace` method reorders the document position automatically if nesting a tag with the same tag  (see example below)

[code]

Output
[code]
It should output like the expected result but ending up replaced the `div` with `p` tag but added it to the beginning 😢

**Expected behavior**
`node.replace` should replace the node `<div>` with `<p>` without changing the order of the position.

**Enviro

[2022-03-03 20:32] flavorjones commented on #2472
@yhagio Thank you for opening this issue. I'll try to help!

In the example you've provided, the replacement HTML string being passed to `Node#replace` is `"<p><p>Hello</p></p>"` which is invalid HTML. We can see this by examining the syntax errors created during parsing:

[code]

We can also see this in the [HTML4 spec section 9.3.1](https://www.w3.org/TR/html401/struct/text.html#h-9.3.1):

If yo

[2022-03-04 00:14] Hgdszdr opened #2473 "[install]"
**Have you read and followed the installation tutorial at http://www.nokogiri.org/tutorials/installing_nokogiri.html?**

- [ ] Yes!

**What is the complete output of `gem install` or `bundle install`?**

[code]

**If installation completed but is broken, what is the complete output from `nokogiri -v`?**

[code]

**If installation failed during compilation, what are the complete contents of the `mk

[2022-03-04 14:22] #2473 closed

[2022-03-04 15:55] yhagio commented on #2472
@flavorjones Ohhhhh I see, thank you so much for your explanation and the details 🙏🏼
It's very helpful and makes sense! 🙇🏼‍♂️

[2022-03-04 15:57] #2472 closed

[2022-03-06 05:48] Bigcannin87 opened #2474 "[install] ​tidelift​: ​rubygems/nokogiri"
**Have you read and followed the installation tutorial at http://www.nokogiri.org/tutorials/installing_nokogiri.html?**

- [< ] Yes!

.......
**What is the complete output of `gem install` or `bundle install`?**

[code]

**If installation completed but is broken, what is the complete output from `nokogiri -v`?**

[code]

**If installation failed during compilation, what are the complete contents o

[2022-03-07 12:38] flavorjones commented on #2474
@Bigcannin87 If you need help, please fill out the template with the requested information.

[2022-03-07 12:38] #2474 closed

[2022-03-08 18:00] 62171708 opened #2475 "Masr"

[2022-03-08 20:20] #2475 closed

[2022-03-18 09:56] voxik opened #2479 "Revisit libxml 2.9.13 compatibility"
This is related to upstream discussion [[1]] which was triggered by my report in Fedora [[2]] (and of course also related to #2461). The issue is that on Fedora, we use system version of libxml for Nokogiri and we don't have the option to revert the behavior (unless reverting this for whole system which would probably not make a sense and would be against upstream) and if upstream insist that the

[2022-03-18 10:00] voxik commented on #2479
Actually now I noticed the upstream ticket was opened much earlier, my bad :blush: Nevertheless, the point stays.

[2022-03-18 13:31] voxik commented on #2479
There is actually this proposed patch in libxml2:

https://gitlab.gnome.org/GNOME/libxml2/-/commit/4fd69f3e27e4ef2f8fafa091e723497017c40646

While this patch fixes ActionView test failures, it keeps the rails-html-sanitizer test suite broken, but differently

[2022-03-18 13:33] voxik commented on #2479
This is example of the rails-html-sanitizer failure with the patch above:

[code]

[2022-03-18 14:57] flavorjones commented on #2479
I believe this is a duplicate of https://github.com/sparklemotion/nokogiri/issues/2468. If you agree, we can close this issue.

Please note that Nokogiri's test suite runs against a vanilla debian image running the distro's libxml2 and libxslt. If you'd ilke to add coverage for a redhat/fedora system I would accept a PR.

Please also note that we run CI against upstream libxml2 and libxslt master,

[2022-03-18 15:00] flavorjones commented on #2468
Please note I have a work-in-progress branch for this, it needs a bit more work before I push it to a draft PR.

[2022-03-18 18:22] voxik commented on #2479
Thx a lot. I'll follow the #2468.

I'll consider extending the CI!

[2022-03-18 18:22] #2479 closed

[2022-03-24 14:11] strzibny opened #2483 "Ampersand (&) is no longer converted to &amp; in link tags"
I am upgrading Nokogiri to version 1.13.x and hitting a possible bug where an ampersand (`&`) in the URL is not treated as ampersand.

The code:

[code]

Nokogiri before 1.13.0 (notice it accepted both `&` and `&amp;`):

[code]

Nokogiri after 1.13.0 (notice the single `&`  disappeared together with the "bar" key just after):

[code]
Looks like `&bar` got treated as an escape sign but with no valu

[2022-03-24 15:49] strzibny commented on #2483
Okay so it's not just about URLs, it's about ampersand in general.

Here's another example:

[code]
and on Nokogiri > 1.13.0 the result escapes it:

[code]

[2022-03-25 14:57] stevecheckoway commented on #2483
I'm not an expert on XML, but isn't
[code]
invalid because the right hand side is supposed to be a raw XML string but it has the `&` in it.

[2022-03-25 16:15] stevecheckoway commented on #2483
@strzibny For your second example, you should use the `text` method.
[code]

For your first example, you'll either need to provide valid XML on the right hand side of `<<` (as I suspected, your XML [is invalid](https://stackoverflow.com/a/14500841)) or you'll need to use the builder API to construct the anchor.

[2022-03-27 18:35] flavorjones commented on #2483
Sorry for my slow reply, I was on vacation for a bit last week.

### Summary

I'll spend a bit of time today bisecting libxml2 just to make sure I understand when this behavior changed, but right now I think that attribute entity is handled consistently and correctly; and the dropped bare ampersand in a text node is a duplicate of #2267 which was reported upstream at https://gitlab.gnome.org/GNOME

[2022-03-27 18:54] flavorjones commented on #2483
@strzibny Can you tell me what version of Nokogiri you're upgrading from? I went back to libxml2 2.9.10 (Nokogiri v1.11.3) and the behavior of the parser to replace bare ampersands in the `href` attribute hadn't changed since then.

[2022-03-28 09:17] strzibny commented on #2483
Thanks a lot for all the answers, as I said I wasn't sure if this is an actual bug, just that it surprised me. After thinking more about it, I believe I simply have to escape ampersand in cases when this previously work.

@flavorjones I was upgrading from 1.12.5 to 1.13.0 (and then 1.13.3) both on libxml2-2.9.13-1.fc35.x86_64.

Although I am still interested what change caused this, I am closing t

[2022-03-28 09:17] #2483 closed

[2022-03-28 12:27] flavorjones commented on #2483
@strzibny I'm not able to reproduce what you're reporting using stock libxml2 2.9.13 and Nokogiri 1.12.5. Here's the script I'm using (note that I try both XML DOM parser and the XML Builder):

[code]

Here's what I see:

[code]

[2022-03-28 13:41] strzibny commented on #2483
@flavorjones Yet I see it there:

[code]
Notice the missing `&`.

[2022-03-28 13:53] strzibny commented on #2483
@strzibny I run your script in both versions. The old version looks same like yours. The new one:

[code]

[2022-03-28 19:27] strzibny commented on #2483
Yes, but just after that I mentioned the result for 1.13.0. The whole issue is simply about the change from < 1.13.0 to >=1.13.0.

![change](https://user-images.githubusercontent.com/1395527/160471835-0359d96f-3482-42f2-9e60-2ebe61f8c621.png)

I am sorry if I made it confusing somehow.

[2022-03-29 11:02] jcsrb opened #2485 "[help] different availability of EncodingHandler based on platform"
**What problem are you trying to solve?**

use alpine linux based container to process html that has the `macintosh` encoding

debian based
[code]

alpine based
[code]

I understand this **not** nokogiri fault in itself, but the likely the underlying iconv, but I am unclear how to make it work

Update 1
a related Stackoverflow question I found https://stackoverflow.com/questions/44143931/iconvlist

[2022-03-29 13:25] flavorjones commented on #2485
@jcsrb Thanks for opening this issue. After about 10 minutes of poking around, I'm pretty sure this is not something Nokogiri can control directly, but is something that we might be able to figure out.

Here's where I'm at. I build libxml2 with `-DDEBUG_ENCODING` to see what's going on when `macintosh` is successfully loaded, and see this:

[code]

The line `Found iconv handler for encoding macint

[2022-03-29 13:33] flavorjones commented on #2485
Supporting my statements above, running `iconv -l` to display all the supported character set encodings ...

On `ruby:bullseye`:

[code]

On `ruby:alpine`:

[code]

Let's focus efforts here.

[2022-03-29 14:16] jcsrb commented on #2485
additionally related I found this blogpost https://www.justinsilver.com/technology/linux/alpine-linux-php-iconv-fix/
saying that `gnu-libiconv` did used to ship with `preloadable_libiconv.so` which fixed a related php issue , but no longer does in newer version of that package/of alpine

[2022-03-29 14:33] basicfeatures commented on #2471
Hi!

I'm having the same problem. Here's what I did:
[code]

[2022-03-29 14:52] basicfeatures commented on #2471
Note that the installation works fine if I revert to `ruby-2.7.5` 👍

[2022-03-29 16:52] flavorjones commented on #2471
@basicfeatures You're reporting a different issue than the OP, if you would kindly open a new issue I'd be happy to work through it with you there.

[2022-03-29 17:05] flavorjones commented on #2485
OK, on my debian system, running `strace` on the ruby process running `Nokogiri::EncodingHandler['macintosh']` reveals that libxml2/libiconv are getting this information from `/usr/lib/x86_64-linux-gnu/gconv/MACINTOSH.so`

[code]

This tells us that this file is delivered by the `libc6` package (list of files [here](https://packages.debian.org/sid/amd64/libc6/filelist)).

I think the goal for us h

[2022-03-29 17:41] flavorjones commented on #2485
It may be worth trying to get Nokogiri to build from source and use `gnu-libiconv` instead of musl's default (very limited) iconv implementation.

Unfortunately that may be tricky to get right because of how Ruby's `mkmf` looks for and resolves external libraries; and it doesn't look like that package provides any of the advanced encodings, anyway (file list [here](https://pkgs.alpinelinux.org/con

[2022-03-29 17:52] flavorjones commented on #2485
Something like this seems like it will link and load the gnu libiconv if it's installed:

[code]

But again, without the `MACINTOSH.so` file this isn't going to succeed in handling that encoding. It may be worth building a version of Nokogiri this way and then play around with copying `MACINTOSH.so` to your alpine system and see if you can get gnu libiconv to load it.

[2022-03-29 20:57] basicfeatures opened #2487 "[install] OpenBSD: Failed to build gem native extension on Ruby 3.0.3"
Hello!

I'm using OpenBSD 7.0's official Ruby 3.0.3 package. I've replaced GCC with Clang in my environment, and restricted installs to user accounts for added security.

[code]

[`mkmf.log`](https://clbin.com/64HmN)

Thanks!

[2022-03-30 06:21] jcsrb commented on #2485
thank you so much for digging into this @flavorjones, I didn't reach a functional setup and cutting my losses.
I ma no longer pursuing this as I am have the possibility to use a non-alpine image for what I need.

for anything looking further into this there exist the following alpine package

[2022-03-30 06:27] #2485 closed

[2022-03-30 13:57] flavorjones commented on #2487
@basicfeatures Thanks for opening this issue! I'll circle back later today, I have a good idea of why this is happening but lack the time right now to dig in. I have some free time in the afternoon.

[2022-03-31 08:10] HoneyryderChuck opened #2488 "[install] nokogiri 1.13.3 on latest stable truffleruby"
**Have you read and followed the installation tutorial at http://www.nokogiri.org/tutorials/installing_nokogiri.html?**

- [x] Yes!

**What is the complete output of `gem install` or `bundle install`?**

You can find the output of the gem install [here](https://gitlab.com/honeyryderchuck/rodauth-oauth/-/jobs/2257936986).

**Tell us about your system!**

Reproducible using the [docker image ](https

[2022-03-31 12:18] flavorjones commented on #2488
I see this in the log:

[code]

Looking at the installation docs at https://nokogiri.org/tutorials/installing_nokogiri.html this exact string appears with instructions: https://nokogiri.org/tutorials/installing_nokogiri.html#tar-child-xz-cannot-exec-no-such-file-or-directory

[2022-03-31 12:18] #2488 closed

[2022-03-31 17:49] HoneyryderChuck commented on #2488
Indeed, what a blunder 🙈  thx for the heads-up!

[2022-04-02 15:48] flavorjones opened #2490 "libgumbo should allow overriding the default memory functions"
Today, [gumbo-parser/src/util.c](https://github.com/sparklemotion/nokogiri/blob/9f080d0d3aaddf3aae439baf259749501860f028/gumbo-parser/src/util.c) uses malloc, realloc, and free directly.

It would be a nice feature to be able to override those memory functions the way libxml2's [xmlMemSetup](https://gnome.pages.gitlab.gnome.org/libxml2/devhelp/libxml2-xmlmemory.html#xmlMemSetup) allows, so that we

[2022-04-02 15:52] flavorjones commented on #2490
@stevecheckoway commented at https://github.com/sparklemotion/nokogiri/pull/2489#issuecomment-1086666069 saying he's hesitant to do this.

I may try to set up memory function configuration anyway (in a draft PR), just to see what it looks like.

[2022-04-02 15:52] stevecheckoway commented on #2490
I honestly cannot recall if @craigbarnes or I removed that support from Gumbo. As I recall, it lead to passing a pointer to the parser struct to other parts of the code that didn't make sense like the tokenizer.

[2022-04-02 16:09] stevecheckoway commented on #2490
Looks like `ruby_xmalloc()` just calls `malloc()` but when `malloc()` returns `NULL`,  it raises a ruby exception. That's not at all what I'd expect from a `xmalloc()` function. I'm not sure how to use that safely. If we've allocated a big parse tree and then allocation failure raises a ruby exception which may be caught, then we've just leaked all of that memory.

The current behavior of allocati

[2022-04-02 16:51] flavorjones opened #2491 "upstream remaining truffleruby patches"
See #1882 and #2095 for previous threads.

Conversation also happening in slack at https://graalvm.slack.com/archives/CMY63522F/p1648917137877149

---

Nokogiri patches live in https://github.com/oracle/truffleruby/blob/master/lib/truffle/truffle/patches/nokogiri_patches.rb

This approach is brittle in the face of trivial changes in Nokogiri's C extension. For example, [this patch](https://github.

[2022-04-02 17:22] flavorjones commented on #2490
`ruby_xmalloc` has some benefits:

- there's evidence that in some situations, using Ruby's heap helps with memory locality and so there may be performance benefits
- ruby_xmalloc will also attempt a major GC if no memory is available which might be useful in some degenerate cases

We for sure have problems with this already, see #1610 and #2096.

In practice, an OOM condition for Ruby pretty much

[2022-04-02 17:35] flavorjones commented on #2491
Note to self re: truffle dev env: comment out rbenv init in .bashrc and launch a new shell

[2022-04-02 19:14] walterdavis opened #2492 "[help] Should I worry that contains() may disappear from the CSS selector syntax?"
I am using a css pseudo-selector and I worry it will disappear at some point.

[code]
...works perfectly. But when I search MDN and CSS-Tricks, I see that this selector is an accident of time. It used to work in browsers, and was removed. Is there a chance that it will also disappear from Nokogiri's CSS selectors?

I believe that under the hood, the CSS interface in Nokogiri is translating any giv

[2022-04-02 19:33] walterdavis commented on #2492
I did a little more digging, and found that I could use the Nokogiri::CSS.xpath_for method to return the computed XPath for the CSS selector, and that it was different than what I had tried (it used `.` where I was using `text()`). So I do see how to get a working XPath selector. But would it be advisable to change everything to use that, or do you think that the CSS interface would remain stable

[2022-04-02 19:39] flavorjones commented on #2492
Hey @walterdavis,

You should assume that all of the CSS extensions we currently support will continue to be supported. Looking at this particular pseudoselector, though, I'm not sure we have good test coverage for it, so I'd like to take this opportunity to double-check add coverage if necessary.

[2022-04-02 20:23] flavorjones commented on #2492
Test coverage added in #2493

Let me know if you have any other questions, @walterdavis!

[2022-04-02 20:23] #2492 closed

[2022-04-02 21:23] craigbarnes commented on #2490
@stevecheckoway I removed it in https://github.com/craigbarnes/lua-gumbo/commit/8d3d4e45b66897158649d831f4fbf6080a04a048. I didn't really give it much thought at the time—in the context of other projects pulling in my changes—I just removed it because lua-gumbo didn't need it and doing so seemed to improve code generation (perhaps only slightly; I don't recall the exact details).

[2022-04-02 21:43] walterdavis commented on #2492
Thanks, Mike. This is the best answer I can imagine!

Walter

[2022-04-03 04:22] TreyE opened #2494 "[bug] Reparenting of nodes can get wrong namespaces when prefixes are reused"
If I reuse namespace prefixes for different nodes (such as when I use a blank XML namespace, i.e. xmlns=), I can get the wrong namespace when the node is reparented.

**Here's a script to produce the bug**

[code]

Note that this will now output incorrect namespaces on the "child2" node, like the following:
[code]

Note that the "child2" node has now been incorrectly 'moved' into the "urn:somethin

[2022-04-04 01:25] flavorjones commented on #2494
Thank you for opening this as well as submitting a PR for it!

I want to spend some time understanding the bug report and re-building context around the reparenting code, which has always been complex and tricky to get right. Please give me a day or two! Thanks.

[2022-04-04 01:40] #2441 closed

[2022-04-04 13:06] TreyE commented on #2494
@flavorjones NP!  Thanks for getting back to me.  This is my first major C submission here and understand I might not have gotten everything exactly right - so take as much time as you need.

[2022-04-05 18:26] basicfeatures commented on #2487
@flavorjones Hi! Totally understand what you mean by lack of time. However, any chance you could give me any pointers as to what you think might be wrong, so I could try look into it myself first?

[2022-04-05 19:59] stevecheckoway commented on #2490
Thanks @craigbarnes! I thought it was part of the set of commits I grabbed from you, but I couldn't recall for sure.

@flavorjones, I'm not totally opposed to doing this, but I think threading an allocator through the gumbo parsing code is probably not a great approach unless we really need that flexibility. One approach that may be reasonable would be to do something like
[code]
rather than defin

[2022-04-06 12:44] flavorjones commented on #2487
@basicfeatures Sorry for the delay in replying. What I thought I remember was incorrect (Ruby 3.1 changed some of the behavior of pkg-config, but you're on Ruby 3.0.3).

I looked this morning and this seems like it's just a bug in Nokogiri's extconf.rb that handles a rare edge case when libiconv can't be found.

Some things to try:
- make sure you have OpenBSD's libiconv and its development header

[2022-04-06 13:06] unikitty37 opened #2500 "[install] ruby:2.7.4-slim-buster Docker image on Apple Silicon"
I have just moved from an old Intel Mac Pro to a new Mac Studio with an M1 Max processor. My work requires running a Rails app in Docker, using a `ruby:2.7.4-slim-buster` image. This ships with glibc 2.28, and has no way of upgrading to 2.29 without compiling glibc from scratch, as far as I can see.

Switching buster to bullseye doesn't work, as now postgresql-client-13 won't install due to librea

[2022-04-06 13:19] flavorjones commented on #2487
@basicfeatures I am able to reproduce what you see if I don't have `libiconv` installed, but then when I install it everything proceeds OK. I'm going to create a PR to update the nokogiri.org installation docs and will tag you to review it, if that's OK.

I'll also fix this issue in the extconf.rb file.

[2022-04-06 13:26] BinHavin0323 opened #2501 "gh pr checkout 2096"
gh pr checkout 2096

_Originally posted by @BinHavin0323 in https://github.com/sparklemotion/nokogiri/issues/2096#issuecomment-1090268709_

[2022-04-06 13:26] BinHavin0323 commented on #2501
gh pr checkout 2096

[2022-04-06 13:26] BinHavin0323 commented on #2501
gh pr checkout 2096

[2022-04-06 13:27] BinHavin0323 opened #2502 "[install]"
**Have you read and followed the installation tutorial at http://www.nokogiri.org/tutorials/installing_nokogiri.html?**

- [x] Yes!

**What is the complete output of `gem install` or `bundle install`?**

[code]

**If installation completed but is broken, what is the complete output from `nokogiri -v`?**

[code]

**If installation failed during compilation, what are the complete contents of the `mk

[2022-04-06 13:27] BinHavin0323 commented on #2502
gh pr checkout 2096

[2022-04-06 13:27] BinHavin0323 commented on #2502
gh pr checkout 2096

[2022-04-06 13:28] BinHavin0323 commented on #2502
http://www.nokogiri.org/tutorials/installing_nokogiri.html

[2022-04-06 13:29] BinHavin0323 commented on #2205
http://www.nokogiri.org/tutorials/installing_nokogiri.html

[2022-04-06 13:30] BinHavin0323 opened #2503 "[bug]"
**Please describe the bug**

**Help us reproduce what you're seeing**

**Expected behavior**

**Environment**

**Additional context**

[2022-04-06 13:31] BinHavin0323 commented on #2503
[bug] #2503

[2022-04-06 13:31] BinHavin0323 opened #2504 "[bug] #2503"
[bug] #2503

_Originally posted by @BinHavin0323 in https://github.com/sparklemotion/nokogiri/issues/2503#issuecomment-1090276068_

[2022-04-06 14:49] flavorjones opened #2506 "freebsd's libxml2 version info is incorrect"
Looks like libxml2's `LIBXML_VERSION_STRING` and/or `xmlParserVersion` is being set to `209013` on FreeBSD instead of what we expect, which is `20913`, resulting in warnings messages like:

[code]

[2022-04-06 14:50] flavorjones commented on #2506
I've started looking into how the freebsd port of libxml2 is curated and built. The 2.9.13 changeset is here:

https://reviews.freebsd.org/D34338

but I'm awaiting account activation on that site to comment.

[2022-04-06 14:50] flavorjones commented on #2506
See also https://github.com/freebsd/freebsd-ports/commit/a13ec21cd733f67a9fc0dc00ab45268bdc236246

[2022-04-06 15:08] #2503 closed

[2022-04-06 15:09] #2501 closed

[2022-04-06 15:09] #2502 closed

[2022-04-06 15:28] flavorjones commented on #2506
I've opened an upstream bug report: https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=263094

[2022-04-06 15:38] #2487 closed

[2022-04-06 15:57] flavorjones commented on #2500
Hi! Sorry you're experiencing issues, I'll try to help.

This is a limitation introduced by `rake-compiler-dock` related to how we're precompiling Nokogiri for Linux.

This has been fixed on `main` by db9442d

Unfortunately, Bundler doesn't allow you to set the `platform` for a specific gem. This would be a nice enhancement that you could suggest at https://github.com/rubygems/rubygems, though!

U

[2022-04-06 16:00] unikitty37 commented on #2500
That's great — thanks. I'll leave it set globally, in that case.

I should probably find a way of setting `force_ruby_platform` *only* when running on Apple Silicon, but I'll see if the devs on Intel complain first 😁

[2022-04-06 16:00] #2500 closed

[2022-04-07 00:03] basicfeatures commented on #2487
@flavorjones Greetings and thanks so much for getting back at me!

Sadly though, the issue is still the same with regards to the `ruby-3.0.3` package (although everything works flawlessly with `ruby-2.7.5`).

If you have both rubies installed, be sure to add the symlinks from the post-install notice:
[code]

[2022-04-07 14:56] flavorjones commented on #2487
@basicfeatures Do you mean you get the same error message? I'm not able to reproduce using the openbsd7 vagrant image and ruby-3.0.3 if I have installed libiconv. How can I reproduce what you're seeing?

[2022-04-08 00:52] basicfeatures commented on #2487
Hi there!

Yep, same thing unfortunately. Here are my exact steps on a fresh new OpenBSD 7.0 cloud instance if you'd like to try to reproduce:
[code]

[2022-04-08 12:23] flavorjones commented on #2487
Can you tell me more about "OpenBSD 7.0 cloud instance"? Which cloud provider are you using, and did you select a specific flavor of the distro? I'd like to try to reproduce this.

Regardless, though, the fix in #2505 will prevent the "wrong number of arguments" error.

[2022-04-08 12:39] basicfeatures commented on #2487
I'm using Vultr's Cloud Compute (Shared vCPU), no flavors just plain OpenBSD 7.0 x64.

Very cool 👍

[2022-04-08 13:21] basicfeatures commented on #2487
While you're in OpenBSD, could you check real quick if `--use-system-libraries` works at your end? I'm not having much luck over here. Should I create a new issue, or am I missing something obvious?

[code]

[2022-04-08 13:30] basicfeatures commented on #2487
Nevermind that last post - I was missing something obvious. Thanks again!

[2022-04-08 14:20] basicfeatures commented on #2487
By the way, I was wrong about this part:
[code]
It is unnecessary and will prevent `gem install --user-install nokogiri -- --use-system-libraries` from working (Clang is already the default anyway):
[code]
Without those exports, everything works just fine.

[2022-04-10 18:23] flavorjones commented on #1610
Recent relevant post from @peterzhu2118 with explanatory notes: https://blog.peterzhu.ca/ruby-c-ext-part-8/

Note also some exploratory work I've started at #2096

[2022-04-10 19:26] aaronstillwell opened #2511 "[help] Nokogiri stops parsing @ ASCII-8BIT \xA0"
**What problem are you trying to solve?**

I'm trying to parse a HTML document, encoded with `ASCII-8BIT` which features the `\xA0` character. Nokogiri seems to quietly stop parsing the document when encountering such a character, as per the examples below.

Is this expected behaviour? If so, what the recommended approach to parsing documents correctly encoded with this character?

**Please show y

[2022-04-11 04:58] stanhu commented on #2470
@flavorjones We ran into this while installing Nokogiri 1.13 on Amazon Linux 2 and Debian 10. I think https://github.com/rake-compiler/rake-compiler-dock/pull/68 should help here?

[2022-04-11 12:28] aj7 opened #2512 "[install] Issue installing on Apple M1 Max"
- I have tried all the instructions on the below tutorial, looked at issues and cannot figure out why it would not work? (works fine on my Mac intel) . I have libxml2, and zlib both installed also through brew.
- Shouldn't a native version work on the M1 Max?
- `bundle platform` -> Your platform is: -darwin21

**Have you read and followed the installation tutorial at http://www.nokogiri.org/tutori

[2022-04-11 13:02] flavorjones commented on #2512
@aj7 Sorry you're having problems, I'll try to help.

Something looks broken on your machine. The output of `gem env` shows platforms `ruby` (which is right) and `-darwin-21` (which is not right). For comparison, on my M1 the output of `gem env` contains:

[code]

and you can see that the CPU is part of the platform name on mine (which is correct). If you want the native (precompiled) gem to work,

[2022-04-11 13:28] flavorjones commented on #2511
@aaronstillwell Hi! Thanks for asking this question, and sorry you're having trouble. I'll try to help.

First, it's important to note that the document encoding may be different from the string encoding. We see this here, where `\xA0` is neither ASCII (which confuses libxml2 into terminating parsing) and isn't UTF-8 (which generates warnings for us).

The right thing to do here is to tell Nokogir

[2022-04-11 14:23] larskanis commented on #2512
I think the ruby version 2.6.5 is too old to run on M1. It seems that ruby-2.6.8 is required at least: https://github.com/ffi/ffi/issues/922#issuecomment-1092172955

[2022-04-11 14:27] aj7 commented on #2512
thanks @larskanis and @flavorjones - makes sense and I will look into it...was resisting upgrading ruby version to avoid application breaks....i've quite convinced this is what it should be...i will close this now!

[2022-04-11 14:27] #2512 closed

[2022-04-11 15:27] flavorjones commented on #2511
Steve, you're right, I think, but there's some interesting behaviors that are interacting.

- If the string's encoding is UTF-8 (the default) then Nokogiri lets libxml2 assume UTF-8 encoding
- If the string's encoding is ASCII_8BIT then Nokogiri tries to read ahead to guess the encoding (and correctly guesses `us-ascii`) ... but then libxml2 does not handle this character
- even if we specify `us-

[2022-04-11 15:59] stevecheckoway commented on #2511
Another option may be to covert `\xA0` to `\u00A0` which (if I got my Ruby syntax correct), should give the correct unicode character, but then the `charset` would need to be changed to `utf-8`.

[2022-04-11 16:13] aaronstillwell commented on #2511
Thanks both for your input here.

@flavorjones is there any trade-off to using the HTML5 parser? I understand from the docs that this uses an alternative parser under the hood, however I assume given its recommendation here that despite the name, it can be used for all sorts of (X)HTML? If so that looks to me like the easiest fix for my use case.

Additionally, if I understand correctly that this

[2022-04-11 17:00] aardvark179 commented on #2491
I think I've now got an approach that works for completely disabling the patches when not building with system libraries, and allowing them to still be used by older version (https://github.com/oracle/truffleruby/issues/2639#issuecomment-1095302734).

[2022-04-11 20:46] aaronstillwell commented on #2511
@flavorjones just attempting your recommendation, but I see the following error:

[code]

Is this expected?

[2022-04-11 21:41] flavorjones opened #2513 "explore: removing or overhauling the EncodingReader"
The Nokogiri::HTML4::EncodingReader class is used to try to detect encoding of HTML4 documents when they have ambiguous encoding.

Recently, [a REDOS vulnerability was found in this code](https://github.com/sparklemotion/nokogiri/security/advisories/GHSA-crjr-9rc5-ghw8). There are other regular expressions which should be vetted; and we should explore replacing some of those regexes with simpler c

[2022-04-11 21:46] stevecheckoway commented on #2511
@aaronstillwell One trade off is the modern HTML parser (the one not built using libxml2) does _not_ support XHTML.

Ah, I think I see what the problem is (although my line numbers are a ways off).

[code]
I think it has detected the `us-ascii` charset and then tried to force encode the string using US-ASCII which is not what browsers do.

I think a better solution would be to map the encoding lab

[2022-04-13 12:32] flavorjones commented on #2511
@aaronstillwell Are you unblocked at this point? It seems like there are a few ways offered above to try to parse the document. But probably your best bet is to continue using the HTML4 parser and pass in a compatible encoding to the `Document#parse()` method call.

[2022-04-13 12:36] flavorjones commented on #2491
@aardvark179 That's great! Can you tell me which of these patches is still needed so I can upstream them? (I imagine the varargs workarounds are still needed?)

[2022-04-13 13:52] isxy2022 opened #2514 "[install]"
**Have you read and followed the installation tutorial at http://www.nokogiri.org/tutorials/installing_nokogiri.html?**

- [x] Yes!

**What is the complete output of `gem install` or `bundle install`?**

[code]

**If installation completed but is broken, what is the complete output from `nokogiri -v`?**

[code]

**If installation failed during compilation, what are the complete contents of the `mk

[2022-04-13 15:40] #2514 closed

[2022-04-13 21:20] aaronstillwell commented on #2511
@flavorjones @stevecheckoway thanks both for your thorough follow-ups. One last question if I may before we close this out - is there an encoding map like the one @stevecheckoway just produced in rust for use w/ nokogiri?

I can hard-code support this way for `ASCII-8BIT` to use `ISO-8859-1` but I imagine being able to ensure this is properly enforced for all encodings is the right way to ensure n

[2022-04-15 16:43] joyboy67 opened #2515 "[install] Fail to install on OpenBSD 7.0"
**Have you read and followed the installation tutorial at http://www.nokogiri.org/tutorials/installing_nokogiri.html?**

- [] Yes!

Hi, I'm trying to install Nokogiri on OpenBSD 7.0 but it's fail, I follow the instructions for OpenBSD 7 here https://nokogiri.org/tutorials/installing_nokogiri.html#installing-using-the-packaged-libraries

[code]

but it's not working

**What is the complete output o

[2022-04-15 17:01] flavorjones commented on #2515
The fix is on master in 481cd12. Not sure when we'll make a release with that, but I'm hoping for the 2-to-4-week timeframe.

[2022-04-15 17:03] flavorjones commented on #2515
@joyboy67 as a workaround for now: if you are able to uninstall the system gumbo library, this should compile and install successfully.

[2022-04-15 19:32] joyboy67 commented on #2515
Ok thank you @flavorjones :)

[2022-04-24 16:14] flavorjones commented on #2506
Looks like this has been fixed upstream in the freebsd distro: https://github.com/sparklemotion/nokogiri/runs/6062473115?check_suite_focus=true#step:3:6413

[2022-04-27 19:23] #2506 closed

[2022-04-28 20:59] svoop opened #2520 "Fuzzy selection by content with XPath (or CSS)"
I have to manipulate an AIXM 4.5 (XML) document similar to this snippet:

[code]

The challenge is to select e.g. the first `Ase` node which contains an `AseUid` node which contains a `codeId` node with specific content:

`xpath("//Ase/AseUid/codeId[contains(text(), 'LS-R2 HOHGANT')]")`

This works fine, however, the name part `HOHGANT` is not known, so the search has to be shortened to:

`xpath("

[2022-04-29 06:40] svoop commented on #2520
Found the silver bullet: custom pseudo classes

https://rubydoc.info/gems/nokogiri/1.13.4/Nokogiri/XML/Searchable#css-instance_method

[2022-04-29 06:40] #2520 closed

[2022-04-29 17:36] svoop opened #2521 "Replacing a node breaks indent"
Maybe a bug, could also be a misunderstanding on my part.

Given a simple, but un-pretty XML document. Thanks to parsing with `&:noblanks` it can be pretty printed like so:

[code]

[code]

---

I now would like to replace the `second` node with some new un-pretty markup, however, this does away with the pretty printing:

[code]

[code]

---

Things look a little better when the trailing whitespac

[2022-04-29 18:13] svoop commented on #2521
After some more research, it seems as if pretty printing is not baked-in as such and `&:noblanks` in combination with `to_xml(indent: n)` only works if the document is not heavily altered.

If so, the way to go would rather be a XSL transformation right before the XML document is `to_xml`ed, something along the lines of [this article](https://medium.com/helpful-tips/pretty-print-of-xml-in-ruby-422

[2022-04-30 15:11] svoop opened #2522 "[help] XML Builder and Newlines Oddity"
To build large and rather cumbersome AIXM (XML) files, I'm currently switching from the "builder" gem to Nokogiri's built-in XML builder. `DocumentFragment`s come in quite handy to build the blocks with which to assemble the final document.

Most `DocumentFragment`s have a container with which everything works like a charm:

[code]

[code]

Unfortunately, a few `DocumentFragment`s merely contain a

[2022-04-30 16:48] svoop commented on #2522
From what I read about other implementations using libxml2, this appears to be a "feature" of libxml2 rather than to happen on Nokogiri's end, right?

In any case, I'm working around this readability issue likes so now:

[code]

Then use it:

[code]

To get:

[code]

[2022-04-30 16:48] #2522 closed

[2022-04-30 16:49] flavorjones commented on #2521
@svoop Thanks for asking these questions. Nokogiri is built on top of libxml2, and the serialization behavior you're seeing comes from there.

Specifically, the logic libxml2 uses to control indentation/formatting is in the `xmlNodeDumpOutputInternal` function in "xmlsave.c":

https://gitlab.gnome.org/GNOME/libxml2/-/blob/master/xmlsave.c#L854

Check out where `unformattedNode` is set:

https://gi

[2022-04-30 16:49] #2521 closed

[2022-04-30 16:51] flavorjones commented on #2522
Please see my explanation at https://github.com/sparklemotion/nokogiri/issues/2521#issuecomment-1114018266 for how libxml2 decides to format subtrees when serializing.

TL;DR, if any child of a node is a TEXT, CDATA, or ENTITY_REF node, then that node (and recursively its subtree) will be printed literally, without formatting and indentation.

[2022-04-30 16:58] svoop commented on #2521
@flavorjones Thanks for your explication, good to know what's actually going on downstream... and hopefully find ways to work around it. Formatting is a cosmetic problem, I know, but since I'm dealing with XML files which contain sometimes funky content (in terms of "what the heck does this try to code in the first place"), having pretty printed automated tests are somewhat important.

[2022-04-30 17:02] svoop commented on #2522
I came across this bit somewhere deep down on Stackoverflow. And knowing that this decision is made by libxml2 ultimately led to this workaround. It's nicely tucked away and doesn't pollute my builder models, so works for me. 🎉

[2022-04-30 17:21] flavorjones commented on #2521
@svoop If it's helpful, my recommendation to folks is usually to assert on the _structure_ of the document and not the _format_.

[2022-04-30 17:27] svoop commented on #2521
How do you do so in a human readable manner (with minimal overhead)?

My tests currently look as follows (subject from factory):

[code]

[2022-04-30 17:30] flavorjones commented on #2520
@svoop Exactly right, this is sort of use case that the XPath custom functions (and CSS custom pseudo-classes) are intended to handle. Glad you figured it ou!

[2022-04-30 17:55] flavorjones commented on #2521
It depends on what you care about. My point is that you don't (or at least you _shouldn't_) care about the bytes in a serialized form of the document, particularly if whitespace is largely semantically meaningless to the consumer.

One approach, which admittedly isn't amazingly readable, is to assert on the things you care about like this:

[code]

Another shotgun approach might be to use libxml t

[2022-04-30 18:01] svoop commented on #2521
@flavorjones The latter appears more feasible, however, I'll just bookmark and shelve this for the moment. Since I'll be passing builder objects through my models once the migration from the "builder" gem to Nokogiri's builder is complete, only one or two edge cases (in terms of formatting) should be left... if any at all. But it's certainly a good point!

[2022-05-02 17:02] flavorjones opened #2525 "Update to libxml2 2.9.14"
libxml2 v2.9.14 was released today:

https://gitlab.gnome.org/GNOME/libxml2/-/releases

This ticket has been opened to drive the work to update to that version of libxml2 in the packaged libraries that are vendored with nokogiri. It will be released as v1.13.5. There will also be a GHSA published to reflect the fact that CVE-2022-29824 is fixed in v2.9.14.

Punchlist:
- [x] https://github.com/spar

[2022-05-02 17:07] flavorjones commented on #2468
Note that this is now high priority since libxml2 v2.9.14 was published this morning.

[2022-05-02 19:31] stevecheckoway commented on #2525
One thing to think about with respect to the GitHub Advisory is the level of detail included. @noncombatant makes a persuasive case about [The Poor State Of Information](https://noncombatant.org/2022/04/22/itw-taxonomy/) contained in CVEs and the need (as an industry) to do better.

[2022-05-02 20:20] flavorjones commented on #2525
@stevecheckoway Yup, I agree and that's why I want to spend some time evaluating whether and how the CVE is exploitable via Nokogiri, and will post more information in the GHSA

[2022-05-02 20:22] flavorjones commented on #2525
Also see https://mail.gnome.org/archives/xml/2022-February/msg00014.html for a prior conversation I had with the libxml2 maintainer about this.

[2022-05-02 20:24] stevecheckoway commented on #2525
Great!

[2022-05-02 22:15] flavorjones commented on #2468
After looking at the current behavior introduced by that commit upstream, I think the behavior change is worth the improvement in handling of DoS attacks (see https://gitlab.gnome.org/GNOME/libxml2/-/issues/339 for an explanation). The necessary changes downstream in the test suites of Loofah and rails-html-sanitizer are minimal and I'll take care of those.

So, the changes introduced in the test

[2022-05-04 15:13] #2468 closed

[2022-05-04 21:22] flavorjones commented on #2525
Punchlist complete, closing.

[2022-05-04 21:22] #2525 closed

[2022-05-07 22:36] flavorjones commented on #2490
After chatting with @tenderlove about this, the primary advantage of using `ruby_xmalloc` would be to include the amount of memory allocated in Ruby's GC bookkeeping.

However, my understanding is that the memory allocated in libgumbo is freed once the libxml2 document is constructed (and the act of construction via methods like `xmlNewNode` and `xmlNewDocText` uses `xmlStrdup` to allocate new str

[2022-05-07 22:41] flavorjones commented on #2490
Also - tenderlove confirmed for me that `ruby_xmalloc` doesn't raise an exception if it fails to allocate memory. It's just a wrapper around `malloc` with bookkeeping, and on failure will run GC and retry once.

[2022-05-07 22:41] #2490 closed

[2022-05-08 01:25] #2467 closed

[2022-05-08 01:26] flavorjones commented on #2466
Note that v1.14.0 will support arm-linux as a native gem. See #2533 for details. I'd love help testing it once a release candidate is out.

[2022-05-09 07:45] svoop opened #2536 "[bug] Segmentation fault on "transform""
I'm trying to pretty print a large (some MB) XML file using the following stylesheet:

[code]

The transformation:

[code]

While this works for small XML files, the big one causes a segfault:

[code]

I'm not pasting the whole rap here, but I can send it e.g. by email if necessary.

Could this be a memory problem such as the process running out of available memory to perform the transformation on

[2022-05-09 12:27] flavorjones commented on #2536
Hi, @svoop. Thanks for reporting this, and sorry you're having issues.

I'll need to be able to reproduce this in order to understand what's going on. Email would be fine, if you're comfortable sharing the data file that way. I'm at mike.dalessio@gmail.com, and please put "nokogiri" in the subject line so I see it.

[2022-05-09 13:25] svoop commented on #2536
Hello @flavorjones, thanks for your reply!

I'm having a hard time extracting a failing example. The background: I'm building an XML document with Nokogiri's Builder, then apply the stylesheet, kaboom. If I skip the last step, write the XML to a file, then read the XML and apply the stylesheet, it works fine. (Besindes maybe the fact, that the 17-some-MB file takes almost 3 minutes to open on my n

[2022-05-09 17:06] flavorjones commented on #2293
Done! See https://github.com/sparklemotion/nokogiri/actions/runs/2294173903

[2022-05-09 17:06] #2293 closed

[2022-05-10 15:49] #2471 closed

[2022-05-10 15:50] flavorjones commented on #2471
Happy to look into this if someone can help me reproduce the problem as I noted above.

[2022-05-10 16:30] flavorjones commented on #2437
Note that on `main`, we get our HTML parser from `neko-htmlunit` and not the fork of nekohtml mentioned above. I've updated the title and description to reflect that we don't need to do that work anymore.

[2022-05-10 21:42] flavorjones commented on #2437
See https://github.com/sparklemotion/nokogiri/pull/2538 and https://github.com/sparklemotion/nekodtd/issues/1. This is basicall done, just waiting for CI to go green.

[2022-05-10 21:44] #1395 closed

[2022-05-10 21:56] flavorjones commented on #2436
OK! Thanks for your patience, the work to use maven-distributed dependencies is done, which is good news. More good news, we're now using a well-maintained fork of nekohtml from https://github.com/HtmlUnit/htmlunit-neko. The bad news is that the htmlunit-neko library exhibits this same behavior.

I'm going to report this upstream.

[2022-05-10 22:06] flavorjones commented on #2436
Err, sorry, please ignore my previous update. This *is* fixed in the current version of nekohtml, and in fact was fixed in v1.13.4 (when we updated nekohtml  in 0feac5a). Yay!

Closing.

[2022-05-10 22:06] #2436 closed

[2022-05-11 01:03] #2437 closed

[2022-05-11 17:57] flavorjones opened #2543 "[bug] explore removing JRuby implementation's namespace cache"
**Please describe the bug**

It's not clear to me why we're using a namespace cache in the JRuby implementation. It is causing problems in edge cases like #1247 that I think would be better solved by looking up the node's parent chain for an identical namespace definition a) when it is added, and b) when the node is reparented.

This is what we do in the CRuby implementation. It's more complicated

[2022-05-11 18:44] flavorjones commented on #1247
PR created at #2544 to fix this. Thanks again for your patience.

[2022-05-11 18:59] flavorjones commented on #2536
@svoop I'm not sure how to help if I can't reproduce the issue. While I appreciate you taking the time to report the problem, there isn't enough information here to even guess at where the problem could be. Can you provide _any_ more detail or working code?

[2022-05-11 19:49] #1247 closed

[2022-05-12 02:46] flavorjones commented on #2410
I've got a branch that I want to push to get more eyeballs on the solution which updates to santuario xmlsec but pulls in multiple dependencies and breaks the block parameter to `Document#canonicalize`, but fixes some of the encoding problems. Won't make it into v1.14.0 but will be a candidate for v1.15.0 if we can work through the changes.

Will push the branch tomorrow as it's based on the branc

[2022-05-12 06:00] svoop commented on #2536
@flavorjones I've tried to pin down the exact cause of the segfault, but so far, it looks as if the mere size triggers it. This said, I can tell you how to reproduce it or at least reproduce the exact situation. I just need a moment since it's a busy week, maybe later today or tomorrow.

[2022-05-12 14:45] dvergeylen commented on #2520
[Doc for Xpath](https://www.rubydoc.info/github/sparklemotion/nokogiri/Nokogiri%2FXML%2FSearchable:xpath)

To elaborate a bit, one can provide methods defined in a custom class, and call them within the Xpath statement.

For instance:
[code]

You can use the defined method(**s**) multiple times in the xpath statement.

[2022-05-13 16:57] seanstory opened #2550 "[bug] jruby nokogiri + bson + boilerpipe garbles html"
**Please describe the bug**

We seem to have hit an extreme edge case. Consider this script:

[code]

The output we expect (whitespace edited for clarity):

[code]

when using MRI Ruby, this works as expected. When using JRuby, this works as expected. But if you make two small changes:
- add a `require 'bson'` to the top of the script
- add a `Jars.lock` file including `de.l3s.boilerpipe:boilerpip

[2022-05-14 00:14] flavorjones commented on #2550
Hi @seanstory, thanks for opening this issue. I agree things like this shouldn't happen.

I'm curious why you're filing a bug with Nokogiri and not with the BSON gem? Since arguably Nokogiri's only fault here is ... not defending itself properly? Honestly I don't know, but it probably makes more sense to start with BSON since they're the ones injecting behavior into `Object`:

[code]

I'll be hone

[2022-05-14 00:22] flavorjones commented on #2550
It looks like boilerpipe provides its own version of nekohtml which likely conflicts with Nokogiri's version of nekohtml:

https://github.com/kohlschutter/boilerpipe

I'm very curious if this can be reproduced with Nokogiri `main` because we're moved away from `nekohtml` to `htmlunit-neko` which is (after many years) only a cousin of nekohtml.

[2022-05-14 00:31] flavorjones commented on #2550
When I run your `crawler-html-parse-bug` against Nokogiri `main` (v1.14.0.dev) the error does not reproduce.

If you reverse the order of `require` to load nokogiri before bson, this also does not reproduce, which may be a workaround for you until v1.14.0 is shipped.

What else can I help with?

[2022-05-17 15:30] seanstory commented on #2550
@flavorjones amazing! Thank you so much for investigating so quickly. The workaround of switching the imports is fantastic, and we'll make a note to upgrade to 1.14.0 when it releases, as a longer-term solution.

Yeah, that's fair. I debated where to file, and landed on here, because you'd have the better appreciation for expected vs actual behavior. But you really came through for me, and I super

[2022-05-17 20:44] dan42 opened #2551 "[bug] HTML5 fragment has extraneous head/body tags"
[code]
I'm fairly sure that a "fragment" is not supposed to include the `<head>` and `<body>` tags.

[2022-05-18 14:54] stevecheckoway commented on #2551
Hi @dan42,

Indeed it should not! I'll take a look.

[2022-05-18 21:24] flavorjones commented on #2550
:partying_face: Happy to help! I'm going to close this and tag it with v1.14.0. Still hoping to get that release out in the next week!

[2022-05-18 21:24] #2550 closed

[2022-05-20 04:44] stevecheckoway commented on #2551
So actually, I misread that initially as `Nokogiri::HTML5.fragment("hello")`.

The [HTML fragment parsing algorithm](https://html.spec.whatwg.org/multipage/parsing.html#parsing-html-fragments) takes an HTML element as input. When we call `Element#fragment()`, the element we're calling it on is the input to the algorithm.

In your example, you're calling it on a Document. I'm not sure what the expe

[2022-05-20 13:36] dan42 commented on #2551
Thanks for the analysis.

For context, I'm using this to parse a string to nodes which will then be added to a document (doc1). Since the nodes already belong to doc1, they are easily moved from the DocumentFragment. If I use `Nokogiri::HTML5.fragment` this creates an extra Document object (doc2) to which the nodes belong, and then when I insert those nodes into doc1 they must be reparented, which

[2022-05-20 16:13] stevecheckoway commented on #2551
I think the correct way to use this API is to call `#fragment` on the actual element you want to be the ultimate parent, in this case, the `div`.

[code]

To be clear, I'm not sure what the behavior calling `#fragment` on a document is supposed to have. It's not something the standard addresses and it's not something that could come up in the browser context (to the best of my limited knowledge).

[2022-05-20 18:34] dan42 commented on #2551
Ah, that's really insightful.

But in that order of ideas, if I wanted the context to be the root element, then I would do `doc.root.frament(tags)` (similar to that `document.children[0].innerHTML` example earlier) and in that case I would find it totally normal to have those head/body tags.

[2022-05-20 19:20] stevecheckoway commented on #2551
I agree. I'll try to find some time to add tests to #2553. Unfortunately, this is a very busy time of the semester for me (dealing with grading and students graduating) so it may be a bit before I get to it. If someone else wants to finish that PR by adding tests, that's fine with me.

It would be good to know what the Java implementation does, but I've never used Jython.

[2022-05-23 05:16] Truthofmanyis1 opened #2554 "[install]"
**Have you read and followed the installation tutorial at http://www.nokogiri.org/tutorials/installing_nokogiri.html?**

- [ ] Yes!

**What is the complete output of `gem install` or `bundle install`?**

[code]

**If installation completed but is broken, what is the complete output from `nokogiri -v`?**

[code]

**If installation failed during compilation, what are the complete contents of the `mk

[2022-05-23 12:37] flavorjones commented on #2554
@Truthofmanyis1 If you're having trouble with installation, please provide us with more information! The template is the best way to start.

[2022-05-23 12:37] #2554 closed

[2022-05-24 15:31] flavorjones commented on #752
Also see related #2447

[2022-05-25 18:54] stevecheckoway opened #2555 "Change html5lib parser to accommodate out-of-order test metadata"
Regarding https://github.com/html5lib/html5lib-tests/pull/148, one possibility is we could change our parser for these tests to either give a warning when the test format is wrong or just handle out of order sections (or both).

As I recall, the code I wrote to parse these is…not great. I think I just cobbled a parser together that worked and then never revisited it.

[2022-05-25 19:13] flavorjones commented on #2555
I am about to submit a pull request to skip the test and emit a warning.

(I had started working a real racc-based parser earlier today but then punted because it was turning into a deep yak-shave.)

[2022-05-25 19:16] stevecheckoway commented on #2555
Yeah, understandable. It's a simple format…except it has some strange warts. My initial thought was to break up each test by section (or whatever it calls the lines that start with `#`), but I seem to recall that you really have to parse line by line.

[2022-05-25 22:03] #2555 closed

[2022-05-26 09:02] Truthofmanyis1 opened #2557 "X"
https://github.com/github/docs/issues/18252

[2022-05-26 13:42] #2557 closed

[2022-05-27 14:21] andrewcarver opened #2558 "mini_portile2 fails when 'unlink'-ing temp log-file in Windows [install]"
**Have you read and followed the installation tutorial at http://www.nokogiri.org/tutorials/installing_nokogiri.html?**

- [x] Yes!

Although I'm trying to install an earlier version of Nokogiri (1.8.5 -- due to `~> 1.8.1` dependency of the main gem I'm trying to install -- which is in turn dependent on mini_portile2 v. 2.3.0), I believe the problem derives from code still present in the latest ve

[2022-05-27 14:55] flavorjones commented on #2558
@andrewcarver Thanks for opening this issue, and sorry you're having problems.

I'm a bit confused by your description -- were you able to install after deleting that temporary directory? That seems like the obvious thing to try if you haven't tried it already.

I suspect the file couldn't be deleted because it was still open (being written to) by a previous `gem install` subprocess that hadn't co

[2022-05-27 15:55] andrewcarver commented on #2558
@flavorjones Thanks for the prompt reply. Let me try to clarify, please:

No, I've not gotten the install (of 1.8.5) to succeed.
Sorry, which directory? I did try deleting the configure.log file and re-running, but all that returns different is to open a Windows Explorer window, to the now empty folder `C:\tools\ruby31\lib\ruby\gems\3.1.0\gems\nokogiri-1.8.5\ext\nokogiri\tmp\x86_64-w64-mingw32\por

[2022-05-27 17:00] andrewcarver commented on #2558
P.S. If you can tell me exactly what section of the "temporary directory" folder-path you'd try deleting, I will (VERY) gladly try it. Many thanks!!
`C:\tools\ruby31\lib\ruby\gems\3.1.0\gems\nokogiri-1.8.5\ext\nokogiri\tmp\x86_64-w64-mingw32\ports\libiconv\1.15`

[2022-05-27 17:00] flavorjones commented on #2558
@andrewcarver I'm sorry that you're having this problem, but we've run Windows CI on every version of Nokogiri going back to 2015 and I've never seen this happen. When I ask for help reproducing it, I mean reproducing it in CI or in my Windows development VM.

I'm not a frequent windows user, so I unfortunately can't tell you how to figure out what process is reading that configure.log file and pr

[2022-05-27 17:01] flavorjones commented on #2558
`C:\tools\ruby31\lib\ruby\gems\3.1.0\gems\nokogiri-1.8.5\ext\nokogiri\tmp`

[2022-05-27 17:05] andrewcarver commented on #2558
Ah ... which would explain why I didn't have this problem on my previous Windows 10 machine, still running Ruby 2.6.x ... Thanks!!

[2022-05-27 19:31] andrewcarver commented on #2558
YEP!! It works with Ruby [2.5.9.1](https://community.chocolatey.org/packages/ruby/2.5.9.1). It even appears, from an old error-message I'd noted (but then, sadly, overlooked!), that version 1.8.5 doesn't like any Ruby older than 2.5.x:

[code]

[2022-05-30 17:54] flavorjones opened #2559 "[bug] jruby NPE when serializing an unparented HTML node"
**Please describe the bug**

[code]

results in

[code]

**Expected behavior**

Unparented nodes should serialize normally, as they do in the CRuby implementation

[2022-05-31 16:41] flavorjones opened #2560 "explore: alternative CSS selector parsers"
The CSS selector parser we have is complex, and selector parsing is really a separable concern from Nokogiri proper. It would be nice if we were able to use an existing parser.

(Side note: the generation of XPath from the CSS _is_ a Nokogiri concern, though, since the generated xpath query is often tightly coupled to the version of libxml or the C extension. Perhaps we can spin this off as a sepa

[2022-06-01 10:41] jarl-dk opened #2562 "[bug] xinclude error message is shadowed by missing DTD warning message."
**High level description**
When using `xinclude` on a non-existing file followed by an `xinclude` with a DOCTYPE declaration (from a non-existing DTD file) The warning text of the missing DTD file ends up in the error text for the `xinclude` of the non-existing file.

**Reproduce the problem**

Create a file named `with_doctype_missing_files.xml` with the following content:
[code]

Create a file n

[2022-06-01 13:45] flavorjones commented on #2562
@jarl-dk Thanks for opening this issue. I'll take a deeper look shortly.

[2022-06-01 15:16] flavorjones commented on #2562
OK, digging in, it turns out that the libxml2 function `xmlXIncludeProcessTreeFlags` records 3 errors (via our callback registered via `xmlSetStructuredErrorFunc`) during its operation:

[code]

Note that there's little to distinguish the "warnings" from the "error" that was the cause of the failure, so the code chooses the _last_ error under the assumption that a fatal error would be the final re

[2022-06-01 15:19] flavorjones commented on #2562
I think perhaps this is a sign that we should be using the `xmlErrorLevel` to help distinguish warnings and errors, which will definitely add some complexity to the error handling but might be the right thing to do. I need to think about this a bit more.

As a user, what would you expect Nokogiri to do in this case?

[2022-06-03 18:18] flavorjones commented on #2491
OK, closing this for now. I'll take a look at the truffle CI job which is failing in interesting ways.

[2022-06-03 18:18] #2491 closed

[2022-06-04 07:11] Romjkeone opened #2563 "[help]e444525ef1634b675cd1cf52d39f4320ef0aecfd"
**What problem are you trying to solve?**

**Please show your code!**

**Environment**

**Additional context**

[2022-06-05 17:20] flavorjones commented on #2331
A baby step we'll do first is: support subclassing in v1.14.0 to enable Loofah and Rails::Html::Sanitizer to default to HTML5:

- https://github.com/flavorjones/loofah/pull/239
- https://github.com/rails/rails-html-sanitizer/pull/133

So I'm pushing this out to v1.15.0

[2022-06-05 17:24] flavorjones opened #2564 "Cut a v1.14.0 release"
[View current status of the miletstone here](https://github.com/sparklemotion/nokogiri/milestone/24).

Other chores needed for this release:

- [x] thank sponsors when v1.14.0 drops
  - [x] review https://github.com/sponsors/flavorjones/dashboard/your_sponsors?tier_id=125132
  - one time
    - [x] @dvrensk acknowledgement - https://twitter.com/dvrensk/status/1496056705511309318
    - [x] @daragiu

[2022-06-05 19:11] flavorjones opened #2565 "test against upstream htmlunit-neko"
I recently shipped a PR upstream: https://github.com/HtmlUnit/htmlunit-neko/pull/13

If that gets accepted, then the pending tests from 7cec00e and 277db2e should start passing, and that's a good time to implement upstream testing against https://github.com/HtmlUnit/htmlunit-neko/

[2022-06-05 20:46] flavorjones opened #2567 "upstream html5lib-tests failure"
This commit upstream:

is failing with this message:

[code]

This failure can be seen in the relevant "upstream" CI job, e.g. https://github.com/sparklemotion/nokogiri/runs/6722287019?check_suite_focus=true#step:8:4197

I'm not sure how to fix this and need help. @stevecheckoway I'd be happy to pair with you on it so you can start transferring some of the expertise you've got on the gumbo parser.

[2022-06-05 20:53] flavorjones opened #2568 "fix O(n^2) behavior when checking for duplicate attributes (libgumbo)"
**Please describe the bug**

Originally https://github.com/rubys/nokogumbo/issues/144

Code was added to limit the number of attributes supported per element to prevent DoS attacks: https://github.com/rubys/nokogumbo/pull/143

That safety limit is here: https://github.com/sparklemotion/nokogiri/blob/main/gumbo-parser/src/tokenizer.c#L792

It would be great to support more attributes by addressing

[2022-06-05 21:02] flavorjones opened #2569 "explore ways to speed up HTML5 document serialization"
**Please describe the issue**

Originally https://github.com/rubys/nokogumbo/issues/145, please read that issue for an in-depth conversation.

For HTML5 documents, `#to_s` is much slower than native libxml2 serialization. However, libxml2 gets many things wrong which is why Nokogumbo (and now Nokogiri::HTML5) implemented `HTML5.serialize_node_internal`.

Some likely next steps:

- profile the curr

[2022-06-05 21:03] flavorjones commented on #2331
See https://github.com/sparklemotion/nokogiri/issues/2569 for one performance concern that we should benchmark and address.

[2022-06-07 06:36] keithrbennett opened #2570 "Elaborate on meaning of NOBLANKS option."
It would be nice to see the meaning of NOBLANKS elaborated on in the docs. I web searched and there was some confusion as to what it meant (e.g. at https://stackoverflow.com/questions/18040423/how-to-use-nokogiris-noblanks). Does it mean something like this (I'm sure you could say it better):

NOBLANKS - resuts in _not_ creating Text elements for text containing _only_ whitespace (anything matchin

[2022-06-07 12:34] flavorjones commented on #2570
This "feature" simply exposes libxml2's feature of the same name. Libxml2's documentation is also lacking -- it literally only says "remove blank nodes". (Presumably only `text` nodes.)

I'd be happy to consider merging any documentation you wanted to contribute, either here or in https://github.com/sparklemotion/nokogiri.org !

[2022-06-07 12:34] #2570 closed

[2022-06-09 14:59] Haku56 opened #2571 "[install]"
**Have you read and followed the installation tutorial at http://www.nokogiri.org/tutorials/installing_nokogiri.html?**

- [x] Yes!

**What is the complete output of `gem install` or `bundle install`?**

[code]

**If installation completed but is broken, what is the complete output from `nokogiri -v`?**

[code]

**If installation failed during compilation, what are the complete contents of the `mk

[2022-06-09 19:54] stevecheckoway commented on #2567
I was trying to dig into this and I'm afraid I'm running into a series of problems, only some of which are likely to be related to Nokogiri.

First problem: When I try to compile the C extension by running `bundle exec rake`, it fails. Here's the relevant section of mkmf.log.
[code]
I'm not sure why the conftest.c includes both the header for `xmlParseDoc` and its own declaration. For link tests,

[2022-06-09 20:00] flavorjones commented on #2567
Hey @stevecheckoway sorry you're having problems.

Make sure you're running `bundle exec rake compile` which should do everything for you. I've tried to give context on how to develop Nokogiri in the [CONTRIBUTING.md](https://github.com/sparklemotion/nokogiri/blob/main/CONTRIBUTING.md) file.

If that doesn't help, can you describe your system? Looks like you're doing something that's nix-based and

[2022-06-09 20:05] flavorjones commented on #2567
I'm happy to make time to pair with you on getting your env set up, just let me know.

[2022-06-09 20:17] stevecheckoway commented on #2567
`bundle exec rake compile` has the same error. (Full output below.)
[code]
And the reason it's failing is the conflicting types for `xmlParseDoc` in the conftest.

I'm running macOS 11.6.2 on this machine and I have Ruby installed via Nix, having replaced MacPorts with Nix as my package manager quite recently. So I also don't know much about Nix.

`bundle exec rake compile test -- --enable-system-

[2022-06-09 20:21] flavorjones commented on #2567
The relevant error is:

[code]

which I've never seen before but googling indicates it may be related to specific versions of clang or xcode?

[2022-06-09 20:30] stevecheckoway commented on #2567
Okay, this works.
[code]

I got that from [here](https://gitlab.haskell.org/ghc/ghc/-/merge_requests/5992).

[2022-06-09 20:32] flavorjones commented on #2567
Phew, OK. It may be worth rebuilding libxml2/libxslt if you haven't done that since upgrading clang/xcode, too. `bundle exec rake clean clobber` will wipe the slate clean.

[2022-06-09 20:33] flavorjones commented on #2567
And once you've got it building, to run the html5lib-tests suite, see https://github.com/sparklemotion/nokogiri/blob/main/CONTRIBUTING.md#gumbo-html5-parser and update the submodule to `origin/master`

[2022-06-09 21:00] stevecheckoway commented on #2567
Okay, I'm now getting the error, but I think the test is wrong. I don't believe `<!doctype html><button><p></button>` has any errors. I'll follow up with html5lib-tests.

[2022-06-09 21:24] stevecheckoway commented on #2567
PR filed upstream. https://github.com/html5lib/html5lib-tests/pull/149

[2022-06-09 23:07] #2571 closed

[2022-06-09 23:15] flavorjones commented on #2567
Thank you!

[2022-06-13 19:23] wesley974 opened #2576 "[install] unable to install Nokogiri 1.13.6 on OpenBSD 7.1 amd64 - (testing purpose for Rails)"
Hi,

**Have you read and followed the installation tutorial at http://www.nokogiri.org/tutorials/installing_nokogiri.html?**

- [x] Yes!

**What is the complete output of `gem install`

[code]

**If installation failed during compilation, what are the complete contents of the `mkmf.log` file generated during the failed installation?**

[code]

**Tell us about your system!**

What is the output fro

[2022-06-13 19:32] flavorjones commented on #2576
@wesley974 Hi, sorry you're having this problem. See https://gitlab.gnome.org/Infrastructure/Infrastructure/-/issues/768 for more context, but the underlying source package is an `.xz` file and OpenBSD doesn't ship xz utilities by default.

The current installation docs try to address this, please let me know whether the docs are correct or not in these sections?

- https://nokogiri.org/tutorials/

[2022-06-13 19:35] flavorjones commented on #2576
Also: If you'd like to help make Nokogiri work better on OpenBSD, we could always use an extra pair of hands. If the installation experience doesn't meet your expectations we are open to changing it, but we really need someone who's an OpenBSD user to drive that work.

[2022-06-13 19:44] wesley974 commented on #2576
Many thanks @flavorjones

[2022-06-13 19:44] #2576 closed

[2022-06-13 19:56] flavorjones commented on #2576
I updated the installation docs with the exact error message you saw on openbsd (to hopefully make it more findable), see https://github.com/sparklemotion/nokogiri.org/commit/a2271c177032a23589a26489e2a84e30e4c2347f

[2022-06-13 19:57] flavorjones commented on #2576
Retitled section is https://nokogiri.org/tutorials/installing_nokogiri.html#tar-and-xz-files

[2022-06-14 23:42] tenderlove opened #2578 "[bug] Document / Nodes aren't compaction friendly"
**Please describe the bug**

`xmlNodePtr` instances keep a reference to their Ruby wrapper inside the `_private` member.  You can see the `_private` member being set to the wrapping Ruby instance [here](https://github.com/sparklemotion/nokogiri/blob/0e75392d49ca3758dcdfc6610c9c22ccdc23001c/ext/nokogiri/xml_node.c#L2048-L2049).

After it's been wrapped, the instance is optionally stored in an array

[2022-06-15 02:16] flavorjones commented on #2578
Ack. I've reproduced. Let's talk tomorrow.

[2022-06-15 18:30] tenderlove commented on #2578
Better patch:

[code]

Still not ideal, but better than the patch above.  I think ideally we should add compaction support.  The first step toward that would be switching from `DataWrapStruct` to the typed version so we can provide a compaction callback.

[2022-06-18 12:31] wolfgang371 opened #2580 "[install] gem installation fails due to access right issues on rubygems.org"
I already reported this at rubygems.org and got this answer:

Thanks!

-----

**Have you read and followed the installation tutorial at http://www.nokogiri.org/tutorials/installing_nokogiri.html?**

- [x] Yes!

**What is the complete output of `gem install` or `bundle install`?**

[code]

**Tell us about your system!**

What is the output from `ruby -v`?
[code]

What is the output from `gem -v`?
[

[2022-06-18 16:32] flavorjones commented on #2580
Thanks for opening this issue! I'm sorry you're getting passed around, but I can help.

The issue you're seeing is actually due to the behavior of older versions of `gem` which aren't smart enough to look at the [`required_ruby_version`](https://guides.rubygems.org/specification-reference/#required_ruby_version) value in each gem version's gemspec.

The latest Nokogiri is v1.13.6 which doesn't sup

[2022-06-18 16:32] #2580 closed

[2022-06-22 14:20] raquelhortab opened #2582 "Unquoted attributes in HTML [help]"
**What problem are you trying to solve?**

I am using nokogiri to check whether a text is a well-formed HTML document. To do so I'm using

[code]

I want to check all tags are properly closed, and the function above does not do that, so I used

[code]
However, this function does not allow some syntax that HTML allows: unquoted attribute values. For instance, I could have this tag:

[code]
which wo

[2022-06-22 17:23] stevecheckoway commented on #2582
Hi @raquelhortab,

I'm not entirely sure that Nokogiri has the functionality you're looking for.

One thing to keep in mind is that HTML does _not_ require every HTML element to have a closing tag. In fact, some elements may not have an end tag. For example `<br>` and `</br>` are treated identically by the standard (except that the latter causes an error).

In other cases, the end tag is not requi

[2022-06-22 21:46] flavorjones commented on #2582
@raquelhortab, thanks for asking this question.

I don't have much to add to @stevecheckoway's comment above. The behavior you're seeing comes from the underlying parser, libxml2. Because Nokogiri is a thin wrapper around the underlying parsers, there isn't anything we can easily do to change this.

Can you share a bit more context on why you want to check that all start tags have matching end tag

[2022-06-23 06:54] raquelhortab commented on #2582
Hi, thanks for answering! I'm a developer at a programming academy. I'm using nokogiri to check student's html code. While we know browsers will "eat" anything, we felt it would be nice for students to at least learn to correctly format the code (while the browser might be OK with an unclosed div, for instance, it is not usually very nice). Anyhow, seeing how it is I might just skip the part where

[2022-06-23 13:50] flavorjones commented on #2582
@raquelhortab Ah, I see. That use case totally makes sense to me! But unfortunately, libxml2 is not going to do what you want it to do. Even the SAX parser will implicitly add closing tags and send an event:

[code]

[code]

(see the `end_element` event is triggered for implicit `span` and `div` close tags).

[2022-06-23 13:50] #2582 closed

[2022-06-23 14:09] jgarber623 opened #2583 "[bug] HTML5 parser loses reference to `url` parameter value"
**Please describe the bug**

Invocations of `Nokogiri::HTML4()` and `Nokogiri::HTML5()` both support optional second parameters representing the parsed document's URL:

- https://github.com/sparklemotion/nokogiri/blob/main/lib/nokogiri/html4.rb#L6-L12
- https://github.com/sparklemotion/nokogiri/blob/main/lib/nokogiri/html5.rb#L25-L32

The resulting `Nokogiri::HTMLx::Document` instance responds to

[2022-06-23 14:18] raquelhortab commented on #2582
I understand, thanks anyway!

[2022-06-23 14:27] flavorjones commented on #2583
@jgarber623 Thanks for reporting this! I'll take a look as soon as I can, but after a brief glance it seems like something we can easily fix.

[2022-06-23 15:43] jgarber623 commented on #2583
@flavorjones Thanks for the quick fix! Tested and reviewed your changes in #2584 and everything looks good.

[2022-06-23 16:23] #2583 closed

[2022-07-10 17:30] #2563 closed

[2022-07-11 14:27] flavorjones commented on #2567
PR was merged and upstream is green again: https://github.com/sparklemotion/nokogiri/actions/runs/2648112105

[2022-07-11 14:27] #2567 closed

[2022-07-13 06:39] radar opened #2594 "[help] How do I use Noko_Node_Get_Struct in another project?"
**What problem are you trying to solve?**

[This commit](https://github.com/sparklemotion/nokogiri/commit/720d6f49ce2630f2e8b2b0a7aeda4fd8d8176734) from Nokogiri caused our application to start failing on SAML requests.

This is due to the `saml2` gem that we use, and a transitive dependency there called [nokogiri-xmlsec-instructure](https://github.com/instructure/nokogiri-xmlsec-instructure). Thi

[2022-07-13 10:14] flavorjones commented on #2389
Another seen at https://github.com/sparklemotion/nokogiri/runs/7287036089?check_suite_focus=true

[code]

[2022-07-13 14:32] flavorjones commented on #2594
Whoa, sorry you're having problems, that's unexpected.

I will add the saml2 and/or xmlsec-instructure projects to the [set of downstream projects we run CI against](https://github.com/sparklemotion/nokogiri/blob/main/.github/workflows/downstream.yml) so that I have good signal on this going forward.

Let me take a look -- it may take a few hours though, today's a bit busy for me.

[2022-07-13 14:43] flavorjones commented on #2594
https://github.com/sparklemotion/nokogiri/pull/2595 is going through CI now which adds xmlsec to the suite

[2022-07-13 14:59] flavorjones commented on #2594
I submitted PR https://github.com/instructure/nokogiri-xmlsec-instructure/pull/14 upstream

[2022-07-13 15:12] flavorjones commented on #2594
I'm not sure what else I can do at this point, how can I help?

[2022-07-14 03:23] radar commented on #2594
Wow that's more than I expected. Thank you for helping out here :) We will use a fork with your commit in it -- that'll suit for our purposes.

[2022-07-14 03:23] #2594 closed

[2022-07-14 12:25] flavorjones commented on #2594
Well, I feel bad that we broke something, we try pretty hard not to.

[2022-07-17 08:51] aaronstillwell commented on #2511
Hey folks, just circling back here. Having been up and running with the hard coded support for `ASCII-8BIT` to `ISO-8859-1`, I'm frequently running into issues where characters aren't correctly appearing in the transformed document, resulting in characters like &#xC4;&#x97;...

Looking at a couple of problematic examples, I can see that the ruby string is encoded using `ASCII-8BIT`, but the HTML d

[2022-07-17 18:17] stevecheckoway commented on #2511
@aaronstillwell The HTML standard [specifies how browsers should determine the character set](https://html.spec.whatwg.org/multipage/parsing.html#determining-the-character-encoding). Unfortunately it's a bit complicated and takes in information that's not present in the html alone. Nevertheless, if you ignore the other inputs to the algorithm, it boils down to
1. If the document starts with a Unic

[2022-07-19 15:36] bf4 commented on #2578
I've been able to reliable track the 1.13.6 -> 1.13.7 update to a segfault whilst using [creek 2.5.3](https://github.com/pythonicrubyist/creek/issues/105)  I haven't been able to reproduce is reliably on every run, unfortunately, and the trace is a little different every time.  Would you like me to make an issue? Otherwise, I'm just sticking this comment here in case it helps a future googler.

[2022-07-19 16:37] flavorjones commented on #2578
@bf4 Yes, please open an issue. I also commented on the upstream issue.

[2022-07-19 16:44] flavorjones commented on #2578
@bf4 a script that will reproduce this, even if intermittently, would be extremely valuable. I know nothing about Creek.

[2022-07-19 19:11] flavorjones commented on #2511
One more note: Ruby's `ASCII-8BIT` encoding is not actually an encoding -- it's what Ruby uses to signify "this is binary data". [It's an alias for `BINARY`.](https://ruby-doc.org/core-2.5.0/Encoding.html#method-c-aliases) As such, it says nothing about the actual encoding of the bytes representing the document.

[2022-07-19 19:13] aaronstillwell commented on #2511
Thanks for your combined input @stevecheckoway @flavorjones! Happy to close this out from my end.

[2022-07-19 20:21] #2569 closed

[2022-07-20 13:26] #2551 closed

[2022-07-20 17:23] flavorjones opened #2598 "bug: v1.13.7 XML::Reader may segfault"
Originally reported downstream in https://github.com/pythonicrubyist/creek/issues/105

Special thanks to @bf4 who helped reliably reproduce this.

More details coming shortly.

[2022-07-20 21:35] flavorjones commented on #2598
## Summary and Diagnosis

This comment is an explanation of the problem. I'll follow up with a few suggestions for approaches to fix it.

### The Symptoms

Users of `Nokogiri::XML::Reader` experiencing segfaults in Nokogiri v1.13.7 while traversing a document.

A reproduction (provided by @bf4) captured in valgrind showed the following memory error:

[code]

Nokogiri v1.13.7 introduced some change

[2022-07-20 21:49] tenderlove commented on #2598
How is `xmlTextReaderFreeNode` getting called?  Is the attribute object is outliving reader object?

[2022-07-21 14:08] flavorjones commented on #2598
## How to move forward

Some thoughts on what we might do.

### The naive solution

A reasonable idea might be to move the ruby-wrapped-ness test out of the mark function and back into the wrap function. This would avoid this particular code path, and would certainly segfault less.

We could do that by making a second `rb_data_type_t` struct:

[code]

and use this at wrap time:

[code]

### "It's

[2022-07-21 18:00] flavorjones opened #2600 "ci: freebsd actions are configured to run on macos-10.15 which is being deprecated"
See https://github.com/actions/virtual-environments/issues/5583

See https://github.com/sparklemotion/nokogiri/actions/runs/2713629874

[2022-07-21 18:01] flavorjones commented on #2600
Looks like https://github.com/vmactions/freebsd-vm now supports macos-12, should be an easy change.

[2022-07-21 19:44] stevecheckoway commented on #2598
I haven't read this closely enough to have an opinion, but did you mean `xmlAttribute` or `xmlAttr`? `xmlAttribute` is for a DTD and `xmlAttr` is for property nodes in the DOM.

[code]
Either way, maintaining copies seems tricky at best.

[2022-07-21 20:57] #2600 closed

[2022-07-21 21:08] flavorjones commented on #2598
@stevecheckoway Ah, thank you for catching that! It's been a long week. I absolutely meant `xmlAttr` and not `xmlAttribute`, but the essence of my point still holds --  there are lots of pointer members connecting a graph of structs.

[2022-07-21 21:46] flavorjones commented on #2598
There's another option that @tenderlove suggested in a chat today ...

## Option 3: ask the Reader to preserve nodes

`xmlReader` provides a function [`xmlTextReaderPreserve`](https://gnome.pages.gitlab.gnome.org/libxml2/devhelp/libxml2-xmlreader.html#xmlTextReaderPreserve) which "tells the XML Reader to preserve the current node" which, based on an incomplete understanding of the mechanics of tha

[2022-07-21 21:50] flavorjones commented on #2598
Trying to get to a decision here ... I've written a PR that implements Option 2, and I like it: https://github.com/sparklemotion/nokogiri/pull/2599

I'm not going to try to implement Option 3, though I'm open to considering it if someone else wants to try!

[2022-07-22 21:20] flavorjones commented on #2598
Cutting v1.13.8 shortly to fix this.

[2022-07-23 17:05] flavorjones commented on #2389
I've opened https://github.com/Shopify/ruby_memcheck/issues/6 to ignore stack_chunk_alloc-related stacks which have showed up in:

- https://github.com/sparklemotion/nokogiri/runs/7474777076?check_suite_focus=true
- https://github.com/sparklemotion/nokogiri/runs/7457816991?check_suite_focus=true
- https://github.com/sparklemotion/nokogiri/runs/7282476570?check_suite_focus=true
- https://github.com

[2022-07-23 17:15] flavorjones commented on #2389
Here's another one that _might_ be ruby internals and not the C extension code?

- https://github.com/sparklemotion/nokogiri/runs/7282108248?check_suite_focus=true
- https://github.com/sparklemotion/nokogiri/runs/7273451879?check_suite_focus=true

[code]

[2022-07-23 17:17] flavorjones commented on #2598
v1.13.8 has been released: https://github.com/sparklemotion/nokogiri/releases/tag/v1.13.8

[2022-07-23 17:17] #2598 closed

[2022-07-24 21:27] MrWormHole opened #2604 "[install] Rails 7 with TruffleRuby does fail on nokogiri installation"
**Have you read and followed the installation tutorial at http://www.nokogiri.org/tutorials/installing_nokogiri.html?**

- [X] Yes!

**What is the complete output of `gem install` or `bundle install`?**

[code]

**If installation completed but is broken, what is the complete output from `nokogiri -v`?**

[code]

**If installation failed during compilation, what are the complete contents of the `mk

[2022-07-24 21:37] flavorjones commented on #2604
:wave: Sorry you're having trouble, I'll try to help.

I think you may be having path problems. Your runtime error displays this path:

[code]

but the output of `nokogiri -v` shows this path:

[code]

It looks like you have two different versions of Nokogiri installed -- one (nokogiri-1.13.8-x86_64-linux) is a native precompiled gem suitably _only_ for MRI. That's why you're getting an error.

Wh

[2022-07-24 21:44] flavorjones commented on #2604
You may also want to try to isolate whether this problem is with Nokogiri installation (can you run `gem install nokogiri` and then run `nokogiri -v`?) as separate from "how does Rails determine its gem paths during boot or init time?" (You notably didn't include the command you were running in the first part of the post above, that would also help me understand what you're seeing.)

[2022-07-24 21:59] flavorjones commented on #2604
I just verified that the following is working OK for me with a clean installation of truffleruby (via ruby-build):

[code]

That is:

- it installs and compiles from source (not a precompiled native gem)
- it loads the shared object (nokogiri.so) successfully and displays version info

What are you doing differently than me?

[2022-07-24 22:01] MrWormHole commented on #2604
when I actually do `gem install nokogiri` it doesn't install when I am on truffle ruby with rbenv

I do `nokogiri -v` it says
[code]

[2022-07-24 22:02] MrWormHole commented on #2604
I have uninstalled the precompiled binary successfully before I do gem install

[code]

[2022-07-24 22:04] flavorjones commented on #2604
Help me help you. I've told you a lot about my system, how I installed ruby, how I installed nokogiri, showed you all my output. What's different about your system that could be causing this problem?

[2022-07-24 22:10] MrWormHole commented on #2604
There is something weird, that I don't know why it is not installing to truffle ruby bin

![image](https://user-images.githubusercontent.com/22800416/180667774-4b86993f-fdc8-4742-bfb7-dd7bb37b2f99.png)

[2022-07-24 22:18] MrWormHole commented on #2604
I think I figured out the issue, I think the problem is being caused by truffle ruby standalone version

https://www.diffchecker.com/7G4goF3c

[2022-07-24 22:43] flavorjones commented on #2604
Ah, yes, https://github.com/rubygems/rubygems/issues/5691 looks like what you're seeing when use `bundler`.

If you're on Bundler 2.3.18 you may want to try the new `force_ruby_platform: true` option in the `Gemfile` for Nokogiri.

[2022-07-24 22:43] #2604 closed

[2022-07-24 22:51] MrWormHole commented on #2604
just for the clarity of my final result and for the records, installing bundler -v 2.3.16 fixed it, cheers, it was a bigger issue but related to a different gem, bundler 2.3.17 and 2.3.18 breaks. Cheers man, thanks.

[2022-08-08 01:57] flavorjones opened #2619 "Investigate libxml2 patches in USN-5548-1"
This issue is to track an investigation into the upstream patches applied by Canonical to the 2.9.10-derived version

References:
- https://ubuntu.com/security/notices/USN-5548-1
- https://ubuntu.com/security/CVE-2016-3709
- https://bugzilla.gnome.org/show_bug.cgi?id=769760

[2022-08-08 02:09] flavorjones commented on #2619
## Analysis

The CVE in question was fixed by https://github.com/GNOME/libxml2/commit/c1ba6f54d32b707ca6d91cb3257ce9de82876b6f in libxml 2.9.11. This version of libxml2 has been present since Nokogiri v1.11.4 released on 2021-05-14.

Note further, though, that this vulnerability was named in:

- CVE-2018-8048 in Loofah: https://github.com/flavorjones/loofah/issues/144
- CVE-2018-3740 in Sanitize:

[2022-08-08 02:09] #2619 closed

[2022-08-08 02:21] flavorjones opened #2620 "Investigate whether CVE-2022-2309 (or similar) is present"
This issue has been opened to track the analysis of a CVE reported in the python lxml library, and whether that bug may be triggerable via Nokogiri.

Related links:

- original vuln report: https://huntr.dev/bounties/8264e74f-edda-4c40-9956-49de635105ba/
- lxml patch and test: https://github.com/lxml/lxml/commit/86368e9cf70a0ad23cccd5ee32de847149af0c6f
- CVE: https://nvd.nist.gov/vuln/detail/CVE-2

[2022-08-08 02:24] flavorjones opened #2621 "Investigate upstream libxml2 CI failures related to improperly-opened comment parsing"
This commit upstream:

- https://gitlab.gnome.org/GNOME/libxml2/-/commit/e986d09cf531e77a9ab46af2d1a219072f310190

is likely causing "upstream" CI failures:

- https://github.com/sparklemotion/nokogiri/runs/7647412154?check_suite_focus=true#step:8:4198

[2022-08-15 16:35] #2621 closed

[2022-08-15 21:10] flavorjones commented on #2620
I've been unable to exploit the underlying libxml2 memory issue using Nokogiri's API. The libxml2 client code for lxml is very different from nokogiri's and does not present the same primitives (a re-usable parser and tree walker).

[2022-08-15 21:10] #2620 closed

[2022-08-17 19:33] #672 closed

[2022-08-18 01:50] flavorjones opened #2626 "Investigate impact of zlib CVE-2022-37434"
Recently Canonical issued a patch to zlib as [USN-5570-1](https://ubuntu.com/security/notices/USN-5570-1) to address [CVE-2022-37434](https://ubuntu.com/security/CVE-2022-37434).

Nokogiri's native gems for Linux, Darwin, and Windows all statically link against zlib, and so this issue exists to investigate whether Nokogiri users may be affected by the CVE.

[2022-08-18 01:55] flavorjones commented on #2626
The [CVE description](https://ubuntu.com/security/CVE-2022-37434) says:

A quick look at how libxml2 uses zlib shows that `inflateGetHeader` is not called (see libxml2's `xzlib.c`). Based on that knowledge, the Nokogiri maintainers conclude that Nokogiri users aren't vulnerable because of the zlib packaged in the native gems.

[2022-08-18 01:55] #2626 closed

[2022-08-18 02:00] flavorjones opened #2627 "Update vendored libiconv to v1.17"
`libiconv` 1.17 was released on 2022-05-15. Nokogiri's native gems for Darwin and Windows ship a vendored libiconv, so let's stay up to date if possible.

[code]

[2022-08-18 17:09] flavorjones commented on #2626
We received a report that some vulnerability scanners are flagging Nokogiri due to the presence of zlib 1.2.12.

We'll release a patch version of Nokogiri with a newer zlib as soon as a newer version is available (as of 2022-08-18 1.2.12 is still the latest release).

[2022-08-22 16:59] flavorjones opened #2630 "Investigate libxslt patches in USN-5575-1"
This issue is to track an investigation into the upstream patches applied by Canoncial to libxslt.

References:

- https://ubuntu.com/security/notices/USN-5575-1
- https://ubuntu.com/security/CVE-2019-5815
- https://ubuntu.com/security/CVE-2021-30560

## Summary of Analysis

No action necessary by maintainers. Users are generally encouraged to say updated to the most recent patch release of Nokogi

[2022-08-22 16:59] #2630 closed

[2022-08-22 20:04] headius commented on #1829
I don't believe there's been much forward momentum on this, but another motivator to make a move came up recently in the form of a CVE for Xalan:

https://github.com/sparklemotion/nokogiri/security/advisories/GHSA-qwq9-89rg-ww72

The comment here asks whether we might be able to transition (at least) to the shipping Xalan in OpenJDK, to which the answer is "probably": https://github.com/sparklemot

[2022-08-22 22:09] flavorjones commented on #1829
@headius Thanks for commenting. I may need help with the mechanics of switching to the OpenJDK version of Xalan. I've got a branch where I've updated the package paths, but there are a few places where the API has changed that I need to work through. I'll push it shortly.

[2022-08-23 14:50] flavorjones commented on #1829
I've created a draft PR migrating to the JDK Xalan that needs help to get unstuck: https://github.com/sparklemotion/nokogiri/pull/2632

[2022-08-24 07:19] kares commented on #1829
@headius so the only downside is we will need to add-opens the internal `com.sun.org.apache` package?
not sure if this is smt for JDK 17+, whether Nokogiri would be able to rely on those in the long-term ...

[2022-08-26 14:56] boqqNastyy opened #2634 "[bug]"
**Please describe the bug**

**Help us reproduce what you're seeing**

**Expected behavior**

**Environment**

**Additional context**

[2022-08-26 16:31] flavorjones commented on #2634
Hi, if you need help please make sure to fill out the template!

[2022-08-26 16:31] #2634 closed

[2022-08-26 21:17] flavorjones commented on #2410
Rebased off current `main`

[2022-08-26 21:18] flavorjones commented on #2410
See https://github.com/sparklemotion/nokogiri/pull/2547 for the PR

[2022-08-26 21:52] flavorjones opened #2635 "Update vendored libxml2 to 2.10.1"
See https://gitlab.gnome.org/GNOME/libxml2/-/releases/v2.10.1

I don't see anything in here that urgently needs to be applied, so flagging for v1.14.0

[2022-08-28 15:10] #2211 closed

[2022-08-28 15:12] #2627 closed

[2022-08-28 15:12] #2635 closed

[2022-08-28 16:44] flavorjones commented on #2107
We implemented `TypedData_Wrap_Struct` in #2579 which I think took care of all the compaction support. Given Lars's comment above about write barriers, I'm going to deprioritize this work and close this issue.

If there's GC-related work anybody thinks we should do, please comment and we can re-open or open a new sisue.

[2022-08-28 16:44] #2107 closed

[2022-08-29 20:28] flavorjones commented on #783
I've create #2641 which includes a pending (on JRuby) test that captures the issue.

I looked into this and I wasn't able to find the root cause -- but I traced enough to verify that [`javax.xml.validation.Validator`](https://docs.oracle.com/javase/8/docs/api/javax/xml/validation/Validator.html#validate-javax.xml.transform.Source-) isn't calling the [`SchemaErrorHandler`](https://github.com/sparkl

[2022-08-29 21:40] flavorjones commented on #2147
Here's the plan I'd like to follow:

Introduce, in v1.14, support for the `nokogiri:` namespace in the CRuby implementation.

Introduce, in v1.15, a deprecation warning if custom functions are invoked without the `nokogiri:` namespace. Something like this seems to work:

[code]

Then, in some future version of Nokogiri, we'll remove support for non-namespaced custom functions.

[2022-08-31 21:26] #2446 closed

[2022-09-09 03:17] flavorjones commented on #1829
#2632 is a PR that @kares and I collaborated on to try to move Nokogiri away from upstream Xalan to using the JDK internal packages.

Unfortunately, relying on JDK internals doesn't seem to work well (at least not without a bit more work and potentially breaking changes). Java 17 disallows usage of internals with this error:

[code]

In @kares's words:

The only other option that's been suggested

[2022-09-09 18:57] Vnesshair opened #2645 "[install]"
**Have you read and followed the installation tutorial at http://www.nokogiri.org/tutorials/installing_nokogiri.html?**

- [ ] Yes!

**What is the complete output of `gem install` or `bundle install`?**

[code]

**If installation completed but is broken, what is the complete output from `nokogiri -v`?**

[code]

**If installation failed during compilation, what are the complete contents of the `mk

[2022-09-09 20:43] #2645 closed

[2022-09-09 20:44] flavorjones commented on #2645
Hi, if you need help, please fill out the template.

[2022-09-11 15:23] kares commented on #1829
:+1: and just to clarify: `Java::JavaLang::IllegalAccessError` means users that would use Nokogiri with JDK Xalan would likely have to edit their JRUBY/JAVA_OPTS to `--add-ones` for the internals to be accessible (assuming we can still access them despite not being exported).

I guess ~ 80% should be easy but than there's a lot of internals used which might be impossible -> rewriting those parts w

[2022-09-13 19:17] headius commented on #1829
Are these illegal accesses from using reflection to dig inside Xalan? If so we might be able to reduce these by being less invasive, but perhaps that would hinder compatibility.

Moving to a supported external library like Saxon would definitely be the best option long term, but I agree with @kares it would involve at least a week or two of work.

[2022-09-13 21:05] dan42 opened #2646 "[bug] parsing a fragment in-context may yield a different DOM than parsing the same document due to quirks mode handling"
I'm not sure if the title above is correct, but please consider these two ways of parsing a `<table>` within a `<p>`:

[code]

output:
[code]

I'm fairly certain the output should not be different. In both cases we're parsing the same tags, and the parent element is a `<div>`.   Note that `Nokogiri::HTML5.fragment(tags)` produces the same structure as `Nokogiri::HTML5.parse(tags)`. So this bug/beh

[2022-09-14 08:42] kares commented on #1829
From what we've bumped into so far it was not reflection - simply using Xalan's classes (from the `com.sun.org.apache.xml.internal` package) - on 11 it warns on 17 errors. As noted fiddling with `--add-opens` might do some damage control but it feels like a breaking change for JRuby users ...

[2022-09-14 14:09] flavorjones commented on #2646
Thanks for opening this issue! Great question.

I dug in a bit and here's a code snippet that explains a bit about what's happening, which is that `inner_html=` parses a `HTML5::DocumentFragment` from the tags string:

[code]

I expect that the DOM structure should be identical, whether parsed as a document or as a fragment with a `<div>` context node.

I'll schedule some time to dig into the gumb

[2022-09-14 14:22] headius commented on #1829
I think the flag we'd want is `--add-exports` so that the `java.xml` module exports the internal `com.sun.org.apache.xml.internal` package to external consumers, but you're right... it's still a breaking change.

I am not familiar with the Xalan-related code in Nokogiri... is there a reason we can't just use the published XSLT APIs? Can one of you point out some example code that requires direct a

[2022-09-14 14:57] headius commented on #1829
Poking around outside of Xalan, it really seems like Saxon is the only game in town, and for sure if you want XSL 2.0 or 3.0 support. Given the lifecycle of Xalan and the inaccessibility of the JDK version, I think we will need to bite the bullet and move to Saxon sooner or later.

[2022-09-14 16:44] dan42 commented on #2646
But the strange thing is that this isn't just about fragment parsing.

[code]

In this case the result is correct even though we're using fragment parsing. The bug seems to occur only when parsing a fragment WHILE using a document that was previously created via document parsing.

[2022-09-14 18:09] dan42 opened #2647 "[bug] namespaces do not propagate to parent nodes when adding nodes to a document"
After parsing a document that contains `<svg>` elements, it's possible to traverse the elements with `xpath(".//svg:svg")`

But if we have a document with no `<svg>` elements to which we then **add** `<svg>` elements, the svg namespace is not added to the document, so it's impossible to use the above xpath.

To illustrate:
[code]

Output:
[code]

As we can see above, even though doc1 and doc2 have

[2022-09-15 06:09] flavorjones commented on #2647
Hi, thanks for opening this issue.

### What's going on with the namespaces?

This code snippet clarifies what's going on:

[code]

The thing I'd like to point out here is that

- the namespace _definition_ is attached to the document root in the first doc,
- and attached to the top-most node of the fragment subtree in the second doc.

When the libxml2 tree is created in `ext/nokogiri/gumbo.c`, th

[2022-09-15 13:06] dan42 commented on #2647
Thank you for the detailed and insightful answer. And I didn't know about explicitly providing the namespaces to xpath, so thank you for fixing my ignorance.

I like your idea 1. With this it would be possible to query for xpath `.//svg:circle` without raising an error even if there's no `<svg>` element in the doc.

[2022-09-16 15:17] flavorjones commented on #2647
I like option 1 better, too (after sleeping on it), but I really would like Steve's feedback because he's gone deeper on HTML5 foreign element namespaces than I have.

[2022-09-16 21:45] 0x1eef opened #2648 "OpenBSD installation improvement suggestions"
## Bug

`gem install nokogiri` fails on OpenBSD when trying to extract a libxml2 archive (`.xz`).
`NOKOGIRI_USE_SYSTEM_LIBRARIES=yes gem install nokogiri` works.
It would be nice if a plain `gem install nokogiri` didn't fail, either by defaulting to using system libraries on OpenBSD or by extracting the archive properly (`xzcat libxml2-2.9.14.tar.xz  | tar xf -` should work).

 **tar: unknown opti

[2022-09-16 22:09] 0x1eef commented on #2648
@flavorjones

I saw this issue has been brought up a few times. Sorry about that. It would be nice to have a solution in place that "just worked", or that made the path to fixing it more obvious.

Maybe the build process could detect this error, and offer a handful of solutions at the console. There seems to be at least two that are practical, `xzcat libxml2-2.9.14.tar.xz | tar xf -` is probably t

[2022-09-16 22:14] 0x1eef commented on #2648
My preferred option is `NOKOGIRI_USE_SYSTEM_LIBRARIES=yes gem install nokogiri`, the gtar solution is a bit invasive and personally I'd prefer to let the system package manager take care of dependencies rather than nokogiri.

[2022-09-16 22:37] 0x1eef commented on #2648
These are my thoughts on a possible improvement.
The error could be caught during the build process, and the following suggestions given:

**Suggestion 1**

* Install "gtar"
* Do not ask the user to alias tar to gtar, but edit mini_portile to check for the presence of "gtar" instead.

**Suggestion 2**
* Depend on system libraries instead of letting nokogiri build them.
* Suggest each lib that will

[2022-09-19 05:15] sgoedecke opened #2649 "[bug] Empty HTML4 DocumentFragment serialization doesn't respect encoding"
**Please describe the bug**

Parsing and serializing a `HTML4::DocumentFragment` will produce a `UTF-8` string by default. However, when the input string is empty, it produces a `US-ASCII` encoded string instead, regardless of the passed encoding option.

Let me know if this is actually expected behaviour and something I should be working around!

**Help us reproduce what you're seeing**

This scr

[2022-09-19 13:17] flavorjones commented on #2648
@0x1eef I'm sorry you are having problems. I'd love, ABSOLUTELY love, if someone who uses OpenBSD would be willing to submit documentation improvements to https://github.com/sparklemotion/nokogiri.org or submit patches to `extconf.rb`.

Note for future readers: OpenBSD installation is documented at https://nokogiri.org/tutorials/installing_nokogiri.html#openbsd-7

I'd be open to extconf.rb checkin

[2022-09-19 13:20] flavorjones commented on #2649
Hello! Thank you for opening this issue, this is most certainly a bug and I appreciate you reporting it and diagnosing it.

I'll schedule some time to fix it!

[2022-09-19 13:43] flavorjones commented on #2649
And your diagnosis seems right on:

[code]

[2022-09-19 14:00] flavorjones commented on #2649
Prior issues in Ruby:

- [Bug #8289: [].join.encoding # => US-ASCII (I expect also UTF-8 - Ruby master - Ruby Issue Tracking System](https://bugs.ruby-lang.org/issues/8289)
- [Bug #14863: Array#join with empty array returns empty string always in US-ASCII encoding - Ruby master - Ruby Issue Tracking System](https://bugs.ruby-lang.org/issues/14863)

so this behavior of `Array#join` is apparently in

[2022-09-19 14:43] flavorjones commented on #2649
See #2650 for a proposed fix.

[2022-09-19 15:07] khalid-Hake opened #2651 "Unable to install"
Could not find nokogiri-1.8.0 in any of the sources

[2022-09-19 19:50] #2649 closed

[2022-09-19 20:43] flavorjones commented on #2651
Please fill out the issue template, you have not provided enough information for me to help you.

[2022-09-19 20:43] #2651 closed

[2022-09-22 12:01] 0x1eef commented on #2648
No worries. I trust your judgement on that.

I think the issue is that it's not apparent where to find the documentation, or know-how on the remedy for this situation. I found the documentation through another GitHub issue, and I only became aware of `$NOKOGIRI_USE_SYSTEM_LIBRARIES` by reading the source code.

What do you think about recommending gtar, but also making people aware of the option t

[2022-09-22 12:10] 0x1eef commented on #2648
alias tar=gtar
gem install nokogiri

Are these instructions up to date ? Based on [what I saw in mini_portile](https://github.com/flavorjones/mini_portile/blob/main/lib/mini_portile2/mini_portile.rb#L350-L357), it would seem that the alias is unnecessary. I also found that nvm suggested a similar approach, but the alias wasn't picked up by the shell it spawned. I'm not sure if that applies here.

[2022-09-22 12:47] flavorjones commented on #2648
Honestly I don't know, I can't easily run a FreeBSD system in development. What you see in the docs (and in extconf.rb, and in mini_portile) is almost entirely a maintainer trying to interpolate bug reports from FreeBSD users who aren't fully engaged in helping solve the problems well.

So now is probably a good time for me to say: Thank you for being engaged on this! I appreciate your time and at

[2022-09-23 17:58] 0x1eef commented on #2648
Alright, I would like to help. I can test locally and see what I find. I will confirm if the alias is needed or not first. Keep in mind I am running OpenBSD, but I guess there could be some similarity with FreeBSD as well.

Please bare with me as I am toggling a few different projects, and a new job, so my available time is a bit restricted. This issue is on my radar.

[2022-09-26 14:55] flavorjones commented on #2648
Ah, apologies, see, I'm not even familiar enough to know the differences between the distros. We definitely could use your help!

[2022-09-28 13:48] flavorjones commented on #1582
#2653 has been created to document `NOENT` more clearly and generally improve the state of `ParseOptions` documentation.

[2022-09-28 16:07] flavorjones commented on #1582
I've created draft PR #2654 to explore using a "noxxe" entity loader when `NONET` is set.

[2022-09-28 16:10] #1582 closed

[2022-09-30 19:01] tylerjc opened #2655 "v1.13.0 XML::Document drops ampersand when parsing in-context fragments"
**Please describe the bug**

* https://github.com/sparklemotion/nokogiri/releases/tag/v1.13.0
* There's some kind of issue/change between these versions that is eating ampersand characters (&). As far as I'm aware, this isn't happening with any other characters, but definitely could be.
* We had upgraded to v1.13.8 during our Rails upgrade, and that's when we started noticing this issue. We backtr

[2022-09-30 19:06] tylerjc commented on #2655
<img width="1445" alt="image" src="https://user-images.githubusercontent.com/87337138/193339721-18166489-95d9-43b3-afab-08ce38067460.png">

[2022-10-01 18:25] flavorjones commented on #2655
Hi, @tylerjc! Thanks for asking this question. I spent a little bit of time investigating this afternoon and this is a super interesting issue!

First, let me just ask a favor, which is that in the future please don't use screenshots. It's easier for maintainers to read and reproduce problems if you use regular old text.

## characterizing the behavior change

OK, let's do this. Here's the script

[2022-10-01 18:31] flavorjones commented on #2655
I made a couple of small updates to my previous post for clarity.

[2022-10-03 19:54] flavorjones commented on #2655
I've drafted #2656 which clarifies this method in the doc string. Any feedback for me on this? If not I'll merge that in the next day or so and close this. Happy to discuss after that if you'd like!

[2022-10-03 20:55] flavorjones opened #2657 "[feature] `Node#wrap` should accept a `Node`"
**What problem are you trying to solve?**

Currently `Node#wrap` only accepts a string which is parsed as a fragment. For some use cases where many nodes are being wrapped, this is about 2x slower than simply using an existing `Node` object.

I think `Node#wrap` should be able to accept a `Node` argument, which is duplicated for use instead of forcing callers to pass a String and suffer the perfor

[2022-10-11 00:58] flavorjones commented on #2655
@tylerjc Does what I said above make sense? Do the docs I've written at #2656 explain the situation more clearly?

[2022-10-14 13:39] flavorjones opened #2665 "update vendored libxml2 to v2.10.3"
See https://gitlab.gnome.org/GNOME/libxml2/-/releases/v2.10.3

This addresses two CVEs, so we should also backport to v1.13.x and cut a security release.

- [x] main: https://github.com/sparklemotion/nokogiri/pull/2666
- [x] v1.13.x: https://github.com/sparklemotion/nokogiri/pull/2667

[2022-10-15 02:24] #2665 closed

[2022-10-15 02:27] flavorjones commented on #2655
OK, closing and merging the docs at #2656. Please let me know if you have any other thoughts.

[2022-10-15 02:27] #2655 closed

[2022-10-15 17:04] flavorjones commented on #1603
After a little bit of work in #2658 I'm forming some more concrete opinions on this.

I think we could make this a runnable suite if we use:

- the value returned from `MemInfo.rss` (introduced in af99c52)
- and Minitest::BenchSpec (introduced in 46dcc60)

to ensure that memory usage isn't increasing after some number of iterations.

[2022-10-17 21:00] flavorjones commented on #2626
I see that Canonical published [USN-5570-2](https://ubuntu.com/security/notices/USN-5570-2) today updating their distro to address this vulnerability.

I also see that zlib released v1.2.13 four days ago, which patches this vulnerability. The next patch release of Nokogiri will include this version.

[2022-10-18 23:06] gpinkham opened #2674 "[bug] NokoGiri CVE requires a version that doesn't exist"
The latest CVE for Nokogiri requires that we upgrade to 1.13.19.  I think there is a typo in the CVE database.  Not sure who is responsible for that

**Please describe the bug**

Bundle audit shows this:
ruby-advisory-db:
  advisories:	611 advisories
  last updated:	2022-10-18 14:21:10 -0700
  commit:	ce18a9bafc805bd633a30cbe7c76f80261f4b6e7
Name: nokogiri
Version: 1.13.9
GHSA: GHSA-2qc6-mcvw-92cw

[2022-10-18 23:10] darrenterhune commented on #2674
https://github.com/sparklemotion/nokogiri/security/advisories/GHSA-2qc6-mcvw-92cw shows correct version but an upgrade produces the same error. Lines are crossed with 2 tyee chinooks and you're the only one in the boat 😂

[2022-10-18 23:20] epinault commented on #2674
Same here

[2022-10-18 23:36] royalpeasantry commented on #2674
+1 - It also seems that I can't ignore it either since it doesn't seem to have a CVE linked correctly and that seems to be the only way bundle audit allows you to ignore advisories.

![image](https://user-images.githubusercontent.com/8637162/196564470-2acad2bf-e05a-484f-bb86-ddaf6b5f9932.png)

[2022-10-18 23:43] tjwp commented on #2674
Looks like there is a PR to fix it here: https://github.com/rubysec/ruby-advisory-db/pull/519

[2022-10-18 23:51] royalpeasantry commented on #2674
PR just got merged - our audit is now passing with version `1.13.9`

[2022-10-19 00:00] flavorjones commented on #2674
As has been discussed, this is not an issue with nokogiri but with the ruby-advisory-db project.

[2022-10-19 00:01] #2674 closed

[2022-10-19 00:05] flavorjones commented on #2626
v1.13.9 has been released with zlib 1.2.13.

[2022-10-19 07:41] activeliang commented on #2416
it's work for me. thx~

[2022-10-20 16:29] flavorjones opened #2677 "Allow attributes without namespace on `jRuby`"
### Discussed in https://github.com/sparklemotion/nokogiri/discussions/2675

<div type='discussions-op-text'>

<sup>Originally posted by **ShockwaveNN** October 20, 2022</sup>
Hi, trying to port one of my library for parsing `ooxml` to jruby and I got a problem

I got this XML
[code]

And simplified ruby code to parse it:
[code]

On mruby this output 360

But on jruby it just crash with:
[code]

I

[2022-10-21 20:38] flavorjones commented on #2677
Hi! I've reproduced what you're seeing, and just to share my analysis:

[code]

On CRuby, this outputs something like:

[code]

but on JRuby, the attribute lookup fails and so the script prints `nil`.

This appears to be a bug, and I'm honestly surprised that we don't have tests for the desired behavior. I'll dig in!

[2022-10-21 21:23] flavorjones commented on #2677
OK, this isn't a simple fix, unfortunately, because the JRuby implementation is handling attributes inconsistently, sometimes treating local names as prefixed names, and vice versa, in a few different places.

I'll work on it, but it may not be fixed immediately.

[2022-10-21 21:33] flavorjones commented on #2677
See #2679 for the work-in-progress. Maybe this branch is good enough for you? If so, please let me know and I may be able to get that partial fix into the next release.

[2022-11-02 06:57] vincent5753 opened #2684 "[install] Failed installing on Apple Silicon OSx 12.6 using homebrew"
**Have you read and followed the installation tutorial at http://www.nokogiri.org/tutorials/installing_nokogiri.html?**

- [x] Yes!

**What is the complete output of `gem install` or `bundle install`?**
[code]

**If installation completed but is broken, what is the complete output from `nokogiri -v`?**
[code]

**If installation failed during compilation, what are the complete contents of the `mkmf

[2022-11-03 03:16] whatisgaven commented on #2578
X

[2022-11-04 01:43] flavorjones commented on #2684
From your installation command output above:

[code]

You may want to read this article on MacOS system-installed Ruby: https://www.rubyonmac.dev/you-dont-have-write-permissions-for-the-library-ruby-gems-2-6-0-directory

[2022-11-04 01:43] #2684 closed

[2022-11-05 08:26] ofw5rz opened #2686 "[install]"
**Have you read and followed the installation tutorial at http://www.nokogiri.org/tutorials/installing_nokogiri.html?**

- [ ] Yes!

**What is the complete output of `gem install` or `bundle install`?**

[code]

**If installation completed but is broken, what is the complete output from `nokogiri -v`?**

[code]

**If installation failed during compilation, what are the complete contents of the `mk

[2022-11-07 15:50] flavorjones commented on #2686
If you need help, please fill out the Issue template. Thanks.

[2022-11-09 20:14] stevecheckoway opened #2689 "extconf not adding an appropriate -I for gumbo-parser on macOS"
**Please describe the bug**

When compiling the C extension on macOS, compiling `gumbo.c` fails because it cannot find `nokogiri_gumbo.h`. The real problem is that the `-Ipath/to/gumbo-parser/include` is not getting passed to the compiler.

Here's the relevant line in the `mkmf.log` file
[code]

The underlying problem seems to be that the configuration test is using `-Werror` along with the unsupp

[2022-11-11 20:09] stevecheckoway commented on #2689
Good thinking! I suspect that what happened is my Ruby was compiled by a newer compiler (via Nix) than what I have installed on that machine. (That particular machine is stuck on the last version of macOS that supports 32-bit binaries.) I'll head into the office (where that machine is located currently) and check.

[2022-11-11 20:21] flavorjones commented on #2689
Regardless, it would be good to add that clang flag on darwin. Can you kick the tires on https://github.com/sparklemotion/nokogiri/pull/2690?

[2022-11-11 20:48] stevecheckoway commented on #2689
#2690 fixes the problem. You were correct about the cause:
[code]

[2022-11-11 21:01] flavorjones commented on #2689
:+1: when that PR goes green I'll merge it. In the meantime you should be able to work around this by setting your environment variable `CFLAGS` because we do this in the extconf:

[code]

[2022-11-14 02:40] flavorjones commented on #2513
Perhaps more specifically: let's consider unifying the encoding detection algorithm from the HTML5 parser and the HTML4 parser.

[2022-11-14 07:04] Mironob opened #2695 "[bug]"
**Please describe the bug**

**Help us reproduce what you're seeing**

**Expected behavior**

**Environment**

**Additional context**

[2022-11-14 07:04] Mironob commented on #2695
Хочу эротику

[2022-11-14 13:45] eregon opened #2696 "[bug] nokogiri.h includes ruby.h after other headers"
**Please describe the bug**

See https://github.com/sparklemotion/nokogiri/blob/cd2700ab2a8b981d555e40c9f355ed22cbf5f161/ext/nokogiri/nokogiri.h#L68
So ruby.h is included after many other headers.

One issue I noticed with that is that for instance `_GNU_SOURCE` is defined by Ruby headers but not by nokogiri or the headers before, and so as a result e.g. `_DEFAULT_SOURCE` (which would be set if `_

[2022-11-14 14:11] flavorjones commented on #2513
@stevecheckoway notes that the HTML5 encoding detection is incomplete with respect to https://html.spec.whatwg.org/multipage/parsing.html#prescan-a-byte-stream-to-determine-its-encoding

[2022-11-14 15:26] #2695 closed

[2022-11-14 17:53] flavorjones opened #2697 "Run html5lib-tests fragment construction tests with an instantiated context node"
As noted in #2691, the `html5lib-tests` fragment construction tests are being run using a string (tagname and optional namespace prefix) rather than an instantiated node. This is a hole in the test coverage that resulted in an undiscovered big fixed in #2692.

The desired outcome is to run the fragment tests twice: once with the tag name string, and once with a fully-instantiated node as the conte

[2022-11-14 18:24] flavorjones commented on #2696
PR at #2698.

[2022-11-14 18:42] eregon commented on #2696
FYI what I ended up doing in TruffleRuby to preserve the check that select/posix.h is not included is to not define `rb_fdset_t` and its `rb_fd_*` functions and `rb_thread_fd_select()` if `NFDBITS` is not set as expected. At least that should prevent using the wrong `rb_fdset_t`, at the cost of the behavior being possibly surprising.

[2022-11-15 02:50] #2696 closed

[2022-11-16 09:26] xeruf opened #2700 "[bug] Nokogiri::CSS throws cryptic error messages when missing a parameter"
**Please describe the bug**

When calling a Nokogiri::CSS selector without a parameter, this message appears:

    Nokogiri::CSS::SyntaxError: unexpected '$' after ''

https://stackoverflow.com/questions/74457363/capybara-rspec-empty-html-nokogiricsssyntaxerror-unexpected-after?noredirect=1#comment131440070_74457363

**Expected behavior**

Tell the user a parameter is missing

**Environment**

[co

[2022-11-16 19:06] flavorjones commented on #2331
It may be worth testing upstream Capybara before releasing this change, as Capybara has some logic for toggling between HTML4 and HTML5 parsers already.

[2022-11-16 19:16] flavorjones commented on #2700
Hi, I'm sorry you're having a problem. I'll try to help.

You skipped the bit in the issue template entitled "Help us reproduce what you're seeing." I spent about 15 minutes trying to reproduce this, and looking through the Capybara source code, and I can't.

As a prompt, here's the section you skipped:

Can you also help me understand why you're reporting this here instead of with the Capybara pr

[2022-11-16 20:10] #2657 closed

[2022-11-17 02:59] binlmmhc commented on #2415
just update your gem:
gem update --system

[2022-11-17 11:39] xeruf commented on #2700
Well the code does not really matter, it is about the shell interaction.
I thought it might be trivial to reproduce in any project with Capybara. I don't know whether this is a downstream or upstream issue, parameter checking generally seems a bit awkward in ruby...

This is also a bit of a legacy project which I am slowly trying to bring up to date, so I did not want to invest too much time upfro

[2022-11-17 13:47] flavorjones commented on #2700
Please put yourself in my spot: I don't use Capybara and don't know how to set up an isolated test case. What would you do with this issue?

Thankfully after a few more minutes I have reproduced what you're seeing:

[code]

I think you should _also_ report this upstream at Capybara because it doesn't appear to be checking the number of arguments passed to those methods. Although Nokogiri could be

[2022-11-17 15:01] flavorjones commented on #2700
See https://github.com/sparklemotion/nokogiri/pull/2701 for the fix which will be in Nokogiri 1.14.0 when it's released.

[2022-11-17 17:57] xeruf commented on #2700
thank you so much, I am rather new to the whole ruby on rails ecosystem and still struggling to grasp how everything interacts :)

[2022-11-17 21:40] #2700 closed

[2022-11-22 06:18] #2689 closed

[2022-11-22 06:21] flavorjones commented on #2647
@stevecheckoway What do you think of option 1 above, implicitly including the `svg`, `math`, and `xlink` namespaces in xpath queries on HTML5 documents?

[2022-11-22 06:29] flavorjones commented on #2536
@svoop Ping - can you do anything to help me reproduce this? If not, I'd like to close.

[2022-11-22 06:32] #2389 closed

[2022-11-22 08:58] svoop commented on #2536
@flavorjones Thanks for calling back, in fact, I've worked around this issue by only applying the transformation to the segments which require it. 99% of the documents I build are pretty printed by the builder already, only included raw XML snippets have to be beautified. Closing...

[2022-11-22 08:58] #2536 closed

[2022-11-25 10:52] zyc9012 commented on #2331
Nokogiri::HTML5 is slow on initialization as well.

[code]

Tested HTML: [big_shopping.html.zip](https://github.com/sparklemotion/nokogiri/files/10091768/big_shopping.html.zip)

[2022-11-25 16:33] stevecheckoway commented on #2331
We should profile and figure out where it is spending the majority of its time.

One thing that could probably be improved is turning the part of the state machine that reads characters into a buffer into a loop rather than needing to do the state machine dispatch per character.

This potentially includes reading tag names and just reading text.

The state machine is complicated though and we’d ne

[2022-11-27 05:15] flavorjones commented on #2646
OK, I've narrowed this down to whether the parser is in "quirks mode" or not.

## Minimal repro

[code]

## Diagnosis

In the C code for `Gumbo.fragment` there's this clause:

[code]

What's happening in this case is that if we parse `<div><p><table></table>` as a document, then gumbo puts the document into `GUMBO_DOCTYPE_QUIRKS` and so when `handle_in_body` sees the `table` tag this clause doesn'

[2022-11-27 06:27] stevecheckoway commented on #2646
I'm sorry I didn't respond earlier. I missed this issue entirely.

The underlying bug is the `fragment()` incorrectly detects the quirks mode of the document. If there is no `DOCTYPE`, then the document should be in quirks mode.

See "Anything else" in [The "initial" insertion mode](https://html.spec.whatwg.org/multipage/parsing.html#the-initial-insertion-mode).

I think this is exactly the right

[2022-11-28 02:38] flavorjones commented on #2646
@stevecheckoway Thanks for the complete and thoughtful response. I'll open a PR in the next or so and ask for your review to make sure the implementation matches this description.